  // ========================================= //
// config
// ========================================= //

// Vars
@import "vars/global";
@import "vars/breakpoints";
@import "vars/colors";
@import "vars/colorsBranding";
@import "vars/fontFamily";
@import "vars/fontSize";
@import "vars/spacing";
@import "vars/zIndex";
@import "vars/keyframes";
@import url('https://fonts.googleapis.com/css?family=Barlow:400,400i,500,500i,600,600i,700&display=swap');
@font-face {
  font-family: "icomoon";
  src: url('../fonts/icomoon/icomoon.eot');
  src: url('../fonts/icomoon/icomoon.eot?#iefix') format('eot'),
  url('../fonts/icomoon/icomoon.woff') format('woff'),
  url('../fonts/icomoon/icomoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

  $prefix: 'mlnet' !default;

  // Header
  $header--height :rem(65);
  $header--border--btm : rgba(112, 112, 112, 0.22);
  $header--icon-fontsize : rem(20);
  $header--badge-size : rem(17);
  $header-brand_icon : $img+'logo-ico-marocleasing.svg';

  // Dropdown Navs

  $nav-user_avatar_width : rem(43);
  $nav-user_avatar_height : rem(43);
  $nav-user_avatar_height : rem(43);
  $nav-user_avatar_icon-fontsize :rem(20);
  $nav-user_avatar_icon-color: #887b76;
  $nav-user_avatarbg : rgba(241,  241, 241, 0.54);
  $nav-user_fontsize :  rem(14);
  $nav-user-office_fontsize: rem(12);



  // Footer
  $footer--height :rem(55);
  $footer--height_small :rem(55);


  // linkss
  $link-weight-type : 300!default;



  // nav + offcanvas
  $nav--height : calc(100vh);
  $nav--inner_height : calc(100vh - 75px);
  $nav--width :  rem(290);
  $nav-border-color :#f5f5f5;
  $nav--box-shadow : 30;
  $nav--item--level1--minWidth : 230;
  $nav--background--active : $white;
  $nav--color : $white;
  $nav--color--active : $black;
  $nav--fontfamily : $fontFamily;
  $nav--fontsize : 18;
  $nav--itemPadding : 0;
  $nav--offcanvas--bp : 980;
  $nav--icon--background : lighten($black, 10%);

  $nav--current--icon_width : 6px;

  $offCanvas--offset--top : 0;
  $offCanvas--width : 280;
  $offcanvas--nav--item--spacing : rem(20);
  $offcanvas--nav--item--height : 30;


  // breadcrumb
  $breadcrumb--height : 40;
  $breadcrumb--border : solid rem(1) #d7d7d7;
  $breadcrumb--color : #656565;
  $breadcrumb--color--alt : $black;
  $breadcrumb--fontfamily : $fontFamily;
  $breadcrumb--fontsize : rem(13);

  // alert
  $alert--color : $white;
  $alert--color--alt : $black;
  $alert--fontfamily : $fontFamily;

  // paginate
  $paginate--padding : 30;
  $paginate--background : $white;
  $paginate--color : $black;
  $paginate--fontfamily : $fontFamily;
  $paginate--fontsize : 16;

  // inputs
  $input--border--color: #D9D4D4;
  $input--border--width: 1;
  $input--height: 40;
  $input-height-base: 38;
  $input-height-large:             57;
  $input-height-small:             35;
  $input-height-extra-small:       30;
  $input--margin: 15;
  $input--background: $white;
  $input--background_disabled: #eee;
  $input--raduis : 30px;
  $input--fontSize : rem(14);
  $input--padding:0   1rem;
  $input--padding_icon:3rem;

  // checkbox
  $input-check-component-size: 		 			22px;
  $input-check-component-border: 	 			1px solid #ccc;
  $input-check-component-checked: 	 			1px solid $color__brand_blue-100;
  $input-check-component-border-radius: 3px;
  $input-check-component-color_checked: $color__brand_blue-100;

  $input-check-component-color_disabled: #d0d0d0;
  $input-check-component-border_disabled : #e8e8e8;
  $input-check-component-bg_disabled: #e8e8e8;
  $input-check-component-checked_disabled:  #99aab5;
  $input-check-component-opacity_disabled:  0.5;


  $textarea--raduis : 10px;
  $textarea--padding : 1rem;

  $label--color: $black;
  $label--fontfamily: $fontFamily_roboto-regular;
  $clabel--fontfamily: $fontFamily_roboto-regular;
  $clabel--fontsize: rem(16);
  $label--fontsize: rem(14);
  $label--fontweight: 300;

  $checkboxRadio--width: 20;
  $checkboxRadio--background: $black;

  $gototop--width: 40;
  $gototop--bottom: 20;
  $gototop--right: 14;
  $gototop--borderRadius: 2px;

  // buttons
  $button--height: 44;
  $button--border--width: 0;
  $button--border--type: solid;
  $button--padding: 30;
  $button--margin: 0;

  $button--height-larg: 50;

  $button--background: #276eb7;
  //$button--background: #17365d #80004c;#276eb7;
  $button--border--color: darken($button--background, 20%);
  $button--color: $white;
  $button--border--color--hover: li($button--background, 10%);
  $button--background--hover: darken($button--background, 10%);
  $button--color--hover: $white;

  $button--background--alt: #c6d9e7;
  $button--border--color--alt: darken($button--background--alt, 20%);
  $button--color--alt: $black;
  $button--border--color--alt--hover: darken($button--background--alt, 10%);
  $button--background--alt--hover: darken($button--background--alt, 20%);
  $button--color--alt--hover: $black;

  // wysiwyg
  $wysiwyg--fontbody : $fontFamily;
  $wysiwyg--fonttitle : $fontFamily;
  $wysiwyg--items--margin--bottom: 24;

  $wysiwyg--h2--color: $black;
  $wysiwyg--h3--color: $black;
  $wysiwyg--h4--color: $black;
  $wysiwyg--h5--color: $black;
  $wysiwyg--h6--color: $black;
  $wysiwyg--link--color: $black;
  $wysiwyg--list--style--color: $black;
  $wysiwyg--table--border--color: $black;
  $wysiwyg--content--color: $black;
  $wysiwyg--table--th--color: $white;

  $wysiwyg--hr--background: $black;
  $wysiwyg--table--th--background: $black;
