$control-height: 40px;
$control-width: 80px;
$control-color: #F27715;
$control-font-size: 18px;
$control-font-weight: 100;
$fill-color: darken($control-color, 10%);
$gutter-height: 16px;


.noUi-tooltip, .noUi-value {
  text-align: center;
  white-space: nowrap
}

.noUi-target, .noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

.noUi-target {
  /*position: relative;
  direction: ltr;
  background: #FAFAFA;
  border-radius: 4px;
  border: 1px solid #D3D3D3;
  box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB*/
  position: relative;
  direction: ltr;
  /* background: #FAFAFA; */
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #f3f3f3;
  -webkit-box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
  -moz-box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
  box-shadow: 0 3px 8px #F0F0F0;
}

.noUi-base, .noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1
}

.noUi-connect, .noUi-handle, .noUi-marker, .noUi-origin, .noUi-pips, .noUi-tooltip, .noUi-value {
  position: absolute
}

.noUi-connects {
  overflow: hidden;
  z-index: 0;
  border-radius: 3px
}

.noUi-connect, .noUi-origin {
  will-change: transform;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0
}

html:not([dir=rtl]) .noUi-horizontal .noUi-origin {
  left: auto;
  right: 0
}

.noUi-vertical .noUi-origin {
  width: 0
}

.noUi-horizontal .noUi-origin {
  height: 0
}

.noUi-state-tap .noUi-connect, .noUi-state-tap .noUi-origin {
  -webkit-transition: transform .3s;
  transition: transform .3s
}

.noUi-state-drag * {
  cursor: inherit !important
}

.noUi-horizontal {
  height: 18px
}

.noUi-horizontal .noUi-handle {
  width: 34px;
  height: 28px;
  left: -17px;
  top: -6px
}

.noUi-vertical {
  width: 18px
}

.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  left: -6px;
  top: -17px
}

html:not([dir=rtl]) .noUi-horizontal .noUi-handle {
  right: -17px;
  left: auto
}

.noUi-connect {
  background: #3FB8AF
}

.noUi-draggable {
  cursor: ew-resize
}

.noUi-vertical .noUi-draggable {
  cursor: ns-resize
}

.noUi-handle {
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #FFF;
  cursor: default;
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB
}

.noUi-active {
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB
}

.noUi-handle:after, .noUi-handle:before {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: $control-color;
  left: 14px;
  top: 6px;
}

.noUi-handle:after {
  left: 17px
}

.noUi-vertical .noUi-handle:after, .noUi-vertical .noUi-handle:before {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px
}

.noUi-vertical .noUi-handle:after {
  top: 17px
}

[disabled] .noUi-connect {
  background: #B8B8B8
}

[disabled] .noUi-handle, [disabled].noUi-handle, [disabled].noUi-target {
  cursor: not-allowed
}

.noUi-pips, .noUi-pips * {
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

.noUi-pips {
  color: #999
}

.noUi-value-sub, .noUi-value-large {
  color: black;
  font-size: rem(15);
  font-family: $fontFamily_robotoCondensed-regular;
}

.noUi-marker {
  background: #CCC
}

.noUi-marker-large, .noUi-marker-sub {
  background: #AAA
}

.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%
}

.noUi-value-horizontal {
  //-webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 100%)
}

.noUi-rtl .noUi-value-horizontal {
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%)
}

.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px
}

.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px
}

.noUi-marker-horizontal.noUi-marker-large {
  height: 15px
}

.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%
}

.noUi-value-vertical {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%, 0);
  padding-left: 25px
}

.noUi-rtl .noUi-value-vertical {
  -webkit-transform: translate(0, 50%);
  transform: translate(0, 50%)
}

.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px
}

.noUi-marker-vertical.noUi-marker-sub {
  width: 10px
}

.noUi-marker-vertical.noUi-marker-large {
  width: 15px
}

.noUi-tooltip {
  display: block;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 5px;

}
.noUi-marker-normal{
  display: none;
}

.noUi-tooltip {
  display: block;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 5px;

}

.noUi-horizontal .noUi-handle-lower .noUi-tooltip {
  /* top: 50px; */
  left: 50%;
  box-sizing: border-box;
  display: inline-block;
  margin-left: 0px;
  padding: rem(0) rem(10);
  min-width: rem(50);
  font-size: rem(14);
  line-height: 27px;
  vertical-align: middle;
  font-family: $fontFamily_robotoCondensed-regular;
  top: -34px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDgiIGhlaWdodD0iNDgiIHZpZXdCb3g9IjAgMCA0OCA0OCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0wIDBoNDh2NDhIMHoiLz48ZyBmaWxsPSIjMEIxRjM1IiBmaWxsLXJ1bGU9Im5vbnplcm8iPjxwYXRoIGQ9Ik0yOS44IDM0LjVIMTguMmwtMi45IDVoMTcuNGwtMi45LTV6bS0xMi43LTIwbDYuOSAxMiA2LjktMTJIMTcuMXoiIG9wYWNpdHk9Ii4zIi8+PHBhdGggZD0iTTM3LjkgNDMuNUgxMC4xYy0uOSAwLTEuNy0uNS0yLjItMS4yLS40LS44LS40LTEuOC4xLTIuNmw5LjEtMTUuOEw4IDguM2MtLjUtLjgtLjUtMS44IDAtMi42LjQtLjcgMS4yLTEuMiAyLjEtMS4yaDI3LjdjLjkgMCAxLjcuNSAyLjIgMS4yLjUuOC41IDEuOCAwIDIuNmwtOS4xIDE1LjhMNDAgMzkuN2MuNS44LjUgMS43IDAgMi41LS40LjgtMS4yIDEuMy0yLjEgMS4zem0tMjcuOC0zOGMtLjUgMC0xIC4zLTEuMy44LS4zLjUtLjMgMSAwIDEuNUwxOC4yIDI0IDguOCA0MC4zYy0uMy41LS4zIDEgMCAxLjVzLjguOCAxLjMuOGgyNy43Yy41IDAgMS0uMyAxLjMtLjguMy0uNS4zLTEgMC0xLjVsLTkuNC0xNi4yIDkuNC0xNi4yYy4zLS41LjMtMSAwLTEuNS0uMi0uNi0uNy0uOS0xLjItLjlIMTAuMXoiLz48L2c+PC9nPjwvc3ZnPg==);
  background-repeat: no-repeat;
  background-size: 24%;
  padding-left: 30px;
  background-position: 5px 50%;
  // background: #d9d9d9;
  &:after{
    content: ' mois';
  }
}

.noUi-value{
  &:after{
  // content: ' mois';
  }
}
.noUi-horizontal .noUi-handle-lower .noUi-tooltip:before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  bottom: -16px;
  left: 50%;
  margin-left: -8px;
  border-color: transparent;
  border-style: solid;
  border-top-color: #D9D9D9;
  border-width: 8px 8px;
}
.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%
}

.noUi-vertical .noUi-tooltip {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  right: 120%;
}



.bareme-handle-slider .noUi-handle {
  top: -20.5px;
  left: -20.5px;
  width: 41px;
  height: 41px;
  outline: 0;
  background: $control-color;
  cursor: pointer;
  top: 50%;
  transform: translateY(-40%);
  border: 9px solid white!important;
}

.bareme-handle-slider .noUi-handle, .bareme-handle-slider .noUi-handle::after {
  border: 0;
  border-radius: 50%;
  //box-shadow: 0 1px 0 0 rgba(255, 255, 255, .46) inset, 0 9px 16px 0 rgba(0, 0, 0, .09);
  box-shadow: 0 3px 10px rgba(255, 111, 0, 0.48);
}

.bareme-handle-slider .noUi-handle::after {
  top: 50%;
  left: 50%;
  width: 13px;
  height: 13px;
  margin: -6.5px 0 0 -6.5px;
  background: #fff
}

.bareme-handle-slider .noUi-connect {
  background: get-color("secondary");
  border-radius: 4px;
  box-shadow: inset 0 0 3px rgba(51,51,51,.45);
  -webkit-transition: background 450ms;
  transition: background 450ms;
}
