

// Tools
@import "tools/icons";
@import "tools/fontface";
@import "tools/breakpoints";
@import "tools/clearfix";
@import "tools/emRemConvert";
@import "tools/placeholder";
@import "tools/links";
@import "tools/whitespace";
@import "tools/align";
@import "tools/reset";
@import "tools/layer";
@import "tools/forms";

// Config
@import "config";


// theme
@import 'themes/mixins';

@include exports('theme-bcp') {
  @include theme-bcp;
}

.button-group{
  .button{
    border-radius: 0;
    &:first-child{
      border-bottom-left-radius: $global-radius;
      border-top-left-radius: $global-radius;
    }
    &:last-child{
      border-bottom-right-radius: $global-radius;
      border-top-right-radius: $global-radius;
    }
  }
}
.button{
  &.primary{
    color: $button-primary-color!important;
  }

}

.c-action__gototop {
  background: $gototop--background;
  border: none;
  border-radius: $gototop--borderRadius;
  &:before {
    font-family: $iconFontpca;
    color: $white;
  }

  &:hover, &:focus, &:active {
    background: $gototop--hover;
  }
}