.modal__overlay.modal__overlay--open
.modal.modal--open.modal-form
    div
        h1 Envoyer un Email
    .modal__frm
        .modal_frm-container
            form()
                fieldset
                    .row.expanded
                        .small-12.medium-6.large-6.column
                            .c-input__holder
                                label(for='dest')
                                    | Destinataire
                                    span.required *
                                .c-form__item
                                    input#dest(type='email', placeholder='clientmail@cliendomaine.com')
                                    i.c-fmlnet__email
                        .small-12.medium-6.large-6.column
                            .c-input__holder
                                label(for='destcc')
                                    | Cc
                                    span.required *
                                .c-form__item
                                    input#destcc(type='email', placeholder='clientmailcc@cliendomaine.com')
                                    i.c-fmlnet__email
                    .row.expanded
                        .small-12.medium-12
                            .c-input__holder
                                label(for='subject')
                                    | Objet
                                    span.required *
                                .c-form__item
                                    input#subject(type='text', placeholder='Proposition de financement N°P0000014352')
                        .small-12.medium-12
                            .c-input__holder
                                .c-form__item
                                    .c-input__holder.is-tall
                                        label(for='textarea--01')
                                            | Messages
                                            span.required *
                                        textarea#textarea--01
                        .large-12
                            .c-input__holder
                                a(href='')
                                    span.file-attchement
                                        span.file-attchement_icon
                                            svg(xmlns='http://www.w3.org/2000/svg', width='24', height='24')
                                                path(fill='#8a8a8a', d='M19 8h-1V4c0-1.103-.897-2-2-2H6.707L2 6.707V7H1v-.707L6.293 1H16c1.654 0 3 1.346 3 3v4z')
                                                path(fill='#8a8a8a', d='M16 23H4c-1.654 0-3-1.346-3-3V6.999h1V20c0 1.103.897 2 2 2h12c1.103 0 2-.897 2-2v-1h1v1c0 1.654-1.346 3-3 3z')
                                                path(fill='#ff5906', d='M16.14 9.386l-3.165 3.166a3.5 3.5 0 0 0 4.95 4.95l4.242-4.243a2.5 2.5 0 1 0-3.535-3.536l-3.89 3.89a1.5 1.5 0 0 0 2.122 2.12l1.396-1.395-.707-.707-1.396 1.395a.5.5 0 0 1-.707-.707l3.889-3.889a1.5 1.5 0 0 1 2.121 2.122l-4.242 4.242a2.5 2.5 0 0 1-3.536-3.535l3.166-3.166-.707-.707z')
                                        span.file-attchement_txt proposition-p0000014352.pdf


    a.modal__close
    .modal__actions
            button.button.alert.hollow.hasicon_left.float-right.up
                i.c-fmlnet__close
                span Fermer
            button.button.hasicon_right.up(type='submit')
                span Envoyer
                i.c-fmlnet__email

