.modal.modal--open.modal-form
    div
        h1 Demande de dérogation
    .modal__frm
        .modal_frm-container
            form()
                fieldset
                    .row.expanded
                        .small-12.medium-12.large-12
                            .c-input__holder
                                label(for='motivation')
                                    | Motivation
                                    span.required *
                                .c-form__item
                                    textarea#motivation.js-charCount(data-count="5000")
                                    .count-textarea
                                        span#charCountNum caractères restants
                        .small-12.medium-12.large-12
                            .c-input__holder
                                .c-form__item--file
                                    input(type='text', placeholder='Rattacher des docuements à la dérogation', readonly='')
                                    .c-form__input--file
                                        input(type='file')
                                    i.ico-feedback.c-fmlnet__attachment


    a.modal__close
    .modal__actions
            button.button.alert.hollow.hasicon_left.float-right.up
                i.c-fmlnet__close
                span Fermer
            button.button.hasicon_right.up(type='submit')
                span Envoyer
                i.c-fmlnet__email

