.modal__overlay.modal__overlay--open
.modal.modal--open.modal-alert
    div
        h1 Hello World
        p Closable by clicking the overlay or the close icon Closable by clicking the overlay or the close icon Closable by clicking the overlay or the close icon
    a.modal__close
    .modal__actions
            a.button.primary.hollow(href='#') Primary
            a.button.secondary.hollow(href='#') Secondary
            a.button.alert(href='#') Alert