.modal__overlay.modal__overlay--open
.modal.modal--open.modal-alert.text-center
    .modal-icon.modal-error.animate
        span.modal-x-mark
            span.modal-line.modal-left
            span.modal-line.modal-right
        .modal-placeholder
        .modal-fix

    .modal-icon.modal-warning.animate
        span.modal-body.pulseWarningIns
        span.modal-dot.pulseWarningIns

    .modal-icon.modal-success.animate
        span.modal-line.modal-tip.animateSuccessTip
        span.modal-line.modal-long.animateSuccessLong
        .modal-placeholder
        .modal-fix
    div
        h1 Hello World
        h3 This is a modal
        p Closable by clicking the overlay or the close icon Closable by clicking the overlay or the close icon Closable by clicking the overlay or the close icon Closable by clicking the overlay or the close icon
    a.modal__close
    .modal__actions
        a.button.primary(href='#') Primary
        a.button.secondary(href='#') Secondary
        a.button.alert(href='#') Alert