div.paginate-wdgt
    .paginate-wdgt_buttons.float-right
        a.paginate-button._previous._disabled
            i(class="c-fmlnet__chevron--left")
        a.paginate-button.current
            span 1
        a.paginate-button
            span 2
        a.paginate-button
            span 3
        a.paginate-button
            span 4
        a.paginate-button
            span 5
        a.paginate-button
            span 6
        a.paginate-button._next._disabled
            i(class="c-fmlnet__chevron--right")
    .paginate-range.float-right
        select(name='pagination_range')
            option(value='10') 10
            option(value='25') 25
            option(value='50') 50
            option(value='100') 100