-var steps = ['IDENTIFICATION DU CLIENT', 'BIENS & SERVICES', 'SIMULATIONS', 'Proposition FINANCIERE']
-var classCurrent = "current"
-var currentIndex = 0
.steps-progress#step-2
        .steps-progress_inner
            each value, index in steps
                if(index == currentIndex)
                    - classCurrent = "current"
                else if(index==1)
                    - classCurrent = "current"
                else
                    - classCurrent = ""

                .steps-progress_inner__step(class=classCurrent)
                    label(for="" data-num=index)
                        span
                            i.c-fmlnet__checkmark
                            span=value
            .steps-progress_inner__bar
            .steps-progress_inner__bar--set
