


///colors palette
.color-palette{
  padding: rem(30) 0;

}
.color-palette__block{

}
.color-item{
  margin: rem(10) 0;
  background: $white;
  border-radius: rem(5);
  padding: rem(5) rem(0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: auto;
  height: 70px;
  background: #fff;
  margin-bottom: 2px;

  border: 1px solid #e5e5e5;
}
.color-item svg{
  border-radius: 5px;

  border: 1px solid #e5e5e5;
}
.color-item__label__container{
  margin-left: 25px;
  >span{
    display: block;
    color: #5f5f5f;

  }
}