


///colors palette
.icon-content{

}
.icon-item{

  margin: rem(10);
  background: $white;
  border-radius: rem(5);
  padding: rem(5) rem(0);
  line-height: rem(200);
  min-height: rem(200);
}
.icon-item > div{
  display: inline-block;
  line-height: 1.2;
}

.icon-item span{
  display: block;
}

span.icon{
  padding: 20px;
}

span.icon i.c-fmlnet__mad{
  font-size: rem(11);
}