@mixin font-face($font-family, $file-path, $weight: normal, $style: normal, $asset-pipeline: false ) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;

    @if $asset-pipeline == true {
      src: font-url('#{$file-path}.eot');
      src: font-url('#{$file-path}.eot?#iefix')          format('embedded-opentype'),
      font-url('#{$file-path}.woff')                format('woff'),
      font-url('#{$file-path}.ttf')                 format('truetype'),
      font-url('#{$file-path}.svg##{$font-family}') format('svg');
    } @else {
      src: url('#{$file-path}.eot');
      src: url('#{$file-path}.eot?#iefix')               format('embedded-opentype'),
      url('#{$file-path}.woff')                     format('woff'),
      url('#{$file-path}.ttf')                      format('truetype'),
      url('#{$file-path}.svg##{$font-family}')      format('svg');
    }
  }
}
@mixin fontInit($fontEmbded) {
  @if $fontEmbded == true {
    @include font-face(RobotoCondensedBold,#{$fontsRobotoCondensed}RobotoCondensed-Bold);
    @include font-face(RobotoCondensedRegular,#{$fontsRobotoCondensed}RobotoCondensed-Regular);
    @include font-face(RobotoCondensedLight,#{$fontsRobotoCondensed}RobotoCondensed-Light);
    @include font-face(RobotoBold,#{$fontsRoboto}Roboto-Bold);
    @include font-face(RobotoRegular,#{$fontsRoboto}Roboto-Regular);
    @include font-face(RobotoLight,#{$fontsRoboto}Roboto-Light);
    @include font-face(RobotoMedium,#{$fontsRoboto}Roboto-Medium);
  } @else {
    @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
    @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');
  }

}

