
@mixin boxShadow($shadow) {
  -webkit-box-shadow: $shadow; // iOS <4.3 & Android <4.1
  box-shadow: $shadow;
}

@mixin  formValidation($text-color, $border-color, $background-color) {
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline,
  &.radio label,
  &.checkbox label,
  &.radio-inline label,
  &.checkbox-inline label  {
    color: $text-color;
  }
  [type='text'],
  [type='password'],
  [type='date'],
  [type='datetime'],
  [type='datetime-local'],
  [type='month'],
  [type='week'],
  [type='email'],
  [type='number'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='url'],
  [type='color'],
  textarea,
  select{
    border-color: $border-color;
    @include boxShadow(inset 0 1px 1px rgba(0,0,0,.075));
    &:focus {
      border-color: darken($border-color, 10%);
      $shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px lighten($border-color, 30%);
      @include boxShadow($shadow)

    }
  }
  .c-input-field-addon {
    color: $text-color;
    border-color: $border-color;
    background-color: $background-color;
  }
  .ico-feedback, [class*="c-fmlnet"]{
    color: $text-color;
  }

  label{
    color: $text-color!important;
  }
}

