// ========================================= //
// links
// ========================================= //

@mixin link__default(){
  @include typescale('zeta');
  @include font-smoothing;
  @include font-size("14");
  @include bp-lt(1350px){
    @include font-size("11");

  }
  font-weight: $link-weight-type;
  color: $link-color-primary;
  text-decoration: none;
  transition: $ease;

  &:visited {
    //color: $link-color-primary_visited;
  }
  &:active,
  &:hover,
  &:focus {
    color: $link-color-primary_hover;
  }

  &:focus {
    outline: none;
  }

  &[aria-disabled='true'] {
    opacity: 0.5;
    pointer-events: none;
  }
}


@mixin link__underline($textColor--hover, $borderBackground, $borderHeight) {
  position: relative;
  display: inline-block;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: rem(-10);
    width: 100%;
    height: rem($borderHeight);
    background: $borderBackground;
    opacity: 0;
    transition: $ease;
    pointer-events: none;
  }

  &:hover, &:focus {
    color: $textColor--hover;

    &:after {
      opacity: 1;
      bottom: 0;
    }
  }
}

@mixin link__box($borderWidth, $borderColor, $background, $backgroundhover, $height, $innerSpacing) {
  position: relative;
  display: inline-block;
  background: $background;
  line-height: rem($height);
  padding: 0 rem($innerSpacing);
  &:before,
  &:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    opacity: 0;
    transition: $ease;
  }

  &:before {
    top: 0%;
    left: 0%;
    border-top: solid rem($borderWidth) $borderColor;
    border-left: solid rem($borderWidth) $borderColor;
  }

  &:after {
    bottom: 0%;
    right: 0%;
    border-bottom: solid rem($borderWidth) $borderColor;
    border-right: solid rem($borderWidth) $borderColor;
  }

  &:hover {
    &:before,
    &:after {
      width: 100%;
      height: 100%;
      opacity: 1;
    }

    background: $backgroundhover;
    color: $borderColor;
  }
}

@mixin link__box_reverse($borderWidth, $borderColor, $background, $backgroundhover, $height, $innerSpacing) {
  position: relative;
  display: inline-block;
  background: $background;
  line-height: rem($height);
  padding: 0 rem($innerSpacing);
  color: $borderColor;
  text-transform: uppercase;
  &:before,
  &:after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: $ease;
  }

  &:before {
    top: 0%;
    left: 0%;
    border-top: solid rem($borderWidth) $borderColor;
    border-left: solid rem($borderWidth) $borderColor;
  }

  &:after {
    bottom: 0%;
    right: 0%;
    border-bottom: solid rem($borderWidth) $borderColor;
    border-right: solid rem($borderWidth) $borderColor;
  }

  &:hover {
    &:before,
    &:after {
      width: 20%;
      height: 20%;
      opacity: 1;
    }

    background: $backgroundhover;
    color: $borderColor;
  }
}


@mixin btnDefault($color, $colorRevert, $bg, $bgRevert, $borderColor,  $borderColorRevert){

  display: inline-block;
  color: $color;
  background: $bg;
  border-radius: rem(5);
  padding: 10px 45px;
  font-weight:700;
  border:1px solid $borderColor;

  &:before{

  }

  &:hover{
    background: $bgRevert;
    color :$colorRevert;
    border-color:#c15b80;
    border-color:$borderColorRevert;
  }

}