table(border='0', cellspacing='0', cellpadding='0', width='100%', style='width:100%!important;min-width:100%!important')
    tbody
        tr
            td(align='left', valign='middle')
                a(href='https://www.linkedin.com/comm/feed/?midToken=AQGd4RBoFj6PjA&trk=eml-email_type_messaging_digest-header-15-home&trkEmail=eml-email_type_messaging_digest-header-15-home-null-1go4tz%7Ejult4fcv%7E6n-null-neptune%2Ffeed&lipi=urn%3Ali%3Apage%3Aemail_email_type_messaging_digest%3B0EoiPiJZSDWeIUTgifelaQ%3D%3D', style='color:#008cc9;white-space:normal;display:inline-block;text-decoration:none', target='_blank', data-saferedirecturl='https://www.google.com/url?q=https://www.linkedin.com/comm/feed/?midToken%3DAQGd4RBoFj6PjA%26trk%3Deml-email_type_messaging_digest-header-15-home%26trkEmail%3Deml-email_type_messaging_digest-header-15-home-null-1go4tz%257Ejult4fcv%257E6n-null-neptune%252Ffeed%26lipi%3Durn%253Ali%253Apage%253Aemail_email_type_messaging_digest%253B0EoiPiJZSDWeIUTgifelaQ%253D%253D&source=gmail&ust=1556117632783000&usg=AFQjCNEAGogFevE9gpA94e7_o8mWbdqyCA')
                    img(alt='LinkedIn', border='0', src='https://ci5.googleusercontent.com/proxy/kzbfrkdWp7vyLlrcbyQyeIwMKiaS2DgCDXHxu_9sDpWM1txkaN-wkRmmxayjSwX85GfzKlbA5jWzn4Q43Wa-v_mcgWS2RzRoTHEVjFOFKPSpPJjfS2SfQjf4q1FUWc0URFSBBQCZqZ-86wWSnBQ7j5QZxdZfVI_nSf2X775BjrYx6rtHmd5v8lgiRHDJtMrzioVcLmxM_h4Ue0FNdP3tqVM5i_nxVpUHpw1-s-XOIZmyoQKv2N8h89LDv1lJvtgAojGM8uUKTl1D5_7PL7yoxWTUejWS8VCHdNl0kTYZ7_a8QjnDK08zYSpbWCQTPj8e7AUYTYn-rMPn_PpcSwNXIRTE9ANV4nBw6eWSuYWThMy9VdIwKgEqKD6g5wscWg4edyG410pWmFlrbyehYPaSnNB2mXiRxAyfaVCKbJA2DynINCZ5xWjUAENi7_Amf_reMvlz0JDV3x-cWTdyY9bS2A=s0-d-e1-ft#https://www.linkedin.com/comm/dms/logo?midToken=AQGd4RBoFj6PjA&trk=eml-email_type_messaging_digest-null-22-null&trkEmail=eml-email_type_messaging_digest-null-22-null-null-1go4tz%7Ejult4fcv%7E6n-null-comms%7Ebadging%7Edynamic&lipi=urn%3Ali%3Apage%3Aemail_email_type_messaging_digest%3B0EoiPiJZSDWeIUTgifelaQ%3D%3D&_sig=35r5FSnQoUC8I1', height='42', style='outline:none;color:#ffffff;text-decoration:none;display:block')
            td(valign='middle', width='100%', align='right', style='padding:0 0 0 10px;padding-top:7px')
                a(href='https://www.linkedin.com/comm/in/mustapha-abdous-75b76325?midToken=AQGd4RBoFj6PjA&trk=eml-email_type_messaging_digest-header-23-profile&trkEmail=eml-email_type_messaging_digest-header-23-profile-null-1go4tz%7Ejult4fcv%7E6n-null-neptune%2Fprofile%7Evanity%2Eview&lipi=urn%3Ali%3Apage%3Aemail_email_type_messaging_digest%3B0EoiPiJZSDWeIUTgifelaQ%3D%3D', style='margin:0;color:#008cc9;white-space:normal;display:inline-block;text-decoration:none', target='_blank', data-saferedirecturl='https://www.google.com/url?q=https://www.linkedin.com/comm/in/mustapha-abdous-75b76325?midToken%3DAQGd4RBoFj6PjA%26trk%3Deml-email_type_messaging_digest-header-23-profile%26trkEmail%3Deml-email_type_messaging_digest-header-23-profile-null-1go4tz%257Ejult4fcv%257E6n-null-neptune%252Fprofile%257Evanity%252Eview%26lipi%3Durn%253Ali%253Apage%253Aemail_email_type_messaging_digest%253B0EoiPiJZSDWeIUTgifelaQ%253D%253D&source=gmail&ust=1556117632784000&usg=AFQjCNE0t-wxmy7PcbISvgDuui7YeCaOdg')
                    span(style='word-wrap:break-word;color:#4c4c4c;word-break:break-word;font-weight:400;font-size:14px;line-height:1.429') Mustapha ABDOUS
            td(valign='middle', width='40', style='padding-top:7px;padding-left:10px')
                a(href='https://www.linkedin.com/comm/in/mustapha-abdous-75b76325?midToken=AQGd4RBoFj6PjA&trk=eml-email_type_messaging_digest-header-23-profile&trkEmail=eml-email_type_messaging_digest-header-23-profile-null-1go4tz%7Ejult4fcv%7E6n-null-neptune%2Fprofile%7Evanity%2Eview&lipi=urn%3Ali%3Apage%3Aemail_email_type_messaging_digest%3B0EoiPiJZSDWeIUTgifelaQ%3D%3D', style='border-radius:50%;color:#008cc9;white-space:normal;display:inline-block;text-decoration:none', target='_blank', data-saferedirecturl='https://www.google.com/url?q=https://www.linkedin.com/comm/in/mustapha-abdous-75b76325?midToken%3DAQGd4RBoFj6PjA%26trk%3Deml-email_type_messaging_digest-header-23-profile%26trkEmail%3Deml-email_type_messaging_digest-header-23-profile-null-1go4tz%257Ejult4fcv%257E6n-null-neptune%252Fprofile%257Evanity%252Eview%26lipi%3Durn%253Ali%253Apage%253Aemail_email_type_messaging_digest%253B0EoiPiJZSDWeIUTgifelaQ%253D%253D&source=gmail&ust=1556117632784000&usg=AFQjCNE0t-wxmy7PcbISvgDuui7YeCaOdg')
                    img(alt='', border='0', height='36', width='36', src='https://ci4.googleusercontent.com/proxy/yzIjA9So7lKVzViXWsKQRCKDrzZalchoRAZKnSbnQATfk1ZSn8AIxvicFQTVk70dmUMoiVb5GTdNX5RuTifNdmGQXIIV34PDX2ewD8A-VOC7_3Z_1U5BBHCtAzY1eerQq6LeUam3ymSaaabtrjkJPO9c6WT8uGDo1Lk01Rl8R6zHvH_-ZAJRQ-gNA6FMe7CugVTfr7jfVjssGFIJuMgIWhliZTJCYuW03V-OzrY0BXNB=s0-d-e1-ft#https://media.licdn.com/dms/image/C5603AQGvXKYciN2l7Q/profile-displayphoto-shrink_100_100/0?e=2159024400&v=beta&t=vWxUNi1JIhRacY5bvavVX7GlMjS065tEbEIyOgOFxrM', style='border-radius:50%;outline:none;color:#ffffff;text-decoration:none;display:block')
            td(width='1')  
