// ========================================= //
// breadcrumb
// ========================================= //

nav.breadcrumb { background: transparent; clear: both; color: #a7a7a7;   }
nav.breadcrumb ul {  }
nav.breadcrumb ul li  { display: inline-block;line-height: 1.2em; font-size: 1.25em; height: 27px; }
nav.breadcrumb ul li a{ color: #a7a7a7; text-decoration: none; overflow: hidden; width: 60px;}
nav.breadcrumb ul li a:hover { color:#113983;  }
nav.breadcrumb ul li:first-child a:hover:after{ color:#fdcb26;  }
nav.breadcrumb ul li a span{ display: none;  }
nav.breadcrumb ul li:first-child a{ display: inline-block;   color: #e6e6e6;  -webkit-transform: rotate(-180deg); transform: rotate(-180deg);  -ms-transform: rotate(-180deg); }
nav.breadcrumb ul li:first-child a:after{ content: '➞'; font-size: 2.0em; position: absolute; left:23px; top: -5px;  }
nav.breadcrumb ul li:first-child a:before{ content: '|'; padding:0 9px 0 18px ; top: -4px; position: relative; background: #f1efef; z-index: 2; }
.scrollreading nav.breadcrumb ul li:first-child a:before{ background: #f8f8f8; }
nav.breadcrumb ul li:after{ content: '|'; margin:0 15px 0 10px ; top: -4px; position: relative; }
nav.breadcrumb ul li:last-child:after{ display: none; }
nav.breadcrumb ul li:first-child:after{ display: none; }

.c-breadcrumb {
    //border-bottom: $breadcrumb--border;
    //background: rgba(0,0,0,0.02);
    //border-bottom: 1px solid #d7d7d7;
    padding-bottom: rem(40);
}

.c-breadcrumb__list {
    margin: 0!important;
    list-style: none;
    height: rem($breadcrumb--height);
    line-height: rem($breadcrumb--height);
    padding: 0!important;

    @include bp-lt($medium) {
        padding-left: rem(10);
    }

    li {
        &:first-child{
            span{
                display: none;
            }

            a{
                &:after{
                    //content: '➞'; font-size: 2.0em; display: inline-block;transform: rotate(-180deg); vertical-align: middle; color: $breadcrumb--color;
                    content: '\EAAB';
                    font-size: 20px;
                    /* display: inline-block; */
                    /* -webkit-transform: rotate(-180deg); */
                    /* transform: rotate(-180deg); */
                    vertical-align: middle;
                    color: #656565;
                    font-family: "mlnet__common";
                    font-style: normal;
                    font-weight: normal;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    vertical-align: middle;
                }
            }
        }
        display: inline-block;
        height: rem($breadcrumb--height);
        //padding-top: rem(10);
        font-size: $breadcrumb--fontsize;
        color: $breadcrumb--color;
        &:before{
            display: none!important;
        }

        @include bp-lt($tabletS) {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: rem(250);
        }

        @include bp-lt($mobileL) {
            max-width: rem(200);
        }

        @include bp-lt($mobileM) {
            max-width: rem(150);
        }

        @include bp-lt($small) {
            display: none;

            &:first-of-type { display: inline-block; }
            &:last-of-type { display: inline-block; }
        }

        &, a {
            font-family: $breadcrumb--fontfamily;
        }

        a {
            position: relative;
            display: inline-block;
            font-size: $breadcrumb--fontsize;
            //font-weight: 700;
            font-family: $fontFamily;
            transition: $ease;
            &:hover{
                color: $black;
            }
        }

        &:after {
            content: '|';
            display: inline-block;
            margin-left: rem(10);
            margin-right: rem(10);
            color: $breadcrumb--color;
        }

        &:last-of-type:after { display: none; }
    }
}
