/*------------------------------------------------------------------
  Loader
*/
.be-loading{
  position: relative;
  min-height: 100px;
  height: 100%;
  &:after{
    position: absolute;
    display: block;
    visibility: hidden;
    opacity: 0;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,0.74);
    transition: all .2s ease;
    z-index: 2;
  }

  .be-spinner{
    //display: none;
  }

  &-active{

    &:after{
      visibility: visible;
      opacity: 1;
    }

    .be-spinner{
      display: block;
    }
  }
}

.be-loading-content{
  padding: rem(30);
  text-align: center;
  position: relative;
  min-height: rem(100);
  &.full{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.be-spinner{
  position: absolute;
  top: 50%;
  right: 50%;
  margin-top: -20px;
  margin-right: -20px;
  z-index: 999;

  .be-loading &{
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: -20px;
    margin-right: -20px;
    z-index: 3;
  }

  svg{
    animation: be-spinner-rotation 1.4s linear infinite;
    stroke: $primary-color;
    stroke-width: 3px;

    .circle{
      stroke-dasharray: 187;
      stroke-dashoffset: 0;
      transform-origin: center;
      animation: be-spinner-turn 1.4s ease-in-out infinite;
    }
  }
}

@keyframes be-spinner-rotation{
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(270deg);
  }
}

@keyframes be-spinner-turn{
  0% {
    stroke-dashoffset: 187;
  }

  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }

  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}