// ========================================= //
// modal
// ========================================= //

/* start state */
.my-mfp-zoom-in .mfp-image-holder,
.my-mfp-zoom-in .mfp-iframe-holder,
.my-mfp-zoom-in .mfp-inline-holder {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .mfp-image-holder,
.my-mfp-zoom-in.mfp-ready .mfp-iframe-holder,
.my-mfp-zoom-in.mfp-ready .mfp-inline-holder {
    opacity: 1;
    transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .mfp-image-holder,
.my-mfp-zoom-in.mfp-removing .mfp-iframe-holder,
.my-mfp-zoom-in.mfp-removing .mfp-inline-holder {
    transform: scale(0.8);
    opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.8;
}

/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0;
}

/* [Object] Modal
 * =============================== */

.modal__actions{
        padding: rem(20) 0 0;
      //  text-align: center;
    a{
        margin-right: rem(20);
        &:last-child{
            margin-right: 0;
        }
    }
}

.mfp-content{
    .modal {

        position: relative;
        margin: auto;
        left: 0;
        top: 0;
        transform: none;
    }
}
.modal {
   // position: fixed;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    background: white;
    padding: rem(20);
    border-radius: 8px;
    opacity: 0;
    transition: opacity 300ms, top 600ms;
    z-index: 9;
    min-width: rem(500);
    max-width: rem(570);
    margin: 20px;
    box-shadow: 0 0 10px 2px rgba(0,0,0,.2);
    display: none;
    &.modal-form{
        min-width: rem(500);
        max-width: rem(650);
        &_txtcontent{
            min-width: rem(900);
            max-width: rem(900);
            .txtcontent{
                max-height: 500px;
                overflow-y: auto;
                overflow-x: hidden;
                -ms-overflow-style: none;
                overflow: -moz-scrollbars-none;
            }
        }
    }
    &.inline-error{
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0%, 0%);
        margin: 20px auto;
        box-shadow: none;
        z-index: 1;
        min-width: auto;
        max-width: 100%;
        .modal__close{
            display: none;
        }
    }
    &.alert{

    }

    &--open {
        top: 12%;
        opacity: 1;
        display: block;
        @include animation('displayNoneToFadeIn .4s 1');
    }

    &__overlay {
        opacity: 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba($black,.2);
        transition: opacity 500ms;
        z-index: 5;

        &--open {
            opacity: 1;
        }
    }

    &__close {
        background: get-color("secondary");
        cursor: pointer;
        height: 2.5rem;
        position: absolute;
        right: 0;
        top: 0;
        width: 2.5rem;
        transition: all 300ms;
        border-top-right-radius: 8px;
        border-bottom-left-radius: 8px;
        &::before,
        &::after {
            background: white;
            content: '';
            height: .1rem;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
            width: 1.175rem;
        }

        &::after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }

        &:hover {
            background: white;

            &::before,
            &::after {
                background: get-color("secondary");
            }
        }
    }
}


.modal-alert {
    background-color: #fff;
    box-shadow: 0 0 10px 2px rgba(0,0,0,.2);

   // padding: 50px;
}

.modal-alert .modal-icon {
    border-radius: 50%;
    border: 4px solid gray;
    box-sizing: content-box;
    height: 80px;
    margin: 20px auto;
    padding: 0;
    position: relative;
    width: 80px;

    // Success icon
    &.modal-success,
    &.modal-error {
        border-color: #A5DC86;

        &:after,
        &:before {
            background: #fff;
            content: '';
            height: 120px;
            position: absolute;
            transform: rotate(45deg);
            width: 60px;
        }

        &:before {
            border-radius: 120px 0 0 120px;
            left: -33px;
            top: -7px;
            transform-origin: 60px 60px;
            transform: rotate(-45deg);
        }

        &:after {
            border-radius: 0 120px 120px 0;
            left: 30px;
            top: -11px;
            transform-origin: 0 60px;
            transform: rotate(-45deg);
        }

        .modal-placeholder {
            border-radius: 50%;
            border: 4px solid rgba(165, 220, 134, .2);
            box-sizing: content-box;
            height: 80px;
            left: -4px;
            position: absolute;
            top: -4px;
            width: 80px;
            z-index: 2;
        }

        .modal-fix {
            background-color: #fff;
            height: 90px;
            left: 28px;
            position: absolute;
            top: 8px;
            transform: rotate(-45deg);
            width: 5px;
            z-index: 1;
        }

        .modal-line {
            background-color: #A5DC86;
            border-radius: 2px;
            display: block;
            height: 5px;
            position: absolute;
            z-index: 2;

            &.modal-tip {
                left: 14px;
                top: 46px;
                transform: rotate(45deg);
                width: 25px;
            }

            &.modal-long {
                right: 8px;
                top: 38px;
                transform: rotate(-45deg);
                width: 47px;
            }
        }
    }

    // Error icon
    &.modal-error {
        border-color: #F27474;

        .modal-x-mark {
            display: block;
            position: relative;
            z-index: 2;
        }

        .modal-placeholder {
            border: 4px solid rgba(200, 0, 0, .2);
        }

        .modal-line {
            background-color: #F27474;
            top: 37px;
            width: 47px;

            &.modal-left {
                left: 17px;
                transform: rotate(45deg);
            }

            &.modal-right {
                right: 16px;
                transform: rotate(-45deg);
            }
        }
    }

    // Warning icon

    &.modal-warning {
        border-color: #F8BB86;

        &:before {
            animation: pulseWarning 2s linear infinite;
            background-color: #fff;
            border-radius: 50%;
            content: "";
            display: inline-block;
            height: 100%;
            opacity: 0;
            position: absolute;
            width: 100%;
            left: 0;
        }

        &:after {
            background-color: #fff;
            border-radius: 50%;
            content: '';
            display: block;
            height: 100%;
            position: absolute;
            width: 100%;
            z-index: 1;
        }
    }

    &.modal-warning .modal-body {
        background-color: #F8BB86;
        border-radius: 2px;
        height: 47px;
        left: 50%;
        margin-left: -2px;
        position: absolute;
        top: 10px;
        width: 5px;
        z-index: 2;
    }

    &.modal-warning .modal-dot {
        background-color: #F8BB86;
        border-radius: 50%;
        bottom: 10px;
        height: 7px;
        left: 50%;
        margin-left: -3px;
        position: absolute;
        width: 7px;
        z-index: 2;
    }

    + .modal-icon {
        margin-top: 50px;
    }
}

.animateSuccessTip {
    animation: animateSuccessTip .75s;
}

.animateSuccessLong {
    animation: animateSuccessLong .75s;
}

.modal-icon.modal-success.animate:after {
    animation: rotatePlaceholder 4.25s ease-in;
}

.modal-icon.modal-error.animate:after {
    animation: rotatePlaceholder 4.25s ease-in;
}

.animateErrorIcon {
    animation: animateErrorIcon .5s;
}

.animateXLeft {
    animation: animateXLeft .75s;
}

.animateXRight {
    animation: animateXRight .75s;
}

.scaleWarning {
    animation: scaleWarning 0.75s infinite alternate;
}

.pulseWarningIns {
    animation: pulseWarningIns 0.75s infinite alternate;
}

@keyframes animateSuccessTip {
    0%,54% {
        width: 0;
        left: 1px;
        top: 19px;
    }

    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }

    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }

    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}

@keyframes animateSuccessLong {
    0%,65% {
        width: 0;
        right: 46px;
        top: 54px;
    }

    84% {
        width: 55px;
        right: 0;
        top: 35px;
    }

    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}

@keyframes rotatePlaceholder {
    0%,5% {
        transform: rotate(-45deg);
    }

    100%,12% {
        transform: rotate(-405deg);
    }
}

@keyframes animateErrorIcon {
    0% {
        transform: rotateX(100deg);
        opacity: 0;
    }

    100% {
        transform: rotateX(0deg);
        opacity: 1;
    }
}

@keyframes animateXLeft {
    0%,
    65% {
        left: 82px;
        top: 95px;
        width: 0;
    }

    84% {
        left: 14px;
        top: 33px;
        width: 47px;
    }

    100% {
        left: 17px;
        top: 37px;
        width: 47px;
    }
}

@keyframes animateXRight {
    0%,
    65% {
        right: 82px;
        top: 95px;
        width: 0;
    }

    84% {
        right: 14px;
        top: 33px;
        width: 47px;
    }

    100% {
        right: 16px;
        top: 37px;
        width: 47px;
    }
}

@keyframes scaleWarning {
    0% {
        transform: scale(1);
    }

    30% {
        transform: scale(1.02);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes pulseWarning {
    0% {
        background-color: #fff;
        transform: scale(1);
        opacity: 0.5;
    }

    30% {
        background-color: #fff;
        transform: scale(1);
        opacity: 0.5;
    }

    100% {
        background-color: #F8BB86;
        transform: scale(2);
        opacity: 0;
    }
}

@keyframes pulseWarningIns {
    0% {
        background-color: #F8D486;
    }

    100% {
        background-color: #F8BB86;
    }
}
