$control-height: 40px;
$control-width: 80px;
$control-color: get-color("secondary");
$control-font-size: 18px;
$control-font-weight: 100;
$fill-color: darken($control-color, 10%);
$gutter-height: 16px;


.no-ui-slider {
  width: 100%;
  max-width: 500px;
  margin: 50px auto;
}

/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
}
.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}
.static .noUi-origin {
  background: #f3f3f3!important;
}

.noUi-handle {
  position: relative;
  box-sizing: border-box;
  z-index: 4;
  border-radius: 50%;
  left: -20.5px;
  width: 32px;
  height: 32px;
  outline: 0;
  background: white;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  border: 9px solid $color__blue !important;
}
.noUi-stacking .noUi-handle {
  /* This class is applied to the lower origin when
     its values is > 50%. */
  z-index: 10;
}
.noUi-stacking + .noUi-origin {
  /* Fix stacking order in IE7, which incorrectly
     creates a new context for the origins. */
  *z-index: -1;
}
.noUi-state-tap .noUi-origin {
  -webkit-transition: left 0.3s, top 0.3s;
  transition: left 0.3s, top 0.3s;
}
.noUi-state-drag * {
  cursor: inherit !important;
}

/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 10px;
}
.noUi-horizontal .noUi-handle {
  position: relative;
  box-sizing: border-box;
  z-index: 4;
  border-radius: 50%;
  left: -20.5px;
  width: 32px;
  height: 32px;
  outline: 0;
  background: white;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  border: 9px solid $color__blue !important;
}
.noUi-horizontal.noUi-extended {
  padding: 0 15px;
}
.noUi-horizontal.noUi-extended .noUi-origin  {
  right: -15px;
}

/* Styling;
 */
.noUi-background {
  background: #3182bd;
}
.noUi-connect {
  background: #3FB8AF;
  box-shadow: inset 0 0 3px rgba(51,51,51,0.45);
  -webkit-transition: background 450ms;
  transition: background 450ms;
}
.noUi-origin {
  border-radius: 2px;
  background: white;
}
.noUi-target {
  border-radius: 2px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.2;
  width: 100%;
  -webkit-border-radius: 1.25rem;
  -moz-border-radius: 1.25rem;
  border-radius: 1.25rem;
  position: relative;
  direction: ltr;
  /* background: #FAFAFA; */
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #f3f3f3;
  -webkit-box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
  -moz-box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
  box-shadow: 0 3px 8px #F0F0F0;
  background: $control-color;
}
.noUi-target.noUi-connect {
  box-shadow: inset 0 0 3px rgba(51,51,51,0.45), 0 3px 6px -5px #BBB;
}

/* Handles and cursors;
 */
.noUi-dragable {
  cursor: w-resize;
}
.noUi-vertical .noUi-dragable {
  cursor: n-resize;
}
.noUi-handle {
  /*order-radius: 2px 2px 0 0;
  background: #fff;
  cursor: default;
  box-shadow: 0 0px 1px rgba(0,0,0,0.5);*/
}
.noUi-active {

}

/* Handle stripes;
 */
.noUi-handle:after {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #F27715;
  left: 14px;
  top: 6px;
  top: 50%;
  left: 50%;
  width: 13px;
  height: 13px;
  margin: -6.5px 0 0 -6.5px;
  background: #fff;
  border: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 3px 10px rgba(255, 111, 0, 0.48);
  -moz-box-shadow: 0 3px 10px rgba(255, 111, 0, 0.48);
  box-shadow: 0 3px 10px rgba(255, 111, 0, 0.48);
}




.noUi-handle:before {
  content: "";
  display: block;
  position: absolute;
  left: -0px;
  top: 100%;
  margin-top: 1px;
  border-top: 11px solid rgba(0,0,0,0.2);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  display: none;
}

/* Disabled state;
 */
[disabled].noUi-connect,
[disabled] .noUi-connect {
  background: #B8B8B8;
}
[disabled] .noUi-handle {
  cursor: not-allowed;
}




.noUi-tooltip {
  display: block;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 5px;

}

.noUi-horizontal .noUi-handle-lower .noUi-tooltip {
  /* top: 50px; */
  left: 50%;
  box-sizing: border-box;
  display: inline-block;
  margin-left: 0px;
  padding: rem(0) rem(10);
  min-width: rem(50);
  font-size: rem(14);
  line-height: 27px;
  vertical-align: middle;
  font-family: $fontFamily_robotoCondensed-regular;
  top: -34px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDgiIGhlaWdodD0iNDgiIHZpZXdCb3g9IjAgMCA0OCA0OCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0wIDBoNDh2NDhIMHoiLz48ZyBmaWxsPSIjMEIxRjM1IiBmaWxsLXJ1bGU9Im5vbnplcm8iPjxwYXRoIGQ9Ik0yOS44IDM0LjVIMTguMmwtMi45IDVoMTcuNGwtMi45LTV6bS0xMi43LTIwbDYuOSAxMiA2LjktMTJIMTcuMXoiIG9wYWNpdHk9Ii4zIi8+PHBhdGggZD0iTTM3LjkgNDMuNUgxMC4xYy0uOSAwLTEuNy0uNS0yLjItMS4yLS40LS44LS40LTEuOC4xLTIuNmw5LjEtMTUuOEw4IDguM2MtLjUtLjgtLjUtMS44IDAtMi42LjQtLjcgMS4yLTEuMiAyLjEtMS4yaDI3LjdjLjkgMCAxLjcuNSAyLjIgMS4yLjUuOC41IDEuOCAwIDIuNmwtOS4xIDE1LjhMNDAgMzkuN2MuNS44LjUgMS43IDAgMi41LS40LjgtMS4yIDEuMy0yLjEgMS4zem0tMjcuOC0zOGMtLjUgMC0xIC4zLTEuMy44LS4zLjUtLjMgMSAwIDEuNUwxOC4yIDI0IDguOCA0MC4zYy0uMy41LS4zIDEgMCAxLjVzLjguOCAxLjMuOGgyNy43Yy41IDAgMS0uMyAxLjMtLjguMy0uNS4zLTEgMC0xLjVsLTkuNC0xNi4yIDkuNC0xNi4yYy4zLS41LjMtMSAwLTEuNS0uMi0uNi0uNy0uOS0xLjItLjlIMTAuMXoiLz48L2c+PC9nPjwvc3ZnPg==);
  background-repeat: no-repeat;
  background-size: 24%;
  padding-left: 30px;
  background-position: 5px 50%;
  // background: #d9d9d9;
  &:after{
   content: ' mois';
  }
}
.noUi-horizontal .noUi-handle-lower .noUi-tooltip:before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  bottom: -16px;
  left: 50%;
  margin-left: -8px;
  border-color: transparent;
  border-style: solid;
  border-top-color: #D9D9D9;
  border-width: 8px 8px;
}
.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%
}

.noUi-tooltip, .noUi-value {
  text-align: center;
  white-space: nowrap;
}


.noUi-pips-horizontal {
  padding: 20px 0;
}

.noUi-value-sub, .noUi-value-large {
  color: black;
  font-size: rem(13);
  font-family: $fontFamily_robotoCondensed-regular;
  padding-top: 8px;
}
.noUi-value:after {
  //content: ' mois';

}

.noUi-value:after{
  content: ''!important;
}