.paginate-wdgt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 10px 15px;
    .pagination{
        display: flex;
        margin: 0;
        li{
            margin-bottom: 0;
            &:first-child{
                a{
                    border-left: 1px solid #e0e3e8;
                }
            }
            &:hover{
                a{
                    background-color: $color__blue;
                    color:white;
                }
            }
            a{
                margin-bottom: 0;
                background-color: transparent;
                border: 1px solid #e0e3e8;
                margin: 0;
                color: #3b3836;
                border-left: 0;
                border-radius: 0;
                cursor: pointer;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;  
                &.prev{
                    font-size: 0;
                    &:before{
                        content: "\e907";
                        font-family: icomoon;
                        font-size: 11px;
                    }
                }    
                &.next{
                    font-size: 0;
                    &:before{
                        content: "\e905";
                        font-family: icomoon;
                        font-size: 11px;
                    }
                }          
            }
            &.current{
                a{
                    background-color: $color__blue;
                    color:white;
                }
            }
        }
    }
}
.paginate-wdgt_buttons{
    a{
        display: inline-block;
        height: 28px;
        line-height: 28px;
        border: 1px solid #dae2e6;
        background: get-color("normal");
        text-align: center;
        font-size: 13px;
        margin-right: 4px;
        padding: 0 10px;
        border-radius:90px;
        vertical-align: middle;
        cursor: pointer;
        i{
            display: inline-block;
            line-height: 12px;
            font-size: 9px;
        }
        &:hover,&.current{
            background: get-color("secondary");
            border-color: get-color("secondary");
            color: get-color("normal");
        }
        &._previous{

        }
        &._next{

        }
        &._disabled{

        }
        &._current{

        }
    }
}
.paginate-range{
    padding-right: rem(10);
    select{
        width: 60px;
        height: 28px;
        line-height: 28px;
        border: 1px solid #dae2e6;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        display: block;
        padding-right: 20px;
        background-position: calc(100% - 9px) 50%;
        background-size: 11px;
    }
}

.datatables-content .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .datatables-content .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .datatables-content .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active, .datatables-content .dataTables_wrapper .dataTables_paginate .paginate_button {
    display: inline-block;
    vertical-align: middle;
    line-height: 22px;
    background: #fff;
    text-align: center;
    font-size: 13px;
    color: #8493A8!important;
    border: 1px solid #fff;
    margin-right: 4px;
    padding: 0 10px;
    border-radius: 30px
}

.datatables-content .dataTables_wrapper .dataTables_paginate .paginate_button.current, .datatables-content .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover, .datatables-content .dataTables_wrapper .dataTables_paginate .paginate_button:hover {

}

