/*//////////////////////////////////////////////////////////////////
[ Table ]*/
$panel-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.04);

.row-action{
  .button{
    margin-left: 10px;
  }
}

table{
  tr{
    td{
      .c-input__holder {
        margin-bottom:0;
        *{
          margin: 0;
        }
      }
    }
  }
}
.datatables-content table tbody tr.editable-row__template td{
  vertical-align: top;
}
.datatables-content {
  width: 100%;
  //overflow-x: auto;
  background: white;
  border-radius: 10px;
  padding: 10px;
}
.datatables-content tr td  .select2-container {
  width: 100%!important;
}


.j-product_sup{
  padding: 0!important;
}

.datatables-content table {
 // padding: rem(10);
  background: white;
  border-radius: rem(10);
  box-shadow: $panel-box-shadow;
  border: 0!important;
  @media (max-width: 1050px){
    display: block;
    overflow-y: scroll;
    max-width: 100%;
  }
  table{
    box-shadow: none;
  }
  tr{
    button.button{
      i{
        transition: $ease;
        transform: rotateZ(0deg);
      }
    }
    &.toggled{
      background-color: $body-bg-default;
      -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);

      + .j-product_sup{
        .sub-table-wrap{
          display: block;
        }
      }
      .toggled-active, button.button{
        background: white;
        border-color: white;
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
        position: relative;
        &:before{
          position: absolute;
          width: 0;
          height: 0;
          font-size: 0;
          line-height: 0;
          content: "";
          bottom: -27px;
          border-right: 20px solid transparent;
          border-bottom: 20px solid;
          border-left: 20px solid transparent;
          border-bottom-color: #ffffff;
          left: -webkit-calc(50% - 20px);
          left: -moz-calc(50% - 20px);
          left: calc(50% - 20px);
          filter: drop-shadow(0 3px 7px rgba(0, 0, 0, 0.2));


      }
        i{

          transform: rotateZ(180deg);
        }
      }
      + tr{
        .sub-table-wrap{
          //border: rem(15) solid white;
          padding: 0;
        }
      }
    }
    &.j-product_sup{
      > td{padding: 0!important;
      }
    }
    td{



      &.embded-toggled_content{
        position: inherit;
      }

      &[colspan]{


      }
      table{
        background: transparent;
      }
    }
    &.row-embeded-table{
        >td{
          padding: 0px!important;

        }
    }
  }

  //width: calc(100% - 20px)!important;
}
.datatables-content table tbody tr{
  background-color: rgba(232, 233, 236, 0.23);
  &:nth-child(2n){
    background-color: #fff;
  }
  &:hover{
    td{
      cursor: pointer;
      font-family: 'RobotoMedium';
      &:first-child{
        border-left: 4px solid $color__blue;
      }
      .c-fmlnet__item-view{
        &:before{
          color:$color__orange;
        }
      }
    }
  }
  td{
    border-left:4px solid transparent;
  }
}
.datatables-content table tbody tr .c-fmlnet__item-view{
  &:before{
    content: "\e900";
    font-family: 'icomoon';
    font-size: 13px;
    color: #cbbeb1;
  }
}
.datatables-content table thead tr th{
  padding: 10px 20px 10px 10px;
  text-align: left;
  background-color: #3060a4; 
  color:white;
  text-transform: uppercase;
  font-family: RobotoMedium;
  font-weight: 500;
}
.datatables-content table  thead th.sorting, .datatables-content table  thead td.sorting{
  padding: 10px 20px 10px 10px;
  text-align: left;
  background-color: #3060a4;
  color:white;
  text-transform: uppercase;
  font-family: RobotoMedium;
  font-weight: 500;
  font-size: 12px;
  cursor: pointer;
  &:before, &:after{
    border: 4px solid transparent;
    content: "";
    display: block;
    height: 0;
    right: 10px;
    top: 50%;
    position: absolute;
    width: 0;
  }
  &:before{
    border-bottom-color: #fff;
    margin-top: -9px;
  }
  &:after{
    border-top-color: #fff;
    margin-top: 1px;
  }

  &.sorting_asc{
    &:before{
      border-bottom-color: #d0d0d0;
      margin-top: -9px;
    }
    &:after{
      border-top-color: #666;
      margin-top: 1px;
    }
  }
  &.sorting_desc{
    &:before{
      border-bottom-color: #666;
      margin-top: -9px;
    }
    &:after{
      border-top-color: #d0d0d0;
      margin-top: 1px;
    }
  }
}



.datatables-content .dataTables_info {
  display: none;
}




.datatables-content .nav-tabs .nav-link.active {
  border-color: transparent;
  border-bottom: 6px solid get-color("secondary") !important;
  color: #333333;
}

.datatables-content .dataTables_wrapper .dataTables_length {
  float: right;
  margin-right: 10px;
  margin-top: 14px;
}
.datatables-content .dataTables_wrapper .dataTables_length select {
  width: 60px;
  height: 24px;
  line-height: 24px;
  border: 1px solid #dae2e6;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  display: block;
  padding-right: 20px;
  background-position: calc(100% - 9px) 50%;
  background-size: 11px;
}

.datatables-content table thead tr th{
  text-align: left;
}
.datatables-content table thead tr th, .datatables-content table thead tr td {
  font-size: rem(14);
  font-family: $fontFamily_roboto-bold;
  border-bottom: 1px solid rgba($black, 0.1);
  position: relative;

}
.datatables-content table tbody tr td {
  font-size: rem(13);
  font-family: $fontFamily_roboto-light;
  vertical-align: middle;
  padding: 16px 10px!important;
  //border: 1px solid #e6e6e6;
}

.datatables-content table tbody tr td label, .datatables-content table thead tr th label{
  padding: 0;
}

.datatables-content table tbody tr td label input[type="radio"]:checked + span:before, .datatables-content table thead tr td label input[type="radio"]:checked + span:before{
  content: "\EA1F";
}

.dataTable-actions_content{

  padding-bottom: 20px;
  //margin-top: rem(-90);
}
.dataTable-actions_search{
  //display: inline-block;
  vertical-align: middle;
  position: relative;
  .field{
    position: relative;
    display: inline-block;
    input{
      height: 40px;
      min-width: 450px;
      padding-right: 90px;
    }

  }
  .c-input_search{

  }
  .button_search{
    /*position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;*/
    position: absolute;
    right: 0;
    top: 0;
    /* -webkit-transform: translateY(-50%); */
    -moz-transform: translateY(-50%);
    /* transform: translateY(-50%); */
    height: 100%;
    button{
     /* background: transparent;
      border: none;
      font-size: rem(17);
      cursor: pointer;*/
      background: transparent;
      border: none;
      font-size: 1.0625rem;
      cursor: pointer;
      position: absolute;
      right: 0;
      top: 0;
      /* -webkit-transform: translateY(-50%); */
      -moz-transform: translateY(-50%);
      /* transform: translateY(-50%); */
      height: 100%;
      background: get-color("primary");
      border-radius: 50px;
      min-width: 60px;
      color: white;
      i{
        margin-top: 5px;
        display: inline-block;
      }

    }
  }
  .button_reset{
    position: absolute;
    right: 63px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    /* height: 20px; */
    opacity: 0.8;
    button{
      background: transparent;
      border: none;
      font-size: rem(11);
      cursor: pointer;

    }
  }

}
.dataTable-actions_cta{
  display: inline-block;
  vertical-align: middle;
  margin-left: rem(20);
  .button{
    margin-bottom: 0;
  }
}



div {
  .pagebanner {
    font-size: rem(15);
    color: $color-primary;
    padding: rem(10) 0;
    display: block;
  }

  .limiter {
    width: 100%;
    margin: 0 auto;
  }

  .container-table100 {
    width: 100%;
    min-height: 100vh;
    background: #c850c0;
    background: -webkit-linear-gradient(45deg, #4158d0, #c850c0);
    background: -o-linear-gradient(45deg, #4158d0, #c850c0);
    background: -moz-linear-gradient(45deg, #4158d0, #c850c0);
    background: linear-gradient(45deg, #4158d0, #c850c0);

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
  }

  .wrap-table100 {
    width: 1170px;
  }

  table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    //overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }

  table * {
    //position: relative;
  }

  table td, table th {
    padding-left: 8px;

  }

  table thead tr {
    //height: 60px;
    background: $color-tertiary;
  }

  table tbody tr {
    //height: 50px;
    &.toggle-row td {
      padding: 0!important;
    }
    &.actived-row{
      box-shadow: $panel-box-shadow;
      background-color: #f5f5f5;
      .js-toggle-row{
        transform: rotateZ(180deg);
        color: get-color('secondary');

      }
      + tr{
       .sub-table-wrap{
         box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.1);
         display: block;
       }
      }
      td{
       // color: get-color('primary');
        font-weight: bold;
      }

    }
  }

  table tbody tr:last-child {
    border: 0;
  }

  table th {
    font-size: rem(15);
    padding: rem(15);
    background: #fff;
    vertical-align: middle;

    &.sortable {
      background: $color-tertiary;



      &.sorted {
        a {

          &:after {
            content: "\EA01";

          }
        }

        &.order1 {
          a {

            &:after {
              content: "\EA04";

            }
          }
        }

        &.order2 {
          a {

            &:after {
              content: "\EA01";

            }
          }

        }
      }

      &.sorted, &:hover {
        background: $color-quaternary;


      }
    }

  }

  table tr {
    &:last-child {
      padding-bottom: 0;
    }
  }

  table > tbody > tr > td.head {
    padding: 0;
    border: 0;
  }

  table td {
    &.datatable_actions{
      text-align: center;
        a{
          display: inline-block;
          &:last-child{
            margin-right: 0;
          }
          &.js-toggle-row{
            &.active {
              transform: rotateZ(180deg);
              color: get-color('secondary');
            }
          }
        }
    }
    padding: rem(10);
    //border: 1px solid $color-tertiary;
    position: relative;

    @include bp-lt(850px) {
      &:last-child {
        border-bottom: 0;
      }
      padding-left: 45%;
      border: 0;
      border-bottom: 1px solid #c6d9e7;
      /* padding-bottom: 10px; */
      margin-bottom: 7px;

      &:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
        width: 40%;
        padding-right: 10px;
        //white-space: nowrap;
        /* Label the data */
        content: attr(data-column);

        color: #000;
        font-weight: bold;

      }
    }

    a, .actionLien {
      font-size: rem(18);
      margin-right: 15px;
      @include bp-lt(850px) {
        display: inline-block;
        // padding-left: rem(10);
        max-width: none;

        font-size: rem(20) !important;

      }

      i {
        &.c-fmlnet__visibility-on{
          top: rem(2);
          display: inline-block;
        }

      }
    }
  }

  table td, table th {

   // text-align: left;

    color: $black;
  }

  table td.l, table th.l {
    text-align: right;
  }

  table td.c, table th.c {
    text-align: center;
  }

  table td.r, table th.r {
    text-align: center;
  }

  .table100-head th {
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset;
  }

  tbody tr:nth-child(even) {
  //  background-color: #f5f5f5;

    td {
      @include bp-lt(850px) {

        padding-left: 37%;
        padding-right: 10px;
        &:before {
          left: rem(8);
        }
      }
    }
  }

  tbody tr {
    font-size: 15px;
    color: #808080;
    line-height: 1.2;
    font-weight: unset;
    border:1px solid #f5f5f5;
    transition: $ease;
  }

  tbody tr:hover , tbody tr:focus-within, tbody tr.focused  {
    color: #555555;
    background-color: #F6F9FD;
  }
  tbody tr{
    &.focused{
      background-color: #F6F9FD;
      box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
      td{
        font-size: rem(14);
        font-weight: 700;
      }
    }
  }

  .column1 {
    width: 260px;
    padding-left: 40px;
  }

  .column2 {
    width: 160px;
  }

  .column3 {
    width: 245px;
  }

  .column4 {
    width: 110px;
    text-align: right;
  }

  .column5 {
    width: 170px;
    text-align: right;
  }

  .column6 {
    width: 222px;
    text-align: right;
    padding-right: 62px;
  }

}
/*
@media screen and (max-width: 850px) {
  main {
    table {
      display: block;
    }

    table > *, table tr, table td, table th {
      display: block;
    }

    table thead {
      display: none;
    }

    table tbody tr {
      height: auto;
      //padding: 25px 0;
    }

    table tbody tr td {
      //padding-left: 40% !important;
      //margin-bottom: 24px;
    }

    table tbody tr td:last-child {
      margin-bottom: 0;
    }

    table tbody tr td:before {
    }

    table tbody tr td:nth-child(1):before {
    }

    table tbody tr td:nth-child(2):before {
    }

    table tbody tr td:nth-child(3):before {
    }

    table tbody tr td:nth-child(4):before {
    }

    table tbody tr td:nth-child(5):before {
    }

    table tbody tr td:nth-child(6):before {
    }

    .column4,
    .column5,
    .column6 {
      text-align: left;
    }

    .column4,
    .column5,
    .column6,
    .column1,
    .column2,
    .column3 {
      width: 100%;
    }

    tbody tr {
      font-size: 14px;
    }
  }

}

@media (max-width: 576px) {
  .container-table100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}
*/
.page__inner_sec-_datatablelist table tbody tr td a {
  font-size: 14px;
  max-width: none
}

.page__inner_sec-_datatablelist table tbody tr td a.actionLien {
  font-size: 20px;
}



.sub-table-wrap {
  display: none;
  background: #fff;
  padding: rem(20) 0;
}
.sub-table-wrap-show{
  display: block;

  @include animation('displayNoneToFadeIn .4s 1');
  .full-sub-table{
    padding: rem(20) 0;
  }
}
.editable-table__footer{
  background: #F8F8F8;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
  table{
    box-shadow: none;
  }
  >td{
    padding: 0;
  }
  td{
    background: #F8F8F8;
    font-family: $fontFamily_robotoCondensed-bold!important;
    font-size: rem(16)!important;
    color: rgba(0,0,0,0.6);
    i.c-fmlnet__mad{
      font-size: rem(11)!important;
      margin-left: 5px;
    }
  }
  tr{
    border-bottom: rem(1) solid rgba(0,0,0,0.2);
    &:last-child{
      border-bottom: 0;
    }
  }

}

.editable-table_add-row{
  background: white!important;
  td{
    box-shadow: inset -1px -1px 7px 0px rgba(0, 0, 0, 0.16);
  }
  &:hover{
    background: white;
  }
  .button{
    margin: 0;
  }
}

.embded-toggled_content{
  &:hover, &:focus, &:active{
    .embded-toggled_form{

      display: block;
      @include animation('displayNoneToFadeIn .4s 1');
      transform: translate3d(-50%, 0.1rem, 0);
    }
  }
  button{

  }
}
.embded-toggled_form{
  text-align: left;
  width: calc(100% - 20px);
  display: block;
  position: absolute;
  z-index: 99;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  background: white;
  display: none;
  margin-top: rem(10);
  box-shadow: $panel-box-shadow;
  table{
    tr{
      border: 0!important;
      background: #FCFCFC!important;
      th {
        padding: 15px 10px;
      }
      td, th{

        background: #FCFCFC!important;
        border: 0!important;
      }
    }
  }
}