$pink: #e91e63;
$paper: #efefef;
$clouds: #ecf0f1;
$teal: #009688;
$yellow: #ffeb3b;
$cubic: cubic-bezier(.64,.09,.08,1);

.info {
  position: relative;
  color: $color-primary;
  display: inline-block;
  margin-left: rem(5);
  vertical-align: middle;
  font-size: 1.3125rem;
  .popup{
    display: none;

  }
}
.tooltip-container{
  display: inline-block;
}
[class*="tooltip--"], .tooltip {
  position: relative;
  color: $color-primary;
  display: inline-block;
  margin-left: rem(5);
  vertical-align: middle;
  line-height: 1.2;
  white-space: nowrap;
  max-width: 140px;

  .popup{
    display: none;

  }
  &:after {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    content: attr(data-tooltip);
    padding: 6px 10px;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%) translateY(-2px);
    background: get-color("secondary");
    color: white;
    //white-space: nowrap;
    z-index: 2;
    border-radius: 5px;
   // min-width: 200px;
    transition: opacity 0.2s $cubic, transform 0.2s $cubic;
    font-size: rem(12);
  }
  &:hover {
    &:after {
      display: block;
      opacity: 1;
      visibility: visible;
      transform: translateX(-50%) translateY(0);
    }
  }
}

.tooltip--left {
  &:after {
    top: -4px;
    left: 0;
    transform: translateX(-112%) translateY(0);
  }
  &:hover {
    &:after {
      transform: translateX(-110%) translateY(0);
    }
  }
}

.tooltip--right {
  &:after {
    top: -4px;
    left: 100%;
    transform: translateX(12%) translateY(0);
  }
  &:hover {
    &:after {
      transform: translateX(10%) translateY(0);
    }
  }
}

.tooltip--triangle {
  &:before {
    content: '';
    width: 0;
    height: 0;
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transform: translateX(-50%) translateY(-2px);
    top: 1.1em;
    left: 50%;
    transition: opacity 0.2s $cubic, transform 0.2s $cubic;
    z-index: 3;
  }
  &:hover {
    &:before {
      display: block;
      opacity: 1;
      visibility: visible;
      transform: translateX(-50%) translateY(0);
    }
  }
}