//- Generate icons
mixin button()
    .row.expanded
        each val, index in themes.mlnet
            each valIcon, indexIcon in val.icons
                        .large-2.medium-3.small-12.column
                            a.button.normal.hasicon_right.expanded(href='about.html')=valIcon.name
                                   i(class='c-fmlnet__' + valIcon.name + '')