//- Generate colors
mixin color()
    each val, index in themes.mlnet
        each valcolor, indexColor in val.colors
            each valColorP, indexP in valcolor
                .color-palette
                    .color-palette__block
                        h2=indexP
                        each valColorList in valColorP
                                .color-item
                                    svg.color-item__swatch(width='70px', height='70px')
                                        rect(x='0', y='0', width='70', height='70', fill=valColorList.hex)
                                    .color-item__label__container
                                        span= valColorList.hex
                                        span.color-item__label__rvb= valColorList.rgba






