//- Generate icons
mixin icon()
    .row.expanded
        each val, index in themes.mlnet
            each valIcon, indexIcon in val.icons
                        .large-3.medium-4.small-12
                            .icon-content
                                .icon-item.text-center
                                    div
                                        span.icon
                                            i(class='c-fmlnet__' + valIcon.name + '')
                                        .color-item__label__containe
                                            span
                                                i .c-fmlnet___
                                                i=valIcon.name