//- layout
extends ../layouts/_default

//- settings

append vars
    - var pageTitle = 'Typography'
    - var pageClass = 'home'
    - var selectedMenu = ''
    - var button = '<a href="about.html" class="button">Learn More</a>'
append body
    .page-content_header
        .container
            .page-content_inner
                h1.page-content_header__title Buttons

    .page-content_side
        .container
            .page-content_inner
                .typo-card_content
                        .docs-code-live

                            .docs-code-live
                                h2 Les bases
                                p Un bouton de base peut être créé avec un balisage minimal. Comme les boutons peuvent être utilisés à plusieurs fins, il est important d’utiliser la bonne étiquette.
                                ul
                                    li Utilisez la <code><a></a></code>balise si le bouton est un lien vers une autre page ou un lien vers une ancre dans une page. Généralement, les ancres ne nécessitent pas JavaScript pour fonctionner.
                                    li Utilisez la <code><button></code>balise si le bouton effectue une action qui modifie quelque chose sur la page en cours. <code><button></code>les éléments nécessitent presque toujours JavaScript pour fonctionner.

                                .row.columns.expanded
                                    a.button.hasicon_right(href='about.html') Learn More <i class="c-fmlnet__arrow--right"></i>
                                    a.button.secondary(href='#features') View All Features
                                    button.success.button(type='button') Save
                                    button.alert.button(type='button') Delete
                                .row.columns.expanded
                                    a.button.tiny(href='#') So Tiny
                                    a.button.small(href='#') So Small
                                    a.button(href='#') So Basic
                                    a.button.large(href='#') So Large
                                    a.button.expanded(href='#') Such Expand
                                    a.button.small.expanded(href='#') Wow, Small Expand
                                .row.columns.expanded
                                    a.button.small.small-only-expanded(href='#') Wow, Expand only on small viewport
                                    a.button.small.medium-only-expanded(href='#') Expand only on medium viewport
                                    a.button.small.large-only-expanded(href='#') Expand only on large viewport
                                    a.button.small.medium-expanded(href='#') Wow, Expand on medium and larger
                                    a.button.small.large-expanded(href='#') Expand on large and larger
                                    a.button.small.medium-down-expanded(href='#') Expand on medium and smaller
                                    a.button.small.large-down-expanded(href='#') Expand on large and smaller
                                .row.columns.expanded
                                    a.button.primary(href='#') Primary
                                    a.button.secondary(href='#') Secondary
                                    a.button.success(href='#') Success
                                    a.button.alert(href='#') Alert
                                    a.button.warning(href='#') Warning
                                .row.columns.expanded
                                    button.hollow.button(href='#') Primary
                                    button.hollow.button.secondary(href='#') Secondary
                                    button.hollow.button.success(href='#') Success
                                    button.hollow.button.alert(href='#') Alert
                                    button.hollow.button.warning(href='#') Warning
                                    button.hollow.button(href='#', disabled='') Disabled
                                .row.columns.expanded
                                    a.button.disabled(href='#', aria-disabled='') Disabled
                                    button.button.primary(type='button', disabled='') Disabled
                                    button.button.secondary(type='button', disabled='') Disabled
                                    button.button.success(type='button', disabled='') Disabled
                                    button.button.alert(type='button', disabled='') Disabled
                                    button.button.warning(type='button', disabled='') Disabled
                                .row.columns.expanded
                                    a.button.hollow.disabled(href='#', aria-disabled='') Disabled
                                    button.button.hollow.primary(type='button', disabled='') Disabled
                                    button.button.hollow.secondary(type='button', disabled='') Disabled
                                    button.button.hollow.success(type='button', disabled='') Disabled
                                    button.button.hollow.alert(type='button', disabled='') Disabled
                                    button.button.hollow.warning(type='button', disabled='') Disabled
                                .row.columns.expanded
                                    a.clear.button(href='#') Primary
                                    a.clear.button.secondary(href='#') Secondary
                                    a.clear.button.success(href='#') Success
                                    a.clear.button.alert(href='#') Alert
                                    a.clear.button.warning(href='#') Warning
                                    a.clear.button(href='#', disabled='') Disabled
                                .row.columns.expanded
                                    button.dropdown.button.tiny Dropdown Button
                                    button.dropdown.button.small Dropdown Button
                                    button.dropdown.button Dropdown Button
                                    button.dropdown.button.large Dropdown Button
                                    button.dropdown.button.expanded Dropdown Button
                                .row.columns.expanded
                                    .button-group
                                        a.button One
                                        a.button Two
                                        a.button Three
                                .row.columns.expanded
                                    .button-group
                                        a.secondary.button View
                                        a.success.button Edit
                                        a.warning.button Share
                                        a.alert.button Delete
                                .row.columns.expanded
                                    .expanded.button-group
                                        a.button Expanded
                                        a.button Button
                                        a.button Group
                                .row.columns.expanded
                                    .expanded.button-group
                                        a.button.secondary.hollow Expanded
                                        a.button.secondary.hollow Button
                                        a.button.secondary.hollow Group
                                .row.columns.expanded
                                    .button-group
                                        a.button Primary Action
                                        a.dropdown.button.arrow-only
                                            span.show-for-sr Show menu



                                .row.columns.expanded
                                    +button()











