//- layout
extends ../layouts/_default

//- settings

append vars
    - var pageTitle = 'Forms'
    - var pageClass = 'home'
    - var selectedMenu = ''
append body
    .page-content_header
        .container
            .page-content_inner
                .row.expanded
                        h1.page-content_header__title Forms
    .page-content_side
        .container
            .page-content_inner
                    .div(class="panel panel-default")
                        .panel-heading.panel-heading-divider
                            | Popup messages
                            span.panel-subtitle makes popup messages easy and pretty


                        .panel-body
                            <pre><code class="language-css">p { color: red }</code></pre>

                            .example
                                button#b1.button A basic message
                                button#b2.button A title with a text under
                                button#b3.button A success message!
                                button#b4.button A warning message, with a function attached to the "Confirm"-button...
                                button#b5.button ... and by passing a parameter, you can execute something else for "Cancel".
                                button#b6.button A message with a custom icon

                            a.button.hasicon_right.j-alert(data-type="" date-text="" date-title="" data-icon="") Learn More <i class="c-fmlnet__arrow--right"></i>
