// ========================================= //
// alerts
// ========================================= //`



$panel-box-shadow: 									0px 0px 10px 0px rgba(0,0,0,0.04);
$blue: #09C8FF;
$red: #FF4555;
$green: #39D7B3;
$yellow: #FFBA4B;

$text: #677b7a;

.ml-alert {
    &[data-close="false"]{
        span.alert-box_close{
            display: none!important;

        }
    }
    background: white;
    width: 100%;
    padding: 1rem;
    align-items: center;
    border-radius: rem(5);
    margin-bottom: 1rem;
    position: relative;
    box-shadow: 0px 5px 12px rgba(black, .04), 0px 12px 25px rgba(black, .07);
    animation: transitionIn 200ms ease forwards;
    transition: all 200ms ease;
    text-align: left;
    &.vcenter{
        width: auto;
        margin: auto;
        max-width: 600px;
    }
    &.alert-box--success {
        border-left: 5px solid get-color("success");
        span{

            color:get-color("success");
        }
        &:before{
            color: get-color("success");
            content:"\EA1F";
        }

    }
    &.alert-box--warning {
        border-left: 5px solid get-color("warning");
        span{

            color:get-color("warning");
        }
        &:before{
            color: get-color("warning");
            content:"\EAA7";
            font-size: rem(18);
        }
    }

    &.alert-box--infos {
        border-left: 5px solid get-color("infos");
        span{

            color:get-color("infos");
        }
        &:before{
            color: get-color("infos");
            content:"\EA60";
            font-size: rem(18);
        }
    }
    &.alert-box--danger {
        border-left: 3px solid get-color("alert");
        span{

            color:get-color("alert");
        }
        &:before{
            color: get-color("alert");
            content:"\EA27";
        }
    }
    &:before{
        display: inline-block;
        font-family: "mlnet__common";
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        float: left;
        font-size: rem(14);
        margin:rem(5) rem(20) 0 0;
    }
    ul.alert-box_content{
        padding-left: rem(25);
        padding-top: rem(15);
        font-size: rem(14);
        color: rgba($black, 0.7);
        margin-bottom: 0;
        margin-left: 10px;
        li{
            font-size: rem(13);
        }
    }
    span.alert-box_title{
        display: block;
        font-family: $fontFamily_robotoCondensed-regular;
        font-size: rem(20);
    }
    span.alert-box_close{
        position: absolute;
        right: rem(10);
        top: rem(10);
        color: rgba($black, 0.17);
        cursor: pointer;
        transition: $ease;
        &:hover{

            color: rgba($black, 0.5);
        }

    }
    &__message {
        color: $text;
    }
    &__close {
        $size: 1.3rem;
        width: $size;
        height: $size;
        line-height: $size;
        color: $text;
        text-align: center;
        position: absolute;
        top: .5rem;
        right: .5rem;
        cursor: pointer;
        border-radius: .4rem;
        &:hover, &:focus {
            background: rgba($text, .2);
        }
    }
    &__icon {
        margin-right: 1rem;
        $animation-time: 500ms;
        $size: 36px;
        width: $size;
        height: $size;
        animation: fade 500ms linear forwards;
    }
    &__icon-path {
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        stroke-width: 4px;
        animation: dash 1s ease forwards;
        &--type {
            animation-delay: 300ms;
            animation-duration:5s;
        }
    }

}


[class*='msg__alert']{
    @include clearfix;
    [class*='__close'] {
        position: absolute;
        right: rem(0);
        top: 50%;
        transform: translatey(-50%);
        width: rem(18);
        height: rem(18);
        opacity: .6;
        transition: $ease;

        &:hover {
            opacity: 1;
        }
        &:after{

            display: inline-block;
            font-family: "mlnet__common";
            font-style: normal;
            font-weight: 400;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: "\EA16";
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            font-size: rem(12);
            transition: $ease;
        }
    }
    [class*='__icon']{
        vertical-align: middle;
        padding-right: rem(10);
        &:before{

        }
    }
    [class*='__title']{

        position: relative;
        width: 100%;
        /*height: 2.5rem;*/
        padding : 10px 0;
        border-radius: rem(5);
        padding-left: rem(24);
        padding-right: rem(24);
        padding-right: rem(50);
        margin-top: rem(24);
        margin-bottom: rem(24);
        @include clearfix;
        @include alignBlockMiddle;
        font-size: rem(20);
        color: $white;
        @include bp-lt($xmedium){

            height: auto;
            padding: rem(5) rem(10);
        }
        &:before{

        }
    }
    [class*='__content']{
        margin: 0; list-style: none; padding: 0; color:#fff;
        ul{
            margin: 0;
        }
        &:before{

        }
    }

    &[class*='__alert'] {
        background: get-color("alert") ;
        [class*='__icon']{
            &:before{

            }
        }
        [class*='__title']{
            background: get-color("alert") ;
            &:before{

            }
        }
        [class*='__content']{
            &:before{

            }
        }
    }

    &[class*='__infos'] {
        [class*='__icon']{
            &:before{

            }
        }
        [class*='__title']{
            background: #37bce9 ;
            &:before{

            }
        }
        [class*='__content']{
            &:before{

            }
        }
    }


    &[class*='__warning'] {
        [class*='__icon']{
            &:before{

            }
        }
        [class*='__title']{
            background: #edae4d ;
            &:before{

            }
        }
        [class*='__content']{
            &:before{

            }
        }
    }
    &[class*='__error'] {
        [class*='__icon']{
            &:before{

            }
        }
        [class*='__title']{
            background: #f85d59 ;
            &:before{

            }
        }
        [class*='__content']{
            color: #fff;
            &:before{

            }
        }
    }
}
[class*='o-alert'] {
    position: relative;
    width: 100%;
 //  height: rem(60);
    border-radius: rem(5);
    padding-left: rem(24);
    padding-right: rem(24);
    padding-right: rem(50);
    margin-top: rem(24);
    margin-bottom: rem(24);
    @include clearfix;
    @include alignBlockMiddle;

    @include bp-lt($tablet) {
        min-height: rem(60);
        height: auto;
        padding-top: rem(16);
        padding-bottom: rem(12);
    }

    span {
        display: inline-block;
    }

    .c-msg {
        font-family: $alert--fontfamily;
    }

    [class*='c-fpca'] {
        position: relative;
        top: rem(2);
        margin-right: rem(14);
    }

    .c-fpca__icon--error,
    .c-fpca__icon--success,
    .c-fpca__icon--info {
        @include bp-lt($small) {
            display: none;
        }
    }

    .c-close {
        position: absolute;
        right: rem(24);
        top: 50%;
        transform: translatey(-50%);
        width: rem(18);
        height: rem(18);
        opacity: .6;
        transition: $ease;

        &:hover {
            opacity: 1;
        }
    }

    &[class*='--info'] {
        background: $info;
        border: solid 1px darken($info, 10%);

        &, .c-close {
            color: $alert--color--alt;
        }
    }

    &[class*='--success'] {
        background: $success;
        border: solid 1px darken($success, 15%);

        &, .c-close {
            color: $alert--color;
        }
    }

    &[class*='--error'] {
        background: $error;
        border: solid 1px darken($error, 15%);

        &, .c-close {
            color: $alert--color;
        }
    }
}


.state-card{
     &_empty{
         padding: rem(20);
     }
    &_ico{

    }
    &_ttr{
        line-height: 2;
        color: get-color("secondary");
    }
    &_cta{

    }
}