// ========================================= //
// blocks
// ========================================= //
[class*='align']{
  display: block;
}
.align-right{
  text-align: right;
}
.align-center{
  text-align: center;
}
.align-left{
  text-align: left;
}

@media handheld, only screen and (max-width: 767px) {
  .align-right{
    text-align: inherit;
  }
  .align-center{
    text-align: inherit;
  }
}