// ========================================= //
// buttons
// ========================================= //
//Include Foundation button style
$button-font-family : $fontFamily_roboto-regular;
@include foundation-button;
@include foundation-button-group;
.button-group{
    .button{
        border-radius: 0;
        &:first-child{
            border-bottom-left-radius: $global-radius;
            border-top-left-radius: $global-radius;
        }
        &:last-child{
            border-bottom-right-radius: $global-radius;
            border-top-right-radius: $global-radius;
        }
    }
}

.button.alert{
    color: white;
    &:hover{
        color: white;
    }
}
.clear{
    background: none;
    border: none;
}
.button{
    $button-padding: 0.7em 1em;
    padding: $button-padding;
    >span, >i{
        line-height: 1.2;
    }
    margin-bottom: 0;
    @include bp-lt(1350px){
        $button-sizes: (
                tiny: 0.6rem,
                small: 0.75rem,
                default: 0.8rem,
                large: 1.25rem,
        );

        $button-padding: 0.7em 1em;
        padding: $button-padding;
        font-size: map-get($button-sizes, default);
    }

    &.normal{
        &:hover{
            //background: get-color("normalBtnHover");
        }
    }
    &.shadow{
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.09);
    }
    &.up{
      text-transform: uppercase;
    }
    &.button-icon{
        padding: rem(10);
    }
    &.trans-icon{
        background: transparent;
        color: $black;
        border: 0;
        padding: 0;
        i{
            &.secondary{
                background: get-color("secondary");
                color: white;
                width: rem(26);
                height: rem(26);
                line-height: rem(26);
                border-radius: 50%;
                text-align: center;
                vertical-align: baseline;
                &:before{
                    display: inline-block;
                    vertical-align: middle;
                    color: white;
                    font-size: rem(16);
                    margin-top: -2px;

                }
            }
        }
        &:hover{
            background: transparent;
        }
    }
}

.button{
    transition: $ease;
    background-color: $color__orange;
    border-radius: 5px;
    &.imprimer{
        background-color: #f7f8fc !important;
        border-color: #e8e9ec !important;
        color: #3b3836 !important;
        &:before{
            content: "\e927";
            font-family: 'icomoon';
            font-size: 11px;
            margin-right: 6px;
            position: relative;
            top: 1px;
        }
    }
    &.hasicon_right{
        &:after{
            content: "\e905";
            font-family: icomoon;
            font-size: 11px;
            margin-left: 6px;
            position: relative;
            top: 1px;
        }
    }
    &.primary{
       // color: $button-primary-color!important;
    }
    &.hollow, &.hollow.disabled, &.hollow.disabled:focus, &.hollow.disabled:hover, &.hollow:focus, &.hollow:hover, &.hollow[disabled], &.hollow[disabled]:focus, &.hollow[disabled]:hover {
        background-color: transparent!important;
    }
    &.secondary{
        color: $button-color-second;
        &:hover, &.disabled, &:focus{
            &:hover, &:focus{
                //color: $button-color-second;
            }
            //color: $button-color-second;
        }
        &:hover{
            color: $button-color-second;
        }
        &:focus{
            color: $button-color-second;

        }
    }
    >i{
        display: inline-block;
        vertical-align: middle;
        line-height: .1;
    }
    &[class*="hasicon"]{
        i{
            //font-size: rem(18);

           // color: initial;
        }
            display: inline-block;
        &[class*="_right"]{
            >i{
                margin-left: 10px;
            }
        }
        &[class*="_left"]{
            >i{
                margin-right: 10px;
            }
        }
    }

}

.c-action__gototop {
    position: fixed;
    bottom: rem($gototop--bottom);
    right: rem($gototop--right);
    display: block;
    width: rem($gototop--width);
    height: rem($gototop--width);
    background: $gototop--background;
    border: none;
    border-radius: $gototop--borderRadius;
    margin: 0;
    opacity: 0;
    transform: translateY(200%);
    //pointer-events: none;
    padding: 0;
    z-index: $zindex--fixed - 1;
    transition: $ease;
    @include breakpoint(small){

        bottom: rem(10);
    }
    &:before {
        display: block;
        width: 100%;
        line-height: rem($gototop--width - 2);
        font-family: $iconFontpca;
        content: "\EA0D";
        color: $white;
        text-align: center;
    }

    &.is-visible {
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0);
    }

    &:hover, &:focus, &:active {
        opacity: 1;
        background: $gototop--hover;
    }
}

input[type="submit"] {
    $button--height : 50;
    height: rem($button--height);
    text-align: center;
    line-height: rem($button--height);
    padding-left: rem($button--padding);
    padding-right: rem($button--padding);
    margin-left: rem($button--margin);
    margin-right: rem($button--margin);
    transition: $ease;
    cursor: pointer;
    //font-weight: 700;
    font-size: rem(18);
    text-transform: uppercase;
    position: relative;
    background: $button--background;
    color: $button--color;
    border: 0;
    border-radius: rem(5);
    border-bottom: 4px solid $color-tertiary;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.10);
    &[class*='--lrg']{
        height: rem($button--height-larg);
    }
}
[class*='c-button']{
    height: rem($button--height);
    text-align: center;
    line-height: rem($button--height);
    padding-left: rem($button--padding);
    padding-right: rem($button--padding);
    margin-left: rem($button--margin);
    margin-right: rem($button--margin);
    transition: $ease;
    cursor: pointer;
    //letter-spacing: 1px;
    //font-weight: 700;
    font-size: rem(16);
    text-transform: uppercase;
    position: relative;
    font-weight: 500;

    @include bp-lt($xmedium){
        font-size: rem(16);
        letter-spacing: 0px;
        width: 100%;
        margin-bottom: rem(10);
    }
    &[class*='--lrg']{
        height: rem($button--height-larg);
    }
    &[class*='--main'] {
        background: $button--background;
        color: $button--color;
        border: 0;
        border-radius: rem(5);
        border-bottom: 4px solid $color-tertiary;
        text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.10);
        &:hover {
            background: $button--background--hover;
            color: $button--color--hover;
            border-color: $button--border--color--hover;
        }

        &[class*='--submit'], &[class*='--alt'] {
            &:after{
                display: inline-block;
                font-family: $iconFontpca;
                content: '\EA29';
                color: $white;
                text-align: center;
                font-size: rem(25);
                top: 0;
                transition: $ease--long;
                vertical-align: middle;
                margin-left: rem(15);
            }
            &:hover{
                &:after{
                    margin-left: rem(18);
                }
            }
        }
     &[class*='--alt'] {

         &:after{
             color: $black;
         }
     }
    }
    &[class*='--sec']{
        background: rgba(255,255,255,1);
        color: $color-primary;
        border: 1px solid $color-primary;
        font-size: rem(15);
        border-radius: rem(5);
        font-weight: bold;
        &:before{
            display: inline-block;
            font-family: $iconFontpca;
            content: '\EA29';
            text-align: center;
            font-size: rem(18);
            top: 0;
            transition: $ease--long;
            vertical-align: bottom;
            margin-right: rem(15);
        }
        &[class*='print']{
            &:before{
                content: "\EA0E";

            }
        }
        &[class*='save']{
            &:before{
                content: "\EA27";

            }
        }
        &[class*='back']{
            &:before{
                content: "\EA26";

            }

        }

        &:hover{

            background: #c6d9e7;
            color: $color-primary;
            border: 1px solid transparent;
        }
    }

    &[class*='--alt'] {
        background: $button--background--alt;
        color: $button--color--alt;
        border: $button--border--type rem($button--border--width) $button--border--color--alt;


        &:hover {
            background: $button--border--color--alt--hover;
            color: $button--color--alt--hover;
            border-color: $button--background--alt--hover;
        }
    }
}

input[type="button"], input[type="submit"]{
    height: rem($button--height);
    text-align: center;
    line-height: rem($button--height);
    padding-left: rem($button--padding);
    padding-right: rem($button--padding);
    margin-left: rem($button--margin);
    margin-right: rem($button--margin);
    transition: $ease;
    cursor: pointer;
    //letter-spacing: 1px;
    //font-weight: 700;
    font-size: rem(16);
    text-transform: uppercase;
    position: relative;
    font-weight: 500;
    background: $button--background;
    color: $button--color;
    border: 0;
    border-radius: rem(5);
    border-bottom: 4px solid $color-tertiary;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.10);
    &:hover {
        background: $button--background--hover;
        color: $button--color--hover;
        border-color: $button--border--color--hover;
    }

    &[class*='--submit'] {
        &:after{
            display: inline-block;
            font-family: $iconFontpca;
            content: '\EA29';
            color: $white;
            text-align: center;
            font-size: rem(25);
            top: 0;
            transition: $ease--long;
            vertical-align: middle;
            margin-left: rem(15);
        }
        &:hover{
            &:after{
                margin-left: rem(18);
            }
        }
    }
}
select::-ms-expand {
    display: none;
}
/** Force up and down arrow for number input */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
   opacity: 1;
}

/**   **************  */

.number-input {
  border: 1px solid #dee2e8;
  display: inline-flex;
  border-radius: 6px;
  input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  
}

.number-input,
.number-input * {
  box-sizing: border-box;
}

.number-input button {
  outline:none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  margin: 0;
  position: relative;
  top: 4px !important;
  transform: none !important;
  margin: 0 5px;
}

.number-input button:before {
    content:"-";
}
.number-input button.plus:before {
    content:"+";
}

.number-input input[type=number] {
    border: 0;
    text-align: center;
    max-width: 39px;
    height: 33px;
    padding: 0 2px;
}
.inputrange{
    height: 100px;display: flex;justify-content: center;
    position: relative;
    z-index: 2;
    .noUi-pips-horizontal{
        top:50px;
        left: 0px;
        z-index: 0;
        pointer-events: none;
        &:before{
            content: "";
            width: 100%;
            height: 11px;
            position: absolute;
            top: -3px;
            background: transparent;
            border: 1px solid #e4e4e4;
            border-radius: 50px;
            left: 0;
            right: 0;
            pointer-events: none;
        }
        .noUi-value-large{
            &:first-child{
                left:2% !important;
            }
            &:before{
                content: "";
                background: #AAA;
                height: 7px;
                width: 1px;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                position: absolute;
                top: -17px;
                left: 5px;            
            }
        }
    }
}
$slider-width-number: 230;
$slider-width: 100%;
$slider-height: 12px;
$slider-border-width: 1px !default;
$slider-border-color: transparent !default;
$background-slider: #f7f8fc;
$background-filled-slider: #e7893e;
$thumb-width: 28px;
$thumb-height: 28px;
$thumb-radius: 50%;
$thumb-background: #fff;
$thumb-border: 1px solid #e8e9ec;
$shadow-size: -12px;
$fit-thumb-in-slider: -13px;

@function makelongshadow($color, $size) {
  $val: 0px 0 0 $size $color;
  @for $i from 6 through 820{
    $val: #{$val}, #{$i}px 0 0 $size #{$color};
  }
  @return $val;
}

input[type="range"] {
  appearance: none;
  background: none;
  position: relative;
  z-index: 1;
    background: transparent;
  cursor: pointer;
  display: inline-block;
  height: 100%;
  min-height: 50px;
  overflow: hidden;
  width: $slider-width;

  &:focus {
    box-shadow: none;
    outline: none;
  }
  
  &::-webkit-slider-runnable-track {
    background: #e7893e;
    content: '';
    height: $slider-height;
    pointer-events: none;
    border: $slider-border-width solid $slider-border-color;
    height:7px;
    border-radius: 50px;
  }
  
  &::-webkit-slider-thumb {
    width:32px;height:32px;
    appearance: none;
    background: $thumb-background;
    border-radius: $thumb-radius;
    border:9px solid #13539b !important;
    box-shadow: makelongshadow($background-slider, $shadow-size);
    margin-top: $fit-thumb-in-slider;
    position: relative;
  }
  
  
  &::-moz-range-track {
    width: $slider-width;
    height: $slider-height;
  }

  &::-moz-range-thumb {
    width:28px;height:28px;
    background: $thumb-background;
    border-radius: $thumb-radius;
    border: $thumb-border;
    position: relative;
  }

  &::-moz-range-progress {
    height: $slider-height;
    background: $background-filled-slider;
    border: 0;
    margin-top: 0;
  }

  &::-ms-track {
    background: transparent;
    border: 0;
    border-color: transparent;
    border-radius: 0;
    border-width: 0;
    color: transparent;
    height: $slider-height;
    margin-top: 10px;
    width: $slider-width;
  }
  
  &::-ms-thumb {
    width:28px;height:28px;
    background: $thumb-background;
    border-radius: $thumb-radius;
    border: $thumb-border;
  }

  &::-ms-fill-lower {
    background: $background-filled-slider;
    border-radius: 0;
  }

  &::-ms-fill-upper {
    background: $background-slider;
    border-radius: 0;
  }

  &::-ms-tooltip {
    display: none;
  }
}
  
