// ========================================= //
// inputs
// ========================================= //

[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
textarea,
select{
    width: 100%;
    border: solid;
    border-color: #dee2e8;
    border-width: #{$input--border--width}px;
    height: rem($input--height);
    padding: $input--padding;
    background-color: $input--background;
    border-radius: 6px;
    font-size: $input--fontSize;
    @include placeholder-color(rgba(0,0,0,0.6), $input--fontSize);
    transition: $ease--fast;
    box-shadow: 0 1px 2px 0 rgba(219, 220, 222, 0.5);
    &[disabled],
    &[readonly]
    {
        background-color: $input--background_disabled;
        opacity: 1;
    }
    &.success{
        border-color: get-color('success');
    }

    &.primary{
        border-color: get-color('primary');
    }
    &.secondary{
        border-color: get-color('secondary');
    }

    &.warning{
        border-color: get-color('warning');
    }
    &.error{
        border-color: get-color('alert');
    }
    &:focus{

        $shadow: 0 3px 1px rgba(0,0,0,.075), 0 0 6px lighten($input--border--color, 30%);
        @include boxShadow($shadow)

    }

    //Input sizing
    &.input-lg{
        height:  rem($input-height-large);
    }

    &.input-sm{
        height:  rem($input-height-small);
    }

    &.input-xs{
        height: rem($input-height-extra-small);
    }
    &.small{

    }
    &.noexpanded{
        width: auto;
        min-width: 300px;
    }
}
.select2{
    text-align: left;
    width: 100%;
    min-width: rem(300);
    border: solid;
    border-color: $input--border--color;
    border-width: #{$input--border--width}px;
    height: rem($input--height);
    line-height: rem($input--height);
    padding: $input--padding;
    background-color: $input--background;
    border-radius: 20px;
    font-size: $input--fontSize;
    @include placeholder-color(rgba(0,0,0,0.6), $input--fontSize);
    transition: $ease--fast;
    &.select2-container--disabled{
        background-color: #eeeeee;
    }
    &.select2-container--open{
       // border-bottom-left-radius: 0;
       // border-bottom-right-radius: 0;
        .select2-selection--single .select2-selection__arrow:before{
            transform: rotateZ(180deg);
        }
    }
        .select2-selection--single{
           // height: rem($input--height);
            border:0;
            background: transparent;


    }
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: rem($input--height);
}
.select2-container--open .select2-dropdown--below {
    border-top: none;

    border-radius: 20px;
    overflow: hidden;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
    /* border-color: #888 transparent transparent transparent; */
    /* border-style: solid; */
    border: none;
    display: none;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    right: rem(8);
    &:before{

        content: "\EA20";
        display: inline-block;
        font-family: "mlnet__common";
        font-style: normal;
        font-weight: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transition: $ease;
        opacity:0.5;
    }
}


.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #aaa;
    padding: 0 20px;
}

.select2-search--dropdown{
    &:after{
        content: "\EA8B";
        display: inline-block;
        font-family: "mlnet__common";
        font-style: normal;
        font-weight: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        right: 15px;
        top: 16px;
        /* -webkit-transform: translateY(-50%); */
        -moz-transform: translateY(-50%);
        /* transform: translateY(-50%); */
        height: 20px;
        font-size: 14px;
    }
}
.select2-results{
    font-size: $input--fontSize;
    text-transform: uppercase;
}
.select2-container--default .select2-results__group{
    font-weight: 700;
    font-family: $fontFamily_robotoCondensed-regular;
    color: get-color("primary");
}
.select2-container--open .select2-dropdown--above {
    border:1px solid #D9D4D4;
    border-radius: 20px;
    overflow: hidden;
}
.select2-container--default .select2-results__option[aria-selected=true] {
    /* background-color: #ddd; */
    background-color: get-color("primary");
    color: white;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: get-color("primary");
    color: white;
}
.select2-dropdown{

    border: #{$input--border--width}px solid  $input--border--color!important;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.success {
    @include formValidation(get-color('success'), get-color('success'), get-color('success'));
}

.warning {
    @include formValidation(get-color('warning'), get-color('warning'), get-color('warning'));
}

.error {
    @include formValidation(get-color('alert'), get-color('alert'), get-color('alert'));
}


[id*="-error"]{
    font-size: 0.7rem;
    color: get-color('alert');
    display: block;
    text-align: left;
    padding: 5px 0px 0 8px;
}

.error{
    [type='text'],
    [type='password'],
    [type='date'],
    [type='datetime'],
    [type='datetime-local'],
    [type='month'],
    [type='week'],
    [type='email'],
    [type='number'],
    [type='search'],
    [type='tel'],
    [type='time'],
    [type='url'],
    [type='color'],
    textarea,
    select{
        border-color: get-color('alert');

    }
    label{

        color: get-color('alert') !important;
    }
}

.valide{
    [type='text'],
    [type='password'],
    [type='date'],
    [type='datetime'],
    [type='datetime-local'],
    [type='month'],
    [type='week'],
    [type='email'],
    [type='number'],
    [type='search'],
    [type='tel'],
    [type='time'],
    [type='url'],
    [type='color'],
    textarea,
    select{

    }
    label{
    }
}

.count-textarea{
    font-size: rem(11);
    font-family: $fontFamily_robotoCondensed-light;

}
.f-inline{
    display: inline-block;
}
.c-input__holder{
    &.inline{
        label{
            display: inline-block;
            max-width: 130px;
            padding-right: rem(10);
            vertical-align: middle;
            & + div {
                display: inline-block;
                width: calc(100% - 140px);
            }
        }

    }
    &.success{

    }
}
.row{
    >div{
        label{

            padding-right: rem(10);
            line-height: rem(40);
            vertical-align: middle;
            margin: 0;
            padding-bottom: 0;
        }
    }
}
span.required{
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiI+PHBhdGggZmlsbD0iI2ZmNDk0OSIgIGQ9Ik0wLDcuNTYybDEuMTE0LTMuNDM4YzIuNTY1LDAuOTA2LDQuNDMsMS42ODgsNS41OSwyLjM1QzYuMzk4LDMuNTUzLDYuMjM3LDEuNTQ0LDYuMjIsMC40NDdoMy41MTEgYy0wLjA1LDEuNTk3LTAuMjM0LDMuNi0wLjU1OCw2LjAwM2MxLjY2NC0wLjgzOCwzLjU2Ni0xLjYxMyw1LjcxNC0yLjMyNUwxNiw3LjU2MmMtMi4wNSwwLjY3OC00LjA2LDEuMTMxLTYuMDI4LDEuMzU2IGMwLjk4NCwwLjg1NiwyLjM3MiwyLjM4MSw0LjE2Niw0LjU3NWwtMi45MDYsMi4wNTljLTAuOTM1LTEuMjc0LTIuMDQxLTMuMDA5LTMuMzE2LTUuMjA2Yy0xLjE5NCwyLjI3NS0yLjI0NCw0LjAxMy0zLjE0Nyw1LjIwNiBsLTIuODU2LTIuMDU5YzEuODcyLTIuMzA3LDMuMjExLTMuODMyLDQuMDE3LTQuNTc1QzMuODQ5LDguNTE2LDEuODcyLDguMDYyLDAsNy41NjIiLz48L3N2Zz4=);
    content: '';
    vertical-align: middle;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 6px 6px;
    width: 6px;
    height: 6px;
    margin: 0 .5em;
    text-indent: -30000px;
}
textarea {
    height: rem($input--height * 4);
    border-radius: $textarea--raduis;
    padding: $textarea--padding;
}

select {
    appearance: none;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhbHF1ZV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDEyIDEyIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxMiAxMjsiIHhtbDpzcGFjZT0icHJlc2VydmUiPjx0aXRsZT5jaGV2cm9uLS1kb3duPC90aXRsZT48ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz48cG9seWdvbiBpZD0iY2hldnJvbiIgcG9pbnRzPSI2LDguNiAxMS4zLDMgMTIsMy43IDYsMTAgMCwzLjcgMC43LDMgIi8+PC9zdmc+);
    background-repeat: no-repeat;
    background-color: $input--background;
    background-position: top #{$input--height / 2 - 7}px right 14px;
    background-size: #{$input--height / 2 - 4}px;
    min-width: rem(85);
    padding-right: 40px;
    &.inline{
        display: inline-block;
        width: auto;
        margin: 0 rem(5);
    }
    &.small{
        height: rem(($input--height/2)+5);
        display: inline-block;
        padding: 0 25px 0 10px;
        background-position: calc(100% - 9px) 50%;
        background-size: 11px;
        font-size: 12px;
    }
    &.select-sm{
        background-position: calc(100% - 10px) 50%;
        background-size: 11px;
        height:  rem($input-height-small);
        padding-right: 24px;
    }
}

.c-checkbox,
.c-radio {

    &.inline{
        display: inline-block;
        @include bp-lt($small) {

            display: block;
        }

        & + & {
            margin-left: 18px;
            @include bp-lt($small) {
                margin-left: 0px;
                margin-bottom: rem(5);
            }
        }
    }
}

.floating{
    position: relative;
    margin: rem(10) 0;
    label{
        position: absolute;
        left: 0;
        top: 0;
        z-index: 3;
        color: $color__gray;
        height: rem($input--height);
        line-height:  rem($input--height);
        padding: 0 rem(20);
        border-radius: $input--raduis;
        float: left;
        transition: $ease;
        font-size: rem(14);
        font-weight: 500;
        font-family: 'Barlow';
    }
    .c-form__item{
        vertical-align: middle;
    }
    input{
        &.error{
            + label{
                padding-left: 0;
                transform: translate3d(0, -30px, 0) scale(.8);
                color: get-color('alert') !important;
                background: transparent;
                + {
                    color: get-color('alert');
                }
            }

        }
        &:focus{
            + label{
                padding-left: 0;
                transform: translate3d(0, -30px, 0) scale(.8);
                color: darken(get-color('primary'),20%);
                background: transparent;
            }
        }
        &:valid, &:-webkit-autofill{
            + label{
                padding-left: 0;
                color: black;
                transform: translate3d(0, -30px, 0) scale(.8);
                background: transparent;
            }
        }

    }
}

.c-input__holder {
    position: relative;
    width: 100%;
    margin-bottom: rem($input--margin);


}
.c-label,
label {
    color: $label--color;
    font-family:"Barlow";
    font-size: $label--fontsize;
    font-weight: $label--fontweight;
    padding-bottom: rem(10);
    display: block;
    font-weight: 500;
}

.c-label {
    margin-bottom: rem($input--margin / 2);
    font-family: $clabel--fontfamily;
    font-size: $clabel--fontsize;
}

.c-checkbox,
.c-radio {
    margin-bottom: rem($input--margin / 4);

}
input[type="radio"] {
    &:checked, &:not(:checked) {
        & + span {
            &:before {

            }
        }
    }


}
input[type="checkbox"],
input[type="radio"] {
    //Validation states
    &.has-bg{

        &.has-secondary{

            &:checked {
                & + span:before {
                    color: $white;
                    border-color: get-color('secondary');
                    background-color: get-color('secondary');
                }
            }
        }
        &.has-primary{

            &:checked {
                & + span:before {
                    color: $white;
                    border-color: get-color('primary');
                    background-color: get-color('primary');
                }
            }
        }
        &.has-success{

            &:checked {
                & + span:before {
                    color: $white;
                    border-color: get-color('success');
                    background-color: get-color('success');
                }
            }
        }

        &.has-warning{

            &:checked {
                & + span:before {
                    color: $white;
                    border-color: get-color('warning');
                    background-color: get-color('warning');
                }
            }
        }

        &.has-alert{

            &:checked {
                & + span:before {
                    color: $white;
                    border-color: get-color('alert');
                    background-color: get-color('alert');
                }
            }
        }
    }
    &:checked{
        & + span{
            font-weight:700
        }
    }
    &:checked, &:not(:checked) {
        position: absolute;
        left: rem(-9999);
        opacity: 0;
        pointer-events: none;
        &:disabled {
            & + span {
                opacity: $input-check-component-opacity_disabled;
            }
        }
        &.has-success{

            & + span {
               // color: get-color('success');
                &:before {
                    border-color: get-color('success');
                    color: get-color('success');
                }
                &:hover{
                    &:before {
                        border-color: get-color('success');
                    }
                }
            }
        }

        &.has-primary{

            & + span {
                //color: get-color('primary');
                &:before {
                    border-color: get-color('primary');
                    color: get-color('primary');
                }
                &:hover{
                    &:before {
                        border-color: get-color('primary');
                    }
                }
            }
        }
        &.has-secondary{

            & + span {
               // color: get-color('secondary');
                &:before {
                    border-color: get-color('secondary');
                    color: get-color('secondary');
                }
                &:hover{
                    &:before {
                        border-color: get-color('secondary');
                    }
                }
            }
        }

        &.has-warning{

            & + span {
              //  color: get-color('warning');
                &:before {
                    border-color: get-color('warning');
                    color: get-color('warning');
                }
                &:hover{
                    &:before {
                        border-color: get-color('warning');
                    }
                }
            }
        }

        &.has-alert{
            & + span {
               // color: get-color('alert');
                &:before {
                    border-color: get-color('alert');
                    color: get-color('alert');
                }
                &:hover{
                    &:before {
                        border-color: get-color('alert');
                    }
                }
            }
        }

        & + span {
           // width: 100%;
            margin-left: 0;
            margin-right: 0;
            position: relative;
            font-size: rem(15);
            color: $label--color;
            font-family: $label--fontfamily;
            display: inline-block;
            line-height: 25px;
            vertical-align: middle;
            &:hover{
                &:before {
                    border-color: $input-check-component-color_checked;
                }
            }

            @include bp-lt($medium) {
                font-size: rem(14);
            }

            @include bp-lt($small) {
                font-size: rem(13);
            }

            &:before {
                content: "";
                width: $input-check-component-size;
                height: $input-check-component-size;
                display: inline-block;
                border: $input-check-component-border;
                border-radius: $input-check-component-border-radius;
                margin-right: 6px;
                font-size: $input-check-component-size - 20px;
                font-family: $iconFontpca;
                font-weight: normal;
                line-height: $input-check-component-size - 3px;
                vertical-align: middle;
                text-align: center;
                background-color: $input--background;
                cursor: pointer;
                transition: $ease;

                @include bp-lt($medium) {
                    top: rem(3);
                }

                @include bp-lt($small) {
                    top: rem(2);
                }
            }

            &:after {
               // content: '';
                position: absolute;
                top: rem(5);
                left: rem(4);
                display: block;
                transition: $ease;

                @include bp-lt($medium) {
                    top: rem(7);
                }

                @include bp-lt($small) {
                    top: rem(6);
                }
            }
        }

        &:not(:checked) + span:after {
            opacity: 0;
            transform: scale(0);
            transition: $ease;
        }
    }
}

input[type="radio"] {
    display: inline-block;

    &:checked, &:not(:checked) {
        & + span:before {
            border-radius: 50%;

        }
    }

    &:checked {

        & + span:before {
            content: "\EAAD";
            font-size: $input-check-component-size - 15px;
            color: $input-check-component-color_checked;
            border-color: $input-check-component-color_checked;
        }
    }
}

input[type="checkbox"] {

    &:checked {

        & + span:before {
           content: "\EA1F";
            font-size: $input-check-component-size - 12px;
            color: $input-check-component-color_checked;
            border-color: $input-check-component-color_checked;
        }
    }
}
.c-form__item--file{
  input{
    border-style: dashed;
  }
    &.is-downloaded{
        input{
            border-color: get-color("success");
            color: get-color("success");
            @include placeholder-color(get-color("success"),rem(12));

        }
        .file-actions{
            right: 0;
            top: 0;
            text-align: right;
            float: right;
            margin-top: -40px;
            position: relative;
            z-index: 2;
            i{
                position: relative;
                line-height: 1.2;
                vertical-align: middle;
                top: 0;
                left: 0;
                transform: none;
            }
        }
        button{
            cursor: pointer;
            height: rem($input--height);
            line-height: rem($input--height);
            /* border-radius: 20px; */
            float: right;
            padding: 0 10px;
            margin-left: rem(1);
            background: get-color("success");
            color: white;
            >i{
                width: auto;
                height: auto;
                font-size: rem(16);
                &[class*="close"]{
                    font-size: rem(14);
                }
            }
            &:first-child{
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
            }
        }
    }
}
.c-form__item--file, .c-form__item--text, .c-form__item {
    position: relative;
    input{

    }

    &:after {
        font-family: $iconFontpca;
       // content: "\EA11";
        position: absolute;
        z-index: $zindex--background;
        top: 0;
        right:rem(5);
        display: block;
        font-size: rem(15);
        width: rem($input--height);
        height: rem($input--height);
        text-align: center;
        @include alignTextMiddle;
    }
    .ico-feedback, [class*="c-fmlnet"]{
        font-family: $iconFontpca;
        // content: "\EA11";
        position: absolute;
        top: 13px;
        right:rem(5);
        display: block;
        font-size: rem(14);
        width: rem($input--height);
       // height: rem($input--height);
        text-align: center;
       // transform: translateY(-50%);
        @include alignTextMiddle;
    }
    [class*="c-fmlnet__visibility-"]{
        cursor: pointer;
    }
}
.c-form__item--text, .c-form__item{
    &.hasicon{
        input, textarea{
            padding-right: $input--padding_icon;
        }
    }
}


.c-form__item--file{
    input[type="text"] {
        padding-right: rem($input--height);
        &[readonly]{
            background-color: $input--background;
        }
    }
}

.c-form__input--file {
    position: absolute;
    z-index: $zindex--content;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
}

input[type="file"] {
    cursor: pointer;
    opacity: 0;
    width: 100%;
    height: 100%;
}
.c-radio-group{
    &.align-center{
        text-align: center;
        padding-top: 0;
    }
    padding: rem(20) 0 rem(30);
    .c-radio{
        position: relative;
        label{

        }
        input[type="radio"], input[type="checkbox"]{

        }
    }
}
.linked-style{
    label{

    }
    input[type="radio"], input[type="checkbox"]{

    }
}
.inline-group{
    &.small{
        label{

            >span{
                line-height: 25px!important;
                font-size: rem(13);
            }
        }
    }

    .c-radio{
        display: inline-block;
        vertical-align: middle;
        /* margin: 0 15px; */
       // margin-right: -4px;
        margin-right: rem(15);
        &:last-child{
            margin-right: 0;
            label{
               // border-top-right-radius: 30px;
                //border-bottom-right-radius: 30px;
                //border-left-color:transparent ;
            }
        }
        &:first-child{
            label{
              //  border-right-color:transparent ;
               // border-top-left-radius: 30px;
                //border-bottom-left-radius: 30px;
            }
        }
    }
    label{

        >span{
            border-radius: 6px;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            cursor: pointer;
            background-color: $white;
            color: lighten($black, 20%);
            padding: 5px 20px;
            // border: 1px solid $input--border--color;
            border: 1px solid rgba(get-color('primary'), 0.3);
            line-height: 40px!important;
            font-size: rem(15);
            transition: $ease;
            &:before{
                display: none!important;

            }
            span{
                font-size: rem(12);
                color: get-color("primary");
                display: block;
            }
        }
        &:hover{

            >span{ background: rgba(get-color('primary'), 0.07);
                color: darken(get-color('primary'),20%);
                border: 1px solid rgba(get-color('primary'), 0.07);
                span{
                    color:get-color('primary');
                }
            }
        }

        input[type="radio"], input[type="checkbox"]{

            &:checked{
                + span{background: rgba(get-color('primary'), 0.07)!important;
                    color: darken(get-color('primary'),20%)!important;
                    border: 1px solid rgba(get-color('primary'), 0.07)!important; color:get-color('primary');
                    span{
                        color:get-color('primary');
                    }
                }
                + label{

                    >span{background: rgba(get-color('primary'), 0.07)!important;
                        color: darken(get-color('primary'),20%)!important;
                        border: 1px solid rgba(get-color('primary'), 0.07)!important; color:get-color('primary');
                        span{
                            color:get-color('primary');
                        }
                    }
                }
            }

        }
    }
}

.file-attchement{
    padding: 4px 10px;
    border-radius: $input--raduis;
    border: 1px solid lighten($black, 80%);
    display: inline-block;
    margin: rem(10) 0;
    >span{
        color: lighten($black, 50%);
        padding-right: rem(10);
        display: inline-block;
        vertical-align: middle;
    }
}