// ========================================= //
// links
// ========================================= //

a {

    @include link__default();
}

.o-link__underline {
    @include link__underline($black, $black, 1);
}

.o-link__box {
    //@include link__box(1, $black);
}
