// ========================================= //
// global
// ========================================= //

$fontEmbded             : false!default;
$img                    : '../assets/images/' !default;
$fonts                  : 'assets/fonts/' !default;
$fontsRoboto            : '../assets/fonts/Roboto/' !default;
$fontsRobotoCondensed   : '../assets/fonts/RobotoCondensed/' !default;
$bezierValue            : cubic-bezier(.7, 0, .175, 1);
$bezier                 : all .4s $bezierValue;
$ease                   : all .4s ease;
$ease--fast             : all .2s ease;
$ease--long             : all .6s ease;
$layoutWidth            : 90em !default;       //1440px
$gutter                 : rem(7);
