//--------------------
// CLASSIC COLORS
//--------------------

// UI BRAND Color

$color__brand_blue-10 :  #D0E3F5!default;
$color__brand_blue-20 :  #B9D6F0!default;
$color__brand_blue-30 :  #A2C8EB!default;
$color__brand_blue-40 :  #8BBBE6!default;
$color__brand_blue-50 :  #73ADE1!default;
$color__brand_blue-60 :  #5CA0DC!default;
$color__brand_blue-70 :  #4592D7!default;
$color__brand_blue-80 :  #2E85D2!default;
$color__brand_blue-90 :  #1777CD!default;
$color__brand_blue-100 :  #13539b!default;
$color__blue :  #13539b !default;
$color__gray: #6b6a69 !default;
$color__black: #3b3836 !default;


$color__brand_oronge-10 :  #FFE2D0!default;
$color__brand_oronge-20 :  #FFD4B9!default;
$color__brand_oronge-30 :  #FFC5A2!default;
$color__brand_oronge-40 :  #FFB78B!default;
$color__brand_oronge-50 :  #FFA973!default;
$color__brand_oronge-60 :  #FF9B5C!default;
$color__brand_oronge-70 :  #FF8C45!default;
$color__brand_oronge-80 :  #FF7E2E!default;
$color__brand_oronge-90 :  #e7893e!default;
$color__brand_oronge-100 :  #e7893e!default;
$color__orange :  #e7893e!default;



// UI Color Scheme
$color__blue-20: #7cc7ff !default;
$color__blue-30: #5aaafa !default;
$color__blue-40: #5596e6 !default;
$color__blue-50: #4178be !default;
$color__blue-90: #152935 !default;
$color__navy-gray-1: #0f212e !default;
$color__navy-gray-2: #20343e !default;
$color__navy-gray-3: #2d3f49 !default;
$color__navy-gray-4: #394b54 !default;
$color__navy-gray-5: #42535c !default;
$color__navy-gray-6: #5a6872 !default;
$color__navy-gray-7: #8c9ba5 !default;
$color__navy-gray-8: #dfe6eb !default;
$color__navy-gray-9: #eff2f5 !default;
$color__white: #fff !default;

// Light UI Color Scheme
$color__blue-51: #3d70b2 !default;
$color__gray-1: #dfe3e6 !default;
$color__gray-2: #f0f3f6 !default;
$color__gray-3: #f5f7fa !default;

// Accent Colors
$color__blue-10: #c0e6ff !default;
$color__blue-60: #325c80 !default;
$color__teal-10: #a7fae6 !default;
$color__teal-20: #6eedd8 !default;
$color__teal-30: #41d6c3 !default;
$color__teal-40: #00b4a0 !default;
$color__teal-50: #008571 !default;
$color__teal-60: #006d5d !default;
$color__green-10: #c8f08f !default;
$color__green-20: #b4e051 !default;
$color__green-30: #8cd211 !default;
$color__green-40: #5aa700 !default;
$color__green-50: #4b8400 !default;
$color__green-60: #2d660a !default;
$color__yellow-10: #fde876 !default;
$color__yellow-20: #fdd600 !default;
$color__yellow-30: #efc100 !default;
$color__yellow-60: #735f00 !default;
$color__orange-10: #ffd4a0 !default;
$color__orange-20: #ffa573 !default;
$color__orange-30: #ff7832 !default;
$color__orange-60: #a53725 !default;
$color__red-10: #ffd2dd !default;
$color__red-30: #ff7d87 !default;
$color__red-40: #ff5050 !default;
$color__red-50: #e71d32 !default;
$color__red-60: #ad1625 !default;
$color__purple-10: #eed2ff !default;
$color__purple-20: #d7aaff !default;
$color__purple-30: #ba8ff7 !default;
$color__purple-40: #af6ee8 !default;
$color__purple-60: #734098 !default;



//  color palette


$white : #ffffff !default;
$black : #000000 !default;
$gray : #eee !default;
$gray-dark : #404040 !default;
$error : #ce5959 !default;
$success : $color__green-40 !default;
$info : #f0f0f0 !default;

$mainBranding : $black !default;
$subBranding : $white !default;
$mainFont : #0c4c8c !default;



//Selection theme
$selectionColor : $color__brand_blue-100 !default;
$selectionBackground : $color__blue-10  !default;


//Html
$html-bg-default : #F5F5F5;


//header
$header-bg-default : $white;


//nav
$nav-bg-default : $white;


//Body
$body-bg-default : #F5F5F5;


//footer
$footer-bg-default : $white;


//Text Default color
$text-color-primary : $black;





