// ========================================= //
// zIndex
// ========================================= //



$z-indexes: (
        modal: 9000,
        overlay: 8000,
        dropdown: 7000,
        header: 6000,
        footer: 5000,
        hidden: - 1,
        overflowHidden: - 1,
        floating: 10000,
);


//-------------------------------------
// @function: z($layer)
//-------------------------------------
// usage:
// .modal {
//   z-index: z('modal');
// }
//-------------------------------------

@function z($layer) {
  @if not map-has-key($z-indexes, $layer) {
    @warn 'No layer found for `#{$layer}` in $z-indexes map. Property omitted.';
  }

  @return map-get($z-indexes, $layer);
}



$zindex--background     : 40;
$zindex--content        : 50;
$zindex--hover          : 60;
$zindex--fixed          : 70;
$zindex--offcanvas      : 80;
