.flexbox {
  display: flex;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.app{

}
.page-sidebar{
  &.opened{

  }
}
.page__header{

}


.closed_nav{
  .page-content, + .page-content{
    //padding: 115px 50px 115px 100px;
    padding: 90px 20px 90px 90px;
    @include bp-lt($medium) {
     // padding: 115px 10px;
    }
  }

}

.page-content{
  //padding: 115px 50px 115px 300px;
  padding: 90px 20px 90px 90px;
  transition: $bezier;
  @include bp-lt($medium) {
   // padding: 115px 50px 115px 100px!important;
  }
  @include bp-lt($small) {
    //padding: 115px 10px!important;
   // padding: 90px 10px;
  }
}

.content__inner{

}

.page__footer{

}
