.app{

}
.page-sidebar{
  &.opened{

  }
}
.page__header{

}


.page.page-login{

  .page-content{
    padding: 20px 50px;
    transition: $bezier;
    @include bp-lt($medium) {
      padding: 20px 20px;
    }
    @include bp-lt($small) {
      padding: 20px 10px!important;
    }

  }
}
.login-container {
  max-width: 500px;
  margin: auto;
}
.page-content{
  padding: 90px 20px 90px 290px;
  @include bp-lt($medium) {
    padding: 90px 20px 90px 290px;
  }
  transition: $bezier;

}

.content__inner{

}

.page__footer{

}
