- var brandSetting = brand;
header
    .header-nav
        .header-nav_content
            .header-nav_brand
                div.nav-header_inner
                    .logo.logo_theme_ml
                        a(href='/dashboard.html')
                            img(src=brandSetting.logos[0].src, alt=brandSetting.logos[0].title).hide-for-small-only
                            img(src=brandSetting.icon[0].src, alt=brandSetting.icon[0].title).show-for-small-only
                    .c-nav__humbergermenu
                        div
                            span Menu
                            .c-nav__icon
                                div
                                    span
                                    span
                                    span
            .cta-primary_fixed
                a.button.hasicon_left.secondary(href='new-financial-proposal.html')
                    i(class='c-fmlnet__add-proposal')
                    span Nouvelle proposition
            .header-nav_navbar.float-right
                .c-nav-widgets_menu
                    ul.c-nav-widgets_content
                        li.c-nav-widgets_dropdown.__user-nav.float-right.oepend
                            div.c-nav-widgets_toggle.js_to-toggled
                                div.user-pic

                                    i.c-fmlnet__user-administrator
                                div.user-nav_infos.hide-for-small-only
                                    span.user-name Amina MOUJAB
                                    span.user-office Agence BCP Casablanca
                                i.c-fmlnet__chevron--down.hide-for-small-only
                            div.c-nav-widgets_dropdown_content
                                .c-nav-widgets_dropdown_inner
                                    div.user-nav_infos.show-for-small-only
                                        span.user-name Amina MOUJAB
                                        span.user-office Agence BCP Casablanca
                                    ul
                                        li
                                            a(href="")
                                                i.c-fmlnet__info
                                                | Mes infos personnelles
                                        li
                                            a(href="")
                                                i.c-fmlnet__schematics
                                                | Informations Société
                                        li
                                            a(href="")
                                                i.c-fmlnet__settings
                                                | Actualités Agence
                                        li
                                            a(href="")
                                                i.c-fmlnet__logout
                                                | Se déconnecter



                        li.c-nav-widgets_dropdown.float-right
                            div.c-nav-widgets_toggle.js_to-toggled
                                div.nav-icon_notification
                                    span.nav-icon_content
                                        i(class="c-fmlnet__header--notification")
                                        span.nav-badge  8
                            div.c-nav-widgets_dropdown_content
                                .c-nav-widgets_dropdown_inner
                                    .c-notifications_widget
                                        .c-notifications_content
                                            .line
                                            .notification
                                                a(href="")
                                                    span.time 8:19
                                                    p
                                                        strong Proposition P000035462
                                                        |  Changement de statut en complément d'informations.
                                            .notification
                                                a(href="")
                                                    span.time 9:24
                                                    p
                                                        strong Proposition P000035463
                                                        |  En cous de dérogation
                                            .notification
                                                a(href="")
                                                    span.time Hier
                                                    p
                                                        strong COMPACT IT
                                                        |  en signature d'un nouveau contrat C000035462
                                            .notification
                                                a(href="")
                                                    span.time Il ya 2 jours
                                                    p
                                                        strong Proposition P000035462
                                                            |  Changement de statut en complément d'informations.
                                            .notification
                                                a(href="")
                                                    span.time Il ya une semaine
                                                    p
                                                        strong COMPACT IT
                                                            |  en signature d'un nouveau contrat C000035462
                                            .notifications-footer
                                                a.button.secondary.hasicon_right.clear.small.small-only-expanded.uper.float-right(href='')
                                                    | Voir toutes les notifications
                                                    i.c-fmlnet__chevron--right

                        li.c-nav-widgets_dropdown.float-right
                            div.c-nav-widgets_toggle.js_to-toggled
                                div.nav-icon_message
                                    span.nav-icon_content
                                        i(class="c-fmlnet__chat")
                                        span.nav-badge  2
                            div.c-nav-widgets_dropdown_content
                                .c-nav-widgets_dropdown_inner
                                    .c-notifications_widget
                                        .c-notifications_content
                                            .line
                                            .notification
                                                a(href="")
                                                    span.time 8:19
                                                    p
                                                        strong Proposition P000035462
                                                        |  Changement de statut en complément d'informations.
                                            .notification
                                                a(href="")
                                                    span.time 9:24
                                                    p
                                                        strong Proposition P000035463
                                                        |  En cous de dérogation
                                            .notification
                                                a(href="")
                                                    span.time Hier
                                                    p
                                                        strong COMPACT IT
                                                        |  en signature d'un nouveau contrat C000035462
                                            .notification
                                                a(href="")
                                                    span.time Il ya 2 jours
                                                    p
                                                        strong Proposition P000035462
                                                            |  Changement de statut en complément d'informations.
                                            .notification
                                                a(href="")
                                                    span.time Il ya une semaine
                                                    p
                                                        strong COMPACT IT
                                                            |  en signature d'un nouveau contrat C000035462
                                            .notifications-footer
                                                a.button.secondary.hasicon_right.clear.small.small-only-expanded.uper.float-right(href='')
                                                    | Voir tous les messages
                                                    i.c-fmlnet__chevron--right

                        li.c-nav-widgets_dropdown.float-right.hide-for-small-only
                            div.c-nav-widgets_toggle.js_to-toggled
                                .search-box
                                    form
                                        input(type="text" placeholder="Rechercher...")
                                        button(class="search-icon")
                                            span
                                                i(class="c-fmlnet__search")