.nav-header
    div.nav-header_inner
        .logo.logo_theme_ml
            a(href='/')
                img(src=brandSetting.logos[0].src, alt=brandSetting.logos[0].title)
        .c-nav__humbergermenu
            div
                span Menu
                .c-nav__icon
                    div
                        span
                        span
                        span

.nav.nav_ready.nav__theme_ml
    .nav__global
        .nav__inner
            ul.c-nav__level0
                each val, index in nav
                    li
                        a(href="")= val.name
                        - if(val.sub.length)
                        .c-nav__show: span.c-fdbm__icon--arrowRight

                        ul.c-nav__level1
                            each valSub in val.sub
                                li: a(href=""+valSub.link+"")= valSub.name



