.ui-datepicker-trigger{
 // background: transparent url('../media/images/calendar-icon.png') no-repeat;
  width: 21px;
  height: 24px;
  display: inline-block;
  padding: 0;
  margin: 0;
  border: 0;
  vertical-align: middle;
  margin: 0 0.3125rem;
  margin-right: -25px;

}
#ui-datepicker-div{
  background: #c6d9e7;
  z-index: 999 !important;
  min-width: 250px;
  margin-top: 0px;
  display: none;
  table{
    width: 100%;
    tr{
      background: #fff!important;
    }
    th{
      border: 1px solid #eceef0;
    }
    td{
      text-align: center;
      padding: rem(5);
      border: 1px solid #eceef0;
      a{
        color: $color-primary;
      }
      &.ui-state-disabled{

        background: $color-quaternary;
      }
      &.ui-datepicker-today{
        background: $color-secondary;
        a{
         color: $white;
        }
      }
      &.ui-datepicker-current-day{
        background: #e78812;
        a{
          color: $white;
        }
      }
    }
  }
  .ui-datepicker-header{
    display: block;
    /* margin-bottom: 20px; */
    position: relative;
    background: #e78812;
    padding: 10px 0;
    .ui-datepicker-title{
      font-size: 20px;
      color: $white;
      font-weight: 500;
      text-align: center;
    }
    .ico-calander-left{
    }
    .ico-calander-right{
    }
    .ui-datepicker-prev{
      position: absolute;
      left: 10px;
      top:50%;
      transform: translateY(-50%);
      cursor: pointer;
      i{
        color: $white;
        font-size: 18px;
        display: inline-block;
        vertical-align: middle;
        font-weight: 500;
      }
      span{
        font-size: 0px;
      }
    }
    .ui-datepicker-next{
      position: absolute;
      right: 10px;
      top:50%;
      transform: translateY(-50%);
      cursor: pointer;
      i{
        color: $white;
        font-size: 18px;
        display: inline-block;
        vertical-align: middle;
        font-weight: 500;
      }
      span{
        font-size: 0px;
      }
    }
  }
  .ui-datepicker-group.ui-datepicker-group-last{
    margin-right: 0px;
  }
  .ui-datepicker-group{
    float: left;
    width: calc((100% / 2) - 20px);

    color: #FFFFFF;
    text-align: center;
    margin-right: 40px;
    a{
      color: #FFFFFF;
    }
    table{
      width: 100%;
      border-spacing : 0;
      border-collapse : collapse;
      tr{
        th{
          color: $color-primary;
          font-size: 15px;
          text-transform: uppercase;
          font-weight: 500;
          border:1px solid #c6d9e7;
        }
        td{
          line-height: 25px;
          font-size: 15px;
          text-transform: uppercase;
          font-weight: 400;
          border-top: 12px solid $color-primary;
          text-align: center;
          span,a{
            text-align: center;
            display: block;
          }
        }
        td.disabled{
          background: $color-quaternary;
        }
        td.ui-datepicker-today{
          background: $color-primary;
        }
        td.ui-datepicker-current-day{
          background: $color-secondary;

        }

      }
    }
  }
  tr{
    td.ui-datepicker-week-end:last-child{
      display: none;
    }
    th.ui-datepicker-week-end:last-child{
      display: none;
    }
  }
  .ui-datepicker-buttonpane{
    position: absolute;
    top: 16px;
    right: 16px;
    button.ui-datepicker-current{
      display: none;
    }
    button.ui-datepicker-close{
      width: auto;
      background: 0 0;
      border: none;
      padding: 0px;
      min-width: auto;
      font-size: 18px;
      color: $color-primary;
      outline: none;
    }
  }
  &.one-calendar{
    min-width: 287px;
    padding: 30px;
    .ui-datepicker-buttonpane{
      display: none;
    }
    table{
      width: 100%;
      border-spacing : 0;
      border-collapse : collapse;
      tr{
        th{
          color: $color-primary;
          font-size: 15px;
          text-transform: uppercase;
          font-weight: 500;
        }
        td{
          line-height: 25px;
          font-size: 15px;
          text-transform: uppercase;
          font-weight: 400;
          border-top: 12px solid $color-primary;
          span{
            display: block;
            text-align: center;
          }
          a{
            color: #FFFFFF;
            text-align: center;
            display: block;
          }
        }
        td.ui-state-disabled{
          background: $color-quaternary;
        }
        td.ui-datepicker-today{
          /*
          background: $color-primary;
          border-right: 1px solid $grey-dark-color;
          border-left: 1px solid $grey-dark-color;*/
        }
        td.ui-datepicker-current-day{
          background: $color-primary;
          border-right: 1px solid $color-primary;
          border-left: 1px solid $color-primary;
        }

      }
    }
  }
  tr{
    td.ui-datepicker-week-end:last-child{
      display: none;
    }
    th.ui-datepicker-week-end:last-child{
      display: none;
    }
  }
  .ui-datepicker-buttonpane{
    position: absolute;
    top: 16px;
    right: 16px;
    button.ui-datepicker-current{
      display: none;
    }
    button.ui-datepicker-close{
      width: auto;
      background: 0 0;
      border: none;
      padding: 0px;
      min-width: auto;
      font-size: 18px;
      color: $color-primary;
      outline: none;
    }
  }
}
