// ========================================= //
// content
// ========================================= //
/*
.page-content h1 {
  @include typescale('mega');
  margin-bottom: 0.5em;
}
.page-content h2 {
  @include typescale('alpha');
  margin-bottom: 0.5714em;
}
.page-content h3 {
  @include typescale('beta');
  margin-bottom: 0.6666em;
}

.page-content h4 {
  @include typescale('gamma');
  margin-bottom: 0.8em;
}

.page-content h5 {
  font-size: 1.125em;
  margin-bottom: 0.8888em;
}

.page-content h6 {
  font-size: 1em;
  margin-bottom: 1em;
}

.page-content blockquote {
  background-color: whitesmoke;
  border-left: 5px solid #dbdbdb;
  padding: 1.25em 1.5em;
}

.page-content ol {
  list-style-position: outside;
  margin-left: 2em;
  margin-top: 1em;
}

.page-content ol:not([type]) {
  list-style-type: decimal;
}

.page-content ol:not([type]).is-lower-alpha {
  list-style-type: lower-alpha;
}

.page-content ol:not([type]).is-lower-roman {
  list-style-type: lower-roman;
}

.page-content ol:not([type]).is-upper-alpha {
  list-style-type: upper-alpha;
}

.page-content ol:not([type]).is-upper-roman {
  list-style-type: upper-roman;
}

.page-content ul {
  list-style: disc outside;
  margin-left: 2em;
  margin-top: 1em;
}

.page-content ul ul {
  list-style-type: circle;
  margin-top: 0.5em;
}

.page-content ul ul ul {
  list-style-type: square;
}

.page-content dd {
  margin-left: 2em;
}

.page-content figure {
  margin-left: 2em;
  margin-right: 2em;
  text-align: center;
}

.page-content figure:not(:first-child) {
  margin-top: 2em;
}

.page-content figure:not(:last-child) {
  margin-bottom: 2em;
}

.page-content figure img {
  display: inline-block;
}

.page-content figure figcaption {
  font-style: italic;
}

.page-content pre {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  padding: 1.25em 1.5em;
  white-space: pre;
  word-wrap: normal;
}

.page-content sup,
.page-content sub {
  font-size: 75%;
}

.page-content table {
  width: 100%;
}

.page-content table td,
.page-content table th {
  border: 1px solid #dbdbdb;
  border-width: 0 0 1px;
  padding: 0.5em 0.75em;
  vertical-align: top;
}

.page-content table th {
  color: #363636;
  text-align: left;
}

.page-content table thead td,
.page-content table thead th {
  border-width: 0 0 2px;
  color: #363636;
}

.page-content table tfoot td,
.page-content table tfoot th {
  border-width: 2px 0 0;
  color: #363636;
}

.page-content table tbody tr:last-child td,
.page-content table tbody tr:last-child th {
  border-bottom-width: 0;
}

*/

@function header-size($breakpoint, $size) {
  @return rem-calc(map-get(map-get(map-get($header-styles, "small"), $size), "font-size"));
}

@mixin mx-header-size($type){
  font-size: rem-calc(map-get(map-get(map-get($header-styles, "small"), $type), "font-size"));
  @include breakpoint(medium){
    font-size: rem-calc(map-get(map-get(map-get($header-styles, "small"), $type), "font-size"));
  }
  @include breakpoint(large){
    font-size: rem-calc(map-get(map-get(map-get($header-styles, "medium"), $type), "font-size"));
  }
}


.page-content_header__title{
  padding-bottom: rem(16);
  opacity: 1;
  display: flex;
  justify-content: space-between;
  h1{
    font-size: 24px;
    font-weight: 600;
    color:$color__black;
    text-transform: lowercase;
    font-family: 'Barlow';
    &::first-letter{
      text-transform: uppercase;
    }
  }
}

.page-content h1{
  &:before{
   // content: "";
    height: 4px;
    width: 1.875rem;
    margin-right: 1.25rem;
    background: black;
    vertical-align: middle;
    display: inline-block;
    border-radius: 4px;
  }
}
.page-content h1 {
  @include mx-header-size(h1);
  margin-bottom: 0.5em;
}
.page-content h2 {
  @include mx-header-size(h2);
  margin-bottom: 0.5714em;
}
.page-content h3 {
  @include mx-header-size(h3);
  margin-bottom: 0.6666em;
}

.page-content h4 {
  @include mx-header-size(h4);
  margin-bottom: 0.8em;
}

.page-content h5 {
  @include mx-header-size(h5);
  margin-bottom: 0.8888em;
}

.page-content h6 {
  @include mx-header-size(h6);
  margin-bottom: 1em;
}


.txt-primary{
  color: $color-primary!important;
}

h1, .h1 {
  @include mx-header-size(h1);
  color: $wysiwyg--h2--color;
  margin-bottom: rem($wysiwyg--items--margin--bottom);
}

h2, .h2 {
  @include mx-header-size(h2);
  color: $wysiwyg--h2--color;
  margin-bottom: rem($wysiwyg--items--margin--bottom);
}

h3, .h3 {
  font-family: $wysiwyg--fonttitle;
  @include mx-header-size(h3);
  color: $wysiwyg--h3--color;
  margin-bottom: rem($wysiwyg--items--margin--bottom);
}

h4, .h4 {
  font-family: $wysiwyg--fonttitle;
  @include mx-header-size(h4);
  color: $wysiwyg--h4--color;
  margin-bottom: rem($wysiwyg--items--margin--bottom);
}

h5, .h5 {
  font-family: $wysiwyg--fonttitle;
  @include mx-header-size(h5);
  color: $wysiwyg--h4--color;
  margin-bottom: rem($wysiwyg--items--margin--bottom);
}

h6, .h6 {
  font-family: $wysiwyg--fonttitle;
  @include mx-header-size(h6);
  color: $wysiwyg--h6--color;
  margin-bottom: rem($wysiwyg--items--margin--bottom);
}

img {
  &.alignright,
  &.align-right {
    float: right;
    margin-left: rem(2*$wysiwyg--items--margin--bottom);
    margin-bottom: rem($wysiwyg--items--margin--bottom);
  }

  &.alignleft,
  &.align-left {
    float: left;
    margin-right: rem(2*$wysiwyg--items--margin--bottom);
    margin-bottom: rem($wysiwyg--items--margin--bottom);
  }

  &.aligncenter,
  &.align-center {
    display: block;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: rem($wysiwyg--items--margin--bottom);
  }
}

p {
  font-family: $wysiwyg--fontbody;
  font-size: rem(14);
  line-height: rem(20);
  color: $wysiwyg--content--color;
  margin-bottom: rem($wysiwyg--items--margin--bottom);

  @include bp-lt($small) {
    font-size: rem(13);
    line-height: rem(18);
  }
}

a {
  color: $wysiwyg--link--color;
  cursor: pointer;
}

blockquote {
  position: relative;
  display: block;
  width: 100%;
  padding: rem(48) rem(200);
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: rem($wysiwyg--items--margin--bottom);
  border: none;
  color: $wysiwyg--content--color;
  font-size: rem(32);
  font-family: $wysiwyg--fontbody;
  text-align: center;
  letter-spacing: rem(2);

  @include bp-lt($medium) {
    padding: rem(48) rem(50);
  }

  @include bp-lt($small) {
    padding: rem(25);
  }
}
.page-content{

  ul, ol {
    list-style: none;
    margin-left: 0;
    margin-bottom: rem($wysiwyg--items--margin--bottom);
    margin-left: rem(30);

    @include bp-lt($small) {
      margin-left: rem(15);
    }

    ul, ol {
    }

    li {
      position: relative;


      &:before {
        position: absolute;
      }

      &, * {
        font-size: rem(14);
        margin-bottom: rem(10);
        font-family: $wysiwyg--fontbody;
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
  }

  ul {
    li:before {
     // content: '';
      top: rem(9);
      left: rem(-20);
      display: block;
      width: rem(7);
      height: rem(7);
      background: $wysiwyg--list--style--color;
      border-radius: 50%;    top: 6px;
    }

    ul li:before {
      background: $wysiwyg--list--style--color;
      width: rem(5);
      height: rem(5);
    }
  }

  ol {
    counter-reset: section;

    li:before {
      counter-increment: section;
      content: counter(section) '.';
      color: $wysiwyg--list--style--color;
      font-weight: 700;
      font-style: normal;
      left: rem(-20);
    }
  }

  /*
  table {
    width: 100%;
    table-layout: auto;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: rem($wysiwyg--items--margin--bottom);

    td, th {
      border: solid 1px #fff;
    }

    thead {
      tr {
        th {
          background: $wysiwyg--table--th--background;
          color: $wysiwyg--table--th--color;
          height: rem(48);
          font-size: rem(16);
          font-weight: 700;
          font-family: $wysiwyg--fontbody;
        }
      }
    }

    th {}

    tbody {
      td {
        height: rem(48);
        font-size: rem(15);
      }
    }

    tr { background: $white; }
  }

  hr {
    clear: both;
    margin-bottom: rem($wysiwyg--items--margin--bottom);
    border-color: $wysiwyg--hr--background;
  }*/



}