main {
  border: 0
}
.heading__content {
  border-top: 1px solid #c6d9e7;
  position: relative;
  z-index: 2;
}
.actionLien img, div[data-column="Action"] img{
  display: none;
}
.actionLien[href*="edit&"]:before, a.edit:before{
  content: "\f044";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:green;
}
.actionLien[href*="delete&"]:before, div[data-column="Action"] a[href*="delete&"]:before, a.delete:before{
  content: "\f1f8";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:orangered;
}

.datatable__cta__action{

  /* border: 4px solid #276eb7; */
  /* font-size: 22px; */
  /* text-align: center; */
  /* color: #fff; */
}


.datatable__cta__action a{
  /* border: 1px solid #276eb7; */
  font-size: 25px;
  text-align: center;
  color: #fff;
  color: rgba(68, 191, 95, 0.82);
  /* padding: 7px; */
  vertical-align: middle;
  /* line-height: 30px; */
  display: inline-block;
  /* width: 40px; */
  /* height: 40px; */
  line-height: 40px;
  vertical-align: middle;
  margin: 0
}
.datatable__cta__action a:after{
  min-width: inherit;
  white-space: nowrap;
  background: rgba(68, 191, 95, 0.82);

}
.actionLien[href*="consultation=true"]:before, div[data-column="Action"] a[href*="consultation=true"]:before{
  content: "\f06e";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:orangered;
}



.page__inner_sec-infoStep .grid {
  padding:0 0.9375rem
}

.field {
  /* margin-bottom: 1.5625rem; */
  position: relative;
  margin: 8px 0;
}

.label_end__date{
  min-width: 167px;
  text-align: right;
}

.stuck.page__head {

  width: calc(100% - 300px);
  padding: 10px 20px;
  @include bp-lt($xmedium) {

    width: 100%;
  }
}

.lyht__datatable tr{

}
.lyht__datatable tr td, .lyht__datatable tr th{
  padding: 6px;
  border: 1px solid #c6d9e7!important;
  position: relative;
  text-align: center!important;
}

.fields__grp__acordion .fields__grp__content table.lyht__datatable thead tr{
  background: #c6d9e7!important;

}

.fields__grp__acordion .fields__grp__content table.lyht__datatable thead tr th{
  padding: 0.625rem;
  border: 1px solid #17365d!important;
  vertical-align: middle;
  text-align: center !important;
  background: rgba(243, 247, 252, 0.7215686274509804)

}


.assistant__commun .step{
  background: white;
  margin-bottom: 0

}
.hide_toshow{
  display: none;
}