// ========================================= //
// footer
// ========================================= //

footer{
  position: fixed;
  width: 100%;
  min-height: $footer--height;
  line-height: $footer--height;
  text-align: center;
  background: $footer-bg-default;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
  border-top: 1px solid #DFDFDF;
  @include layer(pop-out);
  @include bp-lt($xmedium) {
    min-height: $footer--height_small;
    line-height: $footer--height_small;
  }

}