// ========================================= //
// header
// ========================================= //


.page-header{
  background: $header-bg-default;
  //height: $header--height;
  line-height: $header--height;
  @include bp-lt(1350px){
    $header--height : 60px;
    line-height: $header--height;
  }
  position: fixed;
  z-index: 3;
  width: 100%;
  @include layer(header);
  li{
    &:before{
      display: none;
    }
  }
}

header{

}


.header-nav_brand{

 // min-height: $header--height;
 // line-height: $header--height;
  @include bp-lt(1350px){
    $header--height : 60px;
    min-height: $header--height;
    line-height: $header--height;
  }
  display: inline-block;
  @include bp-lt($medium){
    border-right: 0;
  }
  // margin-bottom: rem(20);
  // min-width: $nav--width ;
  //  margin-right: rem(20);

  >div.nav-header_inner{
    display: inline-block;
    vertical-align: middle;
    line-height: 1.2;
    padding: rem(0) rem(20);
  }

}

.logo{
  display: inline-block;
  vertical-align: middle;
  padding-left: rem(15);
  @include bp-lt($xmedium){
    img{
      //  display: none;
      min-width: rem(47);
    }
   // background: url($header-brand_icon);
  }

}
.button{
  &:hover{
    opacity: 0.8;
  }
}

.cta-primary_fixed{
  // line-height: 1.2;
  vertical-align: middle;
  display: inline-block;
  margin-left: 10px;
  .secondary{
    background-color: $color__blue;
  }
  &[class*="progress_on"]{
    .button{position: relative;
      overflow: hidden;
     // border: 1px solid darken(get-color("secondary"), 20%);
      span, i{
        position: relative;
        z-index: 2;
        color: white;
      }
      &:after{
        content: '';
        width: 0%;
        height: 100%;
        @include linear-gradient(darken(get-color("secondary"), 12%), darken(get-color("secondary"), 20%));
        // background: darken(get-color("secondary"), 20%);
        //background:linear-gradient(top, get-color("secondary"),  darken(get-color("secondary"), 20%));
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        border-radius: $button-radius;
        transition: $ease--fast;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }


    &[class*="1"]{
      .button{
        &:after{

        }
      }

    }
    &[class*="2"]{
      .button{
        &:after{
          width: calc(100% / 3);
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;

        }
      }

    }
    &[class*="3"]{
      .button{
        &:after{
          width: 66%;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;

          //@include linear-gradient(get-color("success"), darken(get-color("success"), 12%));

        }
      }

    }

    &[class*="4"]{
      .button{
        &:after{
          width: calc(100% / 1);
          border-radius: $button-radius;

          //@include linear-gradient(get-color("success"), darken(get-color("success"), 12%));

        }
      }

    }
  }
  @keyframes progressAnimation {
    0%   { width: 0; }
    20%  { width: 5%; }
    40%  { width: 20%; }
    60%  { width: 70%; }
    80%  { width: 75%; }
    100% { width: 100%; }
  }
  a.button{
    // @include linear-gradient(darken(get-color("secondary"), 10%), get-color("secondary"));
    color: $white;
    transition: $ease;
    text-transform: uppercase;
    margin: 0;
    font-family: $fontFamily_robotoCondensed-regular;
    //margin-top: -5px;
    // padding: 0.70em 1.5em;
    i{
     // font-size: rem(20);
      vertical-align: sub;
      font-weight: bold;
    }
    &:hover, &:focus{
      //@include linear-gradient(get-color("secondary"), darken(get-color("secondary"), 12%));
      color: $white;
    }


    @include bp-lt($small){
      display: none;
    }

    @include bp-lt($medium){
      display: none;

      /* padding: 0;
       width: 40px;
       height: 40px;
       line-height: 40px;
       text-align: center;
       display: none;

       span{
         display: none;
       }
       i{
         padding: 0;
       }
       */
    }

  }
}

.header-nav{
  //  padding-left: rem(20);
  border-bottom: 1px solid #DFDFDF;

}
.header-nav_navbar{
  line-height: 1.2;

}
.c-nav-widgets_menu{

}
.c-nav-widgets_content{
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-icon_content{
  display: inline-block;
  position: relative;
  [class*="notification"]{
    + [class*="badge"]{
      right: -3px;
      top: -3px;
    }
  }
  [class*="chat"]{
    + [class*="badge"]{

      background: get-color('warning');
      color: black;
    }
  }


  .nav-badge{
    position: absolute;
    width: $header--badge-size;
    height: $header--badge-size;
    line-height: $header--badge-size;
    vertical-align: middle;
    text-align: center;
    background: get-color('alert');
    right: -7px;
    top: -5px;
    border-radius: 50%;
    font-size: rem(11);
    color: white;
  }
}

.c-nav-widgets_searchbox{
  overflow: hidden;
}

.c-nav-widgets_dropdown{
  line-height: $header--height;
  @include bp-lt(1350px){
    $header--height : 60px;
    line-height: $header--height;
  }
  border-left: 1px solid #DFDFDF;
  display: inline-block;
  cursor: pointer;
  position: relative;
  z-index: 2;
  [class*="nav-icon_"]{
    i{
      font-size: rem(26);
      &:before{
        vertical-align: middle;


      }
    }
  }
  div.nav-icon_message, div.nav-icon_search{
    i{
      font-size: rem(22);
    }
  }
  &.__user-nav{
    min-width:11.875rem;
    @include bp-lt($xmedium){
      min-width:auto;
    }
    .c-nav-widgets_dropdown_content{
      min-width:11.875rem;
      @include bp-lt($xmedium){
      }
    }
  }
  div.c-nav-widgets_toggle{
    line-height: 1.2;
    vertical-align: middle;
    display: inline-block;
    padding: rem(0) rem(25);
    @include bp-lt($xmedium){
      padding: rem(0) rem(20);
    }
  }
}

div.user-pic{
  border:1px solid #DFDFDF;
  width: 52px;
  height: 52px;
  line-height: $nav-user_avatar_height;
  display: inline-block;
  vertical-align: middle;
  margin-right: rem(10);
  overflow: hidden;
  border-radius: 50%;
  background: white;
  text-align: center;
  padding: 5px;
  @include bp-lt($xmedium){
    margin-right: rem(0);
  }
  i{
    display: inline-block;
    vertical-align: middle;
    font-size: $nav-user_avatar_icon-fontsize;
    color: $nav-user_avatar_icon-color;
  }
  img{
    border-radius: 50%;
    height: 100%;
    object-fit: cover;
  }
}
.user-nav_infos{
  vertical-align: middle;
  display: inline-block;
  @include bp-lt($xmedium){
    //display: none;
  }
  +i{
    display: inline-block;
    margin-left: rem(15);
    transition: $ease--fast;
    transform: rotateZ(-90deg);
    @include bp-lt($xmedium){
      display: none;
    }
  }
  span{
    display: block;
    &.user-name{
      font-size: $nav-user_fontsize;
    }
    &.user-office{
      font-size: $nav-user-office_fontsize;
      color:get-color("secondary");
    }
  }
}
.c-nav-widgets_dropdown:hover, .opened{
  background: whitesmoke;
  color: #ff5a00;
  .user-nav_infos {
    + i{
      transform: rotateZ(0deg);
    }

  }
  .user-pic {

    i {
    }
  }
  div.c-nav-widgets_toggle{
    +_content{
      display: block;
      @include animation('displayNoneToFadeIn .4s 1');
      transform: translate3d(-50%, 0.1rem, 0);
    }
  }
}

.opened, .c-nav-widgets_dropdown:hover{
  .c-nav-widgets_dropdown_content{
    display: block;
    @include animation('displayNoneToFadeIn .4s 1');
    transform: translate3d(-50%, 0.1rem, 0);
  }
}

.c-nav-widgets_dropdown_content{
  position: absolute;
  /* z-index: 5; */
  width: 100%;
  padding: 0;
  color: #162020;
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  filter: drop-shadow(0 0 1px rgba(0,0,0,.2));
  top: auto;
  left: 50%;
  min-width:rem(400);
  transition: all .5s ease-in-out;
  transform: translate3d(-50%, -100%, 0);
  display: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  @include bp-lt($xmedium){

    position: fixed;
  }

  ul{
    line-height: 1.2;
    li{
      display: block;
      border-bottom: 1px solid #DFDFDF;
      &:last-child{
        border: 0;
      }
      a{
        padding: rem(15) rem(20);
        display: block;
        font-size: rem(15);
        opacity: 0.8;
        i{
          display: inline-block;
          vertical-align: middle;
          margin-right: rem(10);
        }
      }
    }
  }
  &:before{
    position: absolute;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    content: "";
    top: -10px;
    border-right: 10px solid transparent;
    border-bottom: 10px solid;
    border-left: 10px solid transparent;
    border-bottom-color: get-color('normal');
    left: calc(50% - 10px);
    filter: drop-shadow(0 -1px 0px rgba(0, 0, 0, 0.2));
    @include bp-lt($xmedium){
      display: none;
    }
  }
  .user-nav_infos{
    display: block;
    padding: rem(20);
    line-height: 1.2;
    background: $body-bg-default;
    border-bottom: 1px solid #DFDFDF;
    font-size: 22px;
    span.user-name{
      font-size: 22px;

    }
  }
}


.c-notifications_content  .line {
  position: absolute;
  top: 0;
  left: 27px;
  bottom: 0;
  width: 2px;
  background: #EBEBEB;
}

.c-notifications_content .notification {
  position: relative;
  z-index: 2;
  margin: 20px 20px 25px 43px;
  &:before{
    content: "";
    box-sizing: border-box;
    position: absolute;
    height: 11px;
    width: 11px;
    background: #fff;
    border: 0.1rem solid  get-color('secondary');
    box-shadow: 0 0 0 3px #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    top: 0;
    left: -20px;
  }
}
.c-notifications_content .notification:hover {
  color: get-color('secondary');
  cursor: pointer;
}
.c-notifications_content .notification .circle {
  box-sizing: border-box;
  position: absolute;
  height: 11px;
  width: 11px;
  background: #fff;
  border: .18rem solid get-color('secondary');
  box-shadow: 0 0 0 3px #fff;
  border-radius: 6px;
  top: 0;
  left: -20px;
}
.c-notifications_content .notification .time {
  display: block;
  font-size: .7rem;
  line-height: 11px;
  margin-bottom: 2px;
  color:  get-color('secondary');
}
.c-notifications_content .notification p {
  line-height: 20px;
  margin: 0;
  font-size: .9rem;
  color: $gray-dark;
}
.c-notifications_content .notification p b {
  font-family: $fontFamily_roboto-bold;
}
.c-notifications_content .notifications-footer{

}


.uper{
  text-transform: uppercase;
}
.c-nav-widgets_dropdown:hover, .c-nav-widgets_dropdown.opened{
  .search-box{
    width: 300px;
    @include bp-lt($medium){
      width: 200px;
    }
    @include bp-lt($small){
      width: 140px;
    }
    input[type='text']{
      opacity: 1;
      transform: translate(0, 10px);
      @include animation('displayNoneToFadeIn .4s 1');
      display: block;

    }
    button{
      float: right;
    }
  }
}
.search-box{
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  width: 22px;
  input[type='text']{
    width: 100%;
    height: 50px;
    padding: 0 70px 0 20px;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    transform: translate(0, 60px);
    transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition-delay: 0.3s;
    opacity: 0;
    border-radius: 0;
    display: none;
    &:focus{
      box-shadow: none;
    }
  }
  button{
    border: 0;
    font-size:$header--icon-fontsize;
    padding: 0;
    background: transparent;
    cursor: pointer;
    position: relative;
    z-index: 2;
    float: right;
  }
}
