$green: #008744;
$blue: #0057e7;
$red: #d62d20;
$yellow: #ffa700;
$white: #eee;
$width: 40px;
.loader{

  position: relative;
 // margin: calc(50vh - 55px) auto;
  max-width: $width;
  text-align: center;
  display: block;
  margin: 30px auto;
  &::before{

    content: '';
    display: block;
   // padding-top: 100%;
  }
  span{
    display: block;
    text-align: center;
    font-size: rem(11);
    font-family: $fontFamily_robotoCondensed-light;
    padding: rem(5) 0 0;
  }

}


circular{
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.path {

  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {

  0% {

    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {

    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {

    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes color{

  100%,0%{

    stroke:get-color('primary');
  }
  40%{
    stroke:get-color('secondary');
  }
  66%{
    stroke:get-color('primary');
  }
  80%, 90%{
    stroke:get-color('secondary');
  }
}
