.page__login{
  padding: 7% 0;
  @include bp-lt($xmedium){
    padding: rem(50) 0 rem(80);
    max-width: 95%;
    margin: auto;
  }
  .container{
    @include bp-lt($xmedium){
      padding: 0;
    }
  }
  .login-frm-wrp{
    max-width: rem(500);
    margin: auto;
  }
  .login-frm-title{
    background: $color-primary;
    color: $white;
    font-size: rem(25);
    line-height: rem(60);
    vertical-align: middle;
    text-align: center;
  }
  .login-frm-conent{
    background: $color-quaternary;
    text-align: center;
    padding-top: rem(30);
    p{
      font-size: rem(17);

      max-width: 60%;
      margin: auto;

      @include bp-lt($xmedium){
        max-width: 95%;
      }
    }
  }
  .login-frm-fields{
    max-width: 60%;
    @include bp-lt($xmedium){
      max-width: 100%;
    }
    margin: auto;
    padding: rem(30) 0;
    text-align: left;
    .field{
      input, select{
        min-width: 100%;
      }
      &.fsubmit{
        padding-top: rem(15);
        button{
          display: block;
          width: 100%;
          min-width: rem(250);
        }
      }
    }
  }
  .login-frm-links_btm{
    background: $color-tertiary;
    line-height: rem(37);
    vertical-align: middle;
    font-size: rem(15);
    overflow: hidden;
    padding: rem(0) rem(20);
    a{
      color: $color-secondary;
      font-weight: bold;
      float: left;
      &:last-child{
        float: right;
      }
      &:hover{
        color: $color-primary;
      }
    }
  }
  .row{
    @include bp-lt($xmedium){
     margin: 0;
    }
    .col {
      @include bp-lt($xmedium){
        padding: 0;
      }
    }
  }
}

.msg-alert{
  display: none;
}