// ========================================= //
// navOffCanvas
// ========================================= //


.c-nav__humbergermenu {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.2;
  float: left;
  //margin-top: 22px;
  > div {

    > span {
      display: none;
      vertical-align: middle;
      margin-right: 10px;
    }
  }
  &.isHumOpen{
    .c-nav__icon{
      span {
        &:nth-child(2) {
          left: -2px;
        //  top: 15px;
        }
      }
    }
  }
}

.closed_nav{
  .c-nav__icon {

    &:hover{

    }

  }
}

.c-nav__icon {
  $sideMenu: rem(25);
  position: relative;
  display: inline-block;
  vertical-align: middle;
  //display: none;
  width: rem($offcanvas--nav--item--height);
  height: rem($offcanvas--nav--item--height);
  cursor: pointer;
 // margin-left: 10px;

  //background: red;
  &:hover{

  }

  span {
    $strokeHeight: rem(1);

    display: block;
    text-indent: -9999px;
    width: $sideMenu;
    height: $strokeHeight;
    // transform: translateY(-50%) translateX(-50%);
    position: absolute;
    transition: $ease;
    right: 0;
    background: $nav--icon--background;

    &:nth-child(1) {
      top: 5px;
      &:before {
        right: -3px;
      }
      &:after {
        left: -3px;
      }
    }
    &:nth-child(2) {
      left: 10px;
      top: 14px;
      &:before {
        left: -3px;
      }
      &:after {
        right: -3px;
      }
    }
    &:nth-child(3) {
      top: 23px;
      &:before {
        right: -3px;
      }
      &:after {
        left: -3px;
      }
    }
    /*
        &:before,
        &:after {
        }

        &:before {
          top: rem(-11);
          transform: rotate(0deg);
        }

        &:after {
          bottom: rem(-11);
          transform: rotate(0deg);
        }
    */
  }

  &.is-active {

    span {
      &:after, &:before {
        opacity: 1;
      }
      background: $nav--icon--background;
      &:nth-child(1) {
        top: 18px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);

      }
      &:nth-child(2) {
        opacity: 0;
        right: -60px;

      }
      &:nth-child(3) {
        top: 18px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);

      }
    }
    /*
    &:hover{
      span{

        &:nth-child(2) {
          opacity: 0.8;
          right: -70px;

        }

      }
    }
    */
  }
}

.c-nav__close {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba($mainBranding, .9);
  @include animation('displayNoneToFadeIn .4s 1');

  &.is-active {
    display: block;
  }
}

@include bp-lt($small){
  .c-nav__icon {
    span {
      &:nth-child(2) {
        left: -1px;
      }
    }
    &:hover{
      span{
        &:nth-child(2) {
          left: 10px;
        }
      }
    }

  }
}