// ========================================= //
// nav
// ========================================= //


@keyframes breathe{
  0%{transform:scale(1);}
  50%{transform:scale(0.5)}
  100%{transform:scale(1)}
}
@keyframes breathe2{
  0%{transform:scale(0.7)}
  50%{transform:scale(1.2)}
  100%{transform:scale(0.5)}
}

span.notification-alert{
  position: relative;
  width: 18px;
  height: 18px;
  /* right: 20px; */
  /* top: 50%; */
  /* -webkit-transform: translateY(-50%); */
  -moz-transform: translateY(-50%);
  /* transform: translateY(-50%); */
  display: inline-block;
  vertical-align: middle;
  margin-left: 6px;
  &:before{
    /*content:"";
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:2;
    width:5px;
    height:5px;
    background:get-color("alert");
    border-radius:100%;
    animation:breathe2 2s infinite;
    border: 3px solid $white;*/
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
   transform: translate(-50%, -50%);
    z-index: 3;
    width: 12px;
    height: 12px;
    background: #cc4b37;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 3px solid #fefefe;
  }

  &:after{
    content:"";
    position:absolute;
    top:0px;
    left:0px;
    z-index:2;
    width: 18px;
    height: 18px;
    background:get-color("alert");
    opacity:0.2;
    border-radius:100%;
    animation:breathe2 2s infinite;
  }
}

.page-sidebar{
  position: fixed;
  padding:  rem(0) rem(0);
  transition: $ease;
  transform: translateX(0%);
  z-index: 2;
 // max-width: $nav--width ;
  padding-top: $header--height;
  box-shadow: 0 16px 10px 0 rgba(0,0,0,0.14), 0 11px 18px 0 rgba(0,0,0,0.12), 0 13px 5px -1px rgba(0,0,0,0.2);
  max-width: rem(265);
  @include bp-lt($xmedium){
    max-width:100%;
    width: 100%;
  }
  @include bp-lt(1350px){
    $header--height : 60px;
    padding-top: $header--height;
  }

  @include bp-lt($large){
   // max-width: 55px;
  }
}

.closed_nav{
  &.page-sidebar{
    overflow: hidden;
    max-width: 60px;

    white-space: nowrap;
    transition: $ease;
    @include bp-lt($xmedium){

      max-width: 0px!important;

    }
    &:hover{
      +.page-content{
        // padding: 115px 50px 115px 330px;
      }

      max-width: $nav--width ;
      .nav-primary{
        nav{
          > ul{
            >li{
             // white-space: nowrap;
              >a{
                position: relative;
                i{
                  padding-right: 10px;
                }
                span{
                }
                span:not(.notification-alert){
                }
                &:hover{

                }
              }
            }
          }
        }
      }
    }
    .nav-primary{
      nav{
        > ul{
          >li{
            >a{
              position: relative;
              i{
                padding-right: 23px;
              }
              span{
              }
              span:not(.notification-alert){
              }
              &:hover{

              }
            }
          }
        }
      }
    }
  }
}
@mixin pageSidebar(){

  .page-sidebar{
    overflow: hidden;
    max-width: 60px;
    @include bp-lt(1350px){
      max-width: 55px;
    }
    white-space: nowrap;
    transition: $ease;
    @include bp-lt($xmedium){

      max-width: 0px!important;

    }
    &:hover{
      +.page-content{
        // padding: 115px 50px 115px 330px;
      }

      max-width: $nav--width ;
      .nav-primary{
        nav{
          > ul{
            >li{
              white-space: nowrap;
              >a{
                position: relative;
                i{
                  padding-right: 15px;
                }
                span{
                }
                span:not(.notification-alert){
                }
                &:hover{

                }
              }
            }
          }
        }
      }
    }
    .nav-primary{
      nav{
        > ul{
          >li{
            >a{
              position: relative;
              i{
                padding-right: 25px;
              }
              span{
              }
              span:not(.notification-alert){
              }
              &:hover{

              }
            }
          }
        }
      }
    }
  }
}
.closed_nav{
  @include pageSidebar();
}
@include bp-lt($medium) {
  // transform: translateX(-100%);
//  @include pageSidebar();
}

.opened-nav.page-sidebar, .opened-nav .page-sidebar{
  max-width: 100% !important;
  transform: translateX(0%);

  @include bp-lt($small) {
    z-index: 8;

  }
}
.nav{
  height:100vh;
  padding: 0px 0 20px;
  //border: 2px solid $nav-border-color;
  transition: $ease;
  background: $nav-bg-default;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  @include bp-lt($medium) {
  // transform: translateX(-100%);

  }
  .product-card_container {
    overflow: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding: 15px 0px;
    cursor: pointer;
    &:hover{
      background: #f5f5f5;
      .product-card_desc h3 {
        color: get-color("primary");
      }
    }
  }
  .nav-submenu_megamenu {
    position: fixed;
    top: 64px;
    left: 90%;
    z-index: 1000;
    max-width: 350px;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    overflow-y: auto;
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    height:$nav--inner_height;
    min-width: 350px;
    display: none
  }

  .product-card_visu {
    display: inline-block;
    float: left;
    max-width: 100px;
    max-height: 60px;
    overflow: hidden;
    border-radius: 5px;
    margin: 5px 5px 5px 10px;
  }

  .product-card_desc h3 {
    font-size: 16px;
    padding: 0;
    margin-block-end: 2px;
    font-family: $fontFamily_robotoCondensed-bold;
  }

  .product-card_desc {
    padding: 10px;
    float: left;
    max-width: 65%;
  }
  .products-cta{
    clear: both;
    padding: 10px 0 0;
    text-align: center;
    > a{
        >span{
          float: none!important;
        }
    }
  }

  .product-card_desc p {
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    text-transform: none;
  }
  //border-left: 0;
  .nav__global{

    .nav__inner{
      >ul{
        list-style: none;
        padding: 0;
        margin: 0;
        >li{
          display: block;
          position: relative;
          border-left: 4px solid transparent;
          padding: 0 $offcanvas--nav--item--spacing;
          margin-bottom: rem(20);
          >a{
            height: 2rem;
            font-weight: 600;
            letter-spacing: .01rem;
            background: transparent;
            line-height: 1.5;
            display: block;
            position: relative;
            transition: $ease;
            font-family: $fontFamily_robotoCondensed-regular;
            text-transform: uppercase;

          }
          /*&:hover, */&.opened, &:active{

                       }

          ul{
            >li{
              padding: rem(2) 0;
              >a{
                font-family: $fontFamily_robotoCondensed-light;
              }
            }
          }
        }
      }
    }
  }


}



.nav-primary{
  nav{
    > ul{
      >li{
        .c-fmlnet__customer-portfolio{
          &:before{
            content: "\e91e";
            font-family: icomoon;
          }
        }
        .c-fmlnet__list-proposal{
          &:before{
            content: "\e91d";
            font-family: icomoon;
          }
        }
        .c-fmlnet__contrat{
          &:before{
            content: "\e91c";
            font-family: icomoon;
          }
        }
        .c-fmlnet__icon5{
          &:before{
            content: "\e92a";
            font-family: icomoon;
          }
        }
        .c-fmlnet__icon6{
          &:before{
            content: "\e929";
            font-family: icomoon;
          }
        }
        .c-fmlnet__icon7{
          &:before{
            content: "\e928";
            font-family: icomoon;
          }
        }
        .c-fmlnet__shop{
          &:before{
            content: "\e91b";
            font-family: icomoon;
          }
        }
        &.nav-has_submenu{
          position: relative;
         > a{
            &:before{
              position: absolute;
              width: 0;
              height: 0;
              font-size: 0;
              line-height: 0;
              content: "";
              top: 50%;
              margin-top: -4px;
              border-top: $nav--current--icon_width solid transparent;
              border-bottom: $nav--current--icon_width solid transparent;
              border-left: $nav--current--icon_width solid #9daeb8;
              right:15px;
              opacity:0.5;
              transition: $ease;
              font-weight: 500;
              color:$color__black;
            }
          }

          a{
            &:hover{
              &:before{
                opacity:1;
                right:10px;
                border-left-color: get-color('secondary');
              }
              .nav-submenu_megamenu, + .nav-submenu_megamenu{
                display: block;
                @include animation('displayNoneToFadeIn .4s 1');
                left: 100%;
              }
            }
          }
          &:hover{
            .nav-submenu_megamenu, + .nav-submenu_megamenu{
              display: block;
              @include animation('displayNoneToFadeIn .4s 1');
              left: 100%;
            }
          }

        }
        border-bottom: 1px solid #DFDFDF;
        white-space: nowrap;
        >a{
          position: relative;
          transition: $ease;
          font-size: rem(13);
          span{
            transition: $ease;
            max-width: 100%;
            display: inline-block;
          }
          span:not(.notification-alert){
            vertical-align: middle;
          }
          i{
            display: inline-block;
            padding-right: 10px;
            font-size: 20px;
            float: left;
            transition: $ease;
            @include bp-lt(1350px){
              font-size: 14px;
              padding-right: 10px;

            }
          }
          display: flex;
          align-items: center;
          padding: 20px;
          text-transform: none;
          color: $gray-dark;
          line-height: 20px;
          font-weight: 500;
          color:$color__black;
          font-size: 15px;
          &.current{
            border-right: 5px solid $color__blue;
            position: relative;
            color:$color__blue;
            &:before{
              position: absolute;
              width: 0;
              height: 0;
              font-size: 0;
              line-height: 0;
              content: "";
              top: 50%;
              border-top: $nav--current--icon_width solid transparent;
              border-bottom: $nav--current--icon_width solid transparent;
              border-left: $nav--current--icon_width solid get-color('secondary');
              right:-3px;
              transform: translateY(-50%) rotateZ(183deg);
              display: none;
            }
          }
          &:hover{
            color: $color__blue;
          }
        }
      }
    }
  }
}