.paginate-wdgt{

}
.paginate-wdgt_buttons{
  a{
    &._previous{

    }
    &._next{

    }
    &._disabled{

    }
    &._current{

    }
  }
}
.paginate-range{
  select{

  }
}
div.paginate-wdgt
.paginate-wdgt_buttons
a.paginate-button._previous._disabled
i(class="c-fmlnet__chevron--left")
a.paginate-button.current
span 1
a.paginate-button
span 2
a.paginate-button._current
span 3
a.paginate-button
span 4
a.paginate-button.current
span 5
a.paginate-button
span 6
a.paginate-button._next._disabled
i(class="c-fmlnet__chevron--right")
.paginate-range
select(name='pagination_range')
option(value='10') 10
option(value='25') 25
option(value='50') 50
option(value='100') 100



.datatables-content .dataTables_paginate {
  margin: 14px 0;
  padding: 0px;
}

.datatables-content .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .datatables-content .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .datatables-content .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active, .datatables-content .dataTables_wrapper .dataTables_paginate .paginate_button {
  display: inline-block;
  vertical-align: middle;
  line-height: 22px;
  background: #fff;
  text-align: center;
  font-size: 13px;
  color: #8493A8!important;
  border: 1px solid #fff;
  margin-right: 4px;
  padding: 0 10px;
  border-radius: 30px
}

.datatables-content .dataTables_wrapper .dataTables_paginate .paginate_button.current, .datatables-content .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover, .datatables-content .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  display: inline-block;
  vertical-align: middle;
  line-height: 22px;
  background: get-color("secondary");
  text-align: center;
  font-size: 13px;
  color: #fff !important;
  border: 1px solid get-color("secondary");
  margin-right: 4px;
  padding: 0 10px;
  border-radius: 30px
}

