
$dark-color: 			#3d3c3c;
$light-color: 		#ffffff;
$black-color: 		#000000;
$body-color: 			#404040;

$font-size-base:        		13px;
$font-size-large:         	ceil(($font-size-base * 1.15)); // ~15px
$font-size-small:         	ceil(($font-size-base * 0.85)); // ~12px
$font-size-extra-small:   	ceil(($font-size-base * 0.8)); // ~12px

$panel-border-radius:          			5px;
$panel-body-padding:          			15px 20px 20px;
$panel-heading-horizontal-padding:  20px;
$panel-heading-top-padding:   		 	20px;
$panel-heading-bottom-padding:    	15px;
$panel-heading-padding:       			$panel-heading-top-padding $panel-heading-horizontal-padding $panel-heading-bottom-padding;
$panel-heading-font-size: 					16px;
$panel-heading-font-weight: 				400;
$panel-heading-icon-color: 					darken($light-color, 27%);
$panel-heading-icon-hover: 					darken($light-color, 35%);
$panel-heading-icon-size: 					20px;
$panel-heading-icon-separation: 		2px;
$panel-heading-icon-line-height: 		25px;
$panel-margin-bottom: 							25px;
$panel-box-shadow: 									0 1px 15px 1px rgba(62,57,107,.07);
//$panel-box-shadow: 									0px 0px 10px 0px rgba(0,0,0,0.04);


/*------------------------------------------------------------------
  [Panels]
*/
.panel-medium{
  max-width: 800px;
  margin: auto;
  box-shadow: none;
}
.panel_inner {
  padding: rem(20);
}

.steps-content{
  .panel{
    //margin-bottom: 0;
  }
}
.panel{
  background-color: $light-color;
  margin-bottom: $panel-margin-bottom;
  box-shadow: $panel-box-shadow;
  border-width: 0;
  border-radius: $panel-border-radius;
  .panel{
    //border: 2px solid #f4f4f4;
  }
  &.warning{
    border: 2px solid get-color("warning");

  }
  &.alert{
    border: 2px solid get-color("alert");

  }
  &.panel-trans{
    background: none;
    box-shadow: none;
    .panel-body{
      background: transparent;
      box-shadow: none;
    }
  }
  &.panel-medium{
    max-width: 800px;
    margin: auto;
    box-shadow: none;
  }
  .panel-heading{
    text-transform: uppercase;
  }
  &.panel-data{
    padding: 0;
    .panel-body{
        padding: 0;
    }
    .panel-heading{
      margin:0;
      padding:10px;
      font-size: rem(14);
      font-family: $fontFamily_robotoCondensed-regular;
      color: #575757;
      background: rgba(#CCCCCC, 0.17);
      border-top-left-radius:5px ;
      text-transform: uppercase;
      display: inline-block;
    }
  }
  &.panel-trans{
    background: transparent;
    box-shadow: none;
    >div{
      &.panel-body{
        //background-color: $light-color;
        //box-shadow: $panel-box-shadow;
        border-width: 0;
       // border-radius: $panel-border-radius;
        padding: 0;

      }
    }
    .panel-heading{
      margin-left: 0;
      //padding-left: 0;
    }
  }
}
.panel-widget{
  padding: rem(10);
  text-align: center;

}
.panel-widget-tile{
  padding: rem(20) 0;
}

.data-info{
  .value{
    font-size: rem(35);
    color: get-color("primary");

  }
  .desc{
    font-size: rem(14);
    font-family: $fontFamily_robotoCondensed-regular;
    color: #575757;
  }
}
.panel-body_form{
  padding: rem(20) rem(30) rem(40);
}

//Panel body
.panel-body{
  padding: 0px 10px;
  border-radius: 0 0 $panel-border-radius $panel-border-radius;
  position: relative;
}

//Panel heading
.panel-heading{
  font-size: $panel-heading-font-size;
  font-weight: $panel-heading-font-weight;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 10px;
  margin: 0 $panel-heading-horizontal-padding;
  border-bottom-width: 0;
  border-radius: $panel-border-radius $panel-border-radius 0 0;
  padding:$panel-heading-padding;
  &_subttr{
    display: block;
    font-size: 13px;
    /* float: right; */
    color: #6c757d!important;
    padding: 5px 0;
    text-transform: lowercase;
  }
  .tools{
    float: right;
    font-size: 0;

    > a{
      display: inline-block;
    }

    .icon{
      display: inline-block;
      font-size: $panel-heading-icon-size;
      line-height: $panel-heading-icon-line-height;
      vertical-align: middle;
      cursor: pointer;
      color: $panel-heading-icon-color;
      min-width: $panel-heading-icon-size;
      text-align: center;

      & + .icon{
        margin-left: $panel-heading-icon-separation;
      }

      &:hover{
        color: $panel-heading-icon-hover;
      }
    }
  }
}

//Panel title
.panel-title{
  font-size: $panel-heading-font-size;
  font-weight: $panel-heading-font-weight;
  display: block;
  margin: 0;
}

//Panel subtitle
.panel-subtitle{
  display: block;
  font-size: $font-size-base;
  color: darken($light-color, 56%);
  margin: 6px 0;
  text-transform: none;
}

//Panel heading divider
.panel.panel-trans{

  .panel-heading-divider{
    border-bottom: 0;
  }
}
.panel-heading-divider{
 border-bottom: 1px solid darken($light-color, 15%);
  margin: 0 20px 8px;
  padding-left: 0;
  padding-right: 0;

}

//Panel flat
.panel-flat{
  border: none;
  box-shadow: none;
}

//Panel border
.panel-border{
  box-shadow: none;
  border: 1px solid darken($light-color,17%);
}

//Panel contrast
.panel-contrast{

  .panel-heading{
    margin: 0;
    padding: 20px 20px 11px;
  }

  .panel-body{
    padding-top: 16px;
  }
}

//panel heading contrast
.panel-heading-contrast{
  background-color: darken($light-color, 4%);
}

//Panel body contrast
.panel-body-contrast{
  background-color: darken($light-color, 4%);
}

//panel border color
.panel-border-color{
  //border-top: 3px solid darken($light-color, 21%);
}

//Panel border danger
.panel-border-color-primary{
  border-top-color: $primary-color;
}

//Panel border danger
.panel-border-color-danger{
  border-top-color: $alert--color;
}

//Panel border warning
.panel-border-color-warning{
  border-top-color: $warning-color;
}

//Panel border success
.panel-border-color-success{
  border-top-color: $success-color;
}

//Panel border dark
.panel-border-color-dark{
  border-top-color: $dark-color;
}

//Panel full colors
.panel-full{

  .panel-heading{
    margin: 0;
    padding-left: $panel-heading-horizontal-padding;
    padding-right: $panel-heading-horizontal-padding;

    .panel-title{
      border-width: 0;
    }
  }
}

//Panel colors
.panel-full-color{

  .panel-heading{
    color: $light-color;
    padding: 27px 20px 15px;
    margin: 0;

    .panel-subtitle, .icon{
      color: $light-color;
    }
  }

  .panel-body{
    padding: 20px;
  }
}
.-dashboard{
  img{
    width: 100%;
  }
}

.panel-footer{
  padding: rem(15) rem(20);
  background: rgba(48, 95, 164, 0.03);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  @include clearfix();
  &__actions{
    overflow: hidden;
    vertical-align: middle;
    line-height: 47px;
  }
  .steps-progress__loc{
    display: inline-block;
    vertical-align: middle;
    font-size: rem(11);
    font-family: $fontFamily_robotoCondensed-light;
    padding: rem(5) 0 0;
    strong{
      font-size:rem(13);
      font-family: $fontFamily_robotoCondensed-regular;
      color: get-color("primary");
    }
  }

  &__actions{
    .button{
      margin-bottom: 0;
    }

  }
}