.content__reporting{
    background-color: white;
    border-radius: 3px;
    margin-top: 30px;
    .tab-list{
        margin: 0;
        display: flex;
        border-bottom: 1px solid #eceae8;
        li{
            margin-bottom: 0;
            &:first-child a{
                &:before{
                    content: "\e904";
                    font-family: 'icomoon';
                    color:black;
                    position: absolute;
                    left: 22px;
                    font-size: 17px;
                }
            }
            &:nth-child(2) a{
                &:before{
                    content: "\e903";
                    font-family: 'icomoon';
                    color:black;
                    position: absolute;
                    left: 22px;
                    font-size: 17px;
                }
            }
            &:nth-child(3) a{
                &:before{
                    content: "\e909";
                    font-family: 'icomoon';
                    color:black;
                    position: absolute;
                    left: 22px;
                    font-size: 17px;
                }
            }
            a{
                padding: 25px 45px;
                display: flex;
                align-items: center;
                margin-bottom: 0;
                font-weight: 500;
                font-family: RobotoMedium;
                text-transform: uppercase;
                border-right:1px solid #eceae8;
                position: relative;
                height: 100%;
                border-top: 2px solid transparent;
                &:hover{
                    &:before{
                        color:$color__orange;
                    }
                }
                &.selected{
                    border-top: 2px solid $color__orange;
                    color:$color__orange;
                    background-color: white;
                    position: relative;
                    top: 1px;
                    &:before{
                        color:$color__orange;
                    }
                }
            }
        }
    }
    .tabContent{
        padding-top: 30px;
        .graph{
            .top-graph{
                display: flex;
                justify-content: space-between;
                padding: 20px 30px;
                h2{
                    font-weight: 500;
                    font-family: RobotoMedium;
                }
                select{
                    width: 250px;
                }
            }
            .bottom-graph{
                max-width: 920px;
                margin: 0 auto;
                .highcharts-figure{
                    > div svg{
                        padding-top: 30px;
                        overflow: visible;
                    }
                }
                .highcharts-tooltip {
                    text{
                        fill:#fff !important;
                        tspan{
                            fill:#fff !important;
                        }
                    }
                    .highcharts-shadow{
                        display: none;
                    }
                }
                .highcharts-tooltip-box{
                    fill:#3b3836;
                    stroke: transparent;
                }
                .highcharts-color-0{
                    fill:#6b6a69 !important;
                }
                .highcharts-color-1{
                    fill:#1f78b4 !important;
                }
                .highcharts-color-2{
                    fill:#fd9b15 !important;
                }
                .highcharts-color-3{
                    fill:#33a02c !important;
                }
                .highcharts-color-4{
                    fill:#d13232 !important;
                }
                .highcharts-color-5{
                    fill:#33a02c !important;
                }
                .highcharts-color-6{
                    fill:#3e4be7 !important;
                }
            }
        }
    }
}
.p-calendar{
    position: relative;
    .p-datepicker{
        background-color: white;
        border: 1px solid #DFDFDF;
        padding: 9px;
        border-radius: 6px;
    }
    .p-highlight{
        background-color: $color__orange;
        color:white;
    }
    &:before{
        content: "\EA15";
        display: inline-block;
        font-family: "mlnet__common";
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        position: absolute;
        right: 9px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 24px;
        color:$color__orange;
    }
    input[type="text"]{
        border:1px solid #eceae8;
        padding: 9px 13px;
        border-radius: 3px;
        box-shadow: 0px 0px 2px 1px rgba(222,222,222,1);
        width: 250px;
        background-color: white;
    }
}
.filtre{
    border: 1px solid #eceae8;
    padding-top: 25px;
    padding-bottom: 25px;
    padding: 25px 20px;
    background-color: white;
    .c-radio-group{
        padding: 0;
        
        .c-radio{
            margin-right: 2px;
            label{
                span{
                    border-radius: 50px;
                }
                input[type="radio"]{
                    &:checked{
                        &+span{
                            background-color: $color__blue !important;
                            color:white !important;
                        }
                    }
                }
            }
        }
    }
    h4{
        color:$color__orange;
        text-transform: uppercase;
        font-size: 15px;
        font-family: RobotoMedium;
        font-weight: 500;        
        margin-bottom: 20px;
    }
    .content__filtre{
        display: flex;
        flex-flow: wrap;
        .c-input__holder{
            input[type="text"]{
                border-radius: 3px;
                box-shadow: 0px 0px 5px 1px #dedede;               
            }
        }
    }
    .form-group{
        margin-right: 15px;
        margin-bottom: 30px;
        .rs-picker-daterange{
            .rs-picker-toggle{
                border:1px solid #eceae8;
                padding: 12px 13px;
                border-radius: 3px;
                box-shadow: 0px 0px 5px 1px rgba(222,222,222,1);
                width: 250px;
                display: block;
            }
        }
        > label{
            color:#6b6a69;
            text-transform: uppercase;
            font-size: 13px;
            font-family: RobotoMedium;
            font-weight: 500;            
        }
        .input__text{
            position: relative;
            &:before{
                content: "\EA8B";
                display: inline-block;
                font-family: "mlnet__common"; 
                position: absolute;
                right: 16px;
                top: 50%;
                transform: translateY(-50%);     
                color:$color__orange;          
            }
            input[type="text"]{
                border:1px solid #eceae8;
                padding: 9px 13px;
                border-radius: 3px;
                box-shadow: 0px 0px 5px 1px rgba(222,222,222,1);
                width: 250px;
            }
        }
        .select2{
            border-radius: 4px;
            &:before{
                content: "\EA20";
                font-family: "mlnet__common";
                position: absolute;
                right: 12px;
                background: rgba(107, 106, 105, 0.06);
                width: 25px;
                height: 25px;
                border-radius: 400px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 11px;
                color:$color__orange;
                top: 7px;
            }
            .select2-selection--multiple{
                border:0;
                height: 37px;
                ul{
                    li{
                        background: transparent;
                        border: 0;
                        margin: 0;
                        height: 36px;
                        span{
                            margin: 0;
                        }
                        input{
                            margin: 0;
                            height: 30px;                            
                        }
                    }
                }
            }
        }
    }
    .form__action{
        padding-top: 21px;
        button{
            background: transparent;
            border:0;
            position: relative;
            cursor: pointer;
            border-radius: 3px;
            &.search{
                background-color: $color__blue;
                color:white;
                padding: 13px 15px 13px 38px;
                margin-right: 15px;
                font-family: RobotoMedium;
                font-weight: 500;  
                transition: all 0.4s ease;
                &:hover{
                    background-color: #de5500;
                }              
                &:before{
                    content: "\EA8B";
                    display: inline-block;
                    font-family: "mlnet__common"; 
                    position: absolute;
                    left: 12px;
                    top: 50%;
                    transform: translateY(-50%);     
                }
            }
            &.reinaliser{
                background-color: rgba(236, 234, 232, 0.4);
                color:#3b3836;
                padding: 13px 15px 13px 38px;
                font-weight: bold;
                border:1px solid #eceae8;
                transition: all 0.4s ease;
                &:hover{
                    background-color:#3b3836;
                    color:white;
                }
                &:before{
                    content: "\e908";
                    display: inline-block;
                    font-family: "icomoon"; 
                    position: absolute;
                    left: 12px;
                    top: 50%;
                    transform: translateY(-50%);  
                }
            }
        }
    }
}
.empty-table{
    text-align: center;
    padding: 80px 0;
    p{
        color:#6b6a69;
        font-size: 16px;
        display: flex;
        flex-flow: column;
        &:before{
            content: "\e90a";
            font-family: 'icomoon';
            font-size: 80px;
            color: #eceae8;
            padding-bottom: 55px;
            padding-top: 45px;
        }
    }
}
.table-reporting{
    table{
        thead{
            th{
                background-color: #3060a4;
                color:white;
                text-transform: uppercase;
                border:0;
                font-size: 12px;
                padding: 10px 15px;
                text-align: left;
                font-family: RobotoMedium;
                font-weight: 500;      
                &:nth-child(4){
                    min-width: 170px;
                }          
            }
        }
        tbody{
            tr{
                background-color: #f6f5f5;
                cursor: pointer;
                &:nth-child(2n){
                    background-color: white;
                }
                td{
                    color:#3b3836;
                    padding: 16px 15px;
                    .lireplus{
                        font-size: 0;
                        &:before{
                            content: "\e900";
                            font-family:'icomoon';
                            font-size: 13px;
                            color:#cbbeb1;
                        }
                    }
                }
                &:hover{
                    td{
                        font-weight: 500;
                        font-family: RobotoMedium;
                        &:first-child{
                            border-left:4px solid $color__orange;
                        }
                        .lireplus{
                            &:before{
                                color:$color__orange;
                            }
                        }
                    }
                }
            }
        }
    }
    .bottom-table{
        display: flex;
        justify-content: space-between;
        padding: 20px 20px;
        .paginate{
            background-color: #fafbfc;
            display: flex;
            border-radius: 5px;
            button{
                background-color: transparent;
                padding: 10px 15px;
                border: 1px solid #e0e3e8;
                margin: 0;
                color:#3b3836;
                border-left: 0;
                cursor: pointer;
                &.active{
                    background-color: $color__orange;
                    color:white;                    
                }
                &:hover{
                    background-color: $color__orange;
                    color:white;
                }
                &.p-paginator-next{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 0px 5px 5px 0px;
                    &:before{
                        content: "\e905";
                        font-family: icomoon;
                    }
                }
                &.p-paginator-prev{
                    border-left: 1px solid #e0e3e8;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 5px 0px 0px 5px;
                    &:before{
                        content: "\e907";
                        font-family: icomoon;
                    }
                }
            }
        }
        .export{
            .export-button{
                background-color: $color__orange;
                color:white;
                border:0;
                border-radius: 5px;
                padding: 10px 53px 10px 34px;
                position: relative;
                cursor: pointer;
                font-family: RobotoMedium;
                font-weight: 500;   
                &:hover{
                    background-color: #de5500;
                }             
                &:before{
                    content: "\e902";
                    font-family: 'icomoon';
                    position: absolute;
                    left: 11px;
                }
                &:after{
                    content: "\e901";
                    font-family: 'icomoon';
                    margin-left: 11px;
                    font-size: 9px;
                    height: 100%;
                    border-left: 1px solid #da7627;
                    position: absolute;
                    right: 0;
                    top: 0;
                    display: flex;
                    align-items: center;
                    padding-left: 11px;
                    justify-content: center;
                    padding-right: 11px;
                }
            }
        }
    }
}
.c-fmlnet__dashboard:before {
    content: "\E912" !important;
    font-family: 'icomoon';
}
.derogration{
    color:#fd9b15;
    text-transform: uppercase;
    background-color: rgba(255, 237, 212, 0.4);
    padding: 2px 8px;
    border-radius: 3px;
    font-family: RobotoMedium;
    font-weight: 500;
}
.remise{
    color:#1f78b4;
    text-transform: uppercase;
    background-color: #edf5fb;
    padding: 2px 8px;
    border-radius: 3px;
    font-family: RobotoMedium;
    font-weight: 500;
}
.accepte{
    color:#33a02c;
    text-transform: uppercase;
    background-color: #e6f8d5;
    padding: 2px 8px;
    border-radius: 3px;
    font-family: RobotoMedium;
    font-weight: 500;
}
.abondonne,.refuse{
    color:#d13232;
    text-transform: uppercase;
    background-color: #ffebeb;
    padding: 2px 8px;
    border-radius: 3px;
    font-family: RobotoMedium;
    font-weight: 500;
}
.p-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.p-multiselect{
    position: relative;
    border:1px solid #eceae8;
    padding: 12px 13px;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 1px rgba(222,222,222,1);
    min-width: auto !important;
    padding-right: 60px;
    &.p-focus{
        border-color:$color__orange;
        border-width: 2px;
    }
    .p-multiselect-panel{
        position: absolute;
        top:44px !important;
        background-color: white;
        padding: 10px 7px;
        width: auto !important;
        border:1px solid #e5e5e5;
        border-radius: 3px;
        box-shadow: 0 0.5px 1px 0 #e5e5e5;
        min-width: auto;
        .p-multiselect-header{
            display: none;
        }
        .p-multiselect-items-wrapper{
            overflow: auto;
            position: relative;
            padding: .2em 0;
            .p-multiselect-items{
                padding: 0;
                border: 0;
                margin: 0;
                list-style-type: none;
                .p-multiselect-item{
                    margin: 0;
                    padding: 0.429em 0.857em;
                    border: 0 none;
                    color: #333333;
                    background-color: transparent;
                    transition: background-color 0.2s, box-shadow 0.2s;
                    border-radius: 0;
                    display: flex;
                    &.p-highlight{
                        .p-checkbox{
                            .p-checkbox-box{
                                background-color: $color__orange;
                                .p-checkbox-icon{
                                    &:before{
                                        content: "\EA1F" !important;
                                        font-size: 7px;
                                        font-family: "mlnet__common";
                                        color: white;
                                        position: relative;
                                        top: -2px;
                                        left: -1px;
                                    }
                                }
                            }
                        }
                        label{
                            font-weight: bold;
                        }
                    }
                    label{
                        margin-bottom: 0;
                        padding-bottom: 0;
                        text-transform: lowercase;
                        &::first-letter{
                            text-transform: uppercase;
                        }
                    }
                    .p-checkbox{
                        position: static;
                        display: inline-block;
                        vertical-align: middle;
                        margin: 0 0.5em 0 0;
                        margin-right: 15px;
                        .p-checkbox-box{
                            border: 1px solid rgba(219, 222, 225, 0.28);
                            width: 15px;
                            height: 15px;
                            border-radius: 3px;
                            margin-bottom: 0;
                            .p-checkbox-icon{
                                overflow: hidden;
                                position: relative;
                                &.pi-check{
                                    &:before{
                                        content: "";
                                    }
                                }
                            }
                        }                        
                    }
                }
            }
        }
    }
	.p-column-title{
		height: 62px;
		display: flex;
		padding-top: 0px;
		align-items: center;
    }
    .p-multiselect-trigger{
        position: absolute;
        right:12px;
        top: 50%;
        transform: translateY(-50%);
        span{
            margin-top: -10px !important;
            &:before{
                content: "\e901";
                font-family: "icomoon";
                background: rgba(107, 106, 105, 0.06);
                width: 20px;
                height: 20px;
                border-radius: 400px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 6px;
                color:$color__orange;
                font-weight: bold;
            }
        }
    }
	.p-multiselect-label-container{
		&:before{

		}
		label{
            width:100%;
            padding-bottom: 0;
            color:#3b3836;
		}		
	}
}
.page_404{
    width: 100%;
    text-align: center;
    h3{
    font-size: 31px;
    font-weight: bold;
    margin-top: 9px;
    color:$color__blue;
    margin-bottom: 50px;
    }
    p{
        font-size: 18px;
        max-width: 490px;
        margin: 0 auto 30px;
        line-height: 1.5;
    }
    h1{
        font-size: 134px;
        font-weight: 900;
        color:$color__blue;
        display: flex;
        align-items: center;
        justify-content:center;
        margin-bottom: 0;
        i{
            font-size: 64px;
            margin-right: 20px;
        }
    }
    a{
        background-color: $color__blue !important;
    }
}