// header

@include bp-lt($xmedium){
  .grid{
    padding: 0;
  }
  .page__inner_sec-createstep{
    .page__inner_side{
      padding: 20px 10px;
    }
  }

  .field {
    label{

      display: block;
      text-align: left!important;
    }
    input{
      &.hasDatepicker{
        width: calc(100% - 30px)!important;
      }
    }
  }

}

