.p-dropdown{
  position: relative;
  border: 1px solid #eceae8;
  padding: 12px 13px;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 1px #dedede;
  min-width: auto !important;
  padding-right: 60px;
  background-color: white;
  .p-dropdown-panel{
    z-index: 1000;
    top: 21px;
    left: 0px;
    position: absolute;
    top: 44px !important;
    background-color: white;
    padding: 10px 7px;
    width: 100%;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    box-shadow: 0 0.5px 1px 0 #e5e5e5;
    .p-dropdown-items{
      margin-left: 9px;
    }
  }
  label.p-dropdown-label{
    width: 100%;
    padding-bottom: 0;
    color: #3b3836;
  }
  .p-dropdown-trigger{
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    .p-dropdown-trigger-icon{
      &:before{
        content: "\e901";
        font-family: "icomoon";
        background: rgba(107, 106, 105, 0.06);
        width: 20px;
        height: 20px;
        border-radius: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 6px;
        color: #e7893e;
        font-weight: bold;
      }
    }
  }
}
.p-paginator{
  margin-top: 40px;
  display: inline-block;
  background: #fafbfc;
  border:1px solid #e0e3e8 !important;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  button{
    padding: 17px 17px;
    width: auto !important;
    height: auto !important;
    margin: 0 !important;
    border-right:1px solid #e0e3e8;
    &.p-highlight{
      background-color: $color__blue;
      color:white;
    }
    &:hover{
      background-color: $color__blue;
      color:white;
    }
    &:last-child{
      border-right: 0;
    }
  }
  .p-paginator-pages{
    height:100%;
    button{
      line-height: 1px;
      &:last-child{
        border-right:1px solid #e0e3e8;
      }
    }
  }
}
table{
  .datatable_actions{
    text-align: center;
    a{
      margin: 0 auto;
    }
  }
}
