.select-field{
  min-width: rem(100);
  position: relative;
 >div{
   >div{

     //min-width: 18.75rem;
   }
 }

  .css-xp4uvy{
    font-size: rem(13);
    max-width: none;
  }
  .css-v73v8k{
    font-size: rem(14);
    text-transform: uppercase;
  }

/*<div class="css-15k3avv"><div class="css-11unzgr"><div class="css-1gl4k7y">No options</div></div></div>

<div class="css-15k3avv"><div class="css-11unzgr"><div class="css-wqgs6e" id="react-select-3-option-0" tabindex="-1">0 %</div><div class="css-v73v8k" id="react-select-3-option-1" tabindex="-1">77%</div><div class="css-v73v8k" id="react-select-3-option-2" tabindex="-1">14 %</div><div class="css-v73v8k" id="react-select-3-option-3" tabindex="-1">20 %</div></div></div>
*/

  .css-10nd86i {
    position: relative;
    box-sizing: border-box;
  }
  .error{
    .css-vj8t7z {
      border-color: get-color("alert");
    }
  }
  .css-vj8t7z {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    border-color: hsl(0, 0%, 80%);
    border-style: solid;
    border-width: 1px;
    cursor: default;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    border-radius: 50px;
  }
  .css-wczuvj{
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 38px;
    outline: 0 !important;
    position: relative;
    -webkit-transition: all 100ms;
    transition: all 100ms;
    box-sizing: border-box;
  }
  .css-vj8t7z:hover {
    border-color: hsl(0, 0%, 70%);
  }
  .css-1hwfws3 {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0px 8px;
    -webkit-overflow-scrolling: touch;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
   /* min-height: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;*/
  }
  .css-1492t68 {
    color: hsl(0, 0%, 50%);
    margin-left: 2px;
    margin-right: 2px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    box-sizing: border-box;
    font-size:rem(13);
  }
  .css-1g6gooi {
    margin: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    visibility: visible;
    color: hsl(0, 0%, 20%);
    box-sizing: border-box;
    min-height: 2rem;
    height: 2rem;
    line-height: 2rem;
    input{
      box-shadow: none;
      padding: 0 10px!important;
      min-width: auto!important;
      width: auto!important;
      &:focus{
        box-shadow: none;
      }
    }
  }.css-1wy0on6 {
     -webkit-align-items: center;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
     -webkit-align-self: stretch;
     -ms-flex-item-align: stretch;
     align-self: stretch;
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-flex-shrink: 0;
     -ms-flex-negative: 0;
     flex-shrink: 0;
     box-sizing: border-box;
   }
  .css-d8oujb {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    background-color: hsl(0, 0%, 80%);
    margin-bottom: 8px;
    margin-top: 8px;
    width: 1px;
    box-sizing: border-box;
  }
  .css-1ep9fjw {
    color: hsl(0, 0%, 80%);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 8px;
    -webkit-transition: color 150ms;
    transition: color 150ms;
    box-sizing: border-box;
  }
  .css-1ep9fjw:hover {
    color: hsl(0, 0%, 60%);
  }
  .css-19bqh2r {
    display: inline-block;
    fill: currentColor;
    line-height: 1;
    stroke: currentColor;
    stroke-width: 0;
  }
  .css-1sontr1 {
    pointer-events: none;
    position: relative;
    box-sizing: border-box;
    &.error{
      .css-162g8z5{
        border-color: get-color("alert");
      }
    }

  }
  .css-162g8z5 {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: hsl(0, 0%, 95%);
    border-color: hsl(0, 0%, 90%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    cursor: default;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 38px;
    outline: 0 !important;
    position: relative;
    -webkit-transition: all 100ms;
    transition: all 100ms;
    box-sizing: border-box;
    border-radius: 50px;

  }
  .css-162g8z5:hover {
    border-color: hsl(0, 0%, 70%);
  }
  .css-14uuagi {
    background: 0;
    border: 0;
    font-size: inherit;
    outline: 0;
    padding: 0;
    width: 1px;
    color: transparent;
    left: -100px;
    opacity: 0;
    position: relative;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  .css-ln5n5c {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    background-color: hsl(0, 0%, 90%);
    margin-bottom: 8px;
    margin-top: 8px;
    width: 1px;
    box-sizing: border-box;
  }
  .css-bl6clz {
    z-index: 9999;
    border: 0;
    -webkit-clip: rect(1px, 1px, 1px, 1px);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    position: absolute;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    background-color: red;
    color: blue;
  }
  .css-2o5izw {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    border-color: get-color("primary");
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 0 1px get-color("primary");
    cursor: default;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 38px;
    outline: 0 !important;
    position: relative;
    -webkit-transition: all 100ms;
    transition: all 100ms;
    box-sizing: border-box;
    border-radius: 50px;
  }
  .css-2o5izw:hover {
    border-color: get-color("primary");
  }
  .css-1uq0kb5 {
    color: hsl(0, 0%, 40%);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 8px;
    -webkit-transition: color 150ms;
    transition: color 150ms;
    box-sizing: border-box;
  }
  .css-1uq0kb5:hover {
    color: hsl(0, 0%, 20%);
  }

  .css-15k3avv {
    top: 100%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 4px;
    box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.1), 0 4px 11px hsla(0, 0%, 0%, 0.1);
    margin-bottom: 8px;
    margin-top: 8px;
    position: absolute;
    width: 100%;
    z-index: 1;
    box-sizing: border-box;
    padding-left: 0;
    z-index: 5;

  }
  .css-11unzgr {
    text-align: left;
    >div{
      padding: rem(5) rem(10);
      line-height: 1.2;
      margin: 0;

    }
  }
  .css-1gl4k7y {
    color: hsl(0, 0%, 60%);
    padding: 8px 12px;
    text-align: center;
    box-sizing: border-box;
    font-size: rem("12");
  }
}
