$font: $fontFamily_robotoCondensed-regular;

$scheme-base: get-color("primary");
$color-bg: $scheme-base;
$color-mid: darken($scheme-base, 14);
$color-dark: darken($scheme-base, 40);

$steps: 4; // Change in html
$step-width: 100% / $steps;
$step-point-width: 35px;
$step-point-height: $step-point-width;
$step-point-color: $color-mid;
$step-point-bg: white;
$step-font-size: 14px;

$step-padding: 10px;
$step-gap: 50px;
$step-label-bg : $body-bg-default;
$tab-spacing: 80px;

$form-width: 100%;

$counter-spacing: 2px;
$counter-font-size: 16px;

$bar-transition-speed: 800ms;
$bar-bg: repeating-linear-gradient(
                45deg,
                #1ea4ec,
                #1ea4ec 4px,
                #1f8bc5 4px,
                #1f8bc5 10px
);
$bar-height: 1px;

$status-width: 40px;

$box-color: #986c5d;

$box-color: repeating-linear-gradient(
                45deg,
                #986c5d,
                #986c5d 2px,
                #775144 2px,
                #775144 4px
);

$lid-color: #775144;
$box-lid-offset: 4px;

$box-item-color: #be69d2;
$box-item-thickness: 4px;
$box-item-width: $status-width - 20;
$box-item-height: $box-item-width;

$ribbon-color: #ee0f29;
$ribbon-width: $status-width / 4;

$bow-width: 6px;
$bow-height: 10px;
$bow-color: darken($ribbon-color, 10);
.label-text{
  label{
    font-size: 14px;
    color: #a2a4a7;
    font-weight: 500;
    font-family: 'barlow';
    margin-bottom: 5px;
  }
  h3{
    font-size:32px;
    color:#3b3836;
    font-family: 'barlow';
  }
  span{
    font-size:20px;
    color:#3b3836;
    font-family: 'barlow';
    font-weight: 500;
  }
}
.brouillon{
  display: flex;
  align-items: center;
  span{
    background-color: rgba(19, 83, 155, 0.1);
    color: #13539b;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
    padding: 7px 8px;
    display: inline-block;
    border-radius: 3px;
    margin-right: 18px;
    &:before{
      content: "\e92f";
      font-family: icomoon;
      margin-right: 7px;
    }
  }
  a{
    color:#13539b;
    font-weight: 500;
    font-size:14px;
    &:after{
      content: "\e905";
      font-family: icomoon;
      font-size: 11px;
      margin-left: 6px;
      position: relative;
      top: 1px;
    }
  }
}
.right__col-top {
  padding: 15px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
  padding-top: 30px;
  background-color: white;
  border: 1px solid rgba(206, 207, 209, 0.54);
  .bottom{
    margin-top: 15px;
    border-top:1px solid rgba(206, 207, 209, 0.54);
    .link{
      display: flex;
      align-items: center;
      a.button.hollow{
        background-color: #f7f8fc !important;
        border:1px solid #e8e9ec;
        color:#3b3836;
        font-weight: 500;
        font-size: 12px;
        margin-right: 10px;
        &:before{
          margin-right: 10px;
        }
        span{
          font-size: inherit;
        }
        &.print{
          &:before{
            content: "\e92c";
            font-family: icomoon;
          }
        }
        &.envoyer{
          &:before{
            content: "\e92b";
            font-family: icomoon;
          }
        }
      }
    }
  }
}
.left__col-top{
  .content{
    padding: 15px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    padding-top: 30px;
    background-color: white;
    border: 1px solid rgba(206, 207, 209, 0.54);
    height:100%;
  }
  .link{
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
  }
  .consulter.button.hollow.alert{
    background-color: #f7f8fc !important;
    border:1px solid #e8e9ec;
    color:#3b3836;
    font-weight: 500;
    &:before{
      content: "\e92d";
      font-family: icomoon;
      margin-right: 10px;
    }
  }
  .coordonne{
    display: flex;
    flex-flow: wrap;
    .left{
      padding-right: 30px;
    }
  }
}
.row__top{
  width:100%;
  display: flex;
  margin-bottom: 20px;
}
.row__bottom{
  width:100%;
  display: flex;
}
.constitution_dossier{
  padding:2.5rem 1.25rem 1.25rem;
  .title-col{
    padding-left: 0;
    margin-bottom: 30px;
  }
  .list{
    display: flex;
    .right{
      background-color: rgba(247, 248, 252, 0.3);
      border:1px solid #e8e9ec;
      border-radius: 8px;
      display: flex;
      flex-flow: column;
      padding:30px;
      width: 50%;
      justify-content: center;
      .icon{
        text-align: center;
        margin-bottom: 20px;
        &:before{
          content:"\e902";
          font-family: icomoon;
          color:#a2a4a7;
          font-size:76px;
        }
      }
      .c-input__holder{
        max-width: 130px;
        margin: 0 auto 15px;
      }
      .c-form__item--file .ico-feedback, .c-form__item--file [class*="c-fmlnet"]{
        right:auto;
        left: 0.3125rem;
      }
      .c-form__item--file input[type="text"]{
        background-color: #f7f8fc;
        border:1px solid #e8e9ec;
        border-radius: 4px;
        padding-right: 15px;
        padding-left: 2.5rem;
      }
      small{
        color:#a2a4a7;
        font-weight: 500;
        font-size:14px;
        text-align: center;
      }
    }
    .left{
      padding-right: 15px;
      width: 46%;
      h3{
        font-size:16px;
        font-weight: 500;
        margin-bottom: 30px;
        &:before{
          content:"\e930";
          font-family: icomoon;
          margin-right:10px;
        }
      }
      ul{
        li{
          font-size:14px;
          font-weight: 500;
          &:before{
            content: "";
          }
        }
      }
    }
  }
}
.mlnet-simulation_tabs{
  .mlnet-simulation_tab{
    &.tab__accept{
      &.selected{
        border-top: 2px solid #33a02c !important;
      }
      
      small{
        display: block;
        line-height: 1;
        margin-top: -11px;
        text-align: center;
        color:#33a02c;
        font-size:12px;
        font-weight: 600;
      }
    }
    &.tab__refuse{
     
      &.selected{
        border-top: 2px solid #d13232 !important;
      }
      small{
        display: block;
        line-height: 1;
        margin-top: -11px;
        text-align: center;
        color:#d13232;
        font-size:12px;
        font-weight: 600;
      }
    }
  }
}
.steps-progress--4steps{
  $steps: 4;
  .steps-progress_inner__step{
    width: 100%/$steps;
  }
}
.steps-progress--2steps{

  $steps: 2; // Change in html
}
.steps-progress--3steps{

  $steps: 3; // Change in html
}
.steps-progress--5steps{

  $steps: 5; // Change in html
}
@mixin move-item($item, $top, $left, $opacity) {
  & > .#{$item} {
    top: $top;
    left: $left;
    opacity: $opacity;
  }
}

%box-animation-5{
  @include move-item('box_base', 50%, 0px, 1);
  @include move-item('box_item', -30px, 0px, 0);
}

%box-animation-4{
  @extend %box-animation-5;
  @include move-item('box_lid', -20px, 0px, 0);
  @include move-item('box_item', -10px, 0px, 1);
}

%box-animation-3{
  @extend %box-animation-5;
  @include move-item('box_item', 10px, 0px, 1);
  @include move-item('box_lid', -1px, 0px, 1);
  @include move-item('box_ribbon', 70%, 0px, 0);
  @include move-item('box_bow', 0px, 0px, 0);
}

%box-animation-2{
  @extend %box-animation-5;
  @extend %box-animation-4;
  @extend %box-animation-3;

  @include move-item('box_ribbon', 50%, 0px, 1);
  @include move-item('box_bow', -10px, 0px, 1);
}

%box-animation-1{
  @extend %box-animation-5;
  @extend %box-animation-4;
  @extend %box-animation-3;
  @extend %box-animation-2;

  @include move-item('box_tag', 10px, 20px, 1);
  @include move-item('box_string', 10px, 20px, 1);

}

@mixin traverse($n) {
  $step: '';
  $tab: '';

  @for $i from 1 through $n {
    $int: #{($n + 1) - $i};

    & #step-#{$int}:checked #{$step} + div {
      width: ($n - $i) * $step-width;
    }

    & #step-#{$int}:checked #{$step} + div + div + div {
      & > .tab:nth-of-type(#{$int}) {
        opacity: 1;
        top: 0;
      }
    }

    & #step-#{$int}:checked #{$step} + div + div + div + div {
      right: - ($step-width / 2) + ($i * $step-width);
      @extend %box-animation-#{$i};
    }

    $step: $step + '+ input';
    $tab: $tab + '+ div';
  }
}

%center {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
}

%bar {
  height: $bar-height;
  left: $step-width / 2;
  background: $bar-bg;
  transition: width $bar-transition-speed cubic-bezier(0.915, 0.015, 0.300, 1.005);
  border-radius: $bar-height;
  width: 0;
  position: relative;
  z-index: -1;
}

%counter {
 //@extend %center;
  width: $step-point-width;
  height: $step-point-height;
  color: $step-point-color;
  background: $step-point-bg;
  line-height: $step-point-width - 2px;
  border: $counter-spacing solid $color-bg;
  font-size: $counter-font-size;
 // top: $bar-height / 2;
  border-radius: 100%;
  transition: all .4s;
  //cursor: pointer;
  pointer-events: none;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

%step {
  width: $step-width;
  font-size: $step-font-size;
  padding: 0 $step-padding;
  transition: all .4s;
  float: left;
  text-align: center;
  position: relative;
  display: inline-block;
  //left: 2px;


  label {
    //padding-top: $step-gap;
   // top: -20px;
   // display: block;

    position: relative;
    //cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    text-align: left;

    font-size:$step-font-size;


    text-transform: uppercase;
    padding: 0 rem(8);
    //margin-left: -3px;
    @include bp-lt($medium){
      text-align: center;
    }
    span{
      display: inline-block;
     // max-width: calc(100% - 60px);
      vertical-align: middle;

      @include bp-lt($medium){
        display: block;
        width: 100%;
        padding-top: rem(10);
        text-align: center;
      }

    }

    i{
      display: none;
    }
    &:before {
      @extend %counter;
    }
  }


  &:hover {
    color: white;
  label{

    &:before {
      color: white;
      background: get-color("primary");
    }
  }
  }
}
.remove-service{
    position: absolute;
    right: 0;
    padding: 10px;
    font-size: 0;
    cursor: pointer;
    i{
      font-size:19px;
    }
    &:hover{
      color:$color__blue;
    }
}
.panel-total {
  margin-bottom: 0;
}
.steps-content{
    margin-top: 20px;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 100px;
    box-shadow: 0 3px 6px 1px rgba(219, 222, 225, 0.28), 0 1px 1px 0 rgba(206, 207, 209, 0.54);
    overflow: hidden;
    &.no-bg-white{
      background: transparent;
      box-shadow: none;
    }
  .panel-footer{
    background-color: white;
  }
  .steps-progress__actions{
    .remove{
      background-color: #f7f8fc !important;
      border: 1px solid #e8e9ec;
      color:#d13232;
      &:after{
        display: none;
      }
      &:before{
        content: "\e92e";
        font-family: icomoon;
        margin-right: 15px;
      }
    }
    .soumettre{
      background-color: $color__blue !important;
      &:after{
        display: none;
      }
      &:before{
        content: "\e920";
        font-family: icomoon;
        margin-right: 15px;
      }
    }
    .demande{
      i{
        margin-left: 8px;
      }
    }
    .accept{
      i{
        margin-left: 8px;
        position: relative;
        top: 2px;
      }
    }
    .retour{
      &:before{
        content: "\e907";
        font-family: icomoon;
        font-size: 11px;
        margin-right: 8px;
        position: relative;
        top: 0px;
      }
    }
    .button{
      border-radius: 4px;
      font-size: 14px;
      font-family: 'Barlow';
      font-weight: 500;
      padding: 9px 26px;
      margin: 0 3px !important;
      background-color: $color__orange;
      &.hasicon_register{
        &:before{
          content: "\e910";
          font-family: 'icomoon';
          font-size: 13px;
          margin-right: 9px;
          position: relative;
          top: 0px;
        }       
      }
      &.hasicon_accept{
        background-color: #13539b;
        &:before{
          content: "\e920";
          font-family: 'icomoon';
          font-size: 11px;
          margin-right: 9px;
          position: relative;
          top: 0px;
        }
      }
      &.hasicon_right{
        &:after{
          content: "\e905";
          font-family: icomoon;
          font-size: 11px;
          margin-left: 6px;
          position: relative;
          top: 1px;
        }
      }
      &:disabled{
        opacity: 1;
        background-color: #e8e9ec;
        color:#a2a4a7;
      }
      &.alert{
        background-color: #f7f8fc;
        color:#3b3836;
        border:1px solid #e8e9ec;
        &:hover{
          background-color: $color__blue !important;
          color:white;
          border-color:$color__blue;
        }
      }
    }
  }
}
.datatables-content .table-result-person{
  tr{
    background-color: white !important;
    &.focused{
      border:2px solid $color__blue !important;
    }
    .c-radio{
      input[type="checkbox"]:checked, input[type="checkbox"]:not(:checked), input[type="radio"]:checked, input[type="radio"]:not(:checked){

      }
    }
    td{
      &:first-child{
        border:0 !important;
      }
      label{
        input[type="radio"]{
          &:checked{
            &+ span{
              &:before{
                content: "" !important;
                border-width:5px;
              }
            }
          }
        }
        span{
          &:before{
            border-color:$color__blue !important;
          }
        }
      }
    }
    &:hover{
      td{
        &:first-child{
          border:0;
        }
      }
    }
    td{
      span{
        display: block;
        width: 100%;
        font-family: 'Barlow';
        font-weight: normal;
        color:#3b3836;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        &.type-persone{
          background-color: rgba(100, 82, 205, 0.1);
          font-size: 11px;
          text-transform: uppercase;
          color: #6452cd;
          font-family: 'Barlow';
          font-weight: bold;
          width: auto;
          display: inline-block;
          padding: 3px 7px;
          margin-bottom: 5px;
          border-radius: 2px;
        }
        &.title{
          font-size: 22px;
        }
        &.code{
          color:#a2a4a7;
          font-size: 14px;
          font-weight: 500;
        }
      }
      label{
        color:#a2a4a7;
        font-size: 12px;
        font-weight: 500;
        height: 30px;
      }
    }
  }
}
.dataTable-actions_search{
  .tabs-contents{
    max-width: 525px;
    margin: 0 auto;
    .c-input_search{
      position: relative;
      .btn-icon{
        position: absolute;
        top: 12px;
        right: 10px;
        background-color: transparent;
        border:0;
        cursor: pointer;
        i{
          &:before{
            font-family: icomoon;
            content: "\e916";
            color:$color__orange;
            font-size: 17px;
          }
        }
      }
    }
  }
}
.large-form {
  padding: 0 20px;
  max-width: 100% !important;
}
.formulaire-personne.tabs-contents{
  max-width: 700px;
  margin: 0 auto;
}
.btn__blue-radio{

  .c-radio{
    margin-right: 10px;
  }
  label{
    input[type="radio"]{
      &:checked{
        &+ span{
          background-color: $color__blue !important;
          color:white !important;
        }
      }
    }
    > span{
      border-radius: 20px;
      background-color: rgba(219, 222, 225, 0.28);
      border-color: rgba(206, 207, 209, 0.54);
      line-height: normal !important;
    }
  }
}
.div__panel{
  border:1px solid rgba(206, 207, 209, 0.54);
  border-radius: 11px;
  box-shadow: none;
}

#personnemoraletab {
  display: block !important;
  [data-personne='personnemorale'] {
    display: block;
  }

  [data-personne='personnephysique'] {
    display: none;
  }

  div[data-personne='professionLiberale'] {
    display: none;

  }
}
#personnephysiquetab {
  display: block !important;
  [data-personne='personnemorale'] {
    display: none;
  }

  [data-personne='personnephysique'] {
    display: block;
  }

  div[data-personne='professionLiberale'] {
    display: none;

  }
}
#professionLiberaletab {
  display: block !important;
  [data-personne='personnemorale'] {
    display: none;
  }

  [data-personne='personnephysique'] {
    display: none;
  }

  div[data-personne='professionLiberale'] {
    display: block;

  }
}
.result-type-personne{
  padding: 0 20px;
  table{
    margin-top: 30px;
    border: 1px solid #e8e9ec !important;
    box-shadow: none !important;
  }
}
.modal-confirmation{
  .modal_frm-container{
    text-align: center;
    h3{
      font-weight: 500;
      font-size: 24px;
      margin-top: 20px;
      line-height: 1.5;
    }
  }
  .modal__actions{
    display: flex;
    justify-content: space-between;
  }
}
.steps-content{
  .row{
    max-width: 100%;
  }
  .steps-progress{
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: white;
    border:1px solid rgba(206, 207, 209, 0.54);
    border-radius: 10px;
    margin-bottom: 20px;
    .steps-progress_inner{
      display: flex;
      max-width: 480px;
      margin: 0 auto;
      position: relative;
      padding-top: 5px;
      padding-bottom: 11px;
      &:before{
        content: "";
        background-color: #ebeff4;
        width: 68%;
        height: 6px;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 7px;
      }
      .steps-progress_inner__step{
        width: 33.3%;
        font-size: 14px;
        padding: 0 10px;
        transition: all .4s;
        float: left;
        text-align: center;
        position: relative;
        display: inline-block;
      }
      span{
        text-transform: lowercase;
        color:#bcc2d0;
        font-size: 14px;
        font-family: 'Barlow';
        font-weight: 500;
        &:first-child{
          text-transform: uppercase;
        }
      }
      .steps-progress_inner__step{
        &:hover{
          label{
            &:before{
              background: white;
            }
          }
        }
        &.done{
          label{
            &:before{
              content: "\ea10";
              font-family: 'icomoon';
              background-color: #e7893e;
              border-color: #e7893e;
              width: 17px;
              height: 17px;
              color: white;
              line-height: 13px;
              font-size: 9px;
              text-align: center;
              top: -2px;
            }
            &:after{
              background: #e7893e;
              content: "";
              position: absolute;
              width: 108%;
              height: 6px;
              top: 3px;
              left: 78px;
            }
            span{
              color:$color__blue;
            }
          }
        }
        label{
          padding: 0 28px;
          &:before{
            content: "";
            width: 10px;
            height: 10px;
            border:2px solid #ebeff4;
            border-radius: 50%;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
          }
          > span{
            padding-top: 28px;
            text-align: center;
            > span{
              &::first-letter{
                text-transform: uppercase;
              }
            }
          }
        }
        &.current{
          label{
            &:before{
              background-color: $color__orange;
              border-color:$color__orange;
              width: 12px;
              height: 12px;
            }
            span{
              color:$color__blue;
            }
          }
        }
      }
    }
  }
  .service-step{
    margin: 0 -10px;
  }
  .megamenu{
    max-width: 430px;
    &.show-tabs{
      .sous-tabs{
        display: block;
      }
    }
    > span{
      width: 320px;
      height: 43px;
      position: relative;
      font-size: 14px;
      font-family: 'Barlow';
      font-weight: 500;
      border: 1px solid #dee2e8;
      display: flex;
      align-items: center;
      padding: 0 15px;
      border-radius: 6px;
      color:#a2a4a7;
      cursor: pointer;
      &:hover{

      }
      &:before{
        content: "\e901";
        font-family: icomoon;
        width: 18px;
        height: 18px;
        background-color: rgba(105, 106, 107, 0.06);
        border-radius: 50px;
        color: #e7893e;
        position: absolute;
        right: 9px;
        font-size: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .sous-tabs{
      display: none;
      margin-top: 9px;
      .container-tabs{
        display: flex;
        border:1px solid #dee2e8;
      }
      .tabs-content{
        border-left:1px solid #dee2e8;
        border-radius: 0;
        .content{
          display: none;
          &.visible{
            display: block;
          }
          .radio-megamenu{
            display: flex;
            flex-flow: column;
            padding-left: 15px;
            padding-top: 15px;
            .c-radio{
              width: 100%;
              margin: 0;
              input[type="radio"]{
                &:checked{
                  &+span{
                    background: transparent !important;
                    border: 0 !important;
                    color:$color__blue;
                    display: flex;
                    align-items: center;
                    &:before{
                      content: "\e920";
                      font-family: 'icomoon';
                      display: block !important;
                      border: 0;
                      width: 10px;
                      height: 16px;
                    }                    
                  }
                }
              }
              label{
                padding: 0;
                span{
                  border:0;
                  background-color: transparent;
                  padding: 0;
                }
              }
            }
          }
        }
      }
      .tabs-nav{
        width: 180px;
        padding: 17px;
        nav{
          display: flex;
          flex-flow: column;
          > div{
            font-size: 14px;
            font-weight: 500;
            color:$color__black;
            display: flex;
            align-items: center;
            cursor: pointer;
            padding: 8px 9px;
            border-radius: 5px;
            margin-bottom: 8px;
            &.selected{
              background-color: rgba(19, 83, 155, 0.1);
              color:$color__blue;
            }
            &:before{
              font-family: 'icomoon';
              margin-right: 10px;
              font-size: 11px;
            }
            &:first-child{
              &:before{
                content: "\e926";
              }
            }
            &:nth-child(2){
              &:before{
                content: "\e925";
              }
            }
            &:nth-child(3){
              &:before{
                content: "\e924";
              }
            }
            &:nth-child(4){
              &:before{
                content: "\e923";
              }
            }
            &:nth-child(5){
              &:before{
                content: "\e922";
              }
            }
            &:nth-child(6){
              &:before{
                content: "\e921";
              }
            }
          }
        }
      }
    }
  }
  .c-input{
    position: relative;
    max-width: 140px;
    min-width: 140px;
    input[type="text"]{
      padding-right: 32px;
    }
    span{
      color:$color__orange;
      font-size: 12px;
      font-family: 'Barlow';
      font-weight: 600;
      text-transform: uppercase;
      position: absolute;
      right: 8px;
      top:50%;
      transform: translateY(-50%);
    }
  }
  .total-bien{
    text-align: right;
    padding: 15px 28px;
    .line{
      width: 100%;
      text-align: right;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: 5px;
      label{
        color:#a2a4a7;
        font-size: 20px;
        font-family: 'Barlow';
        font-weight: 500;
        padding-right: 35px;
      }
      span{
        font-size:20px;
        color:#3b3836;
        font-family: 'Barlow';
        font-weight: 500;
      }
    }
  }
  .div__button-addbien{
  }
  .addnewbien{
    background-color: #f4f6f8;
    width: 100%;
    font-size: 16px;
    font-family: 'Barlow';
    font-weight: 500;
    color:#3b3836;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    border: 1px dashed #a2a4a7;
    border-radius: 8px;
    cursor: pointer;
    padding: 23px 15px;
    &:hover{
      border:1px solid $color__blue;
    }
    .icon{
      display: flex;
      align-items: center;
      padding-right: 6px;
      &:before{
        content: "+";
        background-color: #13539b;
        color: white;
        border-radius: 50px;
        width: 23px;
        display: flex;
        height: 23px;
        text-align: center;
        justify-content: center;
        line-height: 20px;
        font-size: 20px;
        margin-right: 12px;
      }
    }
  }
  .form-select{
    position: relative;
    select{
      background-image: none !important;
    }
    &:before{
      content: "\e901";
      font-family: "icomoon";
      background: rgba(107, 106, 105, 0.06);
      width: 20px;
      height: 20px;
      -webkit-border-radius: 400px;
      -moz-border-radius: 400px;
      border-radius: 400px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      font-size: 6px;
      color: #e7893e;
      font-weight: bold;
      position: absolute;
      right: 9px;
      top: 12px;
    }
  }
  .steps-info{
    .row{
      align-items: flex-start;
    }
  }
  .form-calcul{
    .form-group{
      margin-bottom: 10px;
      width: 100%;
      &.montant-ttc{
        .c-input{
          width: 100%;
          max-width: 100%;
          min-width: 100%;
          input[type='text']{
            background-color: rgba(204, 204, 204, 0.19);
          }
        }
      }
    }
    .row_form{
      display: flex;
      .form-group{
        width: 48%;
      }
    }
  }
  .row__service{
    background: transparent;
    border: 0;
    box-shadow: none;
    .add_ligne-service{
      padding: 12px;
      background-color: white;
      margin-bottom:25px;
      border-radius: 8px;
      border: 1px solid #dee2e8;
      position: relative;
    }
    label{
      font-size: 14px;
      font-family: 'Barlow';
      font-weight: 500;
      line-height: 1.7;
    }
    .row-bottom{
      .form-group{
        margin: 0;
        margin-right: 29px;
      }
    }
    .title-designation{
      max-width: 520px;
      label{
        margin-bottom: 8px;
      }
      input[type="text"]{
        font-size: 22px;
        font-weight: 500;        
      }
    }

    .fraiscomplementaire{
      background-color: rgba(247, 248, 252, 0.5);
      padding: 0px;
      border:1px solid #e8e9ec;
      border-radius: 8px;
      > label{
        color: #a2a4a7;
        font-weight: 600;
        font-family: 'Barlow';
        text-transform: uppercase;
        padding-left: 18px;
        padding-right: 18px;
        padding-top: 10px;
      }
      .row__comp{
        display: flex;
        padding: 12px 30px;
        flex-flow: wrap;
        .form-group{
          margin: 0;
          margin-right: 20px;
        }
      }
      .result{
        border-top: 1px solid #e8e9ec;
        padding: 12px 18px;
        ul{
          margin: 0;
          li{
            display: flex;
            font-size: 14px;
            font-family: 'Barlow';
            font-weight: 500;
            margin-bottom: 0;
            > div{
              margin-bottom: 0;
            }
            .title{
              width: 30%;
              &:before{
                content: "\e930";
                font-family: "icomoon";
                margin-right: 9px;
                font-size: 11px;
              }
            }
            .price{
              width: 13%;
            }
            .tva{
              width: 13%;
            }
            .pricefinal{
              width: 13%;
            }
            .remove{
              margin-bottom: 0;
              &:before{
                content: "_";
                background-color: #e73e3e;
                width: 15px;
                display: block;
                height: 15px;
                border-radius: 11px;
                color: white;
                line-height: 9px;
                margin: 0 auto;
                text-align: center;
                font-size: 10px;
              }
            }
          }
        }
      }
    }
    .addplus{
      background-color: $color__orange;
      color:white;
      font-size: 14px;
      font-weight: 500;
      font-family: 'Barlow';
      border-radius: 6px;
      padding: 12px 34px;
      margin-top: 32px;
      display: block;
      border:0;
      cursor: pointer;
      &:before{
        content: "+";
        margin-right: 6px;
        font-size: 16px;
      }
    }

    .row-bottom{
      display: flex;
      margin-top: 10px;
      flex-flow: wrap;
      .form-group{
        input{
          width: 100%;
          font-size: 14px;
          font-family: 'Barlow';
          background-color: white;
        }
        button{
          background-color: #f7f8fc;
          color: #13539b;
          border-radius: 4px;
          height: 25px;
          top: 50%;
          transform: translateY(-50%);
          &.increment-quantity{
            right: 5px;
          }
          &.decrement-quantity{
            left: 5px;
          }
        }
      }
    }
  }
  .form-group{
    max-width: 590px;
    margin: 0 auto;
    label{
      font-size: 14px;
      font-family: 'Barlow';
      font-weight: 500;
      line-height: 32px;
    }
  }
  .c-radio-image{
    padding-top: 4px;
    .c-radio{
      margin-right: 10px;
      width: 23%;
      label{
        padding-left: 0;
        padding-right: 0;
        input[type="radio"]{
          &:checked{
            &+ span{
              background-color: $color__blue !important;
              color:white !important;
              &:before{
                color:white !important;
              }
            }
          }
        }
        span{
          font-size: 14px;
          font-family: 'Barlow';
          font-weight: 500;
          color:$color__blue !important;
          border-color:#dee2e8 !important;
          width: 100%;
          padding: 3px;
          &:before{
            display: block !important;
            border-radius: 0;
            background: transparent;
            border: 0;
            width: auto;
            height: auto;
            margin-top: 0px;
            padding-bottom: 0px;
            color:$color__orange;
            margin-bottom: 5px !important;
          }
        }
      }
      &:first-child{
        label{
          span{
            opacity: 1;
            &:before{
              background-image: url("../media/images/offers/marocleasing1.png");
              content: "";
              display: block !important;
              font-family: 'icomoon';
              background-repeat: no-repeat;
              width: 100%;
              padding: 0;
              height: 90px;
              margin: 0;
              background-size: cover;
            }
          }
        }
      }
      &:nth-child(2){
        label{
          > span{
            &:before{
              background-image: url("../media/images/offers/marocleasing2.png");
              content: "";
              display: block !important;
              font-family: 'icomoon';
              background-repeat: no-repeat;
              width: 100%;
              padding: 0;
              height: 90px;
              margin: 0;
              background-size: cover;
            }
          }
        }
      }
      &:nth-child(3){
        label{
          > span{
            &:before{
              background-image: url("../media/images/offers/marocleasing3.png");
              content: "";
              display: block !important;
              font-family: 'icomoon';
              background-repeat: no-repeat;
              width: 100%;
              padding: 0;
              height: 90px;
              margin: 0;
              background-size: cover;
            }
          }
        }
      }
      &:nth-child(4){
        label{
          > span{
            &:before{
              background-image: url("../media/images/offers/marocleasing4.png");
              content: "";
              display: block !important;
              font-family: 'icomoon';
              background-repeat: no-repeat;
              width: 100%;
              padding: 0;
              height: 90px;
              margin: 0;
              background-size: cover;
            }
          }
        }
      }
    }
    label{
      input[type="radio"]{

      }
      > span{
        height: 132px;
      }
    }
  }
  .radio-button{
    padding-top: 0 !important;
    .c-radio{
      margin-right: 0;
      label{
        input[type="radio"]{
          &:checked{
            &+ span{
                background-color: $color__blue !important;
                color:white !important;
              &:before{

              }
            }
          }
        }
        span{
          border-radius: 53px;
          background-color: #f7f8fc;
          font-size: 14px;
          font-family: 'Barlow';
          font-weight: 500;
          border:1px solid #e8e9ec;
        }
      }
    }
  }
  .c-input_search{
    display: flex;
    position: relative;
  }
  .inline-group.button-radio-custom{
    &.type-bien {
      .c-radio{
        &:first-child{
          label{
            > span{
              &:before{
                content: "\e95c";
                font-family: 'icomoon';
              }
            }
          }
        }
        &:nth-child(2){
          label{
            > span{
              &:before{
                content: "\e95b";
                font-family: 'icomoon';
              }
            }
          }
        }
        &:nth-child(3){
          label{
            > span{
              &:before{
                content: "\e95a";
                font-family: 'icomoon';
              }
            }
          }
        }
        &:nth-child(4){
          label{
            > span{
              &:before{
                content: "\e959";
                font-family: 'icomoon';
              }
            }
          }
        }
        &:nth-child(5){
          label{
            > span{
              &:before{
                content: "\e958";
                font-family: 'icomoon';
              }
            }
          }
        }
        &:nth-child(6){
          label{
            > span{
              &:before{
                content: "\e957";
                font-family: 'icomoon';
              }
            }
          }
        }
        label{
          input[type="radio"]{
            &:checked{
              &+ span{
                background-color: $color__blue !important;
                color:white !important;
                &:before{
                  color:white !important;
                }
              }
            }
          }
          span{
            font-size: 12px;
            font-family: 'Barlow';
            font-weight: 500;
            border: 1px solid #dee2e8;
            padding: 5px 2px;
            border-radius: 7px;
            display: block;
            line-height: 15px !important;
            max-width: 160px;
            width: 160px;
            &:before{
              display: block !important;
              font-size: 40px;
              border-radius: 0;
              background: transparent;
              border: 0;
              width: auto;
              height: auto;
              margin-top: 42px;
              padding-bottom: 30px;
              color:$color__orange;
            }
          }
        }
        &:first-child{
          label{
            span{
              opacity: 1;
              &:before{

              }
            }
          }
        }
        &:nth-child(2){

        }
        &:last-child(){

        }
      }
    }
    .c-radio{
      label{
        input[type="radio"]{
          &:checked{
            &+ span{
              background-color: $color__blue !important;
              color:white !important;
              &:before{
                color:white !important;
              }
            }
          }
        }
        span{
          font-size: 12px;
          font-family: 'Barlow';
          font-weight: 500;
          border: 1px solid #dee2e8;
          padding: 5px 2px;
          border-radius: 7px;
          display: block;
          line-height: 15px !important;
          max-width: 160px;
          width: 160px;
          &:before{
            display: block !important;
            font-size: 40px;
            border-radius: 0;
            background: transparent;
            border: 0;
            width: auto;
            height: auto;
            margin-top: 42px;
            padding-bottom: 30px;
            color:$color__orange;
          }
        }
      }
      &:first-child{
        label{
          span{
            opacity: 1;
            &:before{
              content: "\e919";
              display: block !important;
              font-family: 'icomoon';
            }
          }
        }
      }
      &:nth-child(2){
        label{
          > span{
            &:before{
              content: "\e918";
              font-family: icomoon;
            }
          }
        }
      }
      &:last-child(){
        label{
          > span{
            &:before{
              content: "\e917";
              font-family: icomoon;
            }
          }
        }
      }
    }
    label{
      input[type="radio"]{

      }
      > span{
        height: 132px;
      }
    }
  }
  .panel-tabs{
    .divider-title {
      font-size: 14px;
      color:$color__black;
      font-family: 'Barlow';
      font-weight: normal;
    }
    .button{
      background-color: #f7f8fc;
      color:$color__black;
      font-size: 14px;
      font-family: 'Barlow';
      font-weight: 500;
      padding: 7px 15px;
      border-radius: 45px;
      &.clear{
        background-color: $color__blue;
        color:white;
      }
      .c-fmlnet__add{
        &:before{
          content: "\e914";
          font-family: icomoon;
        }
      }
    }
  }
}
.steps-progress{
  padding-top: 40px;
  padding-bottom: 5px;
  background-color: white;
  border: 0;
  border-bottom: 1px solid rgba(206, 207, 209, 0.54);
  margin-bottom: 20px;
  border-radius: 0;
  &#step-2{
    &_inner {

      &__step {
        &:nth-child(2){
          label{
            &:before {
              background: get-color("success");
              border-color: get-color("success");
              color: white;
              display: inline-block;
              font-family: "mlnet__common";
              font-style: normal;
              font-weight: normal;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              content: "\EA1F";
              line-height: 40px;
            }
          }
        }

      }
    }
  }
  &_inner {
    @include traverse($steps);
   // @extend %center;
    margin:rem(30) auto;
    width: $form-width;
    position: relative;
    overflow: hidden;

    &__step {
      @extend %step;
      &.current{
        label{
          &:before {
            background: $scheme-base;
            color: white;
          }
        }
      }
      &.done{
        label{
          &:before {
            background: get-color("success");
            border-color: get-color("success");
            color: white;
            display: inline-block;
            font-family: "mlnet__common";
            font-style: normal;
            font-weight: normal;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: "\EA1F";
            line-height: 34px;
          }
        }
      }
    }

    &__bar {
      @extend %bar;
      &--set {
        @extend %bar;
        width: 100% - $step-width;
       /// top: - $bar-height;
        //background: $color-mid;
        border: .7px dashed $color-mid;
        z-index: -2;
        top: 50%;
        position: absolute;
        transform: translateY(-50%);
      }
    }
    &__tabs {
      & .tab {
        opacity: 0;
        position: absolute;
        top: 40px;
        text-align: center;
        margin-top: $tab-spacing;
        box-shadow: 0px 2px 1px darken($color-bg, 10);
        padding: 30px;
        background: white;
        border-radius: 10px;
        transition: all .2s;

        h1 {
          margin: 0;
        }

        p {
          font-weight: 400;
          opacity: 0.8;
        }
      }
    }

    &__status {
      width: $status-width;
      height: $status-width;
      top: - $status-width * 2;
      transition: right $bar-transition-speed cubic-bezier(0.915, 0.015, 0.300, 1.005);
      transform: translateX(50%);
      position: absolute;

      %animatable {
        opacity: 0;
        transition: all 600ms cubic-bezier(0.915, 0.015, 0.300, 1.005);
        transition-delay: 300ms
      }

      div {
        position: absolute;
        @extend %animatable;
      }

      & .box_base {
        @extend %center;
        background: $box-color;
        width: $status-width - $box-lid-offset;
        height: $status-width;
        z-index: 1;
        border-radius: 1px;
      }

      & .box_lid {
        width: $status-width;
        height: $status-width / 3;
        background: $lid-color;
        z-index: 2;
        border-radius: 1px;
        top: 0;
      }

      & .box_item {
        @extend %center;
        width: $box-item-width;
        height: $box-item-height;
        background: $box-item-color;
        z-index: 0;
        border-radius: 4px;
        transform: rotate(45deg);
      }

      & .box_ribbon {
        @extend %center;
        width: $ribbon-width;
        height: $status-width + 2;
        background: $ribbon-color;
        z-index: 4;
        border-radius: 1px;

      }

      %bow {
        width: $bow-width;
        height: $bow-height;
        background: $bow-color;
        position: absolute;
        z-index: 3;
        opacity: 1;
        border-radius: 1px;
      }

      & .box_bow {
        @extend %center;
        top: - $bow-width;
        z-index: 1;
        transition-delay: 500ms;
        &__left {
          @extend %bow;
          @extend %center;
          left: $bow-width;
          transform: rotate(45deg);
        }

        &__right {
          @extend %bow;
          @extend %center;
          left: -4px;
          transform: rotate(-45deg);
        }
      }

      // Refactor

      & .box_tag {
        @extend %center;
        width: 20px;
        height: 10px;
        background: #487ac7;
        z-index: 4;
        transform: rotate(-10deg) translateX(-40px) translateY(0px);
        border-radius: 2px;
        transition-delay: 500ms
      }

      & .box_string {
        width: 17px;
        height: 2px;
        background: #343434;
        @extend %center;
        z-index: 4;
        transform: rotate(-39deg) translateX(-22px) translateY(-12px);
      }

      //
    }

    input[type="radio"] {
      display: none;
    }
  }
}

.steps-content{
  //padding: rem(30) 0;
  .dataTable-actions_content{
    padding: rem(20) 0;
  }
  .dataTable-actions_search{
    max-width: 800px;
    margin: auto;
    display: block;
    .field{
      display: block;
    }
  }
}


.accordion-field_title{
  font-size: rem(map-get(map-get(map-get($header-styles, "small"), "h3"), "font-size"));
  font-family: $fontFamily-roboto-regular;
  border-bottom: 1px solid rgba(128, 128, 128, 0.27);
  display: block;
  position: relative;
  cursor: pointer;
  padding-bottom: rem(20);
  span i{
    display: inline-block;
    color: rgba($black, 0.5);
    font-size: rem(13);
    padding:  0 rem(10);
    >i{
      color: get-color("secondary");

      font-family: $fontFamily_robotoCondensed-bold;
      padding:  0 rem(0);
    }
  }
  &:after{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    //content: "\EA20";
    //content: "\EA16";
    content: "\EA18";
    display: inline-block;
    font-family: "mlnet__common";
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: rem(14);
    transition: $ease--fast;

  }
}
.accordion-field{
  padding: rem(10);
  .panel-body_form{
    padding: 0;
  }
  .accordion-field_content{
    display: none;
    padding: 1.5rem 0 0;
  }
  .accordion-field_title{

  }
  &.accordion-field_opened{
    > label{
      color: get-color("primary");
      &:after{
        content: "\EA16";

      }
    }
    .accordion-field_content{
      display: block;
      @include animation('displayNoneToFadeIn .4s 1');

    }
  }
  > input[type="checkbox"]{
    &:checked{
      + label{
        color: get-color("primary");
        &:after{
          content: "\EA16";

        }
      }
      + label  + .accordion-field_content{
        display: block;
        @include animation('displayNoneToFadeIn .4s 1');

      }
    }
  }
  .accordion-field{


  }
}

[class*="message-returned"]{
  //max-width: rem(400);
  margin:rem(20) auto;
  background: white;
  border-radius: rem(10);
  text-align: center;
}
.message-resutned_icon{
  display: inline-block;
  vertical-align: middle;
}

.message-returned_desc{
  display: inline-block;
  font-size: rem(15);
  text-align: left;
  font-family: $fontFamily_robotoCondensed-regular;
  strong{
    font-size: rem(18);
    font-family: $fontFamily_robotoCondensed-bold;
  }
  p{
    font-family: $fontFamily_robotoCondensed-light;
    font-size: rem(15);
  }
}
.message-resutned_content{
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}
.messasge-returned_actions{
//  display: inline-block;

}
.search__empty{
  text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
    h2{
      text-align: center;
      text-transform: uppercase;
      font-size: 17px !important;
      margin-top: 15px;
    }
}
.steps-content .steps-progress__actions .button{
  position: relative;
  .be-loading-content{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    .be-spinner{
      position: absolute;
      top: -18px;
      right: 7px;
      margin-top: 0;
      margin-right: 0;
      z-index: 999;
      height: 23px;
      display: block;
      svg{
        width: 10px !important;
        height: 10px !important;
      }
    }
  }
}
.close-btn{
  background-color: #e7893e;
  position: absolute;
  right: 0;
  border: 0;
  border-radius: 0;
  width: 30px;
  height: 30px;
  color: white;
  font-weight: 300;
  DISPLAY: FLEX;
  ALIGN-ITEMS: center;
  justify-content: center;
  font-size: 10px;
  text-align: center;
  top: 0;
  cursor: pointer;
  &:before{
    content: "\e93c";
    font-family: 'icomoon';
  }
}
.modal-formulaire{
  display: none;
  &.show{
    display: block;
  }
  .content{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    &:before{
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.38);
    }
    .formulaire{
      width: 430px;
      margin: 0 auto;
      background: white;
      padding: 21px 15px;
      border-radius: 10px;
      position: relative;
    }
    .confirmation{
      text-align: center;
      font-size: 16px;
      color: #3b3836;
      font-weight: 500;
      padding: 70px 15px;
      line-height: 1.4;
      display: flex;
      flex-flow: column;
      &:before{
        content: "\e963";
        font-family: 'icomoon';
        font-size: 32px;
        margin-bottom: 8px;
        color: #e7893e;
      }
    }
  }
}