.swal-overlay {
  background-color: rgba(255, 255, 255, 0.8);
}

.swal-modal {

  box-shadow: 0px 0px 12px rgba(black, .04), 0px 12px 25px rgba(black, .07);
}

.swal-title {
}

.swal-text {

}

.swal-footer {
}

.swal-button {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 1rem 0;
  font-family: "RobotoRegular", sans-serif;
  padding: 0.85em 1.5em;
  -webkit-appearance: none;
  border: 1px solid transparent;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  -moz-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-size: 1.03rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: get-color("primary");
  color: #fefefe;
}
.swal2-actions .swal2-styled.swal2-confirm {
  background-color: #e7893e;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  padding: 0.7em 1em;
  font-size: 0.8rem;
}
.swal2-header .swal2-title {
  font-size: 18px;
}