.tabs{
  background: white;
  padding: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.tabs-content{

  position: relative;
  z-index: 2;
  .panel{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: none;

  }
}
.tabs__content {
  position: relative;
}

.tab-item{
  padding: 0 0 9px;
  font-size: rem(16);
  text-transform: none;
  letter-spacing: normal;
  display: inline-block;
  line-height: 1.2;
  &.current, &:hover{
    border-bottom-width: 3px;
    border-bottom-style: solid;
    color: get-color("primary");
    text-shadow: -0.03ex 0 get-color("primary"), 0.03ex 0 get-color("primary");
    border-bottom-color: get-color("primary");
  }
   span {
    display: inline;
  }
  &:after{
    content: '';
    position: absolute;
    width: 100%;
    bottom: 1px;
    left: 0;
    right: 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(11, 31, 53, .08);
  }
   + .tab-item {
    margin-left: 24px;
  }
}