// ========================================= //
// ui
// ========================================= //

::-moz-selection { color: $selectionColor;  background: $selectionBackground; }
::selection      { color: $selectionColor;  background: $selectionBackground; }

* {
    outline: none;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body{
    @include typescale('zeta');
    @include font-smoothing;
    @include font-size("14");
    color: $text-color-primary;
    background-color: #f4f6f8;
    line-height: 1;
    font-family: $fontFamily;
    padding: 0;
    margin: 0;
    @include bp-lt($xmedium){

    }
    @include bp-lt(1300px){
        @include font-size("12");
    }
}