//- Generate c-breadcrumb
mixin c-breadcrumb(labels)
    div.c-breadcrumb
            ul.c-breadcrumb__list
                each label, index in labels
                    if index + 1 !== labels.length
                        li
                            a(href="")
                                span=label
                    else
                        li
                            span=label
