- var inputsState = [{type:'email', label:'Email', placeholder:'', value:'',disabled:true, readonly:true, icon:"", state:"error", required:true}, {type:'text', label:'Text',placeholder:'', value:'',disabled:true, readonly:true, icon:"", state:"warning"}, {type:'text', label:'Text',placeholder:'', value:'',disabled:true, readonly:true, icon:"", state:"success"}, {type:'email', label:'Email', placeholder:'', value:'',disabled:true, readonly:true, icon:"c-fmlnet__close--outline", state:"error", required:true}, {type:'text', label:'Text',placeholder:'', value:'',disabled:true, readonly:true, icon:"c-fmlnet__warning", state:"warning"}, {type:'text', label:'Text',placeholder:'', value:'',disabled:true, readonly:true, icon:"c-fmlnet__checkmark--outline", state:"success"}, {type:'textarea', label:'Text',placeholder:'', value:'',disabled:true, readonly:true, icon:"c-fmlnet__warning", state:"error"}, {type:'textarea', label:'Text',placeholder:'', value:'',disabled:true, readonly:true, icon:"c-fmlnet__warning", state:"warning"}, {type:'textarea', label:'Text',placeholder:'', value:'',disabled:true, readonly:true, icon:"c-fmlnet__warning", state:"success"}]

mixin input-state()
    each value, index in inputsState
        .columns.small-12.medium-4
            .c-input__holder(class=value.state)
                if(required)
                    label(for= index)
                        | #{value.label}
                        span.required *
                else
                    label= value.label
                if(value.icon != '')
                    .c-form__item--text.hasicon
                        if(value.type == "textarea")
                            textarea(id= index, placeholder=value.placeholder, value=value.value)
                        else
                            input(type=value.type, id= index, placeholder=value.placeholder, value=value.value)
                        if(value.icon && value.icon != '')
                            i(class=value.icon)
                else
                    .c-form__item--text
                        if(value.type == "textarea")
                            textarea(id= index, placeholder=value.placeholder, value=value.value)
                        else
                            input(type=value.type, id= index, placeholder=value.placeholder, value=value.value)
                        if(value.icon && value.icon != '')
                            i(class=value.icon)


mixin input-state-inline()
    each value, index in inputsState
        .columns.small-12.medium-6.large-4

            .c-input__holder
                .row
                    .small-12.columns.large-3.medium-5
                        if(required)
                            label(for= index).align-right
                                | #{value.label}
                                span.required *
                        else
                            label.align-right= value.label
                    .small-12.columns.large-9.medium-7
                        if(value.icon != '')
                            .c-form__item--text.hasicon
                                if(value.type == "textarea")
                                    textarea(id= index, placeholder=value.placeholder, value=value.value)
                                else
                                    input(type=value.type, id= index, placeholder=value.placeholder, value=value.value)
                                if(value.icon && value.icon != '')
                                    i(class=value.icon)
                        else
                            .c-form__item--text
                                if(value.type == "textarea")
                                    textarea(id= index, placeholder=value.placeholder, value=value.value)
                                else
                                    input(type=value.type, id= index, placeholder=value.placeholder, value=value.value)
                                if(value.icon && value.icon != '')
                                    i(class=value.icon)





mixin input--text(label, required, id, disabled, textValue)
    .c-input__holder
        if(required)
            label(for= id)
                | #{label}
                span.required *
        else
            label= label
        if(disabled == "disabled")
            .c-form__item--text
                input(type="text", id= id, placeholder='Disabled input text', disabled, value=textValue)

        else if(disabled == "readonly")
            .c-form__item--text
                input(type="text", id= id, placeholder='Readonly input text', readonly, value=textValue)
        else
            .c-form__item--text.hasicon
                input(type="text", id= id, placeholder='Input text', value=textValue)
                i.ico-feedback.c-fmlnet__email

mixin select(label, options)
    .c-input__holder
        label= label
        select
            each option in options
                option(value=option)= option

mixin textarea(label, required, id)
    .c-input__holder.is-tall
        if(required)
            label(for= id)
                | #{label}
                span.required *
        else
            label= label
        textarea(id= id)
