- var primaryNav = [{label:'Dashboard', link:'dashboard.html', current:true, notification:false,  icon:"c-fmlnet__dashboard", sub:[{}]}, {label:'PORTEFEUILLE CLIENT', link:'tiers.html', current:false, notification:true,  icon:"c-fmlnet__customer-portfolio", sub:[{}]}, {label:'PROPOSITIONS  COMMERCIALES', link:'proposals.html', current:false, notification:true,  icon:"c-fmlnet__list-proposal", sub:[{}]},  {label:'PRODUITS ET OFFRES', link:'offers-products.html', current:false, notification:false,  icon:"c-fmlnet__shop", sub:[{}]}]
//- var primaryNav = [{label:'Dashboard', link:'dashboard.html', current:true, notification:false,  icon:"c-fmlnet__dashboard", sub:[{}]}, {label:'PORTEFEUILLE CLIENT', link:'tiers.html', current:false, notification:true,  icon:"c-fmlnet__customer-portfolio", sub:[{}]}, {label:'PROPOSITIONS  COMMERCIALES', link:'', current:false, notification:true,  icon:"c-fmlnet__list-proposal", sub:[{}]}, {label:'Contrats', link:'', current:false, notification:false,  icon:"c-fmlnet__contract", sub:[{}]}, {label:'TÂCHES', link:'', current:false, notification:true,  icon:"c-fmlnet__redmine-task", sub:[{}]}, {label:'PRODUITS ET OFFRES', link:'offers-products.html', current:false, notification:false,  icon:"c-fmlnet__shop", sub:[{}]}, {label:'MESAGERIE INTERNE', link:'', current:false, notification:false,  icon:"c-fmlnet__forum", sub:[{}]}]

mixin displayPrimaryNav(type)
    .nav-primary(class=type)
        nav
            ul
                each value, index in primaryNav

                    if(value.label == 'PRODUITS ET OFFRES')
                        li.nav-has_submenu
                            a(href="offers-products.html", class="")
                                i(class="c-fmlnet__shop")
                                span
                                    | PRODUITS ET OFFRES

                            .nav-submenu_megamenu
                                each valueProduct, key in pages.listeProduit
                                    div.product-card_container
                                        div.product-card_visu
                                            img(src=valueProduct.img)
                                        div.product-card_desc
                                            h3
                                                | #{valueProduct.title}
                                            p
                                                | #{valueProduct.summary}

                                        .products-cta
                                            button.button.primary.clear.hasicon_right.js-open-inpop.sm-ml-15.small(data-target='#popup-offer', href='#')
                                                span Détails
                                                i.c-fmlnet__item-view
                                            button.button.primary.hasicon_right.sm-ml-15.small(href='new-financial-proposal-offer.html')
                                                span Nouvelle proposition
                                                i.c-fmlnet__add-proposal


                    else
                        li
                            if (value.current)
                                a(href=value.link, class="current")
                                    i(class=value.icon)
                                    span
                                        | #{value.label}
                                    if(value.notification)
                                        span.notification-alert
                            else
                                a(href=value.link, class="")
                                    i(class=value.icon)
                                    span
                                        | #{value.label}

                                    if(value.notification)
                                        span.notification-alert
