- var pageTitle = ''
- var pageClass = ''
- var selectedSubMenu = ''
- var cssDir = 'assets/styles/'
- var cssDirLocal = 'assets/styles/'
- var cssDirVendor = 'assets/styles/vendor/'
- var imgDir = 'assets/media/images/'
- var mediaDir = 'assets/media/'
- var jsDir = 'assets/scripts/'
- var jsDirLocal = 'assets/scripts/local/'
- var jsDirVendor = 'assets/scripts/vendor/'
- var lang = 'fr'
- var headLess = false
- var prefix = 'mlnet'