- var navLevel0 = ['Nav level 0 - 1 - child', 'Nav level 0 - 2', 'Nav level 0 - 3 - child', 'Nav level 0 - 4 - child', 'Nav level 0 - 5']
- var navLevel1 = [['Nav level 1 - 1', 'Nav level 1 - 2', 'Nav level 1 - 3', 'Nav level 1 - 4', 'Nav level 1 -  5'], [], ['Nav level 1 - 1', 'Nav level 1 - 2', 'Nav level 1 - 3', 'Nav level 1 - 4', 'Nav level 1 -  5'], ['Nav level 1 - 1', 'Nav level 1 - 2', 'Nav level 1 - 3', 'Nav level 1 - 4', 'Nav level 1 -  5'], []]
