title=pageTitle
// Standard SEO
meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
meta(name='referrer', content='no-referrer-when-downgrade')
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0")
meta(name='robots', content='all')
// {{ seomaticMeta.robots }}
meta(name='keywords', content='')
// {{ seomaticMeta.seoKeywords }}
meta(name='description', content='')
// {{ seomaticMeta.seoDescription }}
meta(name='generator', content='SEOmatic')
// SEOmatic
link(rel='canonical', href='')
// {{ seomaticMeta.canonicalUrl }} (defaults to craft.request.url)
link(rel='alternate', href='', hreflang='x-default')
meta(name='geo.region', content='')
// {{ seomaticIdentity.address.addressRegion }}
meta(name='geo.position', content='')
// {{ seomaticIdentity.location.geo.latitude }},{{ seomaticIdentity.location.geo.longitude }}
meta(name='ICBM', content='')
// {{ seomaticIdentity.location.geo.latitude }},{{ seomaticIdentity.location.geo.longitude }}
meta(name='geo.placename', content='')
// {{ seomaticIdentity.location.name }}
// Dublin Core basic info
meta(name='dcterms.Identifier', content='')
// {{ seomaticMeta.canonicalUrl }} (defaults to craft.request.url)
meta(name='dcterms.Format', content='text/html')
// text/html
meta(name='dcterms.Relation', content='')
// {{ seomaticSiteMeta.siteSeoName }}
meta(name='dcterms.Language', content='ar')
// {{ craft.locale }}
meta(name='dcterms.Publisher', content='')
// {{ seomaticSiteMeta.siteSeoName }}
meta(name='dcterms.Type', content='text/html')
// text/html
meta(name='dcterms.Coverage', content='')
// {{ siteUrl }}
meta(name='dcterms.Rights', content='')
// {{ seomaticHelper.ownerCopyrightNotice }}
meta(name='dcterms.Title', content='')
// {{ seomaticMeta.seoTitle }}
meta(name='dcterms.Creator', content='')
// {{ seomaticCreator.name }}
meta(name='dcterms.Subject', content='')
// {{ seomaticMeta.seoKeywords }}
meta(name='dcterms.Contributor', content='')
// {{ seomaticSiteMeta.siteSeoName }}
meta(name='dcterms.Date', content='')
// {{ now | date('Y-m-d') }}
meta(name='dcterms.Description', content='')
// {{ seomaticMeta.seoDescription }}
// Facebook OpenGraph
meta(property='og:type', content='website')
// {{ seomatic.og.type }}
meta(property='og:locale', content='fr_FR')
// {{ seomatic.og.locale }}
meta(property='og:url', content='')
// {{ seomatic.og.url }}
meta(property='og:title', content='')
// {{ seomatic.og.title }}
meta(property='og:description', content='')
// {{ seomatic.og.description }}
meta(property='og:image', content='')
// {{ seomatic.og.image }}
meta(property='og:image:type', content='image/png')
// {{ seomatic.og.image:type }}
meta(property='og:image:width', content='2400')
// {{ seomatic.og.image:width }}
meta(property='og:image:height', content='1260')
// {{ seomatic.og.image:height }}
meta(property='og:site_name', content='')
// {{ seomatic.og.site_name }}
meta(property='og:see_also', content='')
// {{ seomatic.og.see_also[0] }}
meta(property='og:see_also', content='')
// {{ seomatic.og.see_also[1] }}
meta(property='og:see_also', content='')
// {{ seomatic.og.see_also[2] }}
// Twitter Card
meta(name='twitter:card', content='')
// {{ seomatic.twitter.card }}
meta(name='twitter:site', content='')
// {{ seomatic.twitter.site }}
meta(name='twitter:creator', content='')
// {{ seomatic.twitter.creator }}
meta(name='twitter:title', content='')
// {{ seomatic.twitter.title }}
meta(name='twitter:description', content='')
// {{ seomatic.twitter.description }}
meta(name='twitter:image', content='')
// {{ seomatic.twitter.image }}
// Humans.txt authorship http://humanstxt.org
link(type='text/plain', rel='author', href='')
// Domain verification
meta(name='google-site-verification', content='')
// {{ seomaticHelper.ownerGoogleSiteVerification }}
// Google Tag Manager
// Google Analytics

link(rel='apple-touch-icon', sizes='60x60', href='/assets/media/apple-touch-icon.png')
link(rel='icon', type='image/png', href='/assets/media/favicon-32x32.png', sizes='32x32')
link(rel='icon', type='image/png', href='/assets/media/favicon-16x16.png', sizes='16x16')
link(rel='mask-icon', href='/assets/media/safari-pinned-tab.svg', color='#3060A4')
link(rel='shortcut icon', href='/assets/media/favicon.ico')
meta(name='msapplication-TileColor', content='#3060A4')
meta(name='theme-color', content='#3060A4')

