script(type='text/javascript' data-main="assets/scripts/main.min.js" src="assets/scripts/vendor/require.js")
//script(type='text/javascript')
   // include assets/scripts/main.min.js
//script(type='text/javascript' data-main="assets/scripts/main.js")
   // include assets/scripts/vendor/require.js