.mlnet-proposal_footer
    .mlnet-proposal_footer-container
        .mlnet-proposal_footer-conds
            span
                | * Offre assortie d’une assurance dommages.<br>
                | Garanties : Incendie – Explosion, Vol, Bris de glaces, Dommage accidents.<br>
            p
                | - Le montant des loyer devra être majoré selon la TVA en vigueur<br>
                | - Proposition sans engagement de notre part et sous reserve de l’accord du comité Maroc Leasing.<br>
                | - Au moment de la levee d’option, le client aura à acquiter en sus de la valeur résiduelle une TVA au taux en vigueur

        .mlnet-proposal_footer-contact
            .mlnet-proposal_footer-contact_ico
                svg(xmlns='http://www.w3.org/2000/svg', width='78', height='78', viewBox='0 0 78 78')
                    g#Symbole_28_1(data-name='Symbole 28 – 1', transform='translate(-789.294 -1440)')
                        g#Groupe_266(data-name='Groupe 266', transform='translate(789.294 1440)')
                            g#Ellipse_76(data-name='Ellipse 76', transform='translate(0)', fill='none', stroke='#000', stroke-width='1')
                                ellipse(cx='39', cy='39', rx='39', ry='39', stroke='none')
                                ellipse(cx='39', cy='39', rx='38.5', ry='38.5', fill='none')
                        g#Symbole_7_19(data-name='Symbole 7 – 19', transform='translate(804.515 1453.533)')
                            path(id='Tracé_86', data-name='Tracé 86', d='M-798.134,1383.691v-14.6a28.774,28.774,0,0,1,.662-5.1c1.4-4.827,5.55-11.836,16.739-11.719,8.567.089,13.424,4.663,15.475,8.864a12.52,12.52,0,0,1,1.207,6.346v16.205', transform='translate(804.435 -1352.274)', fill='none', stroke='#000', stroke-linecap='square', stroke-width='1')
                            path#Rectangle_577(data-name='Rectangle 577', d='M0,0H1.643A5.326,5.326,0,0,1,6.969,5.326v0A6.167,6.167,0,0,1,.8,11.492H0a0,0,0,0,1,0,0V0A0,0,0,0,1,0,0Z', transform='translate(40.45 20.642)', fill='none', stroke='#000', stroke-linecap='square', stroke-width='1')
                            path#Rectangle_578(data-name='Rectangle 578', d='M0,0H.991A5.326,5.326,0,0,1,6.316,5.326v0A6.167,6.167,0,0,1,.15,11.492H0a0,0,0,0,1,0,0V0A0,0,0,0,1,0,0Z', transform='translate(6.316 32.134) rotate(180)', fill='none', stroke='#000', stroke-linecap='square', stroke-width='1')
                            path(id='Tracé_87', data-name='Tracé 87', d='M-568.738,1429.146v6.455c0,2.294-.14,7.319-9.428,7.319h0', transform='translate(609.122 -1397.497)', fill='none', stroke='#000', stroke-linecap='square', stroke-width='1')
                            g#Rectangle_579(data-name='Rectangle 579', transform='translate(18.351 45.575) rotate(-13)', fill='none', stroke='#000', stroke-width='1')
                                rect(width='12.47', height='4.89', rx='2.445', stroke='none')
                                rect(x='0.5', y='0.5', width='11.47', height='3.89', rx='1.945', fill='none')
            .mlnet-proposal_footer-contact_call
                span.mlnet-proposal_header-title Vous souhaitez contacter directement un conseiller, appellez nous au
                span.mlnet-proposal_header-date 0522 42 95 95
