.mlnet-proposal_header
    .mlnet-proposal_header-container
        .mlnet-proposal_header-logo
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='165.097', height='31.038', viewBox='0 0 165.097 31.038')
                path(d='M53.792 20.992h-.033l-.011 4.528h-1.422l.022-7.1h1.423l2.487 3.572 2.508-3.562 1.423.011-.022 7.1h-1.423l.011-4.528h-.022l-2.487 3.562zm11.836-2.541l1.889.011 3.464 7.113h-1.617l-.706-1.5-4.159-.011-.717 1.488-1.618-.011zm-.434 4.181l2.747.011-1.368-2.8zm11.988-4.148c1.314 0 2.563.5 2.563 2.107a2.116 2.116 0 0 1-1.6 2.1l1.792 2.91-1.8-.011-1.781-2.889-2.28-.011-.011 2.9h-1.422l.022-7.1zm-3.106 1.422v1.357l3.106.011c.424 0 1.14-.054 1.14-.684 0-.662-.641-.673-1.14-.673zm7.765 2.15c.011-1.987 1.575-3.768 4.376-3.757s4.354 1.781 4.354 3.79c-.011 1.987-1.585 3.768-4.376 3.757s-4.365-1.8-4.354-3.79m7.3.022c0-1.238-1.162-2.345-2.932-2.356s-2.943 1.119-2.943 2.335c0 1.238 1.162 2.345 2.932 2.356s2.943-1.1 2.943-2.335m10.562-1.152a4.37 4.37 0 0 0-2.823-1.173 2.57 2.57 0 0 0-2.791 2.378c0 1.053.9 2.313 2.943 2.313a5.212 5.212 0 0 0 2.975-.988l.641 1.314a6.59 6.59 0 0 1-3.638 1.1c-2.389-.011-4.354-1.314-4.354-3.79.011-2.509 2.313-3.768 4.289-3.757a5.637 5.637 0 0 1 3.594 1.357zm9.339-2.345l-.022 5.679 4.094.011-.011 1.433-5.516-.023.022-7.1zm12.759.044l-.011 1.422-4.887-.011v1.281l2.584.011-.011 1.433-2.574-.011-.011 1.531 5.049.022v1.422l-6.48-.022.022-7.1zm4.659.011l1.89.011 3.464 7.113h-1.618l-.706-1.5-4.159-.011-.717 1.5h-1.618zm-.423 4.181l2.747.011-1.357-2.8zm7.22.651a6.428 6.428 0 0 0 3.659 1.1c.717 0 1.922-.174 1.922-.966 0-.575-.63-.727-1.064-.749l-2.128-.076c-1.737-.043-2.6-1.064-2.584-2.161 0-1.053.793-2.183 3.344-2.172a6.69 6.69 0 0 1 3.431.945l-.652 1.26a6.458 6.458 0 0 0-3.008-.782c-.749 0-1.683.163-1.694.793 0 .554.782.684 1.26.695l1.857.076c1.629.043 2.671.749 2.671 2.248 0 1.281-1.01 2.335-3.355 2.324a6.919 6.919 0 0 1-4.322-1.249zm9.505 2.322l.021-7.102 1.423.004-.021 7.102zm5.156-7.089h1.423l3.888 4.821h.021l.022-4.81 1.423.011-.022 7.1h-1.423l-3.887-4.811h-.022l-.022 4.8-1.423-.011zm13.985 3.106l3.193.011-.011 2.986a4.645 4.645 0 0 1-3.54 1.26 3.921 3.921 0 0 1-4.213-3.844c0-1.8 1.412-3.714 4.257-3.7a6.483 6.483 0 0 1 3.388.912l-.836 1.412a4.35 4.35 0 0 0-2.606-.9 2.48 2.48 0 0 0-2.769 2.28c0 1.347.934 2.4 2.791 2.411a4.03 4.03 0 0 0 2.117-.651v-.869h-1.77z', fill='#3060a4')
                g(fill='#e7893e')
                    path(d='M56.55 9.796a5.82 5.82 0 0 1-.109 1 3.2 3.2 0 0 1-.847 1.672 1.64 1.64 0 0 1-1.14.6.863.863 0 0 1-.152-.022 2.028 2.028 0 0 1-.956-.543 2.685 2.685 0 0 1-.554-.749c-.119-.228-.174-.369-.141-.413a2.8 2.8 0 0 0 1.412.543c.749 0 1.4-.5 1.944-1.509a.232.232 0 0 0 .033-.13 1.418 1.418 0 0 0-.434-.814 3.028 3.028 0 0 0-.467-.467l.51-1.118a5.167 5.167 0 0 1 .6.673 2.57 2.57 0 0 1 .3 1.281m2.9.496h-.434a2.874 2.874 0 0 1-.782-.065.706.706 0 0 1-.445-.543 8.359 8.359 0 0 1-.109-1l-.239-3.323a4.368 4.368 0 0 1 .836-.717c.011.119.033.489.054 1.1l.141 2.943a.333.333 0 0 0 .239.337 2.024 2.024 0 0 0 .456.033h.293z')
                    path(d='M61.067 10.296h-1.835V9.069l1.835.011z')
                    path(d='M67.344 10.317h-.88c.369 0 .174.011-.576.044s-1.336.043-1.792.043c-.489.011-1.1-.011-1.824-.043l-1.422-.065V9.069h.217c.239 0 .6.033 1.075.087s.836.087 1.075.087h1.184q.7-.016.749-.1c.033-.054-.163-.272-.576-.641a2.179 2.179 0 0 0-1.216-.641 1.742 1.742 0 0 0-.717.087l-.369.13c-.043 0-.076-.011-.076-.043a.629.629 0 0 1 .13-.272 1.53 1.53 0 0 1 .467-.445 1.477 1.477 0 0 1 .836-.239 2.089 2.089 0 0 1 .738.152 4.227 4.227 0 0 1 1.4 1.075c.467.5.825.76 1.053.782l.293.022h.217zm-2.639 2.063l-.4.9-1.032-.445.38-.9z')
                    path(d='M67.123 10.322l.004-1.227 1.835.005-.004 1.227z')
                    path(d='M72.165 9.634a1.054 1.054 0 0 1-.141.641 2.2 2.2 0 0 1-.63.087 15.52 15.52 0 0 1-.793.033q-.277 0-.815-.033t-.814-.033h-.228l.011-1.227h.217c.174 0 .423.011.771.043s.6.043.771.043a1.75 1.75 0 0 0 .793-.087.2.2 0 0 0 .022-.087 2.181 2.181 0 0 0-.6-1.1 1.925 1.925 0 0 1 .3-.532 3.867 3.867 0 0 1 .347-.467 1.179 1.179 0 0 1 .239.358 3.331 3.331 0 0 1 .326.782 7.39 7.39 0 0 1 .217 1.574m-.717 3.149l-.532.641-.695-.608-.5.6-.706-.619.521-.641.684.576.489-.586zm6.827-2.428h-.38a1.214 1.214 0 0 1-.728-.271 1.278 1.278 0 0 1-.413-.651 5.22 5.22 0 0 1-.185-.738c-.043-.239-.065-.348-.087-.348-.022.033-.152.293-.4.782a3.2 3.2 0 0 1-.836 1.129 3.964 3.964 0 0 1-1.966.315q-.554 0-.554-.065a1.32 1.32 0 0 1 .413-.163 9.429 9.429 0 0 0 .945-.315 6.867 6.867 0 0 0 1.032-.565 2.948 2.948 0 0 0 .076-.749 1.227 1.227 0 0 0-.076-.51 5.756 5.756 0 0 0-.6-.977 2.259 2.259 0 0 0-.424-.456l-.3.358a2.548 2.548 0 0 1-.793-1.086 1.894 1.894 0 0 1 .1-.608c.1-.293.2-.456.3-.489a.137.137 0 0 1 .065-.011q.326 0 1.075.945a3.76 3.76 0 0 1 .912 1.77 3.26 3.26 0 0 1 .022.326 9.627 9.627 0 0 1-.1 1.194 1.68 1.68 0 0 0 .358-.261 1.885 1.885 0 0 0 .489-.934 7.052 7.052 0 0 0 .054-.988l.011-1.792.63-.6.043 2.856a4.027 4.027 0 0 0 .13 1.118.789.789 0 0 0 .814.565h.391zm-3.67 1.987l-.152.337c-.293.054-.554.119-.782.174a3.234 3.234 0 0 0-.521.206 1.182 1.182 0 0 1-.282.119.04.04 0 0 1-.033-.011c-.011-.011-.011-.011-.011-.022a.7.7 0 0 1 .163-.271c.13-.163.185-.25.174-.261-.174-.13-.261-.239-.261-.358a.653.653 0 0 1 .391-.554 1.368 1.368 0 0 1 .684-.2.662.662 0 0 1 .369.065l-.25.4a1.137 1.137 0 0 0-.326-.054.559.559 0 0 0-.445.163.176.176 0 0 0-.044.109c0 .076.076.13.228.174a1.116 1.116 0 0 0 .293.044z')
                    path(d='M80.667 9.134a3.388 3.388 0 0 1-.043 1.129 1.562 1.562 0 0 1-.706.1l-1.868-.011V9.125l1.846.011c.033 0 .043-.054.043-.152q0-.016-.1-1.205l-.2-2.443.858-.673zm6.299 1.238h-.445a.8.8 0 0 1-.554-.163.868.868 0 0 1-.217-.543l-.065-.543a.51.51 0 0 0-.076-.185c-.054-.011-.12.054-.206.185l-.152.391a.43.43 0 0 1-.4.315 3.731 3.731 0 0 1-1.194-.391.371.371 0 0 1-.239-.358 1.575 1.575 0 0 1 .163-.565l.282-.608a2.3 2.3 0 0 1 .2-.315 2.462 2.462 0 0 1 1.4-.619l-.054-.6.684-.651.065 3.106q.016.326.163.326h.673zm-.565-5.3l-.532.64-.7-.608-.489.6-.706-.619.521-.641.684.575.489-.586zm-.815 3.464a38.27 38.27 0 0 0-.1-1.1c-.011-.044-.043-.054-.087-.054s-.293.109-.793.315a4.936 4.936 0 0 0-.6.467c.033.022.261.152.695.391a1.159 1.159 0 0 0 .554.13c.228.011.337-.043.326-.152')
                    path(d='M86.753 10.371l.004-1.227 1.835.005-.004 1.227z')
                    path(d='M92.037 10.393h-.543c-.272 0-.543.011-.825.033s-.424.033-.445.033c-.185 0-.456-.011-.825-.043s-.641-.044-.825-.044h-.229l.011-1.227h.217c.174 0 .423.011.771.043s.6.043.771.043a1.748 1.748 0 0 0 .793-.087.206.206 0 0 0 .022-.087 2.139 2.139 0 0 0-.608-1.1 1.917 1.917 0 0 1 .3-.532 3.817 3.817 0 0 1 .348-.467 1.182 1.182 0 0 1 .239.358 3.343 3.343 0 0 1 .326.782 5.433 5.433 0 0 1 .185 1.053h.3zm-.945 2.443l-.532.641-.684-.608-.488.6-.717-.619.532-.641.684.576.489-.586z')
                    path(d='M91.836 10.39l.004-1.227 1.835.005-.004 1.227z')
                    path(d='M96.879 9.71a1.054 1.054 0 0 1-.141.641 2.223 2.223 0 0 1-.641.087c-.369.022-.641.043-.793.033q-.277 0-.814-.033-.554-.033-.814-.033h-.228l.011-1.227h.217c.174 0 .423.011.771.044s.6.043.771.043a1.743 1.743 0 0 0 .793-.087.117.117 0 0 0 .022-.087 2.139 2.139 0 0 0-.608-1.1 1.913 1.913 0 0 1 .3-.532 3.859 3.859 0 0 1 .347-.467 1.179 1.179 0 0 1 .239.358 3.336 3.336 0 0 1 .326.782 6.378 6.378 0 0 1 .239 1.574m-.977 2.9l-.4.9-1.032-.445.38-.9zm4.858-2.191h-.271c0 .065-.033.228-.076.51a3.239 3.239 0 0 1-.847 1.672 1.641 1.641 0 0 1-1.14.6.846.846 0 0 1-.152-.022 2.027 2.027 0 0 1-.956-.543 3.188 3.188 0 0 1-.554-.749c-.119-.228-.174-.369-.152-.413a2.8 2.8 0 0 0 1.412.543c.749 0 1.4-.5 1.944-1.509a.231.231 0 0 0 .033-.13 1.418 1.418 0 0 0-.434-.814 3.023 3.023 0 0 0-.467-.467l.51-1.118a2.287 2.287 0 0 1 .6.662 2.381 2.381 0 0 1 .228.554h.347z')
                    path(d='M102.385 10.426l-1.846-.011.011-1.227 1.835.011z')
                    path(d='M106.924 10.437h-.326a2.943 2.943 0 0 1-.912-.119 1.957 1.957 0 0 1-.771-.51 3.4 3.4 0 0 1-.793.4 5.209 5.209 0 0 1-.869.174 4.885 4.885 0 0 1-.684.054h-.412V9.212h.825a4.137 4.137 0 0 0 1.031-.12c.261-.076.38-.141.38-.2s-.108-.2-.326-.369a1.038 1.038 0 0 0-.641-.3.708.708 0 0 0-.2.044.961.961 0 0 1-.119.022.04.04 0 0 1-.033-.011.038.038 0 0 1-.011-.022 2.465 2.465 0 0 1 .282-.608c.228-.391.347-.6.369-.619a1.428 1.428 0 0 1 .836-.25 1.7 1.7 0 0 1 .9.261 1.249 1.249 0 0 1 .586.717 1.018 1.018 0 0 1-.185.727c-.174.3-.261.445-.282.423.043.109.185.185.4.25a1.761 1.761 0 0 0 .445.065h.467zm-1.857-5.225l-.347.793-.9-.4.326-.793z')
                    path(d='M111.246 10.447h-.608l-.217-.1a1.859 1.859 0 0 1-.619.109 3.2 3.2 0 0 1-.445-.033 3.354 3.354 0 0 1-1.173-.521c-.043 0-.1.065-.163.185a.566.566 0 0 1-.206.25 1.523 1.523 0 0 1-.662.108h-.446V9.218h.3c.771 0 1.194-.043 1.281-.152.12-.239.293-.586.543-1.053q.521-.912 1.14-.912a.705.705 0 0 1 .217.032q.261.082.554 1.075a5.417 5.417 0 0 1 .239.977c0 .022 0 .033-.011.043h.271zm-1.053-1.184a1.345 1.345 0 0 0-.141-.565c-.141-.315-.315-.467-.543-.467a.831.831 0 0 0-.5.239.617.617 0 0 0-.293.445c0 .109.2.206.575.3a3.115 3.115 0 0 0 .728.13.823.823 0 0 0 .174-.011v-.076')
                    path(d='M111.026 10.443l.004-1.227 1.835.006-.004 1.227z')
                    path(d='M115.264 9.243a3.386 3.386 0 0 1-.043 1.129 1.531 1.531 0 0 1-.706.1l-1.868-.011V9.234l1.846.011c.032 0 .043-.054.043-.152 0-.011-.032-.413-.1-1.194l-.2-2.443.858-.673zm2.064.392a1.672 1.672 0 0 1-.315.641 6.7 6.7 0 0 1-.565.63c0-.033 0-.152.011-.369.011-.4.022-.717.022-.934q-.016-.668-.065-1.336a41.72 41.72 0 0 1-.12-1.879l.011-.586a4.365 4.365 0 0 1 .814-.966 11.77 11.77 0 0 1 .1 1.455l.076 1.629z')
                path(d='M2.867 14.329s9.447 15.148 22.337 16.658c8.883 1.042 23.358-14.3 24.031-20.469 2.563-23.1-44.869-1.77-46.368 3.811', fill='#e7893e')
                path(d='M2.867 14.33s9.447 15.148 22.337 16.658c5.288.619 12.553-4.561 17.711-10.164-3.106.793-5.245.1-7.927-1.205-5.94-3-7.938-8.6-16.755-3.269-1.509-.358.695-4.81-1.444-4.365-3.29.673-9.263-1.716-13.921 2.346', fill='#3060a4')
                g(data-name='Groupe 41', clip-path='url(#a)', transform='translate(0 .17)')
                    path(d='M39.309 13.77c-7.275-.782-14.508-16.658-14.508-16.658s4.9 18.493 14.54 19.97a7.244 7.244 0 0 0 8.014-4.409s-2.747 7.178-8.546 6.559c-6.765-.728-8.459-7.482-13.172-7.992-4.159-.434-5.343 1.727-6.146 2.367 0 0-2.15-6.776-8.828-2.508 0 0-3.421-5.245-8.285 3.7 0 0 8.589-7.406 4.637 3.714 0 0 3.551-5.983 7.417-4.832 3.768 1.129 2.432 8.579 2.432 8.579s2.7-7.786 8.361-7.178c3.573.391 5.538 6.429 13.313 7.265 7.916.847 12.77-11.945 10.425-19.264.011 0-.271 11.684-9.654 10.685', fill='#fff', fill-rule='evenodd')

        .mlnet-proposal_header-infos
            span.mlnet-proposal_header-title SITUATION CLIENT AU <strong>25/09/2018</strong>
            span.mlnet-proposal_header-date Casablanca, le 12/04/2019
