@import '../../vendor/foundation/util/util';
@import "../../vendor/export/settings";
@import "../../vendor/foundation/foundation";

// Foundation
$global-flexbox: true !global;
@include foundation-flex-grid;
@include foundation-flex-classes;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-text-alignment;
@include foundation-xy-grid-classes(
$padding-grid: false,
$margin-grid: false
  /* options
  $base-grid: true,
  $margin-grid: true,
  $padding-grid: true,
  $block-grid: true,
  $collapse: true,
  $offset: true,
  $vertical-grid: true,
  $frame-grid: true
  */
);

@include foundation-label;

.no-gutter{
  &_left{
    padding-left: 0;
  }
  &_right{
    padding-right: 0;
  }
}