.notification-banner
    .container
        .alert
            .pull-right.float-right
                a(type='button', data-dismiss='alert', aria-hidden='true', class="button primary hasicon_right sm-ml-5 ")
                    span Fermer
                    i.c-fmlnet__header--close
                a(type='button', data-dismiss='alert', aria-hidden='true', class="button primary hasicon_right")
                    span Détails
                    i.c-fmlnet__item-view
            .content
                .ico-notification
                    svg#Layer_1(xmlns='http://www.w3.org/2000/svg', data-name='Layer 1', viewBox='0 0 512 512', width='512', height='512')
                        title Promotion ads
                        path(d='M55.278,300.807c.968,0,1.937.011,2.906.02V408.046a6,6,0,0,0,6,6,56.958,56.958,0,0,0,56.894-56.894V307.811a315.792,315.792,0,0,1,67.481,22.564l126.286,58.933a6,6,0,0,0,8.537-5.437V300.326a56.878,56.878,0,0,0,0-112.827V103.954a6,6,0,0,0-8.537-5.437L188.559,157.451A317.271,317.271,0,0,1,55.278,187.019a31.483,31.483,0,0,0-31.447,31.447V269.36A31.483,31.483,0,0,0,55.278,300.807ZM361,243.913a44.96,44.96,0,0,1-37.621,44.3V199.616A44.96,44.96,0,0,1,361,243.913ZM109.078,357.152a44.96,44.96,0,0,1-38.894,44.494V301.174a316.1,316.1,0,0,1,38.894,4.312Zm202.3,17.3L281.4,360.456V127.37l29.987-14ZM193.633,168.325,269.4,132.97V354.856L193.633,319.5a328.04,328.04,0,0,0-72.555-23.952V192.276A328.037,328.037,0,0,0,193.633,168.325Zm-157.8,50.141a19.469,19.469,0,0,1,19.447-19.447,326.1,326.1,0,0,0,53.8-4.5v98.8a326.113,326.113,0,0,0-53.8-4.5A19.469,19.469,0,0,1,35.831,269.36Z', style='\
                            fill: white;\
                            ')
                        path(d='M365.776,330.231a6,6,0,1,0,4.7,11.042,105.817,105.817,0,0,0,0-194.728,6,6,0,0,0-4.7,11.042,93.816,93.816,0,0,1,0,172.644Z', style='\
                            fill: white;\
                            ')
                        path(d='M391.985,98.433a6,6,0,1,0-4.7,11.042,146.107,146.107,0,0,1,0,268.869,6,6,0,1,0,4.7,11.042,158.107,158.107,0,0,0,0-290.953Z', style='\
                            fill: white;\
                            ')

                p
                    span <strong>Période</strong> : Échéance	 Décembre 2019
                    span Maroc Leasing à le plaisir de vous informer du Lancement de la nouvelle édition du challenge enrichi par des avantages additionnels