.circle-chart__circle {
  animation: circle-chart-fill 2s reverse; /* 1 */
  transform: rotate(-90deg); /* 2, 3 */
  transform-origin: center; /* 4 */
}

/**
 * 1. Rotate by -90 degree to make the starting point of the
 *    stroke the top of the circle.
 * 2. Scaling mirrors the circle to make the stroke move right
 *    to mark a positive chart value.
 * 3. Using CSS transforms on SVG elements is not supported by Internet Explorer
 *    and Edge, use the transform attribute directly on the SVG element as a
 * .  workaround (https://markus.oberlehner.net/blog/pure-css-animated-svg-circle-chart/#part-4-internet-explorer-strikes-back).
 */
.circle-chart__circle--negative {
  transform: rotate(-90deg) scale(1,-1); /* 1, 2, 3 */
}
.c-fmlnet__chat{
  &:before{
    content: "\e967";
    font-family: icomoon;
  }
}
.c-fmlnet__hotline{
  &:before{
    content: "\e966";
    font-family: icomoon;
  }
}
.c-fmlnet__header--notification{
  &:before{
    content: "\e965";
    font-family: icomoon;
  }
}
.hotline-notification{
  h3{
    font-size: 18px;
  }
  ul{
    li{
      border-bottom: 0 !important;
      a{
        align-items: center;
        position: relative;
        padding-left: 27px;
        padding-bottom: 8px;
        padding-top: 8px;
        display: flex;
        &:before{
          content: "";
          position: absolute;
          left: 0;
          font-family: icomoon;
        }
        &.mail{
          &:before{
            content: "\EA3C";
            font-family: "mlnet__common";
            font-size: 11px;
          }
        }
        &.tel{
          &:before{
            content: "\e90d";
          }
        }
      }
    }
  }
}
.circle-chart__info {
  animation: circle-chart-appear 2s forwards;
  opacity: 0;
  transform: translateY(0.3em);
}

@keyframes circle-chart-fill {
  to { stroke-dasharray: 0 100; }
}

@keyframes circle-chart-appear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.proposal-data_chart {
  padding: 30px 0;
}

.proposal-data_chart svg {
  width: 100%;
  height: 240px;
}
/*** style bg bcp/cih authentification 17/10/2019 ***/
.color-red,.color-red span,.color-red .info-label,.color-red .info-val,.color-red .info-val:after{
  color:red;
  }
  .color-blue,.color-blue span,.color-blue .info-label,.color-blue .info-val,.color-blue .info-val:after{
  color:#006ac9;
  }
  .login__cih{
    background-color:#7FD7F7;
  
  }
  .login__bcp{
    background-color:#B5B4B5;
  
  }
  .widget-logo{
    width: 45px;
    position: fixed;
    top: 87px;
    z-index: 111;
    right: 0px;
    transition: all 1s ease;
  }
  .widget-logo li{
  position: relative;
  height: 42px;
  margin: 6px 0;
  list-style: none;
  }
  .widget-logo li a{
  color: #fff;
  border-radius: 9px 0px 0 9px;
    font-size: 0;
    min-width: 50px;
    height: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    display: flex;
    outline: 0;
    overflow: hidden;
    background: white;
    box-shadow: 3px 4px 12px -4px rgba(0,0,0,0.75);
  
  }
  .widget-logo li a .icon{
  position: relative;
  margin: 0 auto;
  font-style: inherit;
  width:60px;
  height:50px;
  right:0;
  display: flex;
  align-items: center;
  justify-content: center;
  top:0;
  transform: none;
  }
  .widget-logo .icon:before{
  content:"";
  width: 56px;
  height: 40px;
  background-size: 46px;
  background-repeat: no-repeat;
  background-position: center center;
  }
  .widget-logo .logo-hide{
  position: relative;
  width: 0;
  height: 40px;
  line-height: 42px;
  color: #fff;
  transition: .4s all;
  }
  .widget-logo li a:hover{
  min-width: inherit;
  width: 218px;
  align-items: center;
  }
  .widget-logo li a:hover .logo-hide{
  margin: 0 15px 0 0;
  width: auto;
  height: auto;
  transition: .5s all;
  
  }
  .widget-logo li a:hover .icon:before{
  
  }
  .login__bcp .page-account .bloc__top img{
    max-width: 190px;
    margin-bottom: 10px;
  } 
  .login__bcp footer{
    background: rgb(134, 134, 134);
    color: white;
    font-size: 16px;
    border: 0;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.64);
  }
  .login__bcp footer b{
    font-weight:bold;
  }
  .login__bcp footer .tel{
    position: relative;
    padding-left: 40px;
    margin-left: 29px;
    font-size: 16px;
  }
  .hotline {
    background: #194576;
    padding: 0px 12px;
    border-radius: 47px;
    margin-right: 0;
    height: 37px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    margin-bottom: 23px;
    width: 90%;
  }
  .hotline b {
    font-weight: bold;
    position: relative;
    padding-left: 52px;
    margin-right: 0;
    letter-spacing: 5px;
    font-size: 13px;
    color:white;
  }
  .hotline b:before {
    content: "";
    position: absolute;
    left: 9px;
    width: 31px;
    height: 33px;
    background-size: 24px;
    top: -8px;
  }
  .footer-menu .mail{
    position: relative;
    padding-left: 44px;
    margin-bottom: 33px;
  }
  .footer-menu .tel{
    position: relative;
    padding-left: 44px;
  }
  .footer-menu .mail:before{
    content: "";
    position: absolute;
    width: 33px;
    height: 33px;
    left: 5px;
    top: -8px;
    background-size: 17px;
    border-radius: 50%;
    background-color: #194576;
    padding: 8px;
    display: flex;
    align-items: center;
    background-position: center;
    justify-content: center;
  
  }
  .footer-menu .tel:before{
    content: "";
    position: absolute;
    width: 33px;
    height: 33px;
    left: 7px;
    top: -9px;
    background-size: 17px;
    border-radius: 50%;
    background-color: #194576;
    padding: 8px;
    display: flex;
    align-items: center;
    background-position: center;
    justify-content: center;
  
  }
  
  .footer-menu h3{
    font-size: 0px;
    font-weight: bold;
    margin-bottom: 33px;
    color: #928d8b;
    position: relative;
    letter-spacing: 2px;
  }
  .footer-menu h3:before{
    content:"";
    width: 197px;
    height: 80px;
    display: block;
    position: relative;
    bottom: -9px;
    left: -14px;
    background-size: 195px;
  }
  .closed_nav .footer-menu{
    display:none;
  }
  .footer-menu{
    background: transparent;
    padding: 15px 4px;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    position: absolute;
    bottom: 15px;
    padding-left: 15px;
    width: 100%;
    a{
      display: flex;
      align-items: center;
    }
    img{
      cursor: pointer;
      &:last-child{
        margin-left: 15px;
      }
    }
    &:hover{
      img{
        filter: grayscale(0);
      }
    }
    img{
      filter: grayscale(1);
    }
  }
  .login__bcp footer .mail:hover{
    color:#e7893e;
  }
  .login__bcp footer .mail{
    position: relative;
    color:white;
    font-size: 16px;
    position: relative;
    padding-left: 42px;
  }
  .login__bcp footer .mail:before{
    content: "";
    position: absolute;
    width: 33px;
    height: 33px;
    left: 0;
    top: -7px;
    background-size: 17px;
    border-radius: 50%;
    background-color: #696767;
    padding: 8px;
    display: flex;
    align-items: center;
    background-position: center;
    justify-content: center;
  
  }
  .login__bcp footer .tel:before{
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    top: -5px;
    background-size: 17px;
    border-radius: 50%;
    background-color: #696767;
    padding: 8px;
    display: flex;
    align-items: center;
    background-position: center;
    justify-content: center;
  
  }
  
  .bloc__top{
    display: flex;
      justify-content: center;	
  }
  .block_top--left{
    font-size:29px;
    color:#231F20;
  }
  .block_top--left span{
    text-align: left;
  }
  .login__cih  .page-login_panel > .panel-heading{
    margin: 0px 0px 80px;
  }
  .login__cih  .page-login_panel > .panel-heading{
    padding-bottom: 30px;
    padding-top: 39px;
  }
  .login__cih .page-login_panel .panel-heading .panel-brand_icon{
    width: 74px;
    height: 74px;
    bottom: -44px
  }
  .login__cih .page-login_panel .panel-heading .panel-brand_icon:after{
    width: 28px;
    height: 46px;
  }
  .login__bcp .page-login_panel  .button.primary{
    background-color:#82464E;
  
  }
  .login__bcp .page-account .page-login_panel a.clear{
    color:#F15C22;
  }
  @media (max-width: 768px) {
    .bloc__top{
      flex-flow:column;
    }
    .block_top--left span{
      text-align:center;
    }
    .block_top--right{
      margin-top: 21px;
    }
  }
  @media screen and (max-width: 767px) {
    .bottom__page{
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      padding-left: 25px;
    }
    .login__bcp footer .mail:before{
      top:7px;
    }
    .login__bcp footer .tel:before{
      top:11px;
    }
    .login__bcp footer .tel{
      margin-left:0;  
    }
    .login__bcp footer{
      position: relative;
    }
  }
  .logo {
    width: 206px;
    padding-left: 0;
  }
  .logo  img{
    max-width: 147px;
    margin-top: 8px;
  }
  .c-nav__humbergermenu{
    padding-top: 14px;
  }
  .widget-logo.widget-bp{top:146px;}
  .widget-logo.widget-bp .icon:before{}
  .widget-logo.widget-bp li a:hover{
    width: 245px;
  }
  
  .spinner-print {
    position: static !important;
    margin-top: 0px !important;
    margin-right: 0px !important;
  }
  .set-size {
    font-size: 1.5em;
  }
  .charts-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 9px;
    .label{
      font-size:14px;
      color:#3b3836;
      font-weight: normal;
    }
  }
  .charts-container:after {
    clear: both;
    content: "";
    display: table;
  }
  .pie-wrapper {
    height: 1em;
    width: 1em;
    float: left;
    margin: 4px;
    position: relative;
  }
  .pie-wrapper:nth-child(3n+1) {
    clear: both;
  }
  .pie-wrapper .pie {
    height: 100%;
    width: 100%;
    clip: rect(0, 1em, 1em, 0.5em);
    left: 0;
    position: absolute;
    top: 0;
  }
  .pie-wrapper .pie .half-circle {
    height: 100%;
    width: 100%;
    border: 0.1em solid #3498db;
    border-radius: 50%;
    clip: rect(0, 0.5em, 1em, 0);
    left: 0;
    position: absolute;
    top: 0;
  }
  .pie-wrapper .label {
    background: #34495e;
    border-radius: 50%;
    bottom: 0.4em;
    color: #ecf0f1;
    cursor: default;
    display: block;
    font-size: 0.25em;
    left: 0.4em;
    line-height: 2.6em;
    position: absolute;
    right: 0.4em;
    text-align: center;
    top: 0.4em;
  }
  .pie-wrapper .label .smaller {
    color: #bdc3c7;
    font-size: .45em;
    padding-bottom: 20px;
    vertical-align: super;
  }
  .pie-wrapper .shadow {
    height: 100%;
    width: 100%;
    border: 0.1em solid #bdc3c7;
    border-radius: 50%;
  }
  .pie-wrapper.style-2 .label {
    background: none;
    color: #7f8c8d;
  }
  .pie-wrapper.style-2 .label .smaller {
    color: #bdc3c7;
  }
  .pie-wrapper.progress-30 .pie .right-side {
    display: none;
  }
  .pie-wrapper.progress-30 .pie .half-circle {
    border-color: #e7893e;
  }
  .pie-wrapper.progress-30 .pie .left-side {
    -webkit-transform: rotate(108deg);
            transform: rotate(108deg);
  }
  .pie-wrapper.progress-60 .pie {
    clip: rect(auto, auto, auto, auto);
  }
  .pie-wrapper.progress-60 .pie .right-side {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .pie-wrapper.progress-60 .pie .half-circle {
    border-color: #e7893e;
  }
  .pie-wrapper.progress-60 .pie .left-side {
    -webkit-transform: rotate(216deg);
            transform: rotate(216deg);
  }
  .pie-wrapper.progress-90 .pie {
    clip: rect(auto, auto, auto, auto);
  }
  .pie-wrapper.progress-90 .pie .right-side {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .pie-wrapper.progress-90 .pie .half-circle {
    border-color: #e67e22;
  }
  .pie-wrapper.progress-90 .pie .left-side {
    -webkit-transform: rotate(324deg);
            transform: rotate(324deg);
  }
  .pie-wrapper.progress-45 .pie .right-side {
    display: none;
  }
  .pie-wrapper.progress-45 .pie .half-circle {
    border-color: #e7893e;
  }
  .pie-wrapper.progress-45 .pie .left-side {
    -webkit-transform: rotate(162deg);
            transform: rotate(162deg);
  }
  .pie-wrapper.progress-75 .pie {
    clip: rect(auto, auto, auto, auto);
  }
  .pie-wrapper.progress-75 .pie .right-side {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .pie-wrapper.progress-75 .pie .half-circle {
    border-color: #e7893e;
  }
  .pie-wrapper.progress-75 .pie .left-side {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  .pie-wrapper.progress-95 .pie {
    clip: rect(auto, auto, auto, auto);
  }
  .pie-wrapper.progress-95 .pie .right-side {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .pie-wrapper.progress-95 .pie .half-circle {
    border-color: #e7893e;
  }
  .pie-wrapper.progress-95 .pie .left-side {
    -webkit-transform: rotate(342deg);
            transform: rotate(342deg);
  }
  .pie-wrapper--solid {
    border-radius: 50%;
    overflow: hidden;
  }
  .pie-wrapper--solid:before {
    border-radius: 0 100% 100% 0%;
    content: '';
    display: block;
    height: 100%;
    margin-left: 50%;
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  .pie-wrapper--solid .label {
    background: transparent;
  }
  .pie-wrapper--solid.progress-65 {
    background: -webkit-linear-gradient(left, #e67e22 50%, #34495e 50%);
    background: linear-gradient(to right, #e67e22 50%, #34495e 50%);
  }
  .pie-wrapper--solid.progress-65:before {
    background: #e67e22;
    -webkit-transform: rotate(126deg);
            transform: rotate(126deg);
  }
  .pie-wrapper--solid.progress-25 {
    background: -webkit-linear-gradient(left, #9b59b6 50%, #34495e 50%);
    background: linear-gradient(to right, #9b59b6 50%, #34495e 50%);
  }
  .pie-wrapper--solid.progress-25:before {
    background: #34495e;
    -webkit-transform: rotate(-270deg);
            transform: rotate(-270deg);
  }
  .pie-wrapper--solid.progress-88 {
    background: -webkit-linear-gradient(left, #3498db 50%, #34495e 50%);
    background: linear-gradient(to right, #3498db 50%, #34495e 50%);
  }
  .pie-wrapper--solid.progress-88:before {
    background: #3498db;
    -webkit-transform: rotate(43.2deg);
            transform: rotate(43.2deg);
  }
  .simulation-encour{
    margin-bottom: 20px;
    .sous-titre{
      color:#13539b;
      &:before{
        content: "\e955";
        font-family: 'icomoon';
        margin-right: 7px;
      }
    }
  }
  .proposition-accepte{
    .sous-titre{
      color:#e7893e;
      &:before{
        content: "\e963";
        font-family: 'icomoon';
        margin-right: 7px;
      }
    }
    .row__proposition{
      &:hover{
        .action{
          .default{
            visibility: visible;
            opacity: 1;
            padding: 0.7em 1em;
            margin-bottom: 10px;
            height: auto;
            &:hover{
              background-color: #13539b;
              color:white;              
            }

          }
        }
      }
    }
  }
  .list-proposition{
    .sous-titre{
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    .row__proposition {
      background-color: white;
      border-radius: 8px;
      box-shadow: 0 3px 6px 1px rgba(219, 222, 225, 0.28), 0 1px 1px 0 rgba(206, 207, 209, 0.54);
      width: 100%;
      display: flex;
      padding: 18px 16px;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      .action{
        .default{
          border-radius: 4px;
          border: solid 1px #e8e9ec;
          background-color: #f7f8fc;
          color:#3b3836;
          margin-bottom: 0px;
          visibility: hidden;
          opacity: 0;
          height: 0;
          padding: 0;
        }
      }
      .col__left{
        display: flex;
      }
      .statu{
        color: #13539b;
        font-size: 14px;
        font-weight: 500;
        -webkit-border-radius: 13px;
        -moz-border-radius: 13px;
        border-radius: 13px;
        background-color: #f0f7ff;
        padding: 4px 9px;
        display: flex;
        align-items: center;
        &:before{
          content: "\e964";
          font-family: 'icomoon';
          margin-right: 5px;
        }
      }
      li{
        list-style: none;
        min-width: 25%;
        &:first-child{
          min-width: 210px;
          @media only screen and (max-width:1280px) {
            min-width: 150px;
          }
          span{
            font-size: 22px;
            font-weight: normal;
          }
        }
        label{
          color:#a2a4a7;
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 600;
        }
        span{
          font-size: 16px;
          font-weight: 500;
          color:#3b3836;
        }

      }
    }
  }
  .reference-proposition{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    margin-bottom: 20px;
    label{
      color:#a2a4a7;
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
    }
    span{
      color:#3b3836;
      font-size: 32px;
    }
    .statut{
      border-radius: 4px;
      background-color: rgba(19, 83, 155, 0.1);
      padding: 5px 10px;
      color:#13539b;
      font-weight: 600;
      margin-top: 13px;
      font-size: 16px;
    }
  }