.login {
  background-color:$bg-color;
}

.page-account {
  line-height: calc(100vh - 40px);
  text-align: center;
  height: 100vh;
    display: flex;
    align-items: center;
  .panel-heading_content{
    display: flex;
    align-items: center;
    justify-content: center;
    .panel-subtitle{
      font-size: 20px;
      color:#3b3836;
      font-family: 'Barlow';
      font-weight: 400;
      display: flex;
      align-items: center;
    }
  }
  .c-input__holder {
  }

  a.clear {
    padding-right: 5px;
    font-size: 14px;
    font-family: 'Barlow';
    font-weight: 500;
    margin-bottom: 20px;
    .c-fmlnet__arrow--right{
      margin-left: 15px;
    }
  }
.page-login_panel{
  padding-bottom: 30px;
}
  .login-container {
    max-width: 400px;
    margin: auto;
    line-height: 1.2;
    vertical-align: middle;
    height: auto;
    @include bp-lt($small) {
      max-width: 100%;
    }
    .logo{
      margin-bottom: 20px;
    }
    h5{
      font-weight: 500;
      font-size: 14px;
      margin-bottom: 18px;
      &:before{
        content: "\e961";
        font-family: "icomoon";
        font-size: 14px;
        margin-right: 10px;
      }    
    }
    h4{
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 18px;
      &:before{
        content: "\e950";
        font-family: "icomoon";
        font-size: 14px;
        margin-right: 10px;
      }
    }
    .state-card_empty{
      max-width: 400px;
      padding: 0;
      h3{
        text-align: left;
        color:#9ea4b3;
        font-size: 14px;
      }
      ul{
        margin: 0;
        li{
          display: flex;
          align-items: center;
          font-size: 16px;
          a{
            color:#3b3836;
            padding-left: 24px;
            margin-bottom: 0;
            &:before{
              content: "";
              position: absolute;
              left: 0;
              font-family: icomoon;
              color:$color__orange;          
            }
            &.mail{
              &:before{
                content: "\E90C";
                font-family: icomoon;
                top: 2px;             
              }
            }
            &.tel{
              &:before{
                content: "\E90D";
                top: 1px;
              }
            }
          }
        }
      }
    }
  }
}

.panel-heading_content {
  padding: 0 15px;
}

.page-login_panel {
  .panel-heading-divider{
    border:0;
  }
  .panel-heading {
    padding-bottom: 0px;
    padding-top: 0;
    position: relative;
    font-size: 2.1875rem;
    margin: 0px 0px 0;
    color: #13539b;
    border-bottom: 1px solid rgba(235, 236, 237, 0.68);
    padding: 20px 15px;
    margin-bottom: 10px;
    &.panel-heading_small{
      font-size: rem(25);
      color:$black-color;
      font-family: $fontFamily_robotoCondensed-light;
    }
    &.panel-heading_default{
      padding: 0 20px;
    }

    .panel-brand_icon {
      width: 60px;
      height: 60px;
      line-height: 60px;
      vertical-align: middle;
      text-align: center;
      border: 1px solid #d9d9d9;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0%);
      /* top: 50%; */
      bottom: -25px;
      background: white;

      &:after{
        width: 45px;
        height: 45px;
        left: 50%;
        top: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        content: '';
        background-image: url($svg-icon-brand);
        background-position: 50%;
        background-repeat: no-repeat;
        display: inline-block;
        background-size: contain;

      }

      img {
        max-width: 50px;
        vertical-align: middle;
        display: none;
      }
    }
  }

  .panel-body {
    padding-left: rem(30);
    padding-right: rem(30);
    @include bp-lt($small) {
      padding-left: rem(10);
      padding-right: rem(10);
    }

  }
}

.cards-toslide{
  width: 100%;
  overflow-x: hidden;
  padding-top: 10px;
}


.cards-toslide_content{
  white-space: nowrap;
  transition: $bezier;
}
.cards-toslide_content.toggle{
  transform: translateX(-100%);
}


.card-toslide{
  display: inline-block;
  width: 100%;
  white-space: normal;
  vertical-align: top;
}



.j-toggle-password-on{
  &.showpassword{
    &:before{
      display: inline-block;
      min-height: 14px;
      line-height: 14px;
      vertical-align: middle;
      content: "\EAA3";
      margin-top: 4px;
    }
  }
}
/** custom button **/
.c-action__holder .button{
  border-radius: 6px;
  background-color: $color__blue;
  padding: 18px 45px;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Barlow';
  font-weight: 500;
  i{
    display: none;
  }
}