.card-offer {
  display: block;
  margin: 20px 0 20px 0;
  padding: 24px;
  border: 1px solid #e2e4e7;
  background: #fff;
  -moz-box-shadow: 0px 3px 6px 0px #cccccc;
  -webkit-box-shadow: 0px 3px 6px 0px #cccccc;
  -o-box-shadow: 0px 3px 6px 0px #cccccc;
  box-shadow: 0px 3px 6px 0px #cccccc;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#cccccc, Direction=180, Strength=10);
  overflow: hidden;
  border-radius: rem(10);
}
.panel{
  .card-offer{
    box-shadow: none;
    border: 0;
  }
}
.intro {
  color: rgba($black, 0.6);
  font-size: rem(14);
}

.card-offer {
  p {
    font-size: rem(14);
    max-height: 80px;
    overflow: hidden;
    &.intro{
      max-height: none;
    }
  }
  .clearfix{
    a{
      &:last-child{
        margin-top: 8px;
      }
    }
  }
}

.product-img {
  float: left;
  height: 250px;
  width: 230px;
  position: relative;
  overflow: hidden;

  img {
    //width: 100%;
    max-width: none;
    /* -webkit-border-radius: 50%; */
   // -moz-border-radius: 50%;
    /* border-radius: 50%; */
   // height: 100%;
    height: 250px;
    position: absolute;
    left: 0;
    //transform: translateX(-37%);
  }
}

.product-info {
  float: left;
  width: calc(100% - 260px);
  -webkit-border-radius: 0 7px 10px 7px;
  -moz-border-radius: 0 7px 10px 7px;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
  padding-left: 30px;
  max-height: 200px;
  min-height: 200px;
  overflow: hidden;
}


.filter-news {
  display: block;
}

.filter_anne {
  display: inline-block;
  vertical-align: middle;
}

.filter_anne label {
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  color: get-color("secondary");
  border-bottom: 1px solid get-color("secondary");
  margin-right: 14px!important;
}

.filter_anne a {
  display: inline-block;
  vertical-align: middle;
  line-height: 22px;
  background: #fff;
  border: 1px solid #dae2e6;
  border-radius: 4px;
  font-size: 13px;
  color:#6d6d6d;
  margin-right: 3px;
  text-align: center;
  padding: 0 16px;
}

.filter_anne a:last-child {
  margin-right: 0px;
}

.filter_anne a:hover, .filter_anne a.current {
  background: get-color("secondary");
  color: #fff;
}

.paginate_news {
  float: right;
}

.paginate_news select {
  max-width: 38px;
  display: inline-block;
  vertical-align: middle;
  height: 27px;
  min-width: 62px;
}

.paginate_news ul {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin: 0
}

.paginate_news ul li {
  float: left;
  margin-right: 4px;
  padding-bottom: 0;
  margin-bottom: 0
}

.paginate_news ul li:before {
  display: none
}

.paginate_news ul li:last-child {
  margin-right: 0px;
}

.paginate_news ul li a {
  display: block;
  margin-bottom: 0;
  line-height: 22px;
  padding: 0 14px;
  background: #fff;
  border: 1px solid #dce4e8;
  font-size: 13px;
  color: #8493A8;
  border-radius: 4px;
}

.paginate_news ul li a:hover, .paginate_news ul li a.current {
  background: get-color("secondary");
  color: #fff;
  border-color: get-color("secondary");
}

.card-form_fields{
  padding: rem(10);
  border: 1px solid #e2e4e7;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.04);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}