body{
  background: white!important;
  font-size: rem(13);
  p{
    font-size: rem(13);
  }
  padding-bottom: 9rem;
      height: 100vh;
}

.container{
  max-width: 1540px;
  margin: auto;
  padding: 0 10px;
}

.proposal-header{
  .mlnet-proposal_header{
    padding: rem(10) 0;
  }
  .mlnet-proposal_header-container{
    @include clearfix();
  }
  .mlnet-proposal_header-logo{
    padding-left: rem(20);
    float: left;
    img{
    }
  }
  .mlnet-proposal_header-infos{
    float: right;
    span{
      display: block;
      font-size: rem(20);
      &.mlnet-proposal_header-title{
        padding: rem(0) rem(30) rem(20) rem(0);
        border-bottom: 1px solid rgba(0,0,0,0.1);
        margin-bottom: rem(5);
        color: black;
      }
      &.mlnet-proposal_header-date{
      text-align: right;
        font-size: rem(12);
        padding: rem(0) rem(30) rem(0) rem(0);
        font-family: $fontFamily_robotoCondensed-regular;
        color: rgba(0,0,0,0.6);
      }
    }
    strong{
      color: get-color("secondary");

    }
  }
}

.mlnet-situation_header-intro{
                padding-top:30px;
                padding-bottom:10px;
        span{
                display:block;
                padding-bottom:10px;

            strong{
            text-transform:uppercase;

            }
        }
}

.mlnet-state_body{

}

.datatables-content{
    .datatables-content_inner{
        table{
        width:100%;
        th, td{
                        padding:8px 15px;
                        border:1px solid #eeeeee
                    }
            th{

            }
            tbody tr{
                    background: #f4f4f4;
                &:nth-child(even){
                    background:white
                }

            }
            td{

            }
        }
    }
}
sup{
font-size:10px!important;
}

.total-overview{
font-family: "RobotoCondensedLight", sans-serif;
font-size:17px;
text-align:center;
                padding-top:20px;
                padding-bottom:30px;
 span{
                display:inline-block;
                padding:15px 5px;
                width:calc(100%/3 - 18px);
                margin-right:8px;
                text-align:center;
                        border:1px solid #F2F2F2;
                    background:#F2F2F2;
        border-radius: rem(30);

            strong{
            padding-right:10px;
            font-size:15px;
            color:get-color("secondary")

            }
        }

}
.overview-msg{
p{
    font-family: "RobotoCondensedLight", sans-serif;
}
}


.user-agenet_infos{
  padding-top: rem(30);
  padding-bottom: rem(20);
  position: fixed;
  width: 100%;
  background: white;
  bottom:50px;
  span{
    strong{
    }
  }
  .user-agenet_infos-title{
    font-size: rem(16);
    padding-bottom: rem(10);
  }
  .user-agenet_infos-content{
    clear: both;
    padding: rem(0);
    font-size: rem(10);

    >div{
      display: inline-block;
      padding-right: rem(30);
      >span{
        display: block;
        padding-bottom: rem(5);
        font-family: $fontFamily_robotoCondensed-regular;
        strong{
          color: #333333;
        }
      }
    }

  }
  .user-agenet_name{
    font-size: rem(12);
    padding-bottom: rem(3);
    display: block;

  }
  .user-agenet_agency{
    font-size: rem(10);
    padding-bottom: rem(3);
    display: block;
    color: get-color("secondary");

  }
  .user-agenet_group{
    font-size: rem(10);
    color: #333333;

  }
}