body{
  background: white!important;
  font-size: rem(13);
  p{
    font-size: rem(13);
  }
  padding-bottom: 18rem;
}
.container{
  max-width: 1140px;
  margin: auto;
  padding: 0 10px;
}
.proposal-header{
  .mlnet-proposal_header{
    padding: rem(10) 0;
  }
  .mlnet-proposal_header-container{
    @include clearfix();
  }
  .mlnet-proposal_header-logo{
    padding-left: rem(20);
    float: left;
    img{
    }
  }
  .mlnet-proposal_header-infos{
    float: right;
    span{
      display: block;
      font-size: rem(18);
      &.mlnet-proposal_header-title{
        padding: rem(0) rem(30) rem(20) rem(0);
        border-bottom: 1px solid rgba(0,0,0,0.1);
        margin-bottom: rem(5);
        color: black;
      }
      &.mlnet-proposal_header-date{
      text-align: right;
        font-size: rem(12);
        padding: rem(0) rem(30) rem(0) rem(0);
        font-family: $fontFamily_robotoCondensed-regular;
        color: rgba(0,0,0,0.6);
      }
    }
    strong{
      color:$color__blue

    }
  }
}

.mlnet-proposal_header-intro{
  padding: rem(5) rem(0) rem(10);
  div{
    padding-bottom: rem(20);
  }
  span{
    display: block;
    padding-bottom: rem(5);
    strong{
      font-size: rem(16);
      color: rgba(0,0,0,0.7);
    }
  }
  p{
    padding: 0;
    margin: rem(10) 0;
  }
}
.proposal-content{
  .page-content_side{
    padding: rem(0) rem(0);
  }
  .page-content_inner{

  }
  .proposal-summary{
    .proposal-summary_col{

      @include clearfix();
      padding: rem(0) rem(0) rem(5) rem(0);
      border-bottom: 1px solid rgba(0,0,0,0.1);
      margin-bottom: rem(5);
      .label{
        float: left;
        padding-top: rem(5);
      }
      .val{
        float: right;
        color:$color__blue;
      }
      .badge{
        background: $color__blue;
        color: white;
        border-radius: rem(30);
        padding: rem(5) rem(15);

      }
    }
  }
  .proposal-items_content{
    padding: rem(25) 0 0;
    text-align: center;
    overflow: hidden;
    h2{
      position: relative;
      font-size: rem(16);
      padding-bottom: rem(20);
      text-align: left;
      margin-top: 0;
      &:after{
        content:"";
      }
    }
    .proposal-item{
      position: relative;
      //display: inline-block;
      margin-bottom: rem(10);
      border-radius: 10px;
      position: relative;
     // display: inline-block;
      border: 1px solid #d4d2d2;
      padding: 6px 6px 6px 35px;
     // width: calc((100% / 4) - 10px);
      margin-right: rem(10);
      display: inline-block;
     // white-space: nowrap;
      h3{
        /*font-size: rem(12);
        color: get-color("secondary");
        //position: absolute;*/

        text-transform: uppercase;
        //right: 100%;
        //-webkit-transform-origin: top right 0;
        //transform-origin: top right 0;
        //-webkit-transform: rotate( 270deg );
        //transform: rotate( 270deg );
        //top: 1px;

        white-space: nowrap;
       // margin: 0;
        //padding: 10px;
        //width: 122px;
       // border-radius: 10px;
      //  background: white;
        font-size: 0.625rem;
        color: get-color("secondary");
        position: absolute;
        text-transform: uppercase;
        right: 100%;
        -webkit-transform-origin: top right 0;
        -moz-transform-origin: top right 0;
        transform-origin: top right 0;
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        transform: rotate(270deg);
        top: 1px;
        margin: 0;
        padding: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
      }
      div{
        display: inline-block;
        margin: rem(0) rem(2);
        border: 1px solid rgba(0,0,0,0.1);
        border-radius: rem(10);
        padding: rem(6);
        margin-bottom: rem(10);
        text-align: left;
       // width: calc(100% - 12px);
        span{
          display:block;
          &.label{
            color: rgba(0,0,0,0.7);
            padding-bottom: rem(5);
            font-family: $fontFamily_robotoCondensed-regular;

          }
          &.val{
            font-family: $fontFamily_robotoCondensed-regular;
            //color: get-color("primary");
            font-size: rem(14);
          }
        }
        &:last-child{
         /* overflow: hidden;
          display: block;
          background: $body-bg-default;
          color: darken(get-color('primary'),20%);
          border-color: rgba($body-bg-default, 0.09);
          margin-bottom: 0;
          padding: rem(12) rem(5);
          white-space: nowrap;*/
         /* overflow: hidden;
          display: block;
          background: #F5F5F5;
          color: #003462;
          border-color: rgba(245, 245, 245, 0.09);
          margin-bottom: 0;
          padding: 0.75rem 6px;
          /* white-space: nowrap;
          width: calc(100% + 2px);
          margin-left: -1px;
          margin-bottom: -5px;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          margin-top: rem(5);*/
          overflow: hidden;
          display: block;
          background: #F5F5F5;
          color: #003462;
          border-color: rgba(245, 245, 245, 0.09);
          margin-bottom: 0;
          span{
            &.label{
              float: left;
              font-size: rem(14);
padding: 0;
            }
            &.val{
              float: right;
            }
          }


        }
      }
    }
  }
}



.user-agenet_infos{
  padding-top: rem(30);
  padding-bottom: rem(20);
  position: fixed;
  bottom: 100px;
  width: 100%;
  background: white;
  span{
    strong{
    }
  }
  .user-agenet_infos-title{
    font-size: rem(16);
    padding-bottom: rem(10);
  }
  .user-agenet_infos-content{
    clear: both;
    padding: rem(0);
    font-size: rem(10);

    >div{
      display: inline-block;
      padding-right: rem(30);
      >span{
        display: block;
        padding-bottom: rem(5);
        font-family: $fontFamily_robotoCondensed-regular;
        strong{
          color: #333333;
        }
      }
    }

  }
  .user-agenet_name{
    font-size: rem(12);
    padding-bottom: rem(3);
    display: block;

  }
  .user-agenet_agency{
    font-size: rem(10);
    padding-bottom: rem(3);
    display: block;
    color: get-color("secondary");

  }
  .user-agenet_group{
    font-size: rem(10);
    color: #333333;

  }
}

.proposal-footer{

  padding: rem(0) rem(10);
  border-left: 20px solid $color__blue;
  font-size: rem(10);
  background: $body-bg-default;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
 /* position: fixed;
  bottom: 0;
  width: 100%;*/
  span{
    display: block;
    padding-bottom: rem(10);

  }
  p{
    font-size: rem(10);
  }
  .mlnet-proposal_footer-container{
    padding: rem(10) 0;
    .mlnet-proposal_footer-conds{
      width: calc(100% - 355px);
      display: inline-block;
      vertical-align: middle;

    }
    .mlnet-proposal_footer-contact{
      width: 350px;
      display: inline-block;
      .mlnet-proposal_footer-contact_ico, .mlnet-proposal_footer-contact_call{
        display: inline-block;
        vertical-align: middle;

        svg{
          width: 60px;
        }
      }
      .mlnet-proposal_footer-contact_call{
        max-width: 220px;
        padding-left: rem(15);
        .mlnet-proposal_header-date{
          font-size: rem(20);
          color: get-color("secondary");
        }
      }
    }
    &-container{

    }

    &-contact{
      &_ico{
        svg{

        }
      }
      &_call{

      }

    }
  }

}


.footer-msg {
  padding-top: 10px;
}