.popup-inline{
  display: none;
}
.left__col{
  .panel{
    background-color: white;
    border:1px solid rgba(206, 207, 209, 0.54);
    border-radius: 11px;
  }
}
.right__col{
  padding: 15px;
  border-radius: 11px;
  padding-top: 30px;
  background-color: white;
  border:1px solid rgba(206, 207, 209, 0.54);
  .title-col{
    padding-left: 0;
    padding-bottom: 20px;
  }
  .result__total{
    text-align: right;
    .total-ht-ttc{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      label{
        color:#a2a4a7;
        font-size: 20px;
        font-weight: 500;
        padding-right: 34px;
      }
      span{
        font-size: 20px;
        font-weight: 500;
        color:$color__black;
      }
    }
    .total-frais{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      label{
        font-size: 16px;
        color:#a2a4a7;
        font-weight: 500;
        padding-right: 34px;
      }
      span{
        font-size: 16px;
        font-weight: 500;
        color:$color__black;
      }
    }
  }
  .accordionWrapper{
    .accordionItem{
      border:1px solid #e8e9ec;
      background-color: rgba(247, 248, 252, 0.3);
      border-radius: 8px;
      padding: 20px;
      margin-bottom: 20px;
      h4{
        font-size: 14px;
        color:#a2a4a7;
        font-weight: 500;
      }
      .title{
        font-size: 20px;
        font-weight: 500;
        color:$color__black;
        margin-bottom: 10px;
      }
      .type{
        background-color: rgba(231, 137, 62, 0.1);
        color: #e7893e;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 11px;
        padding: 7px 8px;
        display: inline-block;
        border-radius: 3px;
      }
      .price{
        margin-bottom: 10px;
        label{
          color:#a2a4a7;
          font-size: 14px;
          font-weight: 500;
        }
        span{
          font-size:18px;
          color:$color__black;
          font-weight: 500;
        }
      }
      &.close{
        h4{
          position: relative;
          cursor: pointer;
          &::before{
            content: "+";
            width: 24px;
            height: 24px;
            background-color: #fcfcfe;
            border:1px solid #e8e9ec;
            border-radius: 50px;
            display: block;
            position: absolute;
            right: 0;
            color:$color__black;
            text-align: center;
            line-height: 18px;
            font-size: 20px;
          }
        }
        .accordionItemContent{
          height:0px;
          transition:height 1s ease-out;
          -webkit-transform: scaleY(0);
          -o-transform: scaleY(0);
          -ms-transform: scaleY(0);
          transform: scaleY(0);
          float:left;
          display:block;
        }
      }
      &.open{
        h4{
          position: relative;
          cursor: pointer;
          &::before{
            content: "_";
            width: 24px;
            height: 24px;
            background-color: #fcfcfe;
            border:1px solid #e8e9ec;
            border-radius: 50px;
            display: block;
            position: absolute;
            right: 0;
            color:$color__black;
            text-align: center;
          }
        }
        .accordionItemContent{
            width: 100%;
            margin: 0px 0px 10px 0px;
            display:block;
            -webkit-transform: scaleY(1);
            -o-transform: scaleY(1);
            -ms-transform: scaleY(1);
            transform: scaleY(1);
            -webkit-transform-origin: top;
            -o-transform-origin: top;
            -ms-transform-origin: top;
            transform-origin: top;

            -webkit-transition: -webkit-transform 0.4s ease-out;
            -o-transition: -o-transform 0.4s ease;
            -ms-transition: -ms-transform 0.4s ease;
            transition: transform 0.4s ease;
             box-sizing: border-box;
        }
      }
      .accordionItemContent{
        margin-top: 7px;
      } 
    }
  }
}
.title-col{
  font-size: 20px;
  font-weight: 500;
  padding: 0px 25px;
}
.simulation__div{
  padding-top: 30px;
  padding-bottom: 30px;
}
.dataTable-actions{
  &_search{
    &__product{
      text-align: center;
      padding: rem(30) 0 rem(60);
      .field{
        input{
          display: inline-block;
          width: auto;
          min-width: 400px;
        }
        label{
          display: inline-block;
          vertical-align: middle;
          margin-right: rem(10);
          padding-bottom: 0;
          + div, + input{
            display: inline-block;
            vertical-align: middle;
          }

        }
      }
    }
  }

}

@mixin can-toggle-branding(
  $can-toggle-off-color:  get-color("primary"),
  $can-toggle-on-color: get-color("primary"),
  $can-toggle-inactive-text: rgba(white, 1),
  $can-toggle-transition: cubic-bezier(0,1,0.5,1)
) {


  input[type="checkbox"] {

    &[disabled] ~ label {
      color: rgba($can-toggle-off-color, 0.5);
    }

    &:focus ~ label, &:hover ~ label {
      .can-toggle__switch {
        background-color: $can-toggle-off-color;
        &:after { color: darken($can-toggle-off-color, 10%); }
      }
    }
    &:hover ~label { color: darken($can-toggle-off-color, 5%); }
    &:checked {
      ~ label {
        &:hover { color: darken($can-toggle-on-color, 3%); }

        .can-toggle__switch {
          background-color: lighten($can-toggle-on-color, 5%);
          &:after { color: darken($can-toggle-on-color, 5%); }
        }
      }

      &:focus, &:hover {
        ~ label {
          .can-toggle__switch {
            background-color: $can-toggle-on-color;
            &:after { color: darken($can-toggle-on-color, 10%); }
          }
        }
      }
    }
  }

  label {

    .can-toggle__label-text { flex: 1; }

    .can-toggle__switch {
      transition: background-color 0.3s $can-toggle-transition;
      background: lighten($can-toggle-off-color, 5%);
      &:before { color: $can-toggle-inactive-text; }
      &:after {
        // Autoprefixer choked here, so making the prefixes explicit
        -webkit-transition: -webkit-transform 0.3s $can-toggle-transition;
        transition: transform 0.3s $can-toggle-transition;
        color: $can-toggle-off-color;
      }
    }

  }
}

@mixin can-toggle-buttons
(
$can-toggle-off-color:  get-color("primary"),
$can-toggle-on-color: get-color("primary"),
$can-toggle-inactive-text: rgba(white, 1),
$can-toggle-transition: cubic-bezier(0,1,0.5,1),
$can-toggle-width: 130px,
$can-toggle-height: 40px,
$can-toggle-border-radius: 50px,
$can-toggle-offset: 2px,
$can-toggle-label-font-size: 12px,
$can-toggle-switch-font-size: 12px,
$can-toggle-shadow: 0 3px 3px rgba(black, 0.4)
){
  $can-toggle-switch-width: $can-toggle-width/2;

.can-toggle_btn-witcher{
  position: relative;
  z-index: 2;
  background-color: $can-toggle-off-color;
  border-radius: $can-toggle-border-radius;
  cursor: pointer;
  &.checked{

    &:after{

      transform: translate3d($can-toggle-width - ($can-toggle-switch-width + $can-toggle-offset),0,0);
    }
  }
  &:after{
    content: '';
    transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1);
    color: #006AC8;
    z-index: 3;
    text-align: center;
    background: white;
    transform: translate3d(0, 0, 0);
    border-radius: $can-toggle-border-radius;
    box-shadow: $can-toggle-shadow;

    line-height: $can-toggle-height - 5px;
    height: $can-toggle-height - 5px;
    margin: 0px 0 1px 1px;
    position: absolute;
    width: ($can-toggle-width / 2) - 1;
    top:2px;
    left: 0;
    z-index: 4;

  }
  .can-toggle_btn{
    display: inline-block;
    vertical-align: middle;
    width: ($can-toggle-width / 2) - 1;
    height: $can-toggle-height;
    line-height: $can-toggle-height;
    flex: 0 0 $can-toggle-width;
    font-family: $fontFamily_robotoCondensed-regular;
    color: $can-toggle-inactive-text;
    text-align: center;
    padding: 0 8px;
    font-size: $can-toggle-switch-font-size;
    position: relative;
    z-index: 5;
    &:after{

    }
    &:before{

    }
    + :after{

    }
    &.checked{ color: #006AC8;

    }
  }
  &:after{

  }
}

}
.can-toggle{
  &.disabled{
    opacity: 0.5;
    transition: $ease--fast;
  }
  &.in-field{
    position: absolute;
    right: 2px;
    top:2px;
  }

  @include can-toggle-buttons
  (
                  get-color("primary"),
                  get-color("primary"),
                  rgba(white, 1),
                  cubic-bezier(0,1,0.5,1),
                  130px, // Toggle width
                  35px,  // Toggle height
                  50px,   // Toggle border radius
                  2px,   // Offset (distance btw switch and box)
                  12px,  // Label font size
                  12px,  // Switch font size
                  0 2px 2px rgba(black, 0.4) // Switch shadow on hover/focus
  );

  &.can-toggle--size-small{
    min-width: 100px;
    @include can-toggle-buttons
    (
                    get-color("primary"),
                    get-color("primary"),
                    rgba(white, 1),
                    cubic-bezier(0,1,0.5,1),
                    100px, // Toggle width
                    31px,  // Toggle height
                    50px,   // Toggle border radius
                    2px,   // Offset (distance btw switch and box)
                    12px,  // Label font size
                    12px,  // Switch font size
                    0 2px 2px rgba(black, 0.4) // Switch shadow on hover/focus
    );
  }
}
@mixin can-toggle-appearance
(
  $can-toggle-width: 130px,
  $can-toggle-height: 40px,
  $can-toggle-border-radius: 50px,
  $can-toggle-offset: 2px,
  $can-toggle-label-font-size: 12px,
  $can-toggle-switch-font-size: 12px,
  $can-toggle-shadow: 0 3px 3px rgba(black, 0.4)
){
  $can-toggle-switch-width: $can-toggle-width/2;

  input[type="checkbox"] {

    &:focus ~ label, &:hover ~ label {
      .can-toggle__switch {
        &:after { box-shadow: $can-toggle-shadow; }
      }
    }

    &:checked {
      ~ label {
        .can-toggle__switch {
          &:after { transform: translate3d($can-toggle-width - ($can-toggle-switch-width + $can-toggle-offset),0,0); }
        }
      }
      &:focus, &:hover {
        ~ label {
          .can-toggle__switch { &:after { box-shadow: $can-toggle-shadow; } }
        }
      }
    }
  }

  label {
    font-size: $can-toggle-label-font-size;

    .can-toggle__switch {
      height: $can-toggle-height;
      flex: 0 0 $can-toggle-width;
      border-radius: $can-toggle-border-radius;
      font-family: $fontFamily_robotoCondensed-regular;

      &:before {
        left: $can-toggle-width/2;
        font-size: $can-toggle-switch-font-size;
        line-height: $can-toggle-height;
        width: $can-toggle-width/2;
        padding: 0 8px;
      }

      &:after {
        top: $can-toggle-offset; left: $can-toggle-offset;
        border-radius: $can-toggle-border-radius;
        width: $can-toggle-switch-width - $can-toggle-offset;
        line-height: $can-toggle-height - ($can-toggle-offset*2);
        font-size: $can-toggle-switch-font-size;
      }

      &:hover {
        &:after { box-shadow: $can-toggle-shadow; }
      }
    }
  }
}


$can-toggle-width: 130px;

.can-toggle {
  position: relative;
  min-width: $can-toggle-width;
  max-width: $can-toggle-width;
  z-index: 2;
  *, *:before, *:after { box-sizing: border-box; }
  //overflow: hidden;

  input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    top: 0; left: 0;

    &[disabled] ~ label {
      pointer-events: none;
      .can-toggle__switch { opacity: 0.4; }
    }

    &:checked {
      ~ label {

        .can-toggle__switch {

          &:before {
            content: attr(data-checked);
            left: 0;
          }

          &:after {
            content: attr(data-unchecked);
          }
        }
      }

      &:focus, &:hover {
        ~ label {
        }
      }
    }
  }

  label {
    user-select: none;
    position: relative;
    display: flex;
    align-items: center;

    .can-toggle__label-text {
      flex: 1;
      padding-left: 32px;
    }

    .can-toggle__switch {
      position: relative;

      &:before {
        content: attr(data-unchecked);
        position: absolute;
        top: 0;
        text-align: center;
      }

      &:after {
        content: attr(data-checked);
        position: absolute;
        z-index: 3;
        text-align: center;
        background: white;
        transform: translate3d(0,0,0);
      }

    }

  }

  // Default values for .can-toggle class
  @include can-toggle-branding;
  @include can-toggle-appearance;

  // Create toggles of different sizes by overriding the can-toggle-appearance mixin defaults

  &.can-toggle--size-med {
    @include can-toggle-appearance
    (
                    130px, // Toggle width
                    35px,  // Toggle height
                    50px,   // Toggle border radius
                    2px,   // Offset (distance btw switch and box)
                    12px,  // Label font size
                    12px,  // Switch font size
                    0 2px 2px rgba(black, 0.4) // Switch shadow on hover/focus
    );
  }
  &.can-toggle--size-small {
    @include can-toggle-appearance
    (
                    90px, // Toggle width
                    28px,  // Toggle height
                    2px,   // Toggle border radius
                    1px,   // Offset (distance btw switch and box)
                    13px,  // Label font size
                    10px,  // Switch font size
                    0 2px 2px rgba(black, 0.4) // Switch shadow on hover/focus
    );
  }

  &.can-toggle--size-large {
    @include can-toggle-appearance
    (
                    160px, // Toggle width
                    50px,  // Toggle height
                    4px,   // Toggle border radius
                    2px,   // Offset (distance btw switch and box)
                    14px,  // Label font size
                    14px,  // Switch font size
                    0 4px 4px rgba(black, 0.4) // Switch shadow on hover/focus
    );
  }

  // Or re-brand the toggle for different applications
  &.demo-rebrand-1 {
    @include can-toggle-branding
    (
                    #b53e74,  // Off state color
                    #3d9c72,  // On state color
                    rgba(white, 0.6),  // Off state text color
                    ease-in-out  // Transition timing function
    );
  }

  &.demo-rebrand-2 {
    @include can-toggle-branding
    (
                    #444,  // Off state color
                    #69be28,  // On state color
                    rgba(white, 0.7),  // Off state text color
                    cubic-bezier(0.860, 0.000, 0.070, 1.000)  // Transition timing function
    );
    @include can-toggle-appearance
    (
                    120px, // Toggle width
                    60px,  // Toggle height
                    60px,   // Toggle border radius
                    2px,   // Offset (distance btw switch and box)
                    13px,  // Label font size
                    13px,  // Switch font size
                    0 4px 4px rgba(black, 0.4) // Switch shadow on hover/focus
    );
  }

}



.product-quantity {
  display: block;
  position: relative;
}

.product-quantity input {
  text-align: center;
  padding: 0 25px;
}

.quantity-selectors-container {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
}

.quantity-selectors {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.product-quantity{
  button{
    position: absolute;
    top: 0;
    height: 100%;
    background: transparent;
    border: 0;
    padding: 0 10px;
    &.decrement-quantity{
      left: 0;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
    }
    &.increment-quantity{
      right: 0;
      height: 100%;
      /* border-radius: 50%; */
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
    }
  }


}



.quantity-selectors button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  border-radius: 0;
  border: 1px solid grey;
  background-color: #fff;
  color: grey;
  position: absolute;
}

.quantity-selectors button:first-child {
  border-bottom: 0;
}

.quantity-selectors button:hover {
  cursor: pointer;
}

.quantity-selectors button[disabled="disabled"] {
  cursor: not-allowed;
}

.quantity-selectors button[disabled="disabled"] span {
  opacity: 0.5;
}

.c-fmlnet__mad{
  font-size: rem(10) !important;
  padding-left: 5px;
}


.mlnet-simulation{

}

.mlnet-simulation_content{

}

.mlnet-simulation_slider{
  @include  clearfix();
}

.slider-title{
  font-size: 14px;
  font-weight: 600;
  color:#3b3836;
  span{
    display: flex;
    width: 100%;
    margin-top: 10px;
    align-items: center;
    font-size: rem(18);
  }
  input{
    display: block;
    font-size: rem(18);
    margin-top: 10px;
    color:#3b3836;
    border:0;
    text-align: left;
    padding: 0;
    height: auto;
    margin-top: 0;
    width: 30px;
  }
}
.montant-row{
  display: flex;
  .c-radio-group{
    padding-bottom: 0;
  }
}
.mlnet-simulation_bareme{
 // min-height: rem(100);
 /// line-height: rem(100);
  vertical-align: middle;
  padding: 0 rem(0);
  margin: rem(0) 0 rem(10);
  .slider-field{

    input{
      border-color: #eaeaea;
      font-size: 18px;
      width: rem(100);
      float: right;
      height:  rem($input-height-small);
      //color: #f47513;
    }
  }
}
.noUi-marker-horizontal.noUi-marker-large{
  height: 4px;
    width: 4px;
    border-radius: 50%;
    position: absolute;
    top: -6px;
}
.bareme-handle-slider{
  height: 10px;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.2;
  //width: calc(100% - 120px);
  width: 100%;
//  border-radius: rem(20);
  border-radius: rem(5);
  margin-top: 10px;
  background: white;
  border:1px solid #e8e9ec;
  box-shadow: none;
  background-color: rgba(247, 248, 252, 0.3);
  .noUi-value{
    font-size: 16px;
    font-weight: 500;
    color:#3b3836;
    font-family: barlow;
    top: 0;
  }
  .noUi-connect{
    background-color: #e7893e;
  }
  .noUi-handle{
    box-shadow: none;
    width: 32px;
    height: 32px;
    background: white;
    border: 9px solid $color__blue !important;
    &:before{
      display: none;
    }
    .noUi-tooltip{
      display: none;
    }
  }
}

.mlnet-simulation_tabs{
  padding: rem(30) 0 0;
  position: relative;
  z-index: 1;
  display: flex;
  border-bottom: 1px solid rgba(206, 207, 209, 0.54);
  padding-left: 30px;
  padding-right: 30px;
  &.frm{
    >div{
      &.mlnet-simulation_tab{

      }

    }
  }
  .mlnet-simulation_tabs_frm{
    >label{
      cursor: pointer;
      font-size: rem(map-get(map-get(map-get($header-styles, "medium"), "h6"), "font-size"));
      // margin: 0 12px 0 0;
      line-height: 60px;
      vertical-align: middle;
      height: 60px;
      padding: 0 15px;
      display: inline-block;
      text-decoration: none;
      /* line-height: 1.3; */
      letter-spacing: normal;
      word-spacing: normal;
      text-rendering: auto;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border: 1px solid #e0e0e0;
      transition: $ease--fast;
      cursor: pointer;
      position: relative;
      margin-right: 2px;
      i{
        &.primary{

          color: get-color("primary");
        }
      }
      &.canceled{
        opacity: .5;
        &:hover{
          background: none;
          color: $black;
        }
      }
      &.accepted{
        border: 1px solid get-color("success");
        color: get-color("success");
        font-weight: 700;
        background: lighten(get-color("success"), 65%);

      }
      &.derogation{
        border: 1px solid lighten(get-color("primary"), 8%);
        background: lighten(get-color("primary"), 58%);
        >i{

        }
      }
      >i{
        position: absolute;
        right: -2px;
        line-height: 1.2;
        top: -4px;
        font-size: 18px;
        &.success{
          color: get-color('success');
        }
        &.alert{

          color: get-color('alert');
        }
      }
      &.selected, &:hover{
        border: 1px solid #f2f7fb;
        background-color: #f2f7fb;
        color: get-color("primary");
      }
      .c-radio{
        display: inline-block;
        cursor: pointer;
        label{
          cursor: pointer;
        }

      }
      span{

      }
      label{
        input[type="radio"]:checked + span:before{
          content: "\EA1F";
          font-size: rem(11);
        }
      }
    }
  }
  >div{
    display: inline-block;

    &.mlnet-simulation_tab{
      cursor: pointer;
     font-size: rem(map-get(map-get(map-get($header-styles, "small"), "h6"), "font-size"));
     // margin: 0 12px 0 0;
      line-height: 45px;
      vertical-align: middle;
      height: 55px;
      padding: 3px 17px;
      display: inline-block;
      text-decoration: none;
      /* line-height: 1.3; */
      letter-spacing: normal;
      word-spacing: normal;
      text-rendering: auto;
      border: 1px solid #e8e9ec;
      transition: $ease--fast;
      position: relative;
      border-radius: 0;
      color:#3b3836;
      margin-right: -1px;
      font-weight: 500;
      border-bottom: 0;
      span{

        font-size: rem(map-get(map-get(map-get($header-styles, "small"), "h6"), "font-size")) !important;
      }
      i{
        &.primary{

          color: get-color("primary");
        }
      }
      &.canceled{
        opacity: .5;
        &:hover{
          background: none;
          color: $black;
        }
      }
      &.accepted{
        border: 1px solid get-color("success");
        color: get-color("success");
        font-weight: 700;
        background: lighten(get-color("success"), 65%);

      }
      &.derogation{
        border: 1px solid lighten(get-color("primary"), 8%);
        background: lighten(get-color("primary"), 58%);
        >i{

        }
      }
      >i{
        position: absolute;
        right: -2px;
        line-height: 1.2;
        top: -4px;
        font-size: 18px;
        &.success{
          color: get-color('success');
        }
        &.alert{

          color: get-color('alert');
        }
      }
      &.selected, &:hover{
        border-top: 2px solid $color__blue;
        background-color: #fff;
      }
      .c-radio{
        display: block;
        cursor: pointer;
        label{
          cursor: pointer;
        }

      }
      span{

      }
      label{
        input[type="radio"]:checked + span:before{
          content: "\EA1F";
          font-size: rem(11);
        }
      }
    }
    span{

    }
    &.j-add_simulation{
      background-color: transparent;
      color: #3a3a3a;
      border:0;
      .c-fmlnet__new-tab{
        &:before{
          content: "+";
          width: 16px;
          height: 16px;
          background-color: $color__blue;
          color:white;
          border-radius: 50px;
          text-align: center;
          margin-right: 6px;
        }
      }
      &[data-enabled="false"]{
        background-color: #f0efef;
        border: 1px solid #e0e0e0;
        color: #3a3a3a45;
        cursor: default;
      }

    }
  }

}
.mlnet-simulation_tabs-content{
  min-height: 300px;
  position: relative;
  margin-top: 0px;
  background: white;
  z-index: 2;
}

.mlnet-simulation_tab-content{
  padding: rem(40) rem(20) rem(20);
  position: relative;
  padding-top: 20px;
  .mlnet-simulation_actions{
    position: absolute;
    right: 0;
    top: 0;
    button{
      font-size: 0.75rem;
      //padding: 0.85em 1.5em;
     // @include button;
      border-radius: 8px;
      padding: 5px 10px;
      cursor: pointer;
      border-bottom-right-radius:0 ;
      border-top-left-radius:0 ;
      background: transparent;
      border: 0;
      box-shadow: -1px 3px 2px 0px rgba(0,0,0,0.2);

      i{
        font-size: rem(18);
      }
    }
  }
  .mlnet-simulation_tab-form{

  }
}
.mlnet-simulation_plm{
  label{
    font-size: rem(map-get(map-get(map-get($header-styles, "medium"), "h5"), "font-size"));
  //  color: get-color("secondary");
  }
}

.c-form__item-switch-buttons{
  position: relative;
  .plm_switcher{
    position: absolute;
    right: 1px;
    top: 1px;
  }
  input{
    padding-right: rem(100);
  }
}
.plm_switcher{
  list-style: none;
  @include clearfix();
  li{
    /* padding: 12px 12px; */
    font-size: 16px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin: 0!important;
    position: relative;
    float: left;
    &:last-child{
      button{
        border-bottom-right-radius: 50px;
        border-top-right-radius: 50px;
        span{
          font-size: rem(16)!important;
        }
      }
    }
    &:first-child{
      button{
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
      }
    }
    button{
      cursor: pointer;
      width: rem(45);
      height: rem(38);
      line-height: rem(38);
      vertical-align: middle;
      font-family: $fontFamily_robotoCondensed-regular;
      font-size: rem(12)!important;
      border: 0;
      background: rgba(get-color('primary'), 0.02);
      box-shadow:  0 3px 5px rgba(black, 0.1);
      color: darken(get-color('primary'),20%);
      text-align: center;
      padding: 0 rem(8);
      &.selected, :active, :focus{
        background: get-color("primary");
        color: white;
      }
      i{
        height: 0!important;
        top: 0!important;
        position: relative!important;
        padding: 0!important;
        margin: 0!important;
        width: auto!important;

        &:before{
          font-size: 10px;
        }
      }
    }
    &:before{
      display: none;
    }
    span{

      font-size: rem(12)!important;
    }
  }
}

input{
  + .note{
    font-size: rem(13);
    font-family: $fontFamily_robotoCondensed-regular;
    padding-left: rem(10);
    padding-top: rem(5);
    display: block;
    opacity: 0.6;
  }
}
span.note{
  font-size: rem(13);
  font-family: $fontFamily_robotoCondensed-regular;
 padding-left: rem(10);
  padding-top: rem(5);
  display: block;
  opacity: 0.6;

}

.result-echeance{
  display: flex;
  margin-bottom: 0;
  flex-flow: column;
  width: 50%;
  justify-content: space-between;
  order: 3;
  > div{
    width: 100%;
    flex: auto;
    max-width: 100%;
    height: auto;
    display: flex;
    flex-flow: column;
    padding: 4px 5px;
  }
  .simulation-ttr{
    font-size: 14px;
    color:#e7893e;
    font-family: barlow;
    font-weight: 500;
    display: block;
    padding: 0.625rem 0;
    text-align: center;
  }
  .simulation-val{
    color:#13539b;
    font-size: 20px;
    font-weight: 500;
    font-family: barlow;
    text-transform: uppercase;
    margin-top: 6px;
    display: block;
  }
}
.mlnet-simulation_result{
//  padding: rem(30) 0;
background-color: rgba(247, 248, 252, 0.3);
border:1px solid #e8e9ec;
border-radius: 8px;
padding: 20px;
.title{
  font-size: 20px;
  font-weight: 500;
  color:#3b3836;
  margin-bottom: 16px;
  width: 100%;
}
.sim__mois{
  text-align: center;
  position: relative;
  width: auto;
  max-width: max-content;
  margin: 0 auto;
}
.echeance-result{
  width: 50%;


}
.simulation-total{
  color:#a2a4a7;
  font-size: 14px;
  font-family: barlow;
  display: block;
  font-weight: 500;
}
.simulation-mois{
  background-color: rgba(231, 137, 62, 0.1);
  font-size: 16px;
  color: #e7893e;
  font-family: barlow;
  font-weight: bold;
  padding: 8px 15px;
  display: inline-block;
  border-radius: 33px;
  text-transform: uppercase;
  margin-top: 10px;
}
.montant-result{
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column;
  padding-top: 0px;
  > div{
    padding: 7px 15px;
  }
  .simulation-ttr{
    font-size: 14px;
    color:#a2a4a7;
    font-family: 'Barlow';
    font-weight: 500;
    text-align: center;
  }
  .simulation-val{
    font-size: 20px;
    font-family: 'barlow';
    font-weight: 500;
    color:$color__black;
    text-align: center;
  }
}
  .highlight-bg{

    background: rgba(get-color('primary'), 0.06)!important;
    .simulation-ttr{
      font-family: $fontFamily_robotoCondensed-bold;
      font-size: rem(map-get(map-get(map-get($header-styles, "medium"), "h5"), "font-size"));
    }
  }
  .row{
    >div{
      >.row{
        >div{

          padding: rem(10);
         // background: rgba(246, 246, 246, 0.49);
          border: 1px solid #e5e5e5;
          &:hover{
            background: white;

          }
          &:last-child{

            border-bottom-left-radius: 9px;
            border-bottom-right-radius: 9px;
          }
          &:first-child{

            border-bottom: 0;

          }
          &:nth-child(even){
            border-bottom: 0;
          }

         // background: rgba(48, 95, 164, 0.03);
        }
      }
     // text-align: center;
    //  box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.3);
    }
  }
  h2{
   // font-size: rem(map-get(map-get(map-get($header-styles, "small"), "h2"), "font-size"));
    font-size: rem(map-get(map-get(map-get($header-styles, "medium"), "h3"), "font-size"));
    text-align: center;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    ~ div{
      background: none;
    }
    margin: rem(0);

    border-top: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;

    padding: rem(20);
    color: darken(get-color('primary'), 10%);
  }
  .simulation-ttr{


    font-family: $fontFamily_robotoCondensed-light;
    display: block;
    padding: rem(10) 0;

    text-align: center;
    font-size: rem(map-get(map-get(map-get($header-styles, "medium"), "h6"), "font-size"));
  }
  .simulation-val{
    font-family: $fontFamily_robotoCondensed-regular;
    color:get-color("primary");
    font-size: rem(map-get(map-get(map-get($header-styles, "small"), "h2"), "font-size"));
    //text-align: right;
    display: block;
    text-align: center;
  }
}
.result_bref{
  box-sizing: border-box;
  border-radius: 8px;
 // padding: rem(15);
 // box-shadow: 0 2px 10px rgba(0,0,0,.15);
  display: flex;
  flex-flow: wrap;
  position: relative;
  &:before{
    content: "";
    background-color: rgba(204, 204, 204, 0.32);
    position: absolute;
    width: 1px;
    height: 70%;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50px;
  }
}
.form__connexion{
  .create-account{
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    h5{
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.4;
      margin-bottom: 0.8888em
    }
    .c-action__holder button {
      background-color: #e7893e;
      color: white;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 14px;
      border-radius: 8px;
      width: 100%;
      padding: 17px 15px;
      &:hover{
        background-color: #13539b;
      }
  }
    .form-group{
      width: 100%;
      &.flex-row-input{
          display: flex;
          .c-input__holder{
            &:nth-child(1){
              padding-right: 5px;
            }
            &:nth-child(2){
              padding-left: 5px;
            }
          }
      }
    }
  }
}
.badge{
  &.badge-point{
    display: inline-block!important;
    height: 8px;
    width: 8px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding: 0;
  }
  //font-weight: 700;
 // color: #404040;
  border: 1px solid #d9d9d9;
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px!important;
  color: #404040!important;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  background-color: #ffffff;
  border-radius: 5px;
  font-family: $fontFamily_robotoCondensed-regular;

  &.primary{
    color: #ffffff!important;
    background-color: get-color("primary");
    border: transparent;
  }
  &.secondary{
    color: #ffffff!important;
    background-color: get-color("secondary");
    border: transparent;
  }
  &.success{
    color: #ffffff!important;
    background-color: get-color("success");
    border: transparent;
  }
  &.error{
    color: #ffffff!important;
    background-color: get-color("alert");
    border: transparent;
  }
  &.warning{
    color: #ffffff!important;
    background-color: get-color("warning");
    border: transparent;
  }
  &.light{
    color: black;
    background-color: white;
    border: transparent;
    box-shadow:  0 3px 3px rgba(black, 0.4);
  }
}

.card_products-summary{
  .card_products-container{
    max-height: 500px;
    overflow-y: auto;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    padding: 0 5px;
  }
  .card_products-group{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    @include  clearfix();
    border-radius: rem(5);

  }
  h2{
    font-size: rem(map-get(map-get(map-get($header-styles, "medium"), "h4"), "font-size"));
    display: none;

  }
  .card_products-column{
    &.count-summary{

      background: #f2f7fb;
      padding:10px;
      //box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      //margin: 20px 0;
      .product-label{
        background: #f2f7fb;

        font-size: rem(map-get(map-get(map-get($header-styles, "small"), "h5"), "font-size"));
      }
      .product-val{
        background: #f2f7fb;
        font-size: rem(map-get(map-get(map-get($header-styles, "medium"), "h5"), "font-size"));


      }
    }
    $can-toggle-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    padding: rem(2) 0;
    @include clearfix();
   // border-bottom: 1px solid rgba(gray, 0.3);
    &.highlight{
     // background: black;
      /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); */
      //background: rgba(0, 106, 200, 0.02) !important;
      font-family: "RobotoCondensedBold", sans-serif;
      font-size: 1rem;
      //padding: 0.625rem;
      border-radius: 10px;
      /* margin-bottom: 1.25rem; */
      margin-bottom: 0;
      .product-label{
        background: get-color("secondary");
        color: white;
      }
     margin-bottom: rem(20);
    }
  }
  .button{
    //float: right;
    padding: 0;
    margin: 25px 0 10px;
    text-align: center;
    display: block;
  }
  span{
    display: inline-block;
    &:last-child{
    //  float: right;
    }
   // margin-bottom: rem(10);
    padding: rem(10);
    border-radius: rem(5);
    badge{
    //  @include badge;
      float: right;
    }
  }
  .product-label{
    background: #F2F2F2;
    font-size: rem(13);
    width: 40%;
    text-align: right;
  }
  .product-val{
    font-family: $fontFamily_robotoCondensed-regular;
    font-size: rem(13);
    color:  rgba(black, 0.8);
    padding: 0 10px;
  //  float: right;
    width: 60%;
    vertical-align: middle;
    i{}

  }
  button{
    i{

    }
  }

}



// Server Errors

.srv-error_re {
  position: fixed;
  width: 600px;
  min-width: 380px;
  left: 50%;
  top: 50px;
  margin-left: -300px;
  padding: 20px;
  background: black;
  z-index: 201;
  border: 10px solid #ffdd40;
  h2{

  }
  p{

  }
  .modal-buttons{
    button{
      &.button{

      }
    }
  }
}



.steps-content{
  .panel{
    .panel{
      //background: $body-bg-default;
      .panel-body{
        //background: white;
      }

    }
  }
}


.proposa-head{
  margin-top: rem(-30);
  //margin-bottom: rem(20);
  //overflow: hidden;
  @include clearfix();
  &_infos{
    padding: rem(15) rem(0) rem(0);
    >div{
      display: inline-block;
      vertical-align: middle;
      position: relative;
      padding-right: rem(20);
      margin-right: rem(20);
      &:after{
        content: "";
        width: 1px;
        height: 100%;
        background: $black;
        position: absolute;
        right: 0;
        top: 0;
      }
      &:last-child {
        &:after {
          display:none;
        }
      }
      span{
        &.label{
          font-size: rem(15);
          font-family: $fontFamily_robotoCondensed-regular;
          color: #575656;
          padding-right: rem(10);
        }
        &.value{
          color: darken(get-color('primary'),15%);
         // text-transform: uppercase;
        }

      }
    }
  }
}

.row{
  >div{
    &:first-child{
     // padding-left: 0;
    }
    &:last-child{
      //padding-right: 0;
    }
  }
}

.js-cta-add_fileUpload{
  cursor: pointer;
}

.heading-label{
  background: #f4f4f4;
  /* border: 1px solid #80808047; */
  padding: 10px;
  border-radius: 10px;
  line-height: 26px;
  vertical-align: middle;
  span{
    font-size: rem(16);
  }
  .button{
    margin: 0;
    padding: 0.25rem;
    i{
      font-size: 17px;
    }
  }
}

.downloaded-items{

}

.download-item {
  font-size: .9375rem;
  padding: 1.063rem 1.2rem;
  border: 1px solid #c9ccd7;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
  $shadow: 0 3px 1px rgba(0,0,0,.075), 0 0 6px lighten($input--border--color, 30%);
  //height: calc(100% - 15px);
  margin-bottom: rem(10);
  min-height: 60px;
  //@include boxShadow($shadow);
  &_file-upload{
    border-style: none;
    box-shadow: none;
    border-color: rgba(11, 31, 53, .4);
    border-style: solid;
    border-width: 1px;
    text-transform: uppercase;
   // background-image: linear-gradient(90deg, #7783c6 50%, transparent 50%), linear-gradient(90deg, #7783c6 50%, transparent 50%), linear-gradient(0deg, #7783c6 50%, transparent 50%), linear-gradient(0deg, #7783c6 50%, transparent 50%);
   // background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
   // background-size: 15px 1px, 15px 1px, 1px 15px, 1px 15px;
   // background-position: left top, right bottom, left bottom, right top;
   // animation: border-dance 1s infinite linear;
    @keyframes border-dance {
      0% {
        background-position: left top, right bottom, left bottom, right   top;
      }
      100% {
        background-position: left 15px top, right 15px bottom , left bottom 15px , right   top 15px;
      }
    }
    .download-info{
      span{

      //visibility: hidden;
    }
    }
  }
  &.error{
    background: #ff00000d;
    border-color: #ff000029
  }
  &.success{
    background: #03aa551c;
    border-color: #03aa553d;
  }
}

span.download-icon {
  float: left;
  font-size: 25px;
  margin-right: 15px;
  padding-bottom: 15px;
}
i[class*='pdf'] {
  color: #e20d0d!important;
}
i[class*='doc'] {
  color: #2f60e2!important;
}

i[class*='png'] {
  color: #e26b13!important;
}
i[class*='xls'] {
  color: #0c8010!important;
}

.download-info{
  font-size: 13px;
  display: inline-block;
  padding-top: rem(3);
  width: calc(100% - 50px);
}

.download-info span {
  display: block;
 padding-top: 5px;
}

.download-info span strong {
  color: #656865;
  font-weight: 700;
}

.download-actions {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.download-actions button {
  float: right;
  font-size: 14px;
  cursor: pointer;
  i{
    color: $black!important;
  }
}
span.download-state {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
  &.progress{
    color: get-color("secondary");
  }
}

span.download-state.success {
  color: get-color("success");
}
span.download-state.alert {
  color: get-color("alert");
}

.loader-container_in-bloc {
 // position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 3;
  left: 0;
  top: 0;
  border-radius: 10px;
  text-align: center;
  /* zoom: 0.8; */
  .button{
    margin: 0;

  }
}

.loader-container_in-bloc loader {
  margin: 0 auto;
}

.loader-container_in-bloc .loader {
  margin: 0 auto;
  max-width: none;
/*  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);*/
}

.loader-container_in-bloc .loader .ico-loader {
  max-width: 40px;
  margin: auto;
}




.downloads-feed{

}
.downloads-feed_content{
  padding: rem(60) rem(20) rem(0);
  h4{
    position: relative;
    &:after{
      content: "";
      display: block;
      width: 50px;
      height: 1px;
      background: get-color("secondary");
      margin-top: rem(10);
    }
  }
}
.feed-comments{padding: rem(10) 0 rem(30);}
.feed-comment{
  margin-top: rem(30);
  @include  clearfix();
  &:nth-child(+1n){
    div.feed-comment_avatar{
      float: right;
    }
    .feed-comment_msg-content{
      float: right;
      margin-right: 10px;
    }
  }
  &_replay{
    margin-top: rem(30);
    div.feed-comment_avatar{
      background: none;
      .user-pic{
        width: 55px;
        height: 55px;
        margin: 0;
        line-height: 55px;
      }
    }
  }
}
.feed-comment_header{
  border-bottom: 1px solid #e5e5e5;
  font-size: 0;
  position: relative;
  >span{

    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
  }
  .metadata{
    height: 40px;
    float: right;
    span{

    }
  }

}
div.feed-comment_avatar{
  width: 55px;
  height: 55px;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  background: url($header-brand_icon) no-repeat 50%;
  background-size: 75%;


  $shadow: 0 3px 1px rgba(0,0,0,.075), 0 0 6px lighten($input--border--color, 30%);
  @include boxShadow($shadow)
  img{
    width: 100%;
    height: 100%;
  }
}
.feed-comment_msg-content{
  display: inline-block;
  vertical-align: middle;
 // width: calc(100% - 75px);
  width: calc(100% - 130px);
 // min-height: 65px;
  margin-left: 10px;
 padding: 5px 10px;
  //padding: 20px;
  font-size: .9rem;
  color: #555;
  background-color: #FFF;
  //border-bottom: 2px solid #f2f2f2;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.08), 0 0 6px white;
  padding: 15px;
  border-radius: rem(10);
  overflow: hidden;

}
p.feed-comment_msg{

  white-space: pre-line;
  overflow-x: hidden;
  font-family: $fontFamily_robotoCondensed-regular;
  font-size: rem(15);
  margin: 0;
}
.feed-comment_toolbar{
  font-family: $fontFamily_robotoCondensed-light;
  font-size: rem(14);
  border-top: 2px solid #f2f2f2;
  padding-top: rem(10);
  margin-top: rem(10);
  button {
    margin: 0;
    vertical-align: middle;
    float: right;
    text-transform: uppercase;
  }
  >span{
  padding-right: rem(13);
    line-height: 35px;
    vertical-align: middle;
    i{
      display: inline-block;
      vertical-align: middle;
      padding-right: rem(5);
      color: get-color("secondary");
    }
  }
}

.feed-comment_frm{
  background: $body-bg-default;
  padding: rem(25) rem(10) rem(15);
  .heading-label {
    background: white;
  }
}
.feed-comment_details{
  ul{
    li{
      i{

      }
    }
  }
}

.feed-comment_attachement{
  padding: rem(10) ;
  border-radius: rem(5);
  margin-top: rem(10);
  background: $body-bg-default;

  .file-attchement{
    background: white;
    margin: 0;
    i{
      font-size: rem(18);
    }
  }
  button{
    cursor: pointer;
  }
}

.error_in {
  //position: absolute;
  width: 100%;
  height: 100%;
  background: #fff5f4;
  left: 0;
  top: 0;
  border-radius: 10px;
  text-align: center;
  z-index: 2;
  button{
    margin: 0;
  }
}

.error_in p {
  font-size: 12px;
  text-transform: uppercase;
  color: #f2341a;
  margin: 0;
  padding: 10px 35px;
}

.p-close_tr {
  position: absolute;
  right: 0px;
  top: 5px;
  font-size: 20px;
  cursor: pointer;
}

.products-offers{
  position: relative;
  &:after{
    content: "OU";
    position: absolute;
    left: 50%;
    top: 83px;
    transform: translate(-50%, 0%);
    font-size: rem(18);
    font-family: $fontFamily_robotoCondensed-light;

  }
}
/*
.form-offers{
  padding: 1.875rem;
  background: rgba(#F5F5F5, 0.3);
  margin-top: 1.875rem;
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #e6e6e6;
  &:before{
    position: absolute;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    content: "";
    top: -10px;
    border-right: 10px solid transparent;
    border-bottom: 10px solid;
    border-left: 10px solid transparent;
    border-bottom-color: get-color('normal');
    filter: drop-shadow(0 -1px 0px rgba(0, 0, 0, 0.2));
   // left: calc(50% - 20px);
    left: 75%;
   // filter: drop-shadow(0 -1px 0px rgba(0, 0, 0, 0.2));

    }
}
*/
.notification-banner  {
  position: fixed;
  z-index: 1;
  padding: .75rem 3rem .875rem;
  color: #fff;
  font-weight: 700;
  line-height: 1.5;
  cursor: pointer;
  -webkit-transition: .1s;
  -moz-transition: .1s;
  transition: .1s;
  /* border-radius: 20pc; */
  //width: calc(100% + 90px);
  //top:0;
  //left: 0;
 // margin-left: -40px;
  //margin-top: 38px;
  font-size: rem(14);
  width: calc(100% + 0px);
  margin-left: -40px;
  top: 0;
  margin-top: 67px;
  + .page-content_header{
    padding-top: rem(50);
  }

  .container{
    max-width: 1200px;
    width: 100%;
    position: relative;
    margin: auto;
  }
  .pull-right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  /*
  osition: relative;
  z-index: 1;
  padding: .75rem 3rem .875rem;
  color: #fff;
  font-weight: 700;
  line-height: 1.5;
  cursor: pointer;
  //text-align: center;
  -webkit-transition: .1s;
  -moz-transition: .1s;
  transition: .1s;
  background: #3060a4;
  /* border-radius: 20pc; */
 // position: absolute;
  //top: 77px;

  /*background: linear-gradient(-45deg, #3060a4, #0768f2, #032c66, #305893);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;*/
  background: darken(get-color("primary"), 10%);
  p{
    color: white;
    padding: 0;
    margin: 0;
    font-family: $fontFamily_robotoCondensed-light;
    span{
      display: block;
    }
  }
  a{
    color: white;
    display: inline-block;
    float: right;
  }
  span {
    //float: left;

  }
  .button{

    background: darken(get-color("primary"), 10%);
  }
}
.ico-notification {
  max-width: 43px;
  display: inline-block;
  float: left;
  margin-right: 15px;
  height: 30px;
}

.ico-notification svg {
  width: 100%;
  height: auto;
}
.tool_tip {
  background: get-color("secondary") none repeat scroll 0 0;
  border-radius: 50%;
  color: #ffffff;
  font-size: 13px;
  font-family: $fontFamily_robotoCondensed-light;
  /* padding: 0 5px; */
  position: relative;
  width: 20px;
  height: 20px;
  text-align: center !important;
  display: inline-block;
  line-height: 20px;
}
.tool_tip:hover {
  background: get-color("secondary");
  cursor: pointer;
}
.tool_tip:hover .tooltip_inner{
  display: block;
}
.tooltip_inner {
  background-color: black;
  border-radius: 6px;
  color: black;
  display: none;
  left: 0;
  padding: 5px 20px;
  position: absolute;
  text-align: center;
  width: 350px;
  z-index: 1;
  bottom: 110%;
  left: -50%;
  transform: translateX(-50%);
  background: white;
  border: 1px solid #D9D4D4;
  box-shadow: 0px 3px 6px 0px #cccccc;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#cccccc, Direction=180, Strength=10);
}

.form-proposal_choice-item{
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
}
.form-proposal_choice-item  {
  &.selected{
//   background: whitesmoke;
    .form-proposal_choice-fields{
      opacity: 1;
      display: block;
      @include animation('displayNoneToFadeIn .4s 1');
      .form-proposal_choice-fields-inner{
        display: block;
        border: 1px solid #dfdfdf;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1), 0 6px 8px 0 rgba(0, 0, 0, 0.12), 0 4px 5px -1px rgba(0, 0, 0, 0.1);
      }
    }

  }
  .form-proposal_choice-fields{
    border-radius: 10px;
    display: none;
    width: 100%;
    cursor: pointer;
    margin-top: rem(20);
    label{
      padding: rem(0) rem(6)!important;
    }
  }
  .c-radio {
    //display: block;
   // width: 100%;

    &.inline{
      display: inline-block;
      width: auto;
    }
  }
  div.field_offers{
    display: inline-block;
  }
}

.share-txt {
  font-family: $fontFamily_robotoCondensed-regular;
  font-size: 0.8rem;
  color: #444242;
  text-transform: uppercase;
  padding: 0px 10px 10px 10px;
 // position: absolute;
 // background: white;
 // left: 0;
 // top: 0;
  display: inline-block;
}

.status-indicator{

  white-space: normal!important;
}

.proposa-head_actions {
  //border: 1px solid #e8e3e3;
  padding: 13px 10px 13px 0;
  border-radius: 10px;
 // background: white;
 // background: #e6e6e6;
  margin-top: -8px;
  position: relative;
  .status-indicator{
    position: absolute;
    top: -12px;
    left: 0;
  }
}

.downloaded-items {
  box-shadow: 0px 3px 6px 0px #cccccc;
  padding: 14px 14px 5px;
  border-radius: 10px;
}
.download-list{
  ul{
    padding-left: 0;
    margin: 20px;
   // border-right: 1px solid #e1e1e1;
    li{
      position: relative;
      margin: 0 0 15px;
      padding: 0;
      &:before {
        content: "\EAC0";
        display: inline-block;
        font-family: "mlnet__common";
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        padding-right: rem(10);
        background: none;
        vertical-align: middle;
        top:0
      }

    }
  }
}



.divider {
  border-top: 1px solid #d9dadc;
  display: block;
  line-height: 1px;
  margin: 15px 0;
  position: relative;
  text-align: center;
}
.divider .divider-title {
  background: #f4f4f5;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 0 20px;
  text-transform: uppercase;
}


.panel-tabs{
  padding: 50px 0 20px;
  text-align: center;
   &.hdiviser{

   }
  .divider{
    display: inline-block;
    min-width: 100px;
    .divider-title{
      background: white;
    }
  }
  button{
    &.active{

    }

  }
}

.panel-form{
  /*max-width: 900px;
  margin: auto;
  padding: 20px 30px 30px;
  border: 2px solid #f5f5f5;
  margin-top: rem(30);
  border-radius: rem(20);*/
}
.modal_popin{
  display: none;
  &.modal--open{
    &:before{
      content:'';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      overflow: hidden;
      position: fixed;
      background: white;
      opacity: 0.7;
    }
        .modal{
        top: 12%;
        opacity: 1;
        display: block;
        animation: displayNoneToFadeIn .4s 1;
    }
  }
}