.info-wrapper {

}

.company-name {


  > div {
    display: inline-block;
    vertical-align: middle;

  }

  img {
    max-width: 50px;
    border-radius: 50%;
  }

  span {
    strong {

    }

    font-size: rem(20);
    display: block;

    &.name {

    }

    &.created-date {
      font-size: rem(13);
    }
  }
}

.currency-local {
  position: relative;

  &:after {
    display: inline-block;
    font-family: "mlnet__common";
    font-style: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\EAAC";
    padding-left: rem(7);
    vertical-align: middle;
    font-size: rem(9);
    color: lighten($black, 20%);
    font-weight: bold;
  }
}

.info-wrapper {
  padding-right: 15px;
  border-right: 1px solid #e6e5e5;
  margin-right: 20px;
}

.company-contact {
  padding: rem(0) 10px;

  //&.ml-no-padding{padding:rem(10) 10px}
  .slides {
    span {
      display: block;
      font-size: rem(13);
      padding-top: rem(10);

      i {
        display: inline-block;
        vertical-align: middle;
        margin-right: rem(5);
        font-size: rem(15);
        color: get-color("secondary");

        &.c-fmlnet__email {
          font-size: rem(12);
        }
      }

      span {

      }
    }
  }
}

.info-side {
  padding-bottom: rem(15);
  display: block;

  > span {
    display: block;
  }

  .info-label {
    font-family: $fontFamily_robotoCondensed-regular;
    font-size: rem(14);
    padding-bottom: 5px;
    color: lighten($black, 40%);
    text-transform: uppercase;
  }

  .info-val {
    font-size: rem(14);

    &.currency-local {

    }

  }
}


#personnemoraletab {
  [data-personne='personnemorale'] {

  }

  [data-personne='personnemorale personnephysique professionLiberale'] {

  }

  div[data-personne='personnephysique professionLiberale'] {
    display: none;

  }
}

#personnephysiquetab {
  [data-personne='personnemorale'] {

    display: none;
  }

  [data-personne='personnemorale personnephysique professionLiberale'] {

  }

  [data-personne='personnephysique professionLiberale'] {

  }
}

#professionLiberaletab {
  [data-personne='personnemorale'] {
    display: none;
  }

  [data-personne='personnemorale personnephysique professionLiberale'] {

  }

  [data-personne='personnephysique professionLiberale'] {

  }
}


/// 360°

.proposal-data_content {
  padding: rem(10)
}

.proposal-item {
 // border-bottom: 1px solid #F1F1F3;
  padding: rem(10);
  cursor: pointer;
  &:nth-child(even) {
    background: #fafafa;
  }
  &:hover {
    .proposal-item_cta {
      margin-right: 0;
    }
  }
}

.proposal-item_title {
  font-size: rem(15);
  display: block;
  text-transform: uppercase;
  font-family: $fontFamily_robotoCondensed-regular;
  padding: rem(10) 0;
  color: #727272;

  span {

  }
}

.proposal-item_content {
  span {
    margin-bottom: rem(5);

    &.lab {
      color: lighten($black, 50%);
      display: block;
      font-family: $fontFamily_robotoCondensed-light;

    }

    &.val {
      font-size: rem(15);
      font-family: $fontFamily_robotoCondensed-regular;

    }
  }

  .proposal-item_cta {
    color: #99aab5;
    margin-right: rem(10);
    transition: $ease--fast;
  }
}

div.chart-labels {
  font-size: rem(13);
  max-width: rem(50%);
  margin: auto;

  > div {
    padding: rem(10);
  }

  .chart-val {
    font-size: rem(15);
    font-family: $fontFamily_robotoCondensed-bold;
  }

  .badge-point {
    display: inline-block !important;
    height: 8px;
    width: 8px;
    padding: 0;
    border-radius: 0;
    margin-right: rem(6);
  }

  .badge-point {

  }

  .badge-warning {
    color: #212529;
    background-color: get-color("warning");
  }

  .badge-primary {
    color: #fff;
    background-color: get-color("primary");
  }

  .badge-danger {
    color: #fff;
    background-color: get-color("alert");
  }

  .badge-lrd {
    color: #212529;
    background-color: #6E97C7;
  }

  .badge-paid {
    color: #fff;
    background-color: #53B69C;
  }

  .badge-unpaid {
    color: #fff;
    background-color: #DE6D69;
  }
}