//- layout
extends layouts/_default

//- settings

append vars
    - var pageTitle = 'AJOUTER UN NOUVEAU CLIENT'
    - var pageClass = ''
    - var selectedMenu = ''
append body
    .page-content_header
        .container
            .page-content_inner
                        +c-breadcrumb(['Accueil','PORTEFEUILLE CLIENT', 'AJOUTER UN NOUVEAU CLIENT'])

                        .page-content_header__title
                            h1 AJOUTER UN NOUVEAU CLIENT
    .page-content_side
        .container
            .page-content_inner
                .div(class="panel panel-default panel-medium")

                    .panel-body
                        .panel-body_form
                            form(action="" method="post" name="" class="j-hasValidation")
                                fieldset
                                    .c-radio-group.linked-style.inline-group.align-center.j-change-form
                                        .c-radio
                                            input(id="personnemorale" name="natureClient" type="radio" checked="checked")
                                            label(for='personnemorale') <span>Personne Morale</span>
                                        .c-radio
                                            input(id="personnephysique" name="natureClient" type="radio")
                                            label(for='personnephysique') <span> Personne Physique <span>Avec activité commerciale</span></span>
                                        .c-radio
                                            input(id="professionLiberale" name="natureClient" type="radio")
                                            label(for='professionLiberale')  <span>Profession Libérale</span>
                                    .tabs-contents
                                        .tab-form(id="personnemoraletab")
                                            .row.expanded
                                                each value, indexP in pages.clients.forms[0].fields[0]

                                                    .columns.small-12.medium-6(data-personne=value.typePersonne)
                                                        .c-input__holder
                                                            .c-form__item
                                                                label(for='raisonsociale')
                                                                    =indexP
                                                                    if(value.required)
                                                                        span.required *
                                                                if(value.type == "text")
                                                                    if(value.required && !value.email)
                                                                        input#indexP(type=value.type, placeholder=value.placeholder class="required")
                                                                    else if(value.email)
                                                                        input#indexP(type=value.type, placeholder=value.placeholder class="required email")
                                                                    else
                                                                        input#indexP(type=value.type, placeholder=value.placeholder)

                                                                else if(value.type == "select")
                                                                    select()
                                                                        each valueSelect, indexSelect in value.enum
                                                                            option(value=valueSelect)=valueSelect

                                                .column.large-12.small-12.medium-12
                                                    .c-action__holder
                                                        br
                                                        br
                                                        button.button.primary.hasicon_right.float-right(type="submit")
                                                            span VALIDER
                                                            i.c-fmlnet__arrow--right
                                                        button.button.hollow.alert.hasicon_left.align-center(type="reset")
                                                            i.c-fmlnet__close
                                                            span ANNULER


    include components/_modal













