//- layout
extends layouts/_default

//- settings

append vars
    - var pageTitle = 'AJOUTER UN NOUVEAU CLIENT'
    - var pageClass = ''
    - var selectedMenu = ''
append body
    .page-content_header
        .container
            .page-content_inner
                        +c-breadcrumb(['Accueil','PORTEFEUILLE CLIENT', 'AJOUTER UN NOUVEAU CLIENT'])

                        .page-content_header__title
                            h1 AJOUTER UN NOUVEAU CLIENT
    .page-content_side
        .container
            .page-content_inner
                .steps-content
                    -var steps = ['IDENTIFICATION DU CLIENT', 'BIENS & SERVICES', 'SIMULATIONS', 'Proposition FINANCIERE']
                    -var classCurrent = "current"
                    -var currentIndex = 0
                    .steps-progress
                        .steps-progress_inner
                            .steps-progress_inner__step.current
                                label(for='', data-num='0')
                                    span

                                        i.c-fmlnet__checkmark
                                        span IDENTIFICATION DU CLIENT
                            .steps-progress_inner__step
                                label(for='', data-num='1')
                                    span
                                        i.c-fmlnet__checkmark
                                        span Type de proposition
                            .steps-progress_inner__step
                                label(for='', data-num='2')
                                    span
                                        i.c-fmlnet__checkmark
                                        span BIENS & SERVICES
                            .steps-progress_inner__step
                                label(for='', data-num='3')
                                    span
                                        i.c-fmlnet__checkmark
                                        span SIMULATIONS
                            .steps-progress_inner__bar
                            .steps-progress_inner__bar--set
                    .row
                        .large-12.small-12.medium-12
                            .div.panel.panel-default
                                //.panel-heading.panel-heading-divider Rechercher un client

                                .panel-tabs.hdiviser
                                    button.button.hasicon_right.sm-mr-50.clear.j-cta-tab(data-targettab="search")
                                        span Rechercher un client
                                        i.c-fmlnet__search
                                    .divider
                                        strong.divider-title.ng-binding ou
                                    button.button.hasicon_right.sm-ml-50.secondary.j-cta-tab(data-targettab="add")
                                        span Ajouter un nouveau client
                                        i.c-fmlnet__add
                                .proposal-tab_content#search
                                    .panel-body
                                        .panel-body_form
                                            .dataTable-actions
                                                .dataTable-actions_content
                                                    .dataTable-actions_search
                                                        fieldset
                                                            .field.c-input_search
                                                                input#search_indata(type='text', name='search_indata', placeholder='Nom prénom, CIN, Raison sociale, RC, ICE')
                                                            .field.button_search
                                                                button.btn-icon(type='button')
                                                                    i.c-fmlnet__search--glyph


                                    .panel-footer
                                        .panel-footer__actions
                                            .panel-footer__content
                                                .steps-progress__loc
                                                    span
                                                        | ETAPE
                                                        strong 1
                                                        |  SUR
                                                        strong 3
                                                .steps-progress__actions.float-right
                                                    a.button.alert.hollow.hasicon_left(href='')
                                                        i.c-fmlnet__close
                                                        span Quiter
                                                    button.button.hasicon_right.lg-ml-25(type='submit', disabled='')
                                                        span Suivant
                                                        i.c-fmlnet__arrow--right
                                .proposal-tab_content#add(style="display:none")

                                    .panel-body

                                            .panel-body_form
                                                .ml-alert.alert-box--warning( data-close="true")
                                                    span.alert-box_title Client Existant !
                                                    ul.alert-box_content
                                                        li Le client que vous essayer d'ajouter existe dèja dans le portefeuille client Maroc Leasing
                                                    span.alert-box_close.j-close_alert
                                                        i.c-fmlnet__close--glyph
                                                .data-results
                                                    .datatables-content
                                                        .datatables-content_inner
                                                            table.table.table-hover.j-datatable.j-cell-selection
                                                                thead
                                                                    tr
                                                                        th.empty(width='40', align='center')
                                                                        th.sorting ID Client
                                                                        th.sorting Raison Sociale
                                                                        th.sorting Type de personne
                                                                        th.sorting RC
                                                                        th.sorting ICE
                                                                        th.sorting CIN
                                                                tbody
                                                                    tr
                                                                        td
                                                                            .field
                                                                                label(for='radio--01')
                                                                                    input#radio--01.required(type='radio', name='radio')
                                                                                    span
                                                                        td 233
                                                                        td Flipbug
                                                                        td
                                                                            span.badge Personne Physique
                                                                        td 15
                                                                        td 5
                                                                        td AB 333232
                                                .panel-form


                                                    form.j-hasValidation(action='', method='post', name='', novalidate='novalidate')
                                                        fieldset
                                                            .c-radio-group.linked-style.inline-group.align-center.j-change-form.small
                                                                .c-radio
                                                                    label(for='personnemorale')
                                                                        input#personnemorale(name='natureClient', type='radio', checked='checked')
                                                                        span Personne Morale
                                                                .c-radio
                                                                    label(for='personnephysique')
                                                                        input#personnephysique(name='natureClient', type='radio')
                                                                        span
                                                                            | Personne Physique
                                                                            // span Avec activité commerciale
                                                                .c-radio
                                                                    label(for='professionLiberale')
                                                                        input#professionLiberale(name='natureClient', type='radio')
                                                                        span Profession Libérale
                                                            .tabs-contents
                                                                #personnemoraletab.tab-form
                                                                    .row.expanded
                                                                        .columns.small-12.medium-6(data-personne='personnemorale')
                                                                            .c-input__holder
                                                                                .c-form__item
                                                                                    label(for='raisonsociale')
                                                                                        | Raison sociale
                                                                                        span.required *
                                                                                    input#indexP.required(type='text', placeholder='Raison sociale')
                                                                        .columns.small-12.medium-6(data-personne='personnemorale')
                                                                            .c-input__holder
                                                                                .c-form__item
                                                                                    label(for='raisonsociale')
                                                                                        | Forme juridique
                                                                                        span.required *
                                                                                    select
                                                                                        option(value='SA') SA
                                                                                        option(value='SARL') SARL
                                                                        .columns.small-12.medium-6(data-personne='personnemorale')
                                                                            .c-input__holder
                                                                                .c-form__item
                                                                                    label(for='raisonsociale')
                                                                                        | ICE
                                                                                        span.required *
                                                                                    input#indexP.required(type='text', placeholder='123456789000057')
                                                                        .columns.small-12.medium-6(data-personne='personnephysique professionLiberale')
                                                                            .c-input__holder
                                                                                .c-form__item
                                                                                    label(for='raisonsociale')
                                                                                        | CIN
                                                                                        span.required *
                                                                                    input#indexP.required(type='text', placeholder='AB616701')
                                                                        .columns.small-12.medium-6(data-personne='personnemorale personnephysique professionLiberale')
                                                                            .c-input__holder
                                                                                .c-form__item
                                                                                    label(for='raisonsociale')
                                                                                        | contact
                                                                                        span.required *
                                                                                    input#indexP.required(type='text', placeholder='Nom et prénom')
                                                                        .columns.small-12.medium-6(data-personne='personnemorale')
                                                                            .c-input__holder
                                                                                .c-form__item
                                                                                    label(for='raisonsociale')
                                                                                        | Type de contact
                                                                                    input#indexP(type='text')
                                                                        .columns.small-12.medium-6(data-personne='personnemorale personnephysique professionLiberale')
                                                                            .c-input__holder
                                                                                .c-form__item
                                                                                    label(for='raisonsociale')
                                                                                        | Téléphone
                                                                                        span.required *
                                                                                    input#indexP.required(type='text', placeholder='(00212) 6 66 62 87 51')
                                                                        .columns.small-12.medium-6(data-personne='personnemorale personnephysique professionLiberale')
                                                                            .c-input__holder
                                                                                .c-form__item
                                                                                    label(for='raisonsociale')
                                                                                        | E-mail
                                                                                        span.required *
                                                                                    input#indexP.required.email(type='text', placeholder='exemple@exemple.com')


                                    .panel-footer
                                        .panel-footer__actions
                                            .panel-footer__content
                                                .steps-progress__loc
                                                    span
                                                        | ETAPE
                                                        strong 1
                                                        |  SUR
                                                        strong 3
                                                .steps-progress__actions.float-right
                                                    a.button.alert.hollow.hasicon_left(href='')
                                                        i.c-fmlnet__close
                                                        span Quiter
                                                    button.button.hasicon_right.lg-ml-25(type='submit', disabled='')
                                                        span Suivant
                                                        i.c-fmlnet__arrow--right

















