//- layout
extends layouts/_default

//- settings

append vars
    - var pageTitle = 'Dashboard'
    - var pageClass = 'home'
    - var selectedMenu = ''
append body
    .page-content_side
        .container
            .page-content_inner.-dashboard
                    .row.expanded
                        .large-12.medium-12.small-12.column
                            .div(class="panel panel-trans")
                                .panel-heading.panel-heading-divider
                                    | VUE D’ENSEMBLE

                                .panel-body
                                    .panel-body_inner
                                        .row.expanded
                                            .large-6.medium-6.small-12.column.no-gutter_left
                                                div(class="panel panel-data")
                                                    .panel-body
                                                        .panel-heading.panel-heading_title
                                                            | Propositions commerciales
                                                        .panel-body_inner
                                                            .row
                                                                .large-3.medium-3.small-12
                                                                    .panel-widget.panel-widget-tile
                                                                        .data-info
                                                                            .value
                                                                                span.number(data-toggle='counter', data-end='10', data-suffix='%') 10
                                                                            .desc Remise au Client


                                                                .large-3.medium-3.small-12
                                                                    .panel-widget.panel-widget-tile
                                                                        .data-info
                                                                            .value
                                                                                span.number(data-toggle='counter', data-end='10', data-suffix='%') 5
                                                                            .desc Etude ML

                                                                .large-3.medium-3.small-12
                                                                    .panel-widget.panel-widget-tile
                                                                        .data-info
                                                                            .value
                                                                                span.number(data-toggle='counter', data-end='10', data-suffix='%') 10
                                                                            .desc Accpeté ML
                                                                .large-3.medium-3.small-12
                                                                    .panel-widget.panel-widget-tile
                                                                        .data-info
                                                                            .value
                                                                                span.number(data-toggle='counter', data-end='10', data-suffix='%') 10
                                                                            .desc Refus ML

                                            .large-3.medium-3.small-12.column.no-gutter_right
                                                div(class="panel panel-data")
                                                    .panel-body
                                                        .panel-heading.panel-heading_title
                                                            | CONTRATS
                                                        .panel-body_inner
                                                            .row
                                                                .large-6.medium-6.small-12
                                                                    .panel-widget.panel-widget-tile
                                                                        .data-info
                                                                            .value
                                                                                span.number(data-toggle='counter', data-end='10', data-suffix='%') 10
                                                                            .desc En cours

                                                                .large-6.medium-6.small-12
                                                                    .panel-widget.panel-widget-tile
                                                                        .data-info
                                                                            .value
                                                                                span.number(data-toggle='counter', data-end='10', data-suffix='%') 5
                                                                            .desc En loyer
                                            .large-3.medium-3.small-12.column.no-gutter_right
                                                div(class="panel panel-data")
                                                    .panel-body
                                                        .panel-heading.panel-heading_title
                                                            | PORTEFEUILLE  CLIENT
                                                        .panel-body_inner
                                                            .row
                                                                .large-6.medium-6.small-12
                                                                    .panel-widget.panel-widget-tile
                                                                        .data-info
                                                                            .value
                                                                                span.number(data-toggle='counter', data-end='10', data-suffix='%') 10
                                                                            .desc Clients

                                                                .large-6.medium-6.small-12
                                                                    .panel-widget.panel-widget-tile
                                                                        .data-info
                                                                            .value
                                                                                span.number(data-toggle='counter', data-end='10', data-suffix='%') 5
                                                                            .desc Prospets

            .row.expanded
                        .large-7.medium-12.small-12.column
                            .div.panel.panel-default
                                .panel-heading.panel-heading-divider PORTEFEUILLE CLIENT
                                .panel-body
                                    .panel-body_inner
                                        .datatables-content
                                            .datatables-content_inner
                                                table.table.table-hover.j-datatable.j-cell-selection
                                                    thead
                                                        tr
                                                            th.sorting ID Client
                                                            th.sorting Raison Sociale
                                                            th.sorting Type de personne
                                                            th.sorting RC
                                                            th.sorting ICE
                                                            th.sorting CIN
                                                            th Action
                                                    tbody
                                                        tr
                                                            td 233
                                                            td Flipbug
                                                            td Personne Physique
                                                            td 15
                                                            td 5
                                                            td AB 333232
                                                            td.datatable_actions
                                                                a(href='tier-360.html')
                                                                    i.c-fmlnet__item-view
                                                        tr
                                                            td 233
                                                            td Flipbug
                                                            td Personne Physique
                                                            td 15
                                                            td 5
                                                            td AB 333232
                                                            td.datatable_actions
                                                                a(href='tier-360.html')
                                                                    i.c-fmlnet__item-view
                                                        tr
                                                            td 233
                                                            td Flipbug
                                                            td Personne Physique
                                                            td 15
                                                            td 5
                                                            td AB 333232
                                                            td.datatable_actions
                                                                a(href='tier-360.html')
                                                                    i.c-fmlnet__item-view
                                                        tr
                                                            td 233
                                                            td Flipbug
                                                            td Personne Physique
                                                            td 15
                                                            td 5
                                                            td AB 333232
                                                            td.datatable_actions
                                                                a(href='tier-360.html')
                                                                    i.c-fmlnet__item-view

                            .div.panel.panel-default
                                .panel-heading.panel-heading-divider CONTRATS
                                .panel-body
                                    .panel-body_inner
                                        .datatables-content
                                            .datatables-content_inner
                                                table.table.table-hover.j-datatable
                                                    thead
                                                        tr
                                                            th.sorting.id-contrat ID contrat
                                                            th.sorting Statut
                                                            th.sorting Montant HT
                                                            th.sorting(width=280) Biens
                                                            th.sorting Action
                                                    tbody
                                                        tr
                                                            td 133
                                                            td
                                                                span.badge signé

                                                            td 120.220,00
                                                            td 5 Échographe Couleur Polyvalent avec Ecran Tactile SonoScape S22
                                                            td.datatable_actions
                                                                a(href='tier-360.html')
                                                                    i.c-fmlnet__item-view
                                                        tr
                                                            td 245
                                                            td
                                                                span.badge.warning Rachat anticipé

                                                            td 120.220,00
                                                            td 5 Échographe Couleur Polyvalent avec Ecran Tactile SonoScape S22
                                                            td.datatable_actions
                                                                a(href='tier-360.html')
                                                                    i.c-fmlnet__item-view
                                                        tr
                                                            td 1343
                                                            td
                                                                span.badge.success Terminé

                                                            td 120.220,00
                                                            td 5 Échographe Couleur Polyvalent avec Ecran Tactile SonoScape S22
                                                            td.datatable_actions
                                                                a(href='tier-360.html')
                                                                    i.c-fmlnet__item-view

                                                        tr
                                                            td 1343
                                                            td
                                                                span.badge.error Avec impayés

                                                            td 120.220,00
                                                            td 5 Échographe Couleur Polyvalent avec Ecran Tactile SonoScape S22
                                                            td.datatable_actions
                                                                a(href='tier-360.html')
                                                                    i.c-fmlnet__item-view
                        .large-5.medium-12.small-12.column
                            .div.panel.panel-default
                                .panel-heading.panel-heading-divider.flexbox PROPOSITIONS COMMERCIALES
                                    .panel-heading_action.float-right
                                        select.small
                                            option(value='Option 01') Remise au Client
                                            option(value='Option 02') Etude ML
                                            option(value='Option 03') Accpeté ML
                                            option(value='Option 04') Refus ML
                                .panel-body
                                    .panel-body_inner
                                        .proposal-data_content
                                            .proposal-data_chart
                                                svg.circle-chart(viewBox='0 0 33.83098862 33.83098862', width='200', height='200', xmlns='http://www.w3.org/2000/svg')
                                                    circle.circle-chart__background(stroke='#efefef', stroke-width='2', fill='none', cx='16.91549431', cy='16.91549431', r='15.91549431')
                                                    circle.circle-chart__circle(stroke='#006AC8', stroke-width='2', stroke-dasharray='50,100', stroke-linecap='round', fill='none', cx='16.91549431', cy='16.91549431', r='15.91549431')
                                                    g.circle-chart__info
                                                        text.circle-chart__percent(x='16.91549431', y='15.5', alignment-baseline='central', text-anchor='middle', font-size='4') 5 En étude
                                                        text.circle-chart__subline(x='16.91549431', y='20.5', alignment-baseline='central', text-anchor='middle', font-size='2') sur 10 propositions



                                            .proposal-item
                                                .proposal-item_title
                                                    span Proposition P215154542
                                                .proposal-item_content.row
                                                    .column
                                                        span.lab Statut
                                                        span.status-indicator.proe
                                                            i.c-fmlnet__save
                                                            |  Créée
                                                    .column
                                                        span.lab Date création
                                                        span.val Jan 08, 2019
                                                    .column
                                                        span.lab Montant de financement
                                                        span.val 350.000,00 MAD
                                                    div.proposal-item_cta
                                                        i.c-fmlnet__chevron--right

                                            .proposal-item
                                                .proposal-item_title
                                                    span Proposition P215154542
                                                .proposal-item_content.row
                                                    .column
                                                        span.lab Statut
                                                        span.status-indicator.prod
                                                            i.c-fmlnet__restart
                                                            |  En dérogation
                                                    .column
                                                        span.lab Date création
                                                        span.val Jan 08, 2019
                                                    .column
                                                        span.lab Montant de financement
                                                        span.val 350.000,00 MAD
                                                    div.proposal-item_cta
                                                        i.c-fmlnet__chevron--right
                                            .proposal-item
                                                .proposal-item_title
                                                    span Proposition P215154542
                                                .proposal-item_content.row
                                                    .column
                                                        span.lab Statut
                                                        span.status-indicator.prop
                                                            i.c-fmlnet__email
                                                            |  Remise au Client
                                                    .column
                                                        span.lab Date création
                                                        span.val Jan 08, 2019
                                                    .column
                                                        span.lab Montant de financement
                                                        span.val 350.000,00 MAD
                                                    div.proposal-item_cta
                                                        i.c-fmlnet__chevron--right
                                            .proposal-item
                                                .proposal-item_title
                                                    span Proposition P215154542
                                                .proposal-item_content.row
                                                    .column
                                                        span.lab Statut
                                                        span.status-indicator.p025
                                                            i.c-fmlnet__checkmark--outline
                                                            |  Acceptée par le client
                                                    .column
                                                        span.lab Date création
                                                        span.val Jan 08, 2019
                                                    .column
                                                        span.lab Montant de financement
                                                        span.val 350.000,00 MAD
                                                    div.proposal-item_cta
                                                        i.c-fmlnet__chevron--right

