//- layout
extends layouts/_default

//- settings

append vars
    - var pageTitle = 'PORTEFEUILLE CLIENT'
    - var pageClass = ''
    - var selectedMenu = ''
    - var currentIndex = 3
append body
    .page-content_header
        .container
            .page-content_inner
                        +c-breadcrumb(['Accueil','PROPOSITIONS COMMERCIALES','PROPOSITION COMMERCIALE  215154542'])
                        .page-content_header__title
                            h1 PROPOSITION COMMERCIALE  215154542
    .page-content_side
        .container
            .row.expanded
                .large-12
                    .proposa-head
                        .proposa-head_actions.float-right
                            a.button.js-open-inpop.normal.shadow.hasicon_right.sm-ml-15(href='', data-target='#popup-share')
                                span Imprimer
                                i.c-fmlnet__printer
                            a.button.js-open-inpop.normal.shadow.hasicon_right.sm-ml-15(href='', data-target='#popup-share')
                                span Partager
                                i.c-fmlnet__share
                            .popup-inline
                                #popup-share
                                    .modal.modal--open.modal-form
                                        div
                                            h1 Envoyer un Email
                                        .modal__frm
                                            .modal_frm-container
                                                form
                                                    fieldset
                                                        .row.expanded
                                                            .small-12.medium-6.large-6.column
                                                                .c-input__holder
                                                                    label(for='dest')
                                                                        | Destinataire
                                                                        span.required *
                                                                    .c-form__item
                                                                        input#dest(type='email', placeholder='clientmail@cliendomaine.com')
                                                                        i.c-fmlnet__email
                                                            .small-12.medium-6.large-6.column
                                                                .c-input__holder
                                                                    label(for='destcc')
                                                                        | Cc
                                                                        span.required *
                                                                    .c-form__item
                                                                        input#destcc(type='email', placeholder='clientmailcc@cliendomaine.com')
                                                                        i.c-fmlnet__email
                                                        .row.expanded
                                                            .small-12.medium-12
                                                                .c-input__holder
                                                                    label(for='subject')
                                                                        | Objet
                                                                        span.required *
                                                                    .c-form__item
                                                                        input#subject(type='text', placeholder='Proposition de financement N°P0000014352')
                                                            .small-12.medium-12
                                                                .c-input__holder
                                                                    .c-form__item
                                                                        .c-input__holder.is-tall
                                                                            label(for='textarea--01')
                                                                                | Messages
                                                                                span.required *
                                                                            textarea#textarea--01
                                                            .large-12
                                                                .c-input__holder
                                                                    a(href='')
                                                                        span.file-attchement
                                                                            span.file-attchement_icon
                                                                                svg(xmlns='http://www.w3.org/2000/svg', width='24', height='24')
                                                                                    path(fill='#8a8a8a', d='M19 8h-1V4c0-1.103-.897-2-2-2H6.707L2 6.707V7H1v-.707L6.293 1H16c1.654 0 3 1.346 3 3v4z')
                                                                                    path(fill='#8a8a8a', d='M16 23H4c-1.654 0-3-1.346-3-3V6.999h1V20c0 1.103.897 2 2 2h12c1.103 0 2-.897 2-2v-1h1v1c0 1.654-1.346 3-3 3z')
                                                                                    path(fill='#ff5906', d='M16.14 9.386l-3.165 3.166a3.5 3.5 0 0 0 4.95 4.95l4.242-4.243a2.5 2.5 0 1 0-3.535-3.536l-3.89 3.89a1.5 1.5 0 0 0 2.122 2.12l1.396-1.395-.707-.707-1.396 1.395a.5.5 0 0 1-.707-.707l3.889-3.889a1.5 1.5 0 0 1 2.121 2.122l-4.242 4.242a2.5 2.5 0 0 1-3.536-3.535l3.166-3.166-.707-.707z')
                                                                            span.file-attchement_txt proposition-p0000014352.pdf
                                        a.modal__close
                                        .modal__actions
                                            button.button.alert.hollow.hasicon_left.float-right.up
                                                i.c-fmlnet__close
                                                span Fermer
                                            button.button.hasicon_right.up(type='submit')
                                                span Envoyer
                                                i.c-fmlnet__email
                        .proposa-head_infos
                            .proposa-state
                                span.label Statut :
                                span.value.badge.success Validé par le client
                                // Crée Envoyé Accepté Client Transfert BO Accord ML Complément d'information Refus ML
                            div
                                span.label Date de création :
                                span.value Dec 21, 2018
                            div
                                span.label Vendeur :
                                span.value BELBAKI
            .page-content_inner
                .row.expanded
                    .large-3.column
                        .heading-panel.light.panel.sm-mb-30
                            .panel_inner
                                .info-wrapper
                                    .company-name
                                        div
                                            img(src='/assets/media/images/__tmp/logo-company-ex.png', alt='')
                                        div
                                            span.name COMPACT IT
                                            span.created-date
                                                strong Crée le
                                                |  Jan 08, 2012
                                    .company-contact.ml-no-padding
                                        .slides
                                            span
                                                i.c-fmlnet__marker
                                                |  57 Angle Rue Pinel Bd Abdel moumen  Casablanca
                                            span
                                                i.c-fmlnet__phone
                                                |  0661 16 42 76
                                            span
                                                i.c-fmlnet__telephone
                                                |  0522 42 95 95
                                            span
                                                i.c-fmlnet__email
                                                |  contact@compactit.ma
                                .row
                                    .large-12.medium-4.small-12
                                        span.info-side
                                            span.info-label RC
                                            span.info-val 54654
                                        span.info-side
                                            span.info-label ICE
                                            span.info-val 0102125564654654
                                        span.info-side
                                            span.info-label
                                                | CONTRATS EN LOYER
                                                i (2)
                                            span.info-val.currency-local 352.250,00
                                    .large-12.medium-4.small-12
                                        span.info-side
                                            span.info-label CAPITAL SOCIAL
                                            span.info-val.currency-local 1.200.000,00
                                        span.info-side
                                            span.info-label DERNIER CHIFFRE D’AFFAIRE RENSEIGNÉE
                                            span.info-val
                                                span.currency-local 30.520.000,00
                                                select.inline.small(id='', name='')
                                                    option(value='2019') 2019
                                                    option(value='2019') 2018
                                                    option(value='2019') 2017
                                        span.info-side
                                            span.info-label
                                                | TOTAL IMPAYÉS
                                                i (0)
                                            span.info-val.currency-local 00,00
                                    .large-12.medium-4.small-12
                                        span.info-side
                                            span.info-label FORM JURIDIQUE
                                            span.info-val SA
                                        span.info-side
                                            span.info-label ACTIVITE
                                            span.info-val —
                    .large-9.column
                        .tabs.tabs_scrollable.tabs_theme_alfa-on-white
                            .tabs__panel
                                .tabs__content
                                    span.tab-item.current.tab-item_checked.tab-item_size_l(tabindex='0')
                                        div Biens et services
                                    a.tab-item.tab-item_size_l.tab-item_focused(tabindex='0')
                                        div Simulations
                                    a.tab-item.tab-item_size_l.tab-item_focused(tabindex='0')
                                        div Constitution de dossier
                                    a.tab-item.tab-item_size_l.tab-item_focused(tabindex='0')
                                        div Dérogation
                        .tabs-content
                            .panel.panel-default
                                .panel-body
                                    .accordion-field
                                        input#search-accordion-simulation(type='checkbox', name='accordion', checked)
                                        .accordion-field_content(style="display:block")
                                            .panel-body_form
                                                .mlnet-simulation
                                                    .mlnet-simulation_content
                                                        .mlnet-simulation_tabs.frm
                                                            #tab1.mlnet-simulation_tab.selected
                                                                .c-radio
                                                                    label(for='radio--01')
                                                                        input#radio--01(type='radio', name='radio')
                                                                        span Simulation n°1
                                                            #tab2.mlnet-simulation_tab
                                                                .c-radio
                                                                    label(for='radio--02')
                                                                        input#radio--02(type='radio', name='radio')
                                                                        span Simulation n°2
                                                            #tab3.mlnet-simulation_tab
                                                                .c-radio
                                                                    label(for='radio--03')
                                                                        input#radio--03(type='radio', name='radio')
                                                                        span Simulation n°3
                                                            #tab4.mlnet-simulation_tab
                                                                .c-radio
                                                                    label(for='radio--04')
                                                                        input#radio--04(type='radio', name='radio')
                                                                        span Simulation n°4
                                                        .mlnet-simulation_tabs-content
                                                            #content-tab1.mlnet-simulation_tab-content
                                                                .mlnet-simulation_result.md-mt-30.lg-mt-30
                                                                    .result_bref
                                                                        .row
                                                                            .large-12.medium-12.small-12
                                                                                .row
                                                                                    .large-12.medium-4.small-12
                                                                                        span.simulation-ttr Montant de financement HT
                                                                                        span.simulation-val 132 535.00 MAD
                                                                                    .large-12.medium-4.small-12
                                                                                        span.simulation-ttr Montant de la valeur résiduelle HT
                                                                                        span.simulation-val 13 253.5 MAD
                                                                            .large-12.medium-6.small-12
                                                                                .row
                                                                                    .large-6.medium-4.small-12
                                                                                        span.simulation-ttr Premier loyer majoré
                                                                                        span.simulation-val 00.00 MAD
                                                                                    .large-6.medium-4.small-12
                                                                                        span.simulation-ttr Total d’échéances
                                                                                        span.simulation-val 24 Mois
                                                                                    .large-12.medium-4.small-12.highlight-bg
                                                                                        span.simulation-ttr Montant  de l'échéance HT
                                                                                        span.simulation-val 3 682.00 MAD / Mois
                                                                                    .large-12.medium-4.small-12.highlight-bg
                                                                                        span.simulation-ttr Montant  de l'échéance TTC
                                                                                        span.simulation-val 4 418.00 MAD / Mois
                                .panel-footer.lg-mt-30
                                    .panel-footer__actions
                                        .panel-footer__content
                                            .steps-progress__loc
                                                span
                                                    strong DÉCISION DU CLIENT :
                                            .steps-progress__actions.float-right
                                                a.button.alert.hollow.hasicon_left(href='')
                                                    i.c-fmlnet__close
                                                    span Abondonner
                                                button.button.js-open-inpop.disabled.secondary.hasicon_right.lg-ml-15(type='submit', data-target='#popup-derogation')
                                                    span Demander une dérogation
                                                    i.c-fmlnet__launch
                                                button.button.disabled.hasicon_right.lg-ml-15(type='submit')
                                                    span Accepté par le client
                                                    i.c-fmlnet__checkmark--outline


