//- layout
extends layouts/_default

//- settings

append vars
    - var pageTitle = 'PORTEFEUILLE CLIENT'
    - var pageClass = ''
    - var selectedMenu = ''
    - var currentIndex = 3
append body
    script#fileUploadTemplate(type='text/template').
        <div class="row expanded js-fileUpload-line">
        <div class="small-7 medium-4 large-4 column">
        <select class="select-sm">
        <option value="Option 01">Type de document</option>
        <option value="Option 02">Contre devis</option>
        <option value="Option 03">Facture Proforma</option>
        <option value="Option 04">Option 04</option>
        </select>
        </div>
        <div class="small-7 medium-7 large-7">
        <div class="c-input__holder">
        <div class="c-form__item--file">
        <input class="input-sm" type="text" placeholder="Rattacher des docuements à la dérogation" readonly="">
        <div class="c-form__input--file">
        <input class="file-upload" type="file">
        </div><i class="ico-feedback c-fmlnet__attachment"></i>
        </div>
        </div>
        </div>
        <div class="small-7 medium-7 large-1">
        <button class="button clear"><i class="c-fmlnet__delete"></i></button>
        </div>
        </div>
    .page-content_header
        .container
            .page-content_inner
                        +c-breadcrumb(['Accueil','PROPOSITIONS COMMERCIALES','PROPOSITION COMMERCIALE  215154542'])
                        .page-content_header__title
                            h1 PROPOSITION COMMERCIALE  215154542
    .page-content_side
        .container
        .page-content_inner
                    .steps-content
                            .row.expanded
                                .large-12
                                    .proposa-head
                                        .proposa-head_actions.float-right
                                            include components/_prposal-actions
                                        .proposa-head_infos
                                            div.proposa-state
                                                span.label Statut :
                                                span.status-indicator.proe <i class="c-fmlnet__save"></i> Créée
                                            div
                                                span.label Date de création :
                                                span.value Dec 21, 2018
                                            div
                                                span.label Vendeur :
                                                span.value BELBAKI
                            .heading-panel.light.panel.sm-mb-30
                                .panel_inner
                                    .row.expanded
                                        .large-4.medium-4.small-12.column
                                            .info-wrapper
                                                div.company-name
                                                    div
                                                        img(src="/assets/media/images/__tmp/logo-company-ex.png" alt="")
                                                    div
                                                        span.name COMPACT IT
                                                        span.created-date <strong>Crée le</strong> Jan 08, 2012

                                                div.company-contact.ml-no-padding
                                                    div.slides
                                                        span <i class="c-fmlnet__marker"></i> 57 Angle Rue Pinel Bd Abdel moumen  Casablanca
                                                        span <i class="c-fmlnet__phone"></i> 0661 16 42 76
                                                        span <i class="c-fmlnet__telephone"></i> 0522 42 95 95
                                                        span <i class="c-fmlnet__email"></i> contact@compactit.ma
                                        .large-8.medium-8.small-12.column
                                            div.row
                                                div.large-4.medium-4.small-12.column
                                                    span.info-side
                                                        span.info-label RC
                                                        span.info-val 54654
                                                    span.info-side
                                                        span.info-label ICE
                                                        span.info-val 0102125564654654
                                                    span.info-side
                                                        span.info-label CONTRATS EN LOYER <i>(2)</i>
                                                        span.info-val.currency-local 352.250,00
                                                div.large-4.medium-4.small-12.column
                                                    span.info-side
                                                        span.info-label CAPITAL SOCIAL
                                                        span.info-val.currency-local 1.200.000,00
                                                    span.info-side
                                                        span.info-label DERNIER CHIFFRE D’AFFAIRE RENSEIGNÉE
                                                        span.info-val <span class="currency-local">30.520.000,00</span>
                                                            select.inline.small(id="" name="")
                                                                option(value="2019") 2019
                                                                option(value="2019") 2018
                                                                option(value="2019") 2017
                                                    span.info-side
                                                        span.info-label TOTAL IMPAYÉS <i>(0)</i>
                                                        span.info-val.currency-local 00,00
                                                div.large-4.medium-4.small-12.column
                                                    span.info-side
                                                        span.info-label FORM JURIDIQUE
                                                        span.info-val SA
                                                    span.info-side
                                                        span.info-label ACTIVITE
                                                        span.info-val —
                            .row.expanded
                                .large-4.column
                                    div.panel.panel-default
                                        .panel-body
                                            .accordion-field.accordion-field_opened
                                                label.accordion-field_title
                                                    span Financement souhaité
                                                .accordion-field_content
                                                    .card_products-summary
                                                        h2 Détails biens :
                                                        .card_products-content
                                                            .card_products-column.highlight
                                                                span.product-label Nature de Bien
                                                                span.product-val EQUIPEMENT MEDICAL
                                                            .card_products-container
                                                                .card_products-group
                                                                    .card_products-column.product-name
                                                                        span.product-label Bien
                                                                        span.product-val 2  osmoseur mobile wro 300h et wsf 300 gambro
                                                                    .card_products-column
                                                                        span.product-label Montant HT
                                                                        span.product-val
                                                                            | 100 000
                                                                            i.c-fmlnet__mad
                                                                    .card_products-column
                                                                        span.product-label Montant TTC
                                                                        span.product-val
                                                                            | 12O 000
                                                                            i.c-fmlnet__mad
                                                                    .card_products-column
                                                                        span.product-label Frais complémentaires?
                                                                        span.product-val
                                                                            | 20 000
                                                                            i.c-fmlnet__mad
                                                                .card_products-group
                                                                    .card_products-column.product-name
                                                                        span.product-label Bien
                                                                        span.product-val 2  osmoseur mobile wro 300h et wsf 300 gambro
                                                                    .card_products-column
                                                                        span.product-label Montant HT
                                                                        span.product-val
                                                                            | 100 000
                                                                            i.c-fmlnet__mad
                                                                    .card_products-column
                                                                        span.product-label Montant TTC
                                                                        span.product-val
                                                                            | 12O 000
                                                                            i.c-fmlnet__mad
                                                                    .card_products-column
                                                                        span.product-label Frais complémentaires?
                                                                        span.product-val
                                                                            | 20 000
                                                                            i.c-fmlnet__mad
                                                                .card_products-group
                                                                    .card_products-column.product-name
                                                                        span.product-label Bien
                                                                        span.product-val 2  osmoseur mobile wro 300h et wsf 300 gambro
                                                                    .card_products-column
                                                                        span.product-label Montant HT
                                                                        span.product-val
                                                                            | 100 000
                                                                            i.c-fmlnet__mad
                                                                    .card_products-column
                                                                        span.product-label Montant TTC
                                                                        span.product-val
                                                                            | 12O 000
                                                                            i.c-fmlnet__mad
                                                                    .card_products-column
                                                                        span.product-label Frais complémentaires?
                                                                        span.product-val
                                                                            | 20 000
                                                                            i.c-fmlnet__mad
                                                                .card_products-group
                                                                    .card_products-column.product-name
                                                                        span.product-label Bien
                                                                        span.product-val 2  osmoseur mobile wro 300h et wsf 300 gambro
                                                                    .card_products-column
                                                                        span.product-label Montant HT
                                                                        span.product-val
                                                                            | 100 000
                                                                            i.c-fmlnet__mad
                                                                    .card_products-column
                                                                        span.product-label Montant TTC
                                                                        span.product-val
                                                                            | 12O 000
                                                                            i.c-fmlnet__mad
                                                                    .card_products-column
                                                                        span.product-label Frais complémentaires?
                                                                        span.product-val
                                                                            | 20 000
                                                                            i.c-fmlnet__mad
                                                            .card_products-column.count-summary
                                                                span.product-label Total HT
                                                                span.product-val
                                                                    | 120 000
                                                                    i.c-fmlnet__mad
                                                                span.product-label Total TTC
                                                                span.product-val
                                                                    | 144 000
                                                                    i.c-fmlnet__mad



                                .large-8.column
                                    div.panel.panel-default
                                        form(action="financial-proposal_360-init-folder.html" method="" class="")
                                            .panel-body

                                                    .accordion-field
                                                        input(type="checkbox" name="accordion" id="search-accordion-simulation" checked)
                                                        label(for="search-accordion-simulation").accordion-field_title
                                                            span Simulations
                                                                i <sup>*</sup> Simulation non contractuelle
                                                        .accordion-field_content
                                                            .panel-body_form
                                                                .mlnet-simulation
                                                                    .mlnet-simulation_content
                                                                        .mlnet-simulation_tabs.frm
                                                                            .mlnet-simulation_tab.selected#tab1
                                                                                .c-radio
                                                                                    label(for='radio--01')
                                                                                        input#radio--01(type='radio', name='radio')
                                                                                        span Simulation n°1

                                                                            .mlnet-simulation_tab#tab2
                                                                                .c-radio
                                                                                    label(for='radio--02')
                                                                                        input#radio--02(type='radio', name='radio')
                                                                                        span Simulation n°2
                                                                            .mlnet-simulation_tab#tab3
                                                                                .c-radio
                                                                                    label(for='radio--03')
                                                                                        input#radio--03(type='radio', name='radio')
                                                                                        span Simulation n°3
                                                                            .mlnet-simulation_tab#tab4
                                                                                .c-radio
                                                                                    label(for='radio--04')
                                                                                        input#radio--04(type='radio', name='radio')
                                                                                        span Simulation n°4
                                                                        .mlnet-simulation_tabs-content
                                                                            .mlnet-simulation_tab-content#content-tab1

                                                                                .mlnet-simulation_result.md-mt-30.lg-mt-30
                                                                                    .result_bref
                                                                                        .row
                                                                                            .large-12.medium-12.small-12
                                                                                                .row
                                                                                                    .large-12.medium-4.small-12
                                                                                                        span.simulation-ttr Montant de financement HT
                                                                                                        span.simulation-val 132 535.00 MAD
                                                                                                    .large-12.medium-4.small-12
                                                                                                        span.simulation-ttr Montant de la valeur résiduelle HT
                                                                                                        span.simulation-val 13 253.5 MAD
                                                                                            .large-12.medium-6.small-12
                                                                                                .row
                                                                                                    .large-6.medium-4.small-12
                                                                                                        span.simulation-ttr Premier loyer majoré
                                                                                                        span.simulation-val 00.00 MAD
                                                                                                    .large-6.medium-4.small-12
                                                                                                        span.simulation-ttr Total d’échéances
                                                                                                        span.simulation-val 24 Mois
                                                                                                    .large-12.medium-4.small-12.highlight-bg
                                                                                                        span.simulation-ttr Montant  de l'échéance HT
                                                                                                        span.simulation-val 3 682.00 MAD / Mois
                                                                                                    .large-12.medium-4.small-12.highlight-bg
                                                                                                        span.simulation-ttr Montant  de l'échéance TTC
                                                                                                        span.simulation-val 4 418.00 MAD / Mois



                                            .panel-footer.lg-mt-30
                                                .panel-footer__actions
                                                    .panel-footer__content
                                                        .steps-progress__loc
                                                            span <strong>DÉCISION DU CLIENT :</strong>
                                                        .steps-progress__actions.float-right
                                                            a(href="" class="button alert hollow hasicon_left")
                                                                i(class="c-fmlnet__close")
                                                                span Abondonner
                                                            button(type="submit" data-target="#popup-derogation" class="button js-open-inpop disabled secondary hasicon_right  lg-ml-15" )
                                                                span Demander une dérogation
                                                                i(class="c-fmlnet__launch")


                                                            button(type="submit" class="button disabled hasicon_right  lg-ml-15")
                                                                span Accepté par le client
                                                                i(class="c-fmlnet__checkmark--outline")
                    //.datatables-content
                        .datatables-content_inner
                            table.table.table-hover.j-datatable
                                thead
                                    tr
                                        each value, indexP in pages.clients.lists[0]
                                            th.sorting=indexP
                                        th.datatable_actions Actions
                                tbody
                                    each value, key in pages.clients.lists
                                        if(key == 0)
                                            tr
                                                each valColorP, indexP in value
                                                    td=valColorP

                                                td.datatable_actions
                                                    a(href="tier-360.html")
                                                        i.c-fmlnet__item-view
                                                    a(href="")
                                                        i.c-fmlnet__delete

                                                    a(href="" class="js-toggle-row")
                                                        i.c-fmlnet__chevron--down
                                        else
                                            tr
                                                each valColorP, indexP in value
                                                    td=valColorP

                                                td.datatable_actions
                                                    a(href="tier-360.html")
                                                        i.c-fmlnet__item-view
                                                    a(href="")
                                                        i.c-fmlnet__delete

                                                    a(href="" class="js-toggle-row")
                                                        i.c-fmlnet__chevron--down

    .popup-inline
        #popup-derogation
            .modal.modal--open.modal-form
                form(action="financial-proposal_360-derogation.html" method="" class="")
                    div
                        h1 Demande de dérogation
                    .modal__frm
                        .modal_frm-container
                                fieldset
                                    .row.expanded
                                        .small-12.medium-12.large-12
                                            .c-input__holder
                                                label(for='motivation')
                                                    | Motivation
                                                    span.required *
                                                .c-form__item
                                                    textarea#motivation.js-charCount(data-count="5000" maxlength="5000")
                                                    .count-textarea.align-right.sm-mt-5.sm-mb-5
                                                        span#charCountNum 5000 caractères restants
                                        .small-12.medium-12.large-12
                                            .fileUpload-dynamic.js-fileUpload_container
                                                .heading-label.js-cta-add_fileUpload.sm-mb-20.clearfix
                                                    button.float-right.small.sedondary.button.button-icon
                                                        i.c-fmlnet__add--outline
                                                    span Attacher un ou plusieurs fichiers à la dérogation



                    a.modal__close
                    .modal__actions
                        button.button.alert.hollow.hasicon_left.float-right.up
                            i.c-fmlnet__close
                            span Fermer
                        button.button.hasicon_right.up(type='submit')
                            span Envoyer
                            i.c-fmlnet__email