//- layout
extends layouts/_default

//- settings

append vars
    - var pageTitle = 'PORTEFEUILLE CLIENT'
    - var pageClass = ''
    - var selectedMenu = ''
    - var currentIndex = 3
append body
    .page-content_header
        .container
            .page-content_inner
                        +c-breadcrumb(['Accueil','PROPOSITIONS COMMERCIALES','PROPOSITION COMMERCIALE  215154542'])
                        .page-content_header__title
                            h1 PROPOSITION COMMERCIALE  215154542
    .page-content_side
        .container
        .page-content_inner

                    .steps-content
                            .row.expanded
                                .large-12
                                    .proposa-head
                                        .proposa-head_actions.float-right
                                           include components/_prposal-actions
                                        .proposa-head_infos
                                            div.proposa-state
                                                span.label Statut :
                                                span.value.badge.success Validé par le client


                                                //Crée Envoyé Accepté Client Transfert BO Accord ML Complément d'information Refus ML
                                            div
                                                span.label Date de création :
                                                span.value Dec 21, 2018
                                            div
                                                span.label Vendeur :
                                                span.value BELBAKI

                            .heading-panel.light.panel.sm-mb-30
                                .panel_inner
                                    .row.expanded
                                        .large-4.medium-4.small-12.column
                                            .info-wrapper
                                                div.company-name
                                                    div
                                                        img(src="/assets/media/images/__tmp/logo-company-ex.png" alt="")
                                                    div
                                                        span.name COMPACT IT
                                                        span.created-date <strong>Crée le</strong> Jan 08, 2012

                                                div.company-contact.ml-no-padding
                                                    div.slides
                                                        span <i class="c-fmlnet__marker"></i> 57 Angle Rue Pinel Bd Abdel moumen  Casablanca
                                                        span <i class="c-fmlnet__phone"></i> 0661 16 42 76
                                                        span <i class="c-fmlnet__telephone"></i> 0522 42 95 95
                                                        span <i class="c-fmlnet__email"></i> contact@compactit.ma
                                        .large-8.medium-8.small-12.column
                                            div.row
                                                div.large-4.medium-4.small-12.column
                                                    span.info-side
                                                        span.info-label RC
                                                        span.info-val 54654
                                                    span.info-side
                                                        span.info-label ICE
                                                        span.info-val 0102125564654654
                                                    span.info-side
                                                        span.info-label CONTRATS EN LOYER <i>(2)</i>
                                                        span.info-val.currency-local 352.250,00
                                                div.large-4.medium-4.small-12.column
                                                    span.info-side
                                                        span.info-label CAPITAL SOCIAL
                                                        span.info-val.currency-local 1.200.000,00
                                                    span.info-side
                                                        span.info-label DERNIER CHIFFRE D’AFFAIRE RENSEIGNÉE
                                                        span.info-val <span class="currency-local">30.520.000,00</span>
                                                            select.inline.small(id="" name="")
                                                                option(value="2019") 2019
                                                                option(value="2019") 2018
                                                                option(value="2019") 2017
                                                    span.info-side
                                                        span.info-label TOTAL IMPAYÉS <i>(0)</i>
                                                        span.info-val.currency-local 00,00
                                                div.large-4.medium-4.small-12.column
                                                    span.info-side
                                                        span.info-label FORM JURIDIQUE
                                                        span.info-val SA
                                                    span.info-side
                                                        span.info-label ACTIVITE
                                                        span.info-val —


                            .row.expanded
                                .large-4.column
                                    div.panel.panel-default
                                        .panel-body
                                            .accordion-field.accordion-field_opened
                                                label.accordion-field_title
                                                    span Financement souhaité
                                                .accordion-field_content
                                                    .card_products-summary
                                                        h2 Détails biens :
                                                        .card_products-content
                                                            .card_products-column.highlight
                                                                span.product-label Nature de Bien
                                                                span.product-val EQUIPEMENT MEDICAL
                                                            .card_products-container
                                                                .card_products-group
                                                                    .card_products-column.product-name
                                                                        span.product-label Bien
                                                                        span.product-val 2  osmoseur mobile wro 300h et wsf 300 gambro
                                                                    .card_products-column
                                                                        span.product-label Montant HT
                                                                        span.product-val
                                                                            | 100 000
                                                                            i.c-fmlnet__mad
                                                                    .card_products-column
                                                                        span.product-label Montant TTC
                                                                        span.product-val
                                                                            | 12O 000
                                                                            i.c-fmlnet__mad
                                                                    .card_products-column
                                                                        span.product-label Frais complémentaires?
                                                                        span.product-val
                                                                            | 20 000
                                                                            i.c-fmlnet__mad
                                                                .card_products-group
                                                                    .card_products-column.product-name
                                                                        span.product-label Bien
                                                                        span.product-val 2  osmoseur mobile wro 300h et wsf 300 gambro
                                                                    .card_products-column
                                                                        span.product-label Montant HT
                                                                        span.product-val
                                                                            | 100 000
                                                                            i.c-fmlnet__mad
                                                                    .card_products-column
                                                                        span.product-label Montant TTC
                                                                        span.product-val
                                                                            | 12O 000
                                                                            i.c-fmlnet__mad
                                                                    .card_products-column
                                                                        span.product-label Frais complémentaires?
                                                                        span.product-val
                                                                            | 20 000
                                                                            i.c-fmlnet__mad
                                                                .card_products-group
                                                                    .card_products-column.product-name
                                                                        span.product-label Bien
                                                                        span.product-val 2  osmoseur mobile wro 300h et wsf 300 gambro
                                                                    .card_products-column
                                                                        span.product-label Montant HT
                                                                        span.product-val
                                                                            | 100 000
                                                                            i.c-fmlnet__mad
                                                                    .card_products-column
                                                                        span.product-label Montant TTC
                                                                        span.product-val
                                                                            | 12O 000
                                                                            i.c-fmlnet__mad
                                                                    .card_products-column
                                                                        span.product-label Frais complémentaires?
                                                                        span.product-val
                                                                            | 20 000
                                                                            i.c-fmlnet__mad
                                                                .card_products-group
                                                                    .card_products-column.product-name
                                                                        span.product-label Bien
                                                                        span.product-val 2  osmoseur mobile wro 300h et wsf 300 gambro
                                                                    .card_products-column
                                                                        span.product-label Montant HT
                                                                        span.product-val
                                                                            | 100 000
                                                                            i.c-fmlnet__mad
                                                                    .card_products-column
                                                                        span.product-label Montant TTC
                                                                        span.product-val
                                                                            | 12O 000
                                                                            i.c-fmlnet__mad
                                                                    .card_products-column
                                                                        span.product-label Frais complémentaires?
                                                                        span.product-val
                                                                            | 20 000
                                                                            i.c-fmlnet__mad
                                                            .card_products-column.count-summary
                                                                span.product-label Total HT
                                                                span.product-val
                                                                    | 120 000
                                                                    i.c-fmlnet__mad
                                                                span.product-label Total TTC
                                                                span.product-val
                                                                    | 144 000
                                                                    i.c-fmlnet__mad



                                .large-8.column
                                    div.panel.panel-default
                                        .panel-body
                                            .accordion-field
                                                input(type="checkbox" name="accordion" id="search-accordion-simulation" checked)
                                                label(for="search-accordion-simulation").accordion-field_title
                                                    span Simulations
                                                        i <sup>*</sup> Simulation non contractuelle
                                                .accordion-field_content
                                                    .panel-body_form
                                                        .mlnet-simulation
                                                            .mlnet-simulation_content
                                                                .mlnet-simulation_tabs.frm
                                                                    .mlnet-simulation_tab.accepted#tab1
                                                                        span Simulation n°1
                                                                        i(class="c-fmlnet__checkmark--solid success")

                                                                    .mlnet-simulation_tab.canceled#tab2
                                                                         span Simulation n°2
                                                                         i(class="c-fmlnet__close--solid alert")
                                                                    .mlnet-simulation_tab.canceled#tab3
                                                                        span Simulation n°3
                                                                        i(class="c-fmlnet__close--solid alert")
                                                                    .mlnet-simulation_tab.canceled#tab4
                                                                        span Simulation n°4
                                                                        i(class="c-fmlnet__close--solid alert")
                                                                .mlnet-simulation_tabs-content
                                                                    .mlnet-simulation_tab-content#content-tab1

                                                                        .mlnet-simulation_result
                                                                            .result_bref
                                                                                .row
                                                                                    .large-12.medium-12.small-12
                                                                                        .row
                                                                                            .large-12.medium-4.small-12
                                                                                                span.simulation-ttr Montant de financement HT
                                                                                                span.simulation-val 132 535.00 MAD
                                                                                            .large-12.medium-4.small-12
                                                                                                span.simulation-ttr Montant de la valeur résiduelle HT
                                                                                                span.simulation-val 13 253.5 MAD
                                                                                    .large-12.medium-6.small-12
                                                                                        .row
                                                                                            .large-6.medium-4.small-12
                                                                                                span.simulation-ttr Premier loyer majoré
                                                                                                span.simulation-val 00.00 MAD
                                                                                            .large-6.medium-4.small-12
                                                                                                span.simulation-ttr Total d’échéances
                                                                                                span.simulation-val 24 Mois
                                                                                            .large-12.medium-4.small-12.highlight-bg
                                                                                                span.simulation-ttr Montant  de l'échéance HT
                                                                                                span.simulation-val 3 682.00 MAD / Mois
                                                                                            .large-12.medium-4.small-12.highlight-bg
                                                                                                span.simulation-ttr Montant  de l'échéance TTC
                                                                                                span.simulation-val 4 418.00 MAD / Mois

