//- layout
extends layouts/_default-print

//- settings

append vars
    - var pageTitle = 'Proposition de financement N° P0000014352'
    - var pageClass = 'print'
    - var selectedMenu = ''
    - var currentIndex = 1
append body
    .page-content_side
        .container
            .page-content_inner
                .mlnet-proposal_header-intro
                    div
                        span <strong>SABA FOOD</strong>
                        span A l’aimable attention de Monsieur le directeur
                    p Nous avons le plaisir de vous communiquer, ci-après et à titre indicatif, notre proposition pour le financement en Crédit-Bail de votre projet d’investissement
                .proposal-summary
                    .proposal-summary_col
                        span.label Nature de Bien
                        span.val.badge EQUIPEMENT MEDICAL
                    .proposal-summary_col
                        span.label Montant de financement HT
                        span.val.badge 132 535.00 MAD
                    .proposal-summary_col
                        span.label Montant de la valeur résiduelle HT
                        span.val.badge 13 253.5 MAD

                .proposal-items_content
                    h2  Simulations rattachées
                    .proposal-item
                        h3 Simulation - 1
                        div
                            span.label Premier loyer majoré
                            span.val.badge 00.00 MAD
                        div
                            span.label Total d’échéances
                            span.val.badge 24 Mois
                        div
                            span.label Périodicité
                            span.val.badge Mensuelle
                        div
                            span.label Montant de l’échéance HT
                            span.val.badge 3 682.00 MAD / Mois
                        div
                            span.label Montant de l’échéance TTC
                            span.val.badge 4 418.00 MAD / Mois
                        div
                            span.label Coût Total
                            span.val.badge 189 042.00 MAD
                    .proposal-item
                        h3 Simulation - 2
                        div
                            span.label Premier loyer majoré
                            span.val.badge 00.00 MAD
                        div
                            span.label Total d’échéances
                            span.val.badge 24 Mois
                        div
                            span.label Périodicité
                            span.val.badge Mensuelle
                        div
                            span.label Montant de l’échéance HT
                            span.val.badge 3 682.00 MAD / Mois
                        div
                            span.label Montant de l’échéance TTC
                            span.val.badge 4 418.00 MAD / Mois
                        div
                            span.label Coût Total
                            span.val.badge 189 042.00 MAD
                    .proposal-item
                        h3 Simulation - 3
                        div
                            span.label Premier loyer majoré
                            span.val.badge 00.00 MAD
                        div
                            span.label Total d’échéances
                            span.val.badge 24 Mois
                        div
                            span.label Périodicité
                            span.val.badge Mensuelle
                        div
                            span.label Montant de l’échéance HT
                            span.val.badge 3 682.00 MAD / Mois
                        div
                            span.label Montant de l’échéance TTC
                            span.val.badge 4 418.00 MAD / Mois
                        div
                            span.label Coût Total
                            span.val.badge 189 042.00 MAD
                    .proposal-item
                        h3 Simulation - 4
                        div
                            span.label Premier loyer majoré
                            span.val.badge 00.00 MAD
                        div
                            span.label Total d’échéances
                            span.val.badge 24 Mois
                        div
                            span.label Périodicité
                            span.val.badge Mensuelle
                        div
                            span.label Montant de l’échéance HT
                            span.val.badge 3 682.00 MAD / Mois
                        div
                            span.label Montant de l’échéance TTC
                            span.val.badge 4 418.00 MAD / Mois
                        div
                            span.label Coût Total
                            span.val.badge 189 042.00 MAD

                .user-agenet_infos
                    .user-agenet_infos-title  Signature
                    .user-agenet_infos-content
                        div
                            span.user-agenet_name Fouad EL MAHI
                            span.user-agenet_agency Agence Almoustakbal
                            span.user-agenet_group Banque Populaire Régionale Casablanca

                        div
                            span <strong>Tél</strong> 0539 94 10 20
                            span <strong>Fax</strong>  0522 42 95 31 / 0522 42 95 02
                            span <strong>Email</strong> fouadkarouach@marocleasing.ma

                    .footer-msg
                        p <strong>Validité de l’offre :</strong> 90 jours
                        p En vous remerciant de votre consultation, nous vous prions de bien vouloir agréer, Monsieur, l’expression de nos salutations distinguées


