//- layout
extends layouts/_default

//- settings

append vars
    - var pageTitle = 'Forms'
    - var pageClass = 'home'
    - var selectedMenu = ''
append body

    .page-content_header
        .container
            .page-content_inner
                .row.expanded
                        h1.page-content_header__title Forms
    .page-content_side
        .container
            .page-content_inner
                    .div(class="panel panel-default")
                        .panel-heading.panel-heading-divider
                            | Basic Elements
                            span.panel-subtitle These are the basic bootstrap form elements

                        .panel-body
                            .row.expanded
                                .columns.small-12.medium-6: +input--text('Input text', true, 'input--text--01')
                                .columns.small-12.medium-6
                                    .c-input__holder
                                        label(for='input--text--01')
                                            | Password
                                            span.required *
                                        .c-form__item
                                            input#input--text--01(type='password', placeholder='************')
                                            i.c-fmlnet__visibility-off.js_toggle-on
                                .columns.small-12.medium-6: +input--text('Disabled input text', false, 'Disabled input text', "disabled")
                                .columns.small-12.medium-6: +input--text('Readonly input text', false, 'input--text--03', "readonly", 'Readonly input text')
                            .row.expanded
                                .columns.medium-6: +select('Select', ['Option 01', 'Option 02', 'Option 03', 'Option 04'])
                            .row.expanded
                                .columns: +textarea('Textarea 01', true, 'textarea--01')
                            .row.expanded
                                .column.medium-6
                                    .c-input__holder
                                        .c-label Lorem ipsum dolor sit amet ?
                                        .c-checkbox
                                            label(for="checkbox--0")
                                                input(type="checkbox" id="checkbox--0" name="checkbox" )
                                                span: +lipsum(3, 'words')
                                        .c-checkbox
                                            label(for="checkbox--secondary")
                                                input(type="checkbox" id="checkbox--secondary" name="checkbox" class="has-secondary" checked)
                                                span: +lipsum(3, 'words')
                                    .c-input__holder
                                        .c-label Lorem ipsum dolor sit amet ?
                                        .c-checkbox.inline
                                            label(for="checkbox--0-dis")
                                                input(type="checkbox" id="checkbox--0-dis" name="checkbox" disabled checked)
                                                span: +lipsum(3, 'words')
                                        .c-checkbox.inline
                                            label(for="checkbox--secondary-dis")
                                                input(type="checkbox" id="checkbox--secondary-dis" name="checkbox" class="has-secondary" checked disabled)
                                                span: +lipsum(3, 'words')

                                    .c-input__holder
                                        .c-label Lorem ipsum dolor sit amet ?
                                        .c-checkbox.inline
                                            label(for="checkbox--primarybg")
                                                input(type="checkbox" id="checkbox--primarybg" name="checkbox" class="has-primary has-bg" checked)
                                                span: +lipsum(3, 'words')
                                        .c-checkbox.inline
                                            label(for="checkbox--secondarybg")
                                                input(type="checkbox" id="checkbox--secondarybg" name="checkbox" class="has-secondary has-bg" checked)
                                                span: +lipsum(3, 'words')


                                .column.medium-6.small-12
                                    .c-input__holder
                                        .c-label Lorem ipsum dolor sit amet ?
                                        - for (var i = 0; i < 4; i++)
                                        .c-radio
                                            label(for="radio--0" + i)
                                                input(type="radio" id="radio--0" + i name="radio" class="")
                                                span: +lipsum(3, 'words')
                                        .c-radio
                                            label(for="radio--1" + i)
                                                input(type="radio" id="radio--1" + i name="radio" class="has-secondary")
                                                span: +lipsum(3, 'words')
                                    .c-input__holder
                                        .c-label Lorem ipsum dolor sit amet ?
                                        .c-radio.inline
                                            label(for="radio--0-dis")
                                                input(type="radio" id="radio--0-dis" name="radio1" disabled checked)
                                                span: +lipsum(3, 'words')
                                        .c-radio.inline
                                            label(for="radio--secondary-dis")
                                                input(type="radio" id="radio--secondary-dis" name="radio1" class="has-secondary" checked disabled)
                                                span: +lipsum(3, 'words')

                                    .c-input__holder
                                        .c-label Lorem ipsum dolor sit amet ?
                                        .c-radio.inline
                                            label(for="radio--primarybg")
                                                input(type="radio" id="radio--primarybg" name="radio2" class="has-primary has-bg" checked)
                                                span: +lipsum(3, 'words')
                                        .c-radio.inline
                                            label(for="radio--secondarybg")
                                                input(type="radio" id="radio--secondarybg" name="radio2" class="has-secondary has-bg" checked)
                                                span: +lipsum(3, 'words')



                    .div(class="panel panel-default")
                        .panel-heading.panel-heading-divider
                            | Upload

                        .panel-body
                            .row.expanded
                                .columns.medium-6.small-12
                                    .c-input__holder
                                        .c-form__item--file
                                            input(type="text" placeholder="Ajouter un fichier" readonly)
                                            .c-form__input--file
                                                input(type="file")
                                            i.ico-feedback.c-fmlnet__download

                                .columns.medium-6.small-12
                                    .c-input__holder
                                        .c-form__item--file
                                            input(type="text" placeholder="Ajouter un fichier" readonly)
                                            .c-form__input--file
                                                input(type="file")
                                            i.ico-feedback.c-fmlnet__attachment

                    .div(class="panel panel-default")
                        .panel-heading.panel-heading-divider
                            | Validation States
                            span.panel-subtitle Default bootstrap validation states

                        .panel-body
                            .row.expanded
                                +input-state()
                            .row.expanded
                                .column.medium-6.small-12
                                    .c-input__holder
                                        .c-label Lorem ipsum dolor sit amet ?
                                        .c-checkbox.inline
                                            label(for="checkbox--1")
                                                input(type="checkbox" id="checkbox--1" name="checkbox" class="has-success" checked)
                                                span: +lipsum(3, 'words')
                                        .c-checkbox.inline
                                            label(for="checkbox--2")
                                                input(type="checkbox" id="checkbox--2" name="checkbox" class="has-warning" checked)
                                                span: +lipsum(3, 'words')
                                        .c-checkbox.inline
                                            label(for="checkbox--3")
                                                input(type="checkbox" id="checkbox--3" name="checkbox" class="has-alert" checked)
                                                span: +lipsum(3, 'words')
                                    .c-input__holder
                                        .c-label Lorem ipsum dolor sit amet ?
                                        .c-checkbox.inline
                                            label(for="checkbox--4")
                                                input(type="checkbox" id="checkbox--4" name="checkbox" class="has-success has-bg" checked)
                                                span: +lipsum(3, 'words')
                                        .c-checkbox.inline
                                            label(for="checkbox--5")
                                                input(type="checkbox" id="checkbox--5" name="checkbox" class="has-warning has-bg" checked)
                                                span: +lipsum(3, 'words')
                                        .c-checkbox.inline
                                            label(for="checkbox--6")
                                                input(type="checkbox" id="checkbox--6" name="checkbox" class="has-alert has-bg" checked)
                                                span: +lipsum(3, 'words')

                                .column.medium-6.small-12
                                    .c-input__holder
                                        .c-label Lorem ipsum dolor sit amet ?
                                        .c-radio.inline
                                            label(for="radio--1")
                                                input(type="radio" id="radio--1" name="radio3" class="has-success" checked)
                                                span: +lipsum(3, 'words')
                                        .c-radio.inline
                                            label(for="radio--2")
                                                input(type="radio" id="radio--2" name="radio3" class="has-warning" checked)
                                                span: +lipsum(3, 'words')
                                        .c-radio.inline
                                            label(for="radio--3")
                                                input(type="radio" id="radio--3" name="radio3" class="has-alert" checked)
                                                span: +lipsum(3, 'words')
                                    .c-input__holder
                                        .c-label Lorem ipsum dolor sit amet ?
                                        .c-radio.inline
                                            label(for="radio--4")
                                                input(type="radio" id="radio--4" name="radio4" class="has-success has-bg" checked)
                                                span: +lipsum(3, 'words')
                                        .c-radio.inline
                                            label(for="radio--5")
                                                input(type="radio" id="radio--5" name="radio4" class="has-warning has-bg" checked)
                                                span: +lipsum(3, 'words')
                                        .c-radio.inline
                                            label(for="radio--6")
                                                input(type="radio" id="radio--6" name="radio4" class="has-alert has-bg" checked)
                                                span: +lipsum(3, 'words')

                    .div(class="panel panel-default")
                        .panel-heading.panel-heading-divider
                            | Label addon Form
                            span.panel-subtitle Default bootstrap validation states

                        .panel-body
                            .row.expanded
                                +input-state-inline()
                            .row.expanded
                                .column.medium-6.small-12