//- layout
extends layouts/_default

//- settings

append vars
    - var pageTitle = 'MAROC LEASING :: FRONT LEASING :: Guidelines->Iconography'
    - var pageClass = 'home'
    - var selectedMenu = ''
append body
    .page-content_header
        .container
            .page-content_inner
                h4.page-content_header__label.txt-primary Guidelines
                h1.page-content_header__title Iconographie

    .page-content_side
        .container
            .page-content_inner
                .typo-card_content
                    .columns
                        .icons
                            +icon()




