//- layout
extends layouts/_default

//- settings

append vars
    - var pageTitle = 'Dashboard'
    - var pageClass = 'home'
    - var selectedMenu = ''
append body
    .page-content_side
        .container
            .page-content_inner.-dashboard
                .row.expanded
                    .large-12.medium-12.small-12.column
                        .div(class="panel panel-default")
                            .panel-heading.panel-heading-divider
                                | VUE D’ENSEMBLE

                            .panel-body
                                .panel-body_inner
                                    .row.expanded
                                        .large-6.medium-6.small-12.column
                                            img(src="/assets/media/images/__tmp/ve_pc.png")

                                        .large-3.medium-3.small-12.column
                                            img(src="/assets/media/images/__tmp/ve_contrats.png")
                                        .large-3.medium-3.small-12.column
                                            img(src="/assets/media/images/__tmp/ve_clients.png")
                .row.expanded
                    .large-8.medium-8.small-12.column
                        .div(class="panel panel-default")
                            .panel-heading.panel-heading-divider
                                | TÂCHES EN COURS

                            .panel-body
                                .panel-body_inner
                                    img(src="/assets/media/images/__tmp/tec.png")
                        .div(class="panel panel-default")
                            .panel-heading.panel-heading-divider
                                | CONTRATS

                            .panel-body
                                .panel-body_inner
                                    img(src="/assets/media/images/__tmp/contrats.png")
                    .large-4.medium-4.small-12.column
                        .div(class="panel panel-default")
                            .panel-heading.panel-heading-divider
                                | PROPOSITIONS COMMERCIALES
                            .panel-body
                                .panel-body_inner
                                    img(src="/assets/media/images/__tmp/last_prop.png")

