//- layout
extends layouts/_default

//- settings

append vars
    - var pageTitle = 'PORTEFEUILLE CLIENT'
    - var pageClass = ''
    - var selectedMenu = ''
    - var currentIndex = 3
append body
    .page-content_header
        .container
            .page-content_inner
                        +c-breadcrumb(['Accueil','PROPOSITIONS COMMERCIALES','PROPOSITION COMMERCIALE  215154542'])
                        .page-content_header__title
                            h1 PROPOSITION COMMERCIALE  215154542
    .page-content_side
        .container
            .row.expanded
                .c-wysiwyg
                    include blocks/_wysiwyg--content



