//- layout
extends layouts/_login

//- settings

append vars
    - var pageTitle = 'Login'
    - var pageClass = 'login __theme_ml'
    - var selectedMenu = ''

append body
            .page-account
                .login-container


                        .div(class="panel page-login_panel")
                            .panel-heading.panel-heading-divider.align-center
                                div.panel-heading_content
                                    | FRONT LEASING
                                    span.panel-subtitle ESPACE PARTENAIRE
                                    .panel-brand_icon
                                        img(src='/assets/media/images/logos/logo-ico-marocleasing.svg', alt="")
                            .panel-body

                                .cards-toslide
                                    .cards-toslide_content.js-card-toslide_content
                                        .card-toslide
                                            .card-toslide_content
                                                form.page-login_form.j-hasValidation(method='' action="/dashboard.html")
                                                    fieldset
                                                        .row
                                                            .column.large-12.small-12.medium-12
                                                                .c-input__holder.floating
                                                                    .c-form__item.hasicon
                                                                        input#input--text--01(type='text', name="identifiant", placeholder='', required, class="required email", data-error-msg="test error ")
                                                                        label(for='input--text--01')
                                                                            | Identifiant
                                                                            span.required *
                                                                        i.ico-feedback.c-fmlnet__user-administrator
                                                            .column.large-12.small-12.medium-12
                                                                .c-input__holder.floating

                                                                    .c-form__item
                                                                        input#input--password(type='password', name="password", placeholder='', required, class="required j-password_field")
                                                                        label(for='input--password')
                                                                            | Mot de passe
                                                                            span.required *
                                                                        i.c-fmlnet__visibility-off.j-toggle-password-on

                                                            .column.large-12.small-12.medium-12
                                                                .align-center
                                                                    a(class="button clear hasicon_right xmedium j-cards-toslide_action", href='')
                                                                        span Mot de passe oublié?
                                                                        i.c-fmlnet__arrow--right

                                                            .column.large-12.small-12.medium-12
                                                                .c-action__holder
                                                                    button.button.primary.hasicon_right.expanded(type="submit")
                                                                        span Se connecter
                                                                        i.c-fmlnet__arrow--right

                                        .card-toslide
                                            .card-toslide_content
                                                .card-toslide_heading
                                                    .panel-heading.align-center.panel-heading_default.panel-heading_small
                                                        div.panel-heading_content
                                                            | Mot de passe oublié?
                                                            span.panel-subtitle Mot de passe perdu? Veuillez saisir votre identifiant ou adresse mail. Vous recevrez un lien pour créer un nouveau mot de passe par courrier électronique.

                                                .card-toslide_body
                                                    form.page-login_form.j-hasValidation(method='post')
                                                        fieldset
                                                            .row
                                                                .column.large-12.small-12.medium-12
                                                                    .c-input__holder.floating
                                                                        .c-form__item.hasicon
                                                                            input#inputemail(type='text', name="inputemail", placeholder='', required, class="required email", data-error-msg="test error ")
                                                                            label(for='inputemail')
                                                                                | Identifiant
                                                                                span.required *
                                                                            i.ico-feedback.c-fmlnet__user-administrator
                                                                .column.large-12.small-12.medium-12
                                                                    .align-center
                                                                        a(class="button clear hasicon_left xmedium j-cards-toslide_action", href='')
                                                                            i.c-fmlnet__arrow--left
                                                                            span Retourner à la page d'identification

                                                                .column.large-12.small-12.medium-12
                                                                    .c-action__holder
                                                                        button.button.primary.hasicon_right.expanded(type="submit")
                                                                            span Réinitialiser
                                                                            i.c-fmlnet__arrow--right








