//- layout
extends layouts/_default

//- settings

append vars
    - var pageTitle = 'PORTEFEUILLE CLIENT'
    - var pageClass = ''
    - var selectedMenu = ''
append body
    script#productFraisTemplate(type='text/template').
        <tr class="editable-row__template">
        <td>
        <div class="field">
        <select id="" name="type-frais[]" class="js-select2" data-placeholder="Selectionner le type des frais">
            <option value="">Selectionner le type des frais</option>
        </select>
        </div>
        </td>
        <td>
        <div class="c-form__item hasicon">
        <input class="editable-table-cell required input-sm" id="table-editor-frais4" type="number" placeholder="00.00" name="priceht[]"><i class="c-fmlnet__mad"></i>
        </div>
        </td>
        <td>
        <div class="field">
        <select class="editable-table-cell required select-sm" id="table-editor-frais2">
        <option value="4">4%</option>
        <option value="7">7%</option>
        <option value="14">14%</option>
        <option value="20">20%</option>
        </select>
        </div>
        </td>
        <td>
        <div class="field">
        <div class="c-form__item hasicon">
        <input class="editable-table-cell required input-sm" id="table-editor-frais3" type="number" placeholder="00.00" name="pricettc[]"><i class="c-fmlnet__mad"></i>
        </div>
        </div>
        </td>
        <td class="datatable_actions"><a class="j-delete-row" href=""><i class="c-fmlnet__delete"></i></a></td>
        </tr>
    script#productTemplate(type='text/template').
        <tr class="editable-row__template">
        <td>
        <div class="field">
        <input class="editable-table-cell required input-sm" id="{{id}}" type="text" placeholder="1 OSMOSEUR MOBILE .." name="design[]">
        </div>
        </td>
        <td>
        <div class="field">
        <div class="product-quantity j-product-quantity">
        <input class="input-sm" data-min="1" data-max="0" type="number" name="quantity[]" value="1">
        <button class="increment-quantity" type="button" aria-label="Add one" data-direction="1"><span>+</span></button>
        <button class="decrement-quantity" type="button" aria-label="Subtract one" data-direction="-1" disabled="disabled"><span>−</span></button>
        </div>
        </div>
        </td>
        <td>
        <div class="c-form__item hasicon">
        <input class="editable-table-cell required input-sm" id="{{id}}" type="number" placeholder="00.00" name="priceht[]"><i class="c-fmlnet__mad"></i>
        </div>
        </td>
        <td>
        <div class="field">
        <select class="editable-table-cell required select-sm" id="{{id}}">
        <option value="20">20%</option>
        <option value="20">10%</option>
        <option value="20">17%</option>
        <option value="20">30%</option>
        </select>
        </div>
        </td>
        <td>
        <div class="field">
        <div class="c-form__item hasicon">
        <input class="editable-table-cell required input-sm" id="{{id}}" type="number" placeholder="00.00" name="pricettc[]"><i class="c-fmlnet__mad"></i>
        </div>
        </div>
        </td>
        <td>
        <div class="field">
        <div class="can-toggle can-toggle--size-med">
        <input id="type" type="checkbox" name="type[]">
        <label for="type">
        <div class="can-toggle__switch" data-checked="Neuf" data-unchecked="Occasion"></div>
        </label>
        </div>
        </div>
        </td>
        <td class="embded-toggled_content">
        <button class="button hollow shadow hasicon_left align-center small md-m-0 j-cta-product_sup expanded" type="button"><i class="c-fmlnet__chevron--down"></i><span>Ajouter</span></button>
        </td>
        <td class="datatable_actions"><a class="j-delete-row" href=""><i class="c-fmlnet__delete"></i></a></td>
        </tr>
        <tr class="j-product_sup">
        <td colspan="8">
        <div class="sub-table-wrap">
        <table class="table j-datatable j-cell-selection j-productFrais_push">
        <thead>
        <tr>
        <th width="450">Type de frais</th>
        <th width="">Montant HT</th>
        <th width="">TVA</th>
        <th width="">Montant TTC</th>
        <th class="datatable_actions">Actions</th>
        </tr>
        </thead>
        <tbody></tbody>
        </table>
        <table>
        <tbody><tr class="editable-table_add-row">
        <td colspan="5" align="right"><a class="button trans-icon j-add-row up hollow hasicon_right xmedium" href="" data-tpltarget="productFraisTemplate" data-pushtarget="j-productFrais_push"><span>AJOUTER PLUS DE FRAIS</span><i class="c-fmlnet__add--outline secondary"></i></a></td>
        </tr>
        </tbody></table>
        </div>
        </td>
        </tr>

    script#serviceTemplate(type='text/template').
        <tr class="editable-row__template">
        <td>
        <div class="field">
        <input class="editable-table-cell required input-sm" type="text" placeholder="1 OSMOSEUR MOBILE .." name="design[]">
        </div>
        </td>
        <td>
        <select id="" name="type-service">
        <option value="">Selectionner le type</option>
        </select>
        </td>
        <td>
        <div class="c-form__item hasicon">
        <input class="editable-table-cell required input-sm" type="number" placeholder="00.00" name="priceht[]"><i class="c-fmlnet__mad"></i>
        </div>
        </td>
        <td>
        <div class="field">
        <select class="editable-table-cell required select-sm">
        <option value="20">20%</option>
        <option value="20">10%</option>
        <option value="20">17%</option>
        <option value="20">30%</option>
        </select>
        </div>
        </td>
        <td>
        <div class="field">
        <div class="c-form__item hasicon">
        <input class="editable-table-cell required input-sm" type="number" placeholder="00.00" name="pricettc[]"><i class="c-fmlnet__mad"></i>
        </div>
        </div>
        </td>
        <td class="datatable_actions"><a class="j-delete-row" href=""><i class="c-fmlnet__delete"></i></a></td>
        </tr>
    include blocks/partials/_notif-events
    .page-content_header
        .container
            .page-content_inner
                        +c-breadcrumb(['Accueil','PROPOSITIONS COMMERCIALES','NOUVELLE PROPOSITION'])

                        .page-content_header__title
                            h1 NOUVELLE PROPOSITION COMMERCIALE
    .page-content_side
        .container
            .page-content_inner
                    .steps-content
                        .steps-content
                            -var steps = ['IDENTIFICATION DU CLIENT', 'BIENS & SERVICES', 'SIMULATIONS', 'Proposition FINANCIERE']
                            -var classCurrent = "current"
                            -var currentIndex = 1
                            .steps-progress#step-2
                                .steps-progress_inner
                                    each value, index in steps
                                        if(index == currentIndex)
                                            - classCurrent = "current"
                                        else if(index < currentIndex)
                                            - classCurrent = "done"
                                        else
                                            - classCurrent = ""

                                        .steps-progress_inner__step(class=classCurrent)
                                            label(for="" data-num=index)
                                                span
                                                    i.c-fmlnet__checkmark
                                                    span=value
                                    .steps-progress_inner__bar
                                    .steps-progress_inner__bar--set
                        form(action="/new-financial-proposal_simulations.html" method="" class="j-hasValidation j-checked-tovalidate")
                            .row
                                .large-12
                                    .div.panel.panel-default
                                        .panel-body
                                            .accordion-field
                                                input(type="checkbox" name="accordion" id="search-accordion" checked)
                                                label(for="search-accordion").accordion-field_title
                                                    span Configuration des biens
                                                .accordion-field_content
                                                    //.panel-body_form
                                                        .dataTable-actions
                                                            .dataTable-actions_content
                                                                .dataTable-actions_search__product
                                                                        .field.c-input_search
                                                                            label(for="search_nature-bien") Nature Bien
                                                                            div.field_icon
                                                                                select.js-select2#search_nature-bien(data-placeholder="Selectionner la nature de bien")
                                                                                    option





                                                    .data-results
                                                        .datatables-content.__editor
                                                            .datatables-content_inner
                                                                table.table.table-hover.j-datatable.j-cell-selection.j-product_push
                                                                    thead
                                                                        tr
                                                                            th(width="250") Désignation
                                                                            th(width="100") Qte
                                                                            th(width="180") Montant HT
                                                                            th(width="75") TVA
                                                                            th(width="180") Montant TTC
                                                                            th Type
                                                                            th Frais complémentaires?
                                                                            th.datatable_actions Actions
                                                                    tbody
                                                                        tr.editable-row__template
                                                                            td
                                                                                div.field
                                                                                    input.editable-table-cell.input-sm(type="text" placeholder="1 OSMOSEUR MOBILE .." name="design[]")
                                                                            td
                                                                                div.field
                                                                                    .product-quantity.j-product-quantity
                                                                                        input.input-sm(data-min='1', data-max='0', type='number', name='quantity[]', value='1')
                                                                                        button.increment-quantity(type='button', aria-label='Add one', data-direction='1')
                                                                                            span +
                                                                                        button.decrement-quantity(type='button', aria-label='Subtract one', data-direction='-1', disabled='disabled')
                                                                                            span −


                                                                            td
                                                                                div.c-form__item.hasicon
                                                                                    input.editable-table-cell.input-sm(type="number" placeholder="00.00" name="priceht[]")
                                                                                    i.c-fmlnet__mad
                                                                            td
                                                                                div.field
                                                                                    select.editable-table-cell.select-sm
                                                                                        option(value="20") 20%
                                                                                        option(value="20") 10%
                                                                                        option(value="20") 17%
                                                                                        option(value="20") 30%

                                                                            td
                                                                                div.field
                                                                                    div.c-form__item.hasicon
                                                                                        input.editable-table-cell.input-sm(type="number" placeholder="00.00" name="pricettc[]")
                                                                                        i.c-fmlnet__mad
                                                                            td
                                                                                div.field
                                                                                    .can-toggle.can-toggle--size-med
                                                                                        
                                                                                        .can-toggle_btn-witcher
                                                                                            span.can-toggle_btn.checked Neuf
                                                                                            span.can-toggle_btn Occasion

                                                                            td
                                                                                button.button.hollow.shadow.hasicon_left.align-center.small.md-m-0.j-cta-product_sup.expanded(type='button')
                                                                                    i.c-fmlnet__chevron--down
                                                                                    span Ajouter



                                                                            td.datatable_actions
                                                                                a.j-delete-row(href="")
                                                                                    i.c-fmlnet__delete
                                                                        tr.j-product_sup
                                                                            td(colspan="8")
                                                                                .sub-table-wrap
                                                                                    table.table.j-datatable.j-cell-selection.j-productFrais_push
                                                                                        thead
                                                                                            tr
                                                                                                th(width='450') Type de frais
                                                                                                th(width='') Montant HT
                                                                                                th(width='') TVA
                                                                                                th(width='') Montant TTC
                                                                                                th.datatable_actions Actions
                                                                                        tbody

                                                                                    table
                                                                                        tr.editable-table_add-row
                                                                                            td(colspan='5', align='right')
                                                                                                a.button.trans-icon.j-add-row.up.hollow.hasicon_right.xmedium(href='' data-tpltarget="productFraisTemplate" data-pushtarget="j-productFrais_push")
                                                                                                    span AJOUTER PLUS DE FRAIS
                                                                                                    i.c-fmlnet__add--outline.secondary
                                                                table
                                                                    tr.editable-table_add-row
                                                                        td(colspan="8" align="right")
                                                                            a(href="" class="button trans-icon j-add-row up hollow hasicon_right xmedium" data-tpltarget="productTemplate" data-pushtarget="j-product_push")
                                                                                span AJOUTER PLUS DE BIEN
                                                                                i(class="c-fmlnet__add--outline secondary")

                                                                    tr.editable-table__footer
                                                                        td(colspan="8")
                                                                            table
                                                                                tr
                                                                                    td Total HT

                                                                                    td(align="right") 0.00 <i class="c-fmlnet__mad"></i>
                                                                                tr
                                                                                    td Total TTC

                                                                                    td(align="right")  0.00 <i class="c-fmlnet__mad"></i>


                                            .accordion-field
                                                input(type="checkbox" name="accordion" id="search-accordion-service" checked)
                                                label(for="search-accordion-service").accordion-field_title
                                                    span Configuration des services
                                                .accordion-field_content
                                                    .panel-body_form
                                                        .data-results
                                                            .datatables-content.__editor
                                                                .datatables-content_inner
                                                                    table.table.table-hover.j-datatable.j-cell-selection.j-service_push
                                                                        thead
                                                                            tr
                                                                                th Désignation
                                                                                th Type de service
                                                                                th Montant HT
                                                                                th TVA
                                                                                th Montant TTC
                                                                                th.datatable_actions Actions
                                                                        tbody
                                                                            tr.editable-row__template
                                                                                td
                                                                                    div.field
                                                                                        input.editable-table-cell.input-sm(type="text" placeholder="1 OSMOSEUR MOBILE .." name="design[]")

                                                                                td
                                                                                    select(id="" name="type-service")
                                                                                        option(value='') Selectionner le type
                                                                                td

                                                                                    div.c-form__item.hasicon
                                                                                        input.editable-table-cell.input-sm(type="number" placeholder="00.00" name="priceht[]")
                                                                                        i.c-fmlnet__mad
                                                                                td
                                                                                    div.field
                                                                                        select.editable-table-cell.select-sm
                                                                                            option(value="0") 0%
                                                                                            option(value="7") 7%
                                                                                            option(value="14") 14%
                                                                                            option(value="20") 20%


                                                                                td
                                                                                    div.field
                                                                                        div.c-form__item.hasicon
                                                                                            input.editable-table-cell.input-sm(type="number" placeholder="00.00" name="pricettc[]")
                                                                                            i.c-fmlnet__mad
                                                                                td.datatable_actions
                                                                                    a.j-delete-row(href="")
                                                                                        i.c-fmlnet__delete
                                                                    table
                                                                        tr.editable-table_add-row
                                                                            td(colspan="8" align="right")
                                                                                a(href="" class="button trans-icon j-add-row up hollow hasicon_right xmedium" data-tpltarget="serviceTemplate" data-pushtarget="j-service_push")
                                                                                    span AJOUTER PLUS DE SERVICE
                                                                                    i(class="c-fmlnet__add--outline secondary")

                                                                        tr.editable-table__footer
                                                                            td(colspan="8")
                                                                                table
                                                                                    tr
                                                                                        td Total HT

                                                                                        td(align="right") 0.00 <i class="c-fmlnet__mad"></i>
                                                                                    tr
                                                                                        td Total TTC

                                                                                        td(align="right")  0.00 <i class="c-fmlnet__mad"></i>


                                        .panel-footer.lg-mt-30
                                            .panel-footer__actions
                                                .panel-footer__content
                                                    .steps-progress__loc
                                                        span ETAPE <strong>1</strong> SUR <strong>3</strong>
                                                    .steps-progress__actions.float-right
                                                        a(href="" class="button alert hollow hasicon_left")
                                                            i(class="c-fmlnet__close")
                                                            span Quiter
                                                        button(type="submit" class="button hollow  hasicon_left  lg-ml-15" )
                                                            i(class="c-fmlnet__arrow--left")
                                                            span Précédent

                                                        button(type="submit" class="button  hasicon_right  lg-ml-15")
                                                            span Suivant
                                                            i(class="c-fmlnet__arrow--right")
                    //.datatables-content
                        .datatables-content_inner
                            table.table.table-hover.j-datatable
                                thead
                                    tr
                                        each value, indexP in pages.clients.lists[0]
                                            th.sorting=indexP
                                        th.datatable_actions Actions
                                tbody
                                    each value, key in pages.clients.lists
                                        if(key == 0)
                                            tr
                                                each valColorP, indexP in value
                                                    td=valColorP

                                                td.datatable_actions
                                                    a(href="tier-360.html")
                                                        i.c-fmlnet__item-view
                                                    a(href="")
                                                        i.c-fmlnet__delete

                                                    a(href="" class="js-toggle-row")
                                                        i.c-fmlnet__chevron--down
                                        else
                                            tr
                                                each valColorP, indexP in value
                                                    td=valColorP

                                                td.datatable_actions
                                                    a(href="tier-360.html")
                                                        i.c-fmlnet__item-view
                                                    a(href="")
                                                        i.c-fmlnet__delete

                                                    a(href="" class="js-toggle-row")
                                                        i.c-fmlnet__chevron--down

