//- layout
extends layouts/_default

//- settings

append vars
    - var pageTitle = 'PORTEFEUILLE CLIENT'
    - var pageClass = ''
    - var selectedMenu = ''
    - var currentIndex = 3
append body
    .page-content_header
        .container
            .page-content_inner
                        +c-breadcrumb(['Accueil','PROPOSITIONS COMMERCIALES','NOUVELLE PROPOSITION'])
                        .page-content_header__title
                            h1 NOUVELLE PROPOSITION COMMERCIALE
    .page-content_side
        .container
            .page-content_inner
                    .steps-content
                        -var steps = ['IDENTIFICATION DU CLIENT', 'BIENS & SERVICES', 'SIMULATIONS', 'Proposition FINANCIERE']
                        -var classCurrent = "current"
                        -var currentIndex = 2
                        .steps-progress
                            .steps-progress_inner
                                each value, index in steps
                                    if(index == currentIndex)
                                        - classCurrent = "current"
                                    else if(index < currentIndex)
                                        - classCurrent = "done"
                                    else
                                        - classCurrent = ""
                                    .steps-progress_inner__step(class=classCurrent)
                                        label(for="" data-num=index)
                                            span
                                                i.c-fmlnet__checkmark
                                                span=value
                                .steps-progress_inner__bar
                                .steps-progress_inner__bar--set

                        form(action="financial-proposal_360_created.html" method="" class="j-checked-tovalidate")
                            .row.expanded
                                .large-4.column
                                    div.panel.panel-default
                                        .panel-body
                                            .accordion-field.accordion-field_opened
                                                label.accordion-field_title
                                                    span Financement souhaité
                                                .accordion-field_content
                                                    .card_products-summary
                                                        h2 Détails biens :
                                                        .card_products-content
                                                            .card_products-column.highlight
                                                                span.product-label Nature de Bien
                                                                span.product-val EQUIPEMENT MEDICAL
                                                            .card_products-container
                                                                .card_products-group
                                                                    .card_products-column.product-name
                                                                        span.product-label Bien
                                                                        span.product-val 2  osmoseur mobile wro 300h et wsf 300 gambro
                                                                    .card_products-column
                                                                        span.product-label Montant HT
                                                                        span.product-val
                                                                            | 100 000
                                                                            i.c-fmlnet__mad
                                                                    .card_products-column
                                                                        span.product-label Montant TTC
                                                                        span.product-val
                                                                            | 12O 000
                                                                            i.c-fmlnet__mad
                                                                    .card_products-column
                                                                        span.product-label Frais complémentaires?
                                                                        span.product-val
                                                                            | 20 000
                                                                            i.c-fmlnet__mad
                                                                .card_products-group
                                                                    .card_products-column.product-name
                                                                        span.product-label Bien
                                                                        span.product-val 2  osmoseur mobile wro 300h et wsf 300 gambro
                                                                    .card_products-column
                                                                        span.product-label Montant HT
                                                                        span.product-val
                                                                            | 100 000
                                                                            i.c-fmlnet__mad
                                                                    .card_products-column
                                                                        span.product-label Montant TTC
                                                                        span.product-val
                                                                            | 12O 000
                                                                            i.c-fmlnet__mad
                                                                    .card_products-column
                                                                        span.product-label Frais complémentaires?
                                                                        span.product-val
                                                                            | 20 000
                                                                            i.c-fmlnet__mad
                                                                .card_products-group
                                                                    .card_products-column.product-name
                                                                        span.product-label Bien
                                                                        span.product-val 2  osmoseur mobile wro 300h et wsf 300 gambro
                                                                    .card_products-column
                                                                        span.product-label Montant HT
                                                                        span.product-val
                                                                            | 100 000
                                                                            i.c-fmlnet__mad
                                                                    .card_products-column
                                                                        span.product-label Montant TTC
                                                                        span.product-val
                                                                            | 12O 000
                                                                            i.c-fmlnet__mad
                                                                    .card_products-column
                                                                        span.product-label Frais complémentaires?
                                                                        span.product-val
                                                                            | 20 000
                                                                            i.c-fmlnet__mad
                                                                .card_products-group
                                                                    .card_products-column.product-name
                                                                        span.product-label Bien
                                                                        span.product-val 2  osmoseur mobile wro 300h et wsf 300 gambro
                                                                    .card_products-column
                                                                        span.product-label Montant HT
                                                                        span.product-val
                                                                            | 100 000
                                                                            i.c-fmlnet__mad
                                                                    .card_products-column
                                                                        span.product-label Montant TTC
                                                                        span.product-val
                                                                            | 12O 000
                                                                            i.c-fmlnet__mad
                                                                    .card_products-column
                                                                        span.product-label Frais complémentaires?
                                                                        span.product-val
                                                                            | 20 000
                                                                            i.c-fmlnet__mad
                                                            .card_products-column.count-summary
                                                                span.product-label Total HT
                                                                span.product-val
                                                                    | 120 000
                                                                    i.c-fmlnet__mad
                                                                span.product-label Total TTC
                                                                span.product-val
                                                                    | 144 000
                                                                    i.c-fmlnet__mad



                                .large-8.column
                                    div.panel.panel-default
                                        .panel-body
                                            .accordion-field
                                                input(type="checkbox" name="accordion" id="search-accordion-simulation" checked)
                                                label(for="search-accordion-simulation").accordion-field_title
                                                    span Simulations
                                                        i <sup>*</sup> Simulation non contractuelle
                                                .accordion-field_content
                                                    .panel-body_form
                                                        .mlnet-simulation
                                                            .mlnet-simulation_content
                                                                .mlnet-simulation_tabs
                                                                    .mlnet-simulation_tab.selected#tab1
                                                                        span Simulation n°1
                                                                        input#barem-01(type='hidden', name='bareme', value='')
                                                                    .mlnet-simulation_tab#tab2
                                                                        span Simulation n°2
                                                                        input#barem-02(type='hidden', name='bareme', value='')
                                                                    .mlnet-simulation_tab#tab3
                                                                        span Simulation n°3
                                                                        input#barem-03(type='hidden', name='bareme', value='')
                                                                    .mlnet-simulation_tab#tab4
                                                                        span Simulation n°4
                                                                        input#barem-04(type='hidden', name='bareme', value='')

                                                                    .mlnet-simulation_tab.j-add_simulation
                                                                        span
                                                                            i.c-fmlnet__new-tab
                                                                            |  Ajouter une simulation
                                                                .mlnet-simulation_tabs-content
                                                                    .mlnet-simulation_tab-content#content-tab1
                                                                        .mlnet-simulation_tab-form
                                                                            .mlnet-simulation_slider.column
                                                                                .slider-title  Barèmes :
                                                                                    span.minfo Choisir le barème souhaité pour construire la simulation financière
                                                                                .mlnet-simulation_bareme
                                                                                    .slider-field.align-center
                                                                                        input(type="number" id="j-input-bareme" name="" class="align-center ")
                                                                                    .bareme-handle-slider.j-simulation_bareme(data-start="24" data-step="12" data-min="24" data-max="72")
                                                                            .mlnet-simulation_plm.md-mt-30.lg-mt-30
                                                                                .c-input__holder
                                                                                    .row
                                                                                        .large-3.small-12.medium-12.align-left.column
                                                                                            label(for="apport") Premier loyer majoré :
                                                                                        .large-6.small-12.medium-12.column
                                                                                            div.c-form__item.c-form__item-switch-buttons
                                                                                                input.input-sm(type="number" placeholder="00.00" name="apport[]" id="apport")
                                                                                                span.note 5% ou plus du prix d'achat

                                                                                                .can-toggle.can-toggle--size-med.in-field.can-toggle--size-small
                                                                                                    .can-toggle_btn-witcher
                                                                                                        span.can-toggle_btn.checked MAD
                                                                                                        span.can-toggle_btn %

                                                                                        //.large-12.column.align-center.md-mt-40.lg-mt-40
                                                                                            button(class="button hollow primary hasicon_right xmedium up" type="submit") <span>Calculer</span><i class="c-fmlnet__restart"></i>

                                                                        .mlnet-simulation_result.md-mt-30.lg-mt-30
                                                                            .result_bref
                                                                                .row
                                                                                    div(class="large-12 small-12 medium-12 align-left column")
                                                                                        h2 Résultat de la simulation n°1:
                                                                                    .large-6.medium-6.small-12.column
                                                                                        .row
                                                                                            .large-12.medium-4.small-12
                                                                                                span.simulation-ttr Montant de financement HT
                                                                                                span.simulation-val 132 535.00 MAD
                                                                                            .large-12.medium-4.small-12
                                                                                                span.simulation-ttr Montant de la valeur résiduelle HT
                                                                                                span.simulation-val 13 253.5 MAD
                                                                                            .large-12.medium-4.small-12
                                                                                                span.simulation-ttr Premier loyer majoré
                                                                                                span.simulation-val 00.00 MAD
                                                                                    .large-6.medium-6.small-12.column
                                                                                        .row
                                                                                            .large-12.medium-4.small-12
                                                                                                span.simulation-ttr Total d’échéances
                                                                                                span.simulation-val 24 Mois
                                                                                            .large-12.medium-4.small-12.highlight-bg
                                                                                                span.simulation-ttr Montant  de l'échéance HT
                                                                                                span.simulation-val 3 682.00 MAD / Mois
                                                                                            .large-12.medium-4.small-12.highlight-bg
                                                                                                span.simulation-ttr Montant  de l'échéance TTC
                                                                                                span.simulation-val 4 418.00 MAD / Mois

                                                                            .result_all









                                        .panel-footer.lg-mt-30
                                            .panel-footer__actions
                                                .panel-footer__content
                                                    .steps-progress__loc
                                                        span ETAPE <strong>1</strong> SUR <strong>3</strong>
                                                    .steps-progress__actions.float-right
                                                        a(href="" class="button alert hollow hasicon_left")
                                                            i(class="c-fmlnet__close")
                                                            span Quiter
                                                        button(type="submit" class="button hollow  hasicon_left  lg-ml-15" )
                                                            i(class="c-fmlnet__arrow--left")
                                                            span Précédent

                                                        button(type="submit" class="button  hasicon_right  lg-ml-15")
                                                            span Enregistrer la proposition
                                                            i(class="c-fmlnet__arrow--right")
                    //.datatables-content
                        .datatables-content_inner
                            table.table.table-hover.j-datatable
                                thead
                                    tr
                                        each value, indexP in pages.clients.lists[0]
                                            th.sorting=indexP
                                        th.datatable_actions Actions
                                tbody
                                    each value, key in pages.clients.lists
                                        if(key == 0)
                                            tr
                                                each valColorP, indexP in value
                                                    td=valColorP

                                                td.datatable_actions
                                                    a(href="tier-360.html")
                                                        i.c-fmlnet__item-view
                                                    a(href="")
                                                        i.c-fmlnet__delete

                                                    a(href="" class="js-toggle-row")
                                                        i.c-fmlnet__chevron--down
                                        else
                                            tr
                                                each valColorP, indexP in value
                                                    td=valColorP

                                                td.datatable_actions
                                                    a(href="tier-360.html")
                                                        i.c-fmlnet__item-view
                                                    a(href="")
                                                        i.c-fmlnet__delete

                                                    a(href="" class="js-toggle-row")
                                                        i.c-fmlnet__chevron--down

