//- layout
extends layouts/_default

//- settings

append vars
    - var pageTitle = 'PORTEFEUILLE CLIENT'
    - var pageClass = ''
    - var selectedMenu = ''
append body
    include blocks/partials/_notif-events
    .page-content_header
        .container
            .page-content_inner
                        +c-breadcrumb(['Accueil','PROPOSITIONS COMMERCIALES','NOUVELLE PROPOSITION'])

                        .page-content_header__title
                            h1 NOUVELLE PROPOSITION COMMERCIALE
    .page-content_side
        .container
            .page-content_inner
                .steps-content
                    -var steps = ['IDENTIFICATION DU CLIENT', 'BIENS & SERVICES', 'SIMULATIONS', 'Proposition FINANCIERE']
                    -var classCurrent = "current"
                    -var currentIndex = 0
                    .steps-progress
                        .steps-progress_inner
                            .steps-progress_inner__step.current
                                label(for='', data-num='0')
                                    span

                                        i.c-fmlnet__checkmark
                                        span IDENTIFICATION DU CLIENT
                            .steps-progress_inner__step
                                label(for='', data-num='1')
                                    span
                                        i.c-fmlnet__checkmark
                                        span Type de proposition
                            .steps-progress_inner__step
                                label(for='', data-num='2')
                                    span
                                        i.c-fmlnet__checkmark
                                        span BIENS & SERVICES
                            .steps-progress_inner__step
                                label(for='', data-num='3')
                                    span
                                        i.c-fmlnet__checkmark
                                        span SIMULATIONS
                            .steps-progress_inner__bar
                            .steps-progress_inner__bar--set
                    .steps-content
                        form(action="new-financial-proposal_offer-simple.html" method="" class="j-hasValidation j-checked-tovalidate")
                            .row.expanded
                                .large-12.small-12.medium-12
                                    .div.panel.panel-default
                                        .panel-body
                                            .accordion-field
                                                input(type="checkbox" name="accordion" id="search-accordion" checked)
                                                label(for="search-accordion").accordion-field_title
                                                    span Rechercher un client
                                                .accordion-field_content
                                                    .panel-body_form
                                                        .dataTable-actions
                                                            .dataTable-actions_content
                                                                .dataTable-actions_search
                                                                    form(action="" method="POST")
                                                                        fieldset
                                                                            .field.c-input_search
                                                                                input(type="text" name="search_indata" id="search_indata" placeholder="Nom prénom, CIN, Raison sociale, RC, ICE")
                                                                            .field.button_search
                                                                                button.btn-icon(type="button")
                                                                                    i.c-fmlnet__search

                                                    .loader
                                                        .loader-inner
                                                            svg.circular(viewBox='25 25 50 50')
                                                                circle.path(cx='50', cy='50', r='20', fill='none', stroke-width='2')
                                                            span Chargement...

                                                    .data-results
                                                        .datatables-content
                                                            .datatables-content_inner
                                                                table.table.table-hover.j-datatable.j-cell-selection
                                                                    thead
                                                                        tr
                                                                            th.empty(width="40" align="center")
                                                                            th.sorting ID Client
                                                                            th.sorting Raison Sociale
                                                                            th.sorting Type de personne
                                                                            th.sorting RC
                                                                            th.sorting ICE
                                                                            th.sorting CIN
                                                                    tbody
                                                                        tr
                                                                            td
                                                                                div.field
                                                                                    label(for='radio--01')
                                                                                        input#radio--01(type='radio', name='radio' class="required")
                                                                                        span
                                                                            td 233
                                                                            td Flipbug
                                                                            td Personne Physique
                                                                            td 15
                                                                            td 5
                                                                            td AB 333232
                                                                        tr
                                                                            td
                                                                                div.field
                                                                                    label(for='radio--02')
                                                                                        input#radio--02(type='radio', name='radio' class="required")
                                                                                        span
                                                                            td 233
                                                                            td Flipbug
                                                                            td Personne Physique
                                                                            td 15
                                                                            td 5
                                                                            td AB 333232
                                                                        tr
                                                                            td
                                                                                div.field
                                                                                    label(for='radio--03')
                                                                                        input#radio--03(type='radio', name='radio' class="required")
                                                                                        span
                                                                            td 233
                                                                            td Flipbug
                                                                            td Personne Physique
                                                                            td 15
                                                                            td 5
                                                                            td AB 333232
                                                                        tr
                                                                            td
                                                                                div.field
                                                                                    label(for='radio--04')
                                                                                        input#radio--04(type='radio', name='radio' class="required")
                                                                                        span
                                                                            td 233
                                                                            td Flipbug
                                                                            td Personne Physique
                                                                            td 15
                                                                            td 5
                                                                            td AB 333232


                                                                .data-table_actions.clearfix
                                                                    .float-right
                                                                        a(href="add-tiers.html" class="button secondary hollow hasicon_left sm-mt-30")
                                                                            i(class="c-fmlnet__add")
                                                                            span Ajouter un nouveau client

                                                    .message-returned__notfound
                                                        span.message-resutned_icon
                                                            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='204.919', height='220.212', viewBox='0 0 204.919 220.212')
                                                                defs
                                                                    filter(id='Tracé_1331', x='6', y='0', width='198.919', height='220.212', filterUnits='userSpaceOnUse')
                                                                        feoffset(dy='1', input='SourceAlpha')
                                                                        fegaussianblur(stdDeviation='1', result='blur')
                                                                        feflood(flood-opacity='0.161')
                                                                        fecomposite(operator='in', in2='blur')
                                                                        fecomposite(in='SourceGraphic')
                                                                g#Groupe_2085(data-name='Groupe 2085', transform='translate(-578.667 -692.242)')
                                                                    path(id='Tracé_1330', data-name='Tracé 1330', d='M234.508,236.739a3.317,3.317,0,0,1-3.769,2.8L97.362,217.782a4.259,4.259,0,0,1-3.43-4.912l15.414-94.307c.389-2.362,2.2-4.1,5.025-4.925l1.721-.741a7.764,7.764,0,0,0,4.648-4.61l9.585-58.617a3.317,3.317,0,0,1,3.769-2.8l124.772,20.64a3.317,3.317,0,0,1,2.676,3.857Z', transform='translate(479.193 684.273) rotate(-8)', fill='#dfdfdf', opacity='0.575')
                                                                    g(transform='matrix(1, 0, 0, 1, 578.67, 692.24)', filter='url(#Tracé_1331)')
                                                                        path(id='Tracé_1331-2', data-name='Tracé 1331', d='M234.508,236.739a3.317,3.317,0,0,1-3.769,2.8L97.362,217.782a4.259,4.259,0,0,1-3.43-4.912l15.414-94.307c.389-2.362,2.2-4.1,5.025-4.925l1.721-.741a7.764,7.764,0,0,0,4.648-4.61l9.585-58.617a3.317,3.317,0,0,1,3.769-2.8l124.772,20.64a3.317,3.317,0,0,1,2.676,3.857Z', transform='translate(-90.47 -7.97) rotate(-8)', fill='#f7f7f7')
                                                                    g#Groupe_2084(data-name='Groupe 2084', transform='translate(-30 -154)')
                                                                        g#Groupe_2081(data-name='Groupe 2081', transform='translate(668.264 907.811)')
                                                                            path(id='Tracé_856', data-name='Tracé 856', d='M73.332,67.314l-16-16a1.7,1.7,0,0,1-.158-2.217A30.589,30.589,0,0,0,62.721,31.36a29.03,29.03,0,0,0-2.534-12.2,31.457,31.457,0,0,0-6.652-9.978,30.61,30.61,0,0,0-9.978-6.652A31.7,31.7,0,0,0,31.36,0a29.03,29.03,0,0,0-12.2,2.534A31.457,31.457,0,0,0,9.186,9.186a30.611,30.611,0,0,0-6.652,9.978A31.7,31.7,0,0,0,0,31.36a29.03,29.03,0,0,0,2.534,12.2,31.457,31.457,0,0,0,6.652,9.978,30.61,30.61,0,0,0,9.978,6.652,31.7,31.7,0,0,0,12.2,2.534A30.588,30.588,0,0,0,49.1,57.177a2.252,2.252,0,0,1,.95-.317,1.8,1.8,0,0,1,1.267.475L67.472,73.491a4.055,4.055,0,0,0,3.009,1.267,4.634,4.634,0,0,0,3.009-1.267,4.327,4.327,0,0,0,1.267-3.009A4.879,4.879,0,0,0,73.332,67.314ZM47.357,47.357A22,22,0,0,1,31.2,54.009a22.25,22.25,0,0,1-16.155-6.652A22,22,0,0,1,8.394,31.2a22,22,0,0,1,6.652-16.155A22,22,0,0,1,31.2,8.394a22.25,22.25,0,0,1,16.155,6.652A22,22,0,0,1,54.009,31.2,22,22,0,0,1,47.357,47.357Z', transform='translate(20.606 0) rotate(16)', fill='#626262', opacity='0.2')
                                                                        path(id='Tracé_1327', data-name='Tracé 1327', d='M0,0S4.844,7.009,12.706,0', transform='matrix(0.809, -0.588, 0.588, 0.809, 691.704, 943.654)', fill='none', stroke='#dfdfdf', stroke-width='2')
                                                                        path(id='Tracé_1328', data-name='Tracé 1328', d='M-2667.218,360.319s4.526,6.549,11.871,0', transform='translate(3377.361 571.788)', fill='none', stroke='#dfdfdf', stroke-width='2')
                                                                        path(id='Tracé_1329', data-name='Tracé 1329', d='M0,1.064S12.606,14.132,28.458,0', transform='translate(726.089 947.859) rotate(161)', fill='none', stroke='#dfdfdf', stroke-width='2')
                                                                    rect#Rectangle_2706(data-name='Rectangle 2706', width='105', height='3', rx='1.5', transform='translate(632 727)', fill='#d9d9d9')
                                                                    rect#Rectangle_2711(data-name='Rectangle 2711', width='105', height='3', rx='1.5', transform='translate(632 856)', fill='#d9d9d9')
                                                                    rect#Rectangle_2707(data-name='Rectangle 2707', width='105', height='3', rx='1.5', transform='translate(632 736)', fill='#d9d9d9')
                                                                    rect#Rectangle_2710(data-name='Rectangle 2710', width='105', height='3', rx='1.5', transform='translate(632 865)', fill='#d9d9d9')
                                                                    rect#Rectangle_2708(data-name='Rectangle 2708', width='105', height='3', rx='1.5', transform='translate(632 745)', fill='#d9d9d9')
                                                                    rect#Rectangle_2709(data-name='Rectangle 2709', width='105', height='3', rx='1.5', transform='translate(632 874)', fill='#d9d9d9')
                                                        .message-resutned_content
                                                            span.message-returned_desc
                                                                strong Aucun résultat trouvé
                                                                p Nous n'avons pas trouvé que vous recherchez
                                                            .messasge-returned_actions
                                                                a(href="add-tiers.html" class="button secondary hasicon_left")
                                                                    i(class="c-fmlnet__add")
                                                                    span Ajouter un nouveau client
                                        .panel-footer
                                            .panel-footer__actions
                                                .panel-footer__content
                                                    .steps-progress__loc
                                                        span ETAPE <strong>1</strong> SUR <strong>3</strong>
                                                    .steps-progress__actions.float-right
                                                        a(href="" class="button alert hollow hasicon_left")
                                                            i(class="c-fmlnet__close")
                                                            span Quiter
                                                        button(type="submit" class="button  hasicon_right  lg-ml-25" disabled)
                                                            span Suivant
                                                            i(class="c-fmlnet__arrow--right")
                    //.datatables-content
                        .datatables-content_inner
                            table.table.table-hover.j-datatable
                                thead
                                    tr
                                        each value, indexP in pages.clients.lists[0]
                                            th.sorting=indexP
                                        th.datatable_actions Actions
                                tbody
                                    each value, key in pages.clients.lists
                                        if(key == 0)
                                            tr
                                                each valColorP, indexP in value
                                                    td=valColorP

                                                td.datatable_actions
                                                    a(href="tier-360.html")
                                                        i.c-fmlnet__item-view
                                                    a(href="")
                                                        i.c-fmlnet__delete

                                                    a(href="" class="js-toggle-row")
                                                        i.c-fmlnet__chevron--down
                                        else
                                            tr
                                                each valColorP, indexP in value
                                                    td=valColorP

                                                td.datatable_actions
                                                    a(href="tier-360.html")
                                                        i.c-fmlnet__item-view
                                                    a(href="")
                                                        i.c-fmlnet__delete

                                                    a(href="" class="js-toggle-row")
                                                        i.c-fmlnet__chevron--down

