//- layout
extends layouts/_default

//- settings

append vars
    - var pageTitle = 'PORTEFEUILLE CLIENT'
    - var pageClass = ''
    - var selectedMenu = ''
append body
    script#productFraisTemplate(type='text/template').
        <tr class="editable-row__template">
        <td>
        <div class="field">
        <select id="" name="type-frais[]" class="js-select2" data-placeholder="Selectionner le type des frais">
        <option value="">Selectionner le type des frais</option>
        </select>
        </div>
        </td>
        <td>
        <div class="c-form__item hasicon">
        <input class="editable-table-cell required input-sm" id="table-editor-frais4" type="number" placeholder="00.00" name="priceht[]"><i class="c-fmlnet__mad"></i>
        </div>
        </td>
        <td>
        <div class="field">
        <select class="editable-table-cell required select-sm" id="table-editor-frais2">
        <option value="4">4%</option>
        <option value="7">7%</option>
        <option value="14">14%</option>
        <option value="20">20%</option>
        </select>
        </div>
        </td>
        <td>
        <div class="field">
        <div class="c-form__item hasicon">
        <input class="editable-table-cell required input-sm" id="table-editor-frais3" type="number" placeholder="00.00" name="pricettc[]"><i class="c-fmlnet__mad"></i>
        </div>
        </div>
        </td>
        <td class="datatable_actions"><a class="j-delete-row" href=""><i class="c-fmlnet__delete"></i></a></td>
        </tr>
    script#productTemplate(type='text/template').
        <tr class="editable-row__template">
        <td>
        <div class="field">
        <input class="editable-table-cell required input-sm" id="{{id}}" type="text" placeholder="1 OSMOSEUR MOBILE .." name="design[]">
        </div>
        </td>
        <td>
        <div class="field">
        <div class="product-quantity j-product-quantity">
        <input class="input-sm" data-min="1" data-max="0" type="number" name="quantity[]" value="1">
        <button class="increment-quantity" type="button" aria-label="Add one" data-direction="1"><span>+</span></button>
        <button class="decrement-quantity" type="button" aria-label="Subtract one" data-direction="-1" disabled="disabled"><span>−</span></button>
        </div>
        </div>
        </td>
        <td>
        <div class="c-form__item hasicon">
        <input class="editable-table-cell required input-sm" id="{{id}}" type="number" placeholder="00.00" name="priceht[]"><i class="c-fmlnet__mad"></i>
        </div>
        </td>
        <td>
        <div class="field">
        <select class="editable-table-cell required select-sm" id="{{id}}">
        <option value="20">20%</option>
        <option value="20">10%</option>
        <option value="20">17%</option>
        <option value="20">30%</option>
        </select>
        </div>
        </td>
        <td>
        <div class="field">
        <div class="c-form__item hasicon">
        <input class="editable-table-cell required input-sm" id="{{id}}" type="number" placeholder="00.00" name="pricettc[]"><i class="c-fmlnet__mad"></i>
        </div>
        </div>
        </td>
        <td>
        <div class="field">
        <div class="can-toggle can-toggle--size-med">
        <input id="type" type="checkbox" name="type[]">
        <label for="type">
        <div class="can-toggle__switch" data-checked="Neuf" data-unchecked="Occasion"></div>
        </label>
        </div>
        </div>
        </td>
        <td class="embded-toggled_content">
        <button class="button hollow shadow hasicon_left align-center small md-m-0 j-cta-product_sup expanded" type="button"><i class="c-fmlnet__chevron--down"></i><span>Ajouter</span></button>
        </td>
        <td class="datatable_actions"><a class="j-delete-row" href=""><i class="c-fmlnet__delete"></i></a></td>
        </tr>
        <tr class="j-product_sup">
        <td colspan="8">
        <div class="sub-table-wrap">
        <table class="table j-datatable j-cell-selection j-productFrais_push">
        <thead>
        <tr>
        <th width="450">Type de frais</th>
        <th width="">Montant HT</th>
        <th width="">TVA</th>
        <th width="">Montant TTC</th>
        <th class="datatable_actions">Actions</th>
        </tr>
        </thead>
        <tbody></tbody>
        </table>
        <table>
        <tbody><tr class="editable-table_add-row">
        <td colspan="5" align="right"><a class="button trans-icon j-add-row up hollow hasicon_right xmedium" href="" data-tpltarget="productFraisTemplate" data-pushtarget="j-productFrais_push"><span>AJOUTER PLUS DE FRAIS</span><i class="c-fmlnet__add--outline secondary"></i></a></td>
        </tr>
        </tbody></table>
        </div>
        </td>
        </tr>

    script#serviceTemplate(type='text/template').
        <tr class="editable-row__template">
        <td>
        <div class="field">
        <input class="editable-table-cell required input-sm" type="text" placeholder="1 OSMOSEUR MOBILE .." name="design[]">
        </div>
        </td>
        <td>
        <select id="" name="type-service">
        <option value="">Selectionner le type</option>
        </select>
        </td>
        <td>
        <div class="c-form__item hasicon">
        <input class="editable-table-cell required input-sm" type="number" placeholder="00.00" name="priceht[]"><i class="c-fmlnet__mad"></i>
        </div>
        </td>
        <td>
        <div class="field">
        <select class="editable-table-cell required select-sm">
        <option value="20">20%</option>
        <option value="20">10%</option>
        <option value="20">17%</option>
        <option value="20">30%</option>
        </select>
        </div>
        </td>
        <td>
        <div class="field">
        <div class="c-form__item hasicon">
        <input class="editable-table-cell required input-sm" type="number" placeholder="00.00" name="pricettc[]"><i class="c-fmlnet__mad"></i>
        </div>
        </div>
        </td>
        <td class="datatable_actions"><a class="j-delete-row" href=""><i class="c-fmlnet__delete"></i></a></td>
        </tr>
    .notification-banner
        .container
            .alert
                .pull-right.float-right
                    a(type='button', data-dismiss='alert', aria-hidden='true', class="button primary hasicon_right sm-ml-5 ")
                        span Fermer
                        i.c-fmlnet__header--close
                    a(type='button', data-dismiss='alert', aria-hidden='true', class="button primary hasicon_right")
                        span Détails
                        i.c-fmlnet__item-view
                .content
                    .ico-notification
                        svg#Layer_1(xmlns='http://www.w3.org/2000/svg', data-name='Layer 1', viewBox='0 0 512 512', width='512', height='512')
                            title Promotion ads
                            path(d='M55.278,300.807c.968,0,1.937.011,2.906.02V408.046a6,6,0,0,0,6,6,56.958,56.958,0,0,0,56.894-56.894V307.811a315.792,315.792,0,0,1,67.481,22.564l126.286,58.933a6,6,0,0,0,8.537-5.437V300.326a56.878,56.878,0,0,0,0-112.827V103.954a6,6,0,0,0-8.537-5.437L188.559,157.451A317.271,317.271,0,0,1,55.278,187.019a31.483,31.483,0,0,0-31.447,31.447V269.36A31.483,31.483,0,0,0,55.278,300.807ZM361,243.913a44.96,44.96,0,0,1-37.621,44.3V199.616A44.96,44.96,0,0,1,361,243.913ZM109.078,357.152a44.96,44.96,0,0,1-38.894,44.494V301.174a316.1,316.1,0,0,1,38.894,4.312Zm202.3,17.3L281.4,360.456V127.37l29.987-14ZM193.633,168.325,269.4,132.97V354.856L193.633,319.5a328.04,328.04,0,0,0-72.555-23.952V192.276A328.037,328.037,0,0,0,193.633,168.325Zm-157.8,50.141a19.469,19.469,0,0,1,19.447-19.447,326.1,326.1,0,0,0,53.8-4.5v98.8a326.113,326.113,0,0,0-53.8-4.5A19.469,19.469,0,0,1,35.831,269.36Z', style='\
                            fill: white;\
                            ')
                            path(d='M365.776,330.231a6,6,0,1,0,4.7,11.042,105.817,105.817,0,0,0,0-194.728,6,6,0,0,0-4.7,11.042,93.816,93.816,0,0,1,0,172.644Z', style='\
                            fill: white;\
                            ')
                            path(d='M391.985,98.433a6,6,0,1,0-4.7,11.042,146.107,146.107,0,0,1,0,268.869,6,6,0,1,0,4.7,11.042,158.107,158.107,0,0,0,0-290.953Z', style='\
                            fill: white;\
                            ')

                    p
                        span <strong>Période</strong> : Échéance	 Décembre 2019
                        span Maroc Leasing à le plaisir de vous informer du Lancement de la nouvelle édition du challenge enrichi par des avantages additionnels
    .page-content_header
        .container
            .page-content_inner
                +c-breadcrumb(['Accueil','PROPOSITIONS COMMERCIALES','NOUVELLE PROPOSITION'])

                .page-content_header__title
                    h1 NOUVELLE PROPOSITION COMMERCIALE
    .page-content_side
        .container
            .page-content_inner
                .steps-content
                    .steps-content
                        -var steps = ['IDENTIFICATION DU CLIENT', 'Type de proposition', 'BIENS & SERVICES', 'SIMULATIONS']
                        -var classCurrent = "current"
                        -var currentIndex = 1
                        .steps-progress#step-2ww
                            .steps-progress_inner
                                each value, index in steps
                                    if(index == currentIndex)
                                        - classCurrent = "current"
                                    else if(index < currentIndex)
                                        - classCurrent = "done"
                                    else
                                        - classCurrent = ""

                                    .steps-progress_inner__step(class=classCurrent)
                                        label(for="" data-num=index)
                                            span
                                                i.c-fmlnet__checkmark
                                                span=value
                                .steps-progress_inner__bar
                                .steps-progress_inner__bar--set
                    form(action="/new-financial-proposal_products.html" method="" class="")
                        .row
                            .large-12
                                .div.panel.panel-default
                                    .panel-body
                                        .accordion-field
                                            input(type="checkbox" name="accordion" id="search-accordion" checked)
                                            label(for="search-accordion").accordion-field_title
                                                span Configuration de la proposition
                                            .accordion-field_content
                                                .panel-body_form
                                                    .dataTable-actions
                                                        .dataTable-actions_content
                                                            .form-note.text-center.sm-pt-20.sm-pb-20
                                                                h2 Choisir le type de la proposition commerciale souhaitée
                                                                p Maroc Leasing, propose à ces clients deux types de propositions commerciales, une classique et une avec la possibilité de passer par une offre.
                                                            .form-proposal_choice



                                                                div.form-proposal_choice-item.selected
                                                                    .c-radio.inline
                                                                        label(for='offers')
                                                                            input#offers.has-primary.has-bg(type='radio', name='productType' checked)
                                                                            span Offres et produits <span class="tool_tip">? <span class="tooltip">Since Digitex Futures generates a peer-to-peer arbitrage during many fiat</span></span>
                                                                    div.field_offers
                                                                        select.js-select2.no-data(data-placeholder="Selectionner une offre")
                                                                            option
                                                                            option(value="offer-1" selected) Médical Leasing
                                                                            option(value="offer-2") Agricole Leasing
                                                                            option(value="offer-3") Industriels Leasing
                                                                            option(value="offer-4") Construction Leasing
                                                                    .form-proposal_choice-fields
                                                                        .j-offers_binding
                                                                            .form-offers.form-proposal_choice-fields-inner
                                                                                .row
                                                                                    .large-6.medium-6.small-12.column
                                                                                        .c-input__holder.align-left
                                                                                            label Nature de bien
                                                                                            select#NatureDeBien(name='NatureDeBien')
                                                                                                option(value='XR2') Rensigner la Nature de bien
                                                                                                option(value='XR2') TERR AMORT
                                                                                                option(value='MB06') AMENAGEMENTS
                                                                                                option(value='MD10') EQUIPEMENT MEDICAL
                                                                                                option(value='MT07') Carrosserie
                                                                                                option(value='TP22') Equipements TP
                                                                                                option(value='M05C') MATERIEL DE PRODUCTION
                                                                                                option(value='IB') IMMEUBLE BUREAU
                                                                                                option(value='II') IMMEUBLE INDUSTRIEL
                                                                                                option(value='LCA') LOCAL COMMERCIAL
                                                                                                option(value='MG') MAGASINS
                                                                                                option(value='PBA') PLATEAU DE BUREAU
                                                                                                option(value='B02A') MATERIEL INFORMATIQUE
                                                                                                option(value='R02C') ROULANT POIDS LOURD
                                                                                                option(value='VT01') VEHICULE DE TOURISME
                                                                                                option(value='MB03') MOBILIER BUREAUTIQUE
                                                                                                option(value='IM01') CONSTRUCTION
                                                                                                option(value='VU02') VEHICULE UTILITAIRE
                                                                                                option(value='MP06') EQUIPEMENT
                                                                                                option(value='MT02') CAMION
                                                                                                option(value='MT03') CAMION + BENNE (OU PLATEAU)
                                                                                                option(value='MT05') SEMI-REMORQUE
                                                                                                option(value='MT06') TRACTEUR ROUTIER
                                                                                    .large-6.medium-6.small-12.column
                                                                                        .c-form__item--text.align-left
                                                                                            label Dernier chiffre d’affaire - 2018
                                                                                            .c-form__item.hasicon
                                                                                                input#5(type='number', placeholder="Rensigner le dernier chiffre d’affaire", value='')
                                                                                                i.c-fmlnet__mad











                                    .panel-footer.lg-mt-30
                                        .panel-footer__actions
                                            .panel-footer__content
                                                .steps-progress__loc
                                                    span ETAPE <strong>1</strong> SUR <strong>3</strong>
                                                .steps-progress__actions.float-right
                                                    a(href="" class="button alert hollow hasicon_left")
                                                        i(class="c-fmlnet__close")
                                                        span Quiter
                                                    button(type="submit" class="button hollow  hasicon_left  lg-ml-15" )
                                                        i(class="c-fmlnet__arrow--left")
                                                        span Précédent

                                                    button(type="submit" class="button  hasicon_right  lg-ml-15")
                                                        span Suivant
                                                        i(class="c-fmlnet__arrow--right")
                //.datatables-content
                    .datatables-content_inner
                        table.table.table-hover.j-datatable
                            thead
                                tr
                                    each value, indexP in pages.clients.lists[0]
                                        th.sorting=indexP
                                    th.datatable_actions Actions
                            tbody
                                each value, key in pages.clients.lists
                                    if(key == 0)
                                        tr
                                            each valColorP, indexP in value
                                                td=valColorP

                                            td.datatable_actions
                                                a(href="tier-360.html")
                                                    i.c-fmlnet__item-view
                                                a(href="")
                                                    i.c-fmlnet__delete

                                                a(href="" class="js-toggle-row")
                                                    i.c-fmlnet__chevron--down
                                    else
                                        tr
                                            each valColorP, indexP in value
                                                td=valColorP

                                            td.datatable_actions
                                                a(href="tier-360.html")
                                                    i.c-fmlnet__item-view
                                                a(href="")
                                                    i.c-fmlnet__delete

                                                a(href="" class="js-toggle-row")
                                                    i.c-fmlnet__chevron--down

