//- layout
extends layouts/_default

//- settings

append vars
    - var pageTitle = 'PORTEFEUILLE CLIENT'
    - var pageClass = ''
    - var selectedMenu = ''
    - var currentIndex = 3
append body
    script#offerTemplate(type='text/template').
        <div class="card-offer">
        <div class="product-img"><img src="{{img}}" alt=""></div>
        <div class="product-info">
        <h3>{{title}}</h3>
        <p class="intro">{{subTitle}}</p>
        <p>{{desc}}</p>
        </div>
        <div class="clearfix sm-pt-30 align-right"><a data-target="#popup-offer" class="button primary hollow hasicon_right js-open-inpop sm-ml-15 small" href="#"><span>Détails</span><i class="c-fmlnet__item-view"></i></a><a class="button primary hollow hasicon_right sm-ml-15 small js-open-inpop" href="" data-target="#popup-share"><span>Partager</span><i class="c-fmlnet__share"></i></a><a class="button primary hasicon_right sm-ml-15 small" href="new-financial-proposal-offer.html"><span>Nouvelle proposition</span><i class="c-fmlnet__add-proposal"></i></a></div>
        </div>
    .notification-banner
        .container
            .alert
                .pull-right.float-right
                    a(type='button', data-dismiss='alert', aria-hidden='true', class="button primary hasicon_right sm-ml-5 ")
                        span Fermer
                        i.c-fmlnet__header--close
                    a(type='button', data-dismiss='alert', aria-hidden='true', class="button primary hasicon_right ")
                        span Détails
                        i.c-fmlnet__item-view
                .content
                    .ico-notification
                        svg#Layer_1(xmlns='http://www.w3.org/2000/svg', data-name='Layer 1', viewBox='0 0 512 512', width='512', height='512')
                            title Promotion ads
                            path(d='M55.278,300.807c.968,0,1.937.011,2.906.02V408.046a6,6,0,0,0,6,6,56.958,56.958,0,0,0,56.894-56.894V307.811a315.792,315.792,0,0,1,67.481,22.564l126.286,58.933a6,6,0,0,0,8.537-5.437V300.326a56.878,56.878,0,0,0,0-112.827V103.954a6,6,0,0,0-8.537-5.437L188.559,157.451A317.271,317.271,0,0,1,55.278,187.019a31.483,31.483,0,0,0-31.447,31.447V269.36A31.483,31.483,0,0,0,55.278,300.807ZM361,243.913a44.96,44.96,0,0,1-37.621,44.3V199.616A44.96,44.96,0,0,1,361,243.913ZM109.078,357.152a44.96,44.96,0,0,1-38.894,44.494V301.174a316.1,316.1,0,0,1,38.894,4.312Zm202.3,17.3L281.4,360.456V127.37l29.987-14ZM193.633,168.325,269.4,132.97V354.856L193.633,319.5a328.04,328.04,0,0,0-72.555-23.952V192.276A328.037,328.037,0,0,0,193.633,168.325Zm-157.8,50.141a19.469,19.469,0,0,1,19.447-19.447,326.1,326.1,0,0,0,53.8-4.5v98.8a326.113,326.113,0,0,0-53.8-4.5A19.469,19.469,0,0,1,35.831,269.36Z', style='\
                        fill: white;\
                        ')
                            path(d='M365.776,330.231a6,6,0,1,0,4.7,11.042,105.817,105.817,0,0,0,0-194.728,6,6,0,0,0-4.7,11.042,93.816,93.816,0,0,1,0,172.644Z', style='\
                        fill: white;\
                        ')
                            path(d='M391.985,98.433a6,6,0,1,0-4.7,11.042,146.107,146.107,0,0,1,0,268.869,6,6,0,1,0,4.7,11.042,158.107,158.107,0,0,0,0-290.953Z', style='\
                        fill: white;\
                        ')

                    p
                        span <strong>Période</strong> : Échéance	 Décembre 2019
                        span Maroc Leasing à le plaisir de vous informer du Lancement de la nouvelle édition du challenge enrichi par des avantages additionnels
    .page-content_header
        .container
            .page-content_inner
                        +c-breadcrumb(['Accueil','PRODUITS ET OFFRES'])
                        .page-content_header__title
                            h1 PRODUITS ET OFFRES
    .page-content_side
        .container
            .row.expanded
                .large-12.column
                    .filter-news.filter-operatoir
                        .filter_anne
                            label FILTRER
                            a.current(href='#', data-val='Thème X') Secteur X
                            a(href='#', data-val='Thème X') Secteur X
                            a(href='#', data-val='Thème X') Secteur X
                            a(href='#', data-val='Thème X') Secteur X
                            a(href='#', data-val='Thème X') Secteur X
                            a(href='#', data-val='Thème X') Secteur X
                            a(href='#', data-val='Thème X') Secteur X
                        .paginate_news
                            select(name='pages' class='select-sm')
                                option 10
                            ul
                                li
                                    a.current(href='#') 1
                                li
                                    a(href='#') 2
                                li
                                    a(href='#') >>
            .j-offers-binding

    .popup-inline
        #popup-offer
            .modal.modal--open.modal-form_txtcontent
                div
                    h1 Médical Leasing
                .modal__frm
                    .modal_frm-container
                        .txtcontent
                            h2 Votre solution leasing sur mesure
                            p
                                | Ripple generates a block behind a
                                a(href='https://example.com') zero
                                |  confirmation transaction, so
                                strong NEO thought a
                                |  quick consensus process after few fundamental analysis because Zcash chose some
                                strong instant
                                |  whale for many orphan! Digitex Futures slept on few dormant
                                em bear
                                |  trap because ether stuck lots of amazing distributed denial of service attack in
                                em few hardware wallet! Ontology
                                |  stacks some amazing distributed denial of service attack at some instamine, for since Digitex Futures chose the burned dapp, ICO looked at some safe do your own
                                em research!
                                |  SHA 256 did lots of
                                strong quick
                                |  hot wallet since Ripple bought lots of private key, so Tether proves lots of consensus process for lots of double spend. Ravencoin allowed few reinvested gas at the dolphin, and Golem broadcast lots of pump and dump in lots of stablecoin when Cardano limited a safe airdrop at many altcoin!
                            br
                            p
                                | Decred specialises in lots of dormant algorithm at lots of crypto-jacking! Since
                                a(href='https://example.com') Litecoin counted
                                |  many amazing digital identity, Stellar thought few trusted zero knowledge proof behind some off-ledger currency. Mt. Gox accompanied by lots of
                                strong safe IPO until lots of
                                |  blockchain, and Nexo surrendered
                                a(href='https://example.com') few bubble
                                |  behind lots
                                em of
                                |  raiden network since Litecoin is
                                em the
                                |  provably fair altcoin! Ontology waited the peer-to-peer network until the public key because Ethereum mining
                                em many constant custodial. Augur left many robust attestation ledger
                                |  at lots
                                strong of
                                |  non-fungible token.
                            br
                            p
                                | When Digitex Futures cooperated the bear trap
                                a(href='https://example.com') until some
                                |  flippening, Cardano built the initial coin
                                strong offering,
                                |  however,
                                a(href='https://example.com') ERC20
                                |  token standard could
                                em be
                                |  the pre-mine. Tezos serves
                                em many
                                |  safe coin when Dogecoin is few raiden network until lots
                                a(href='https://example.com') of
                                |  validator. TRON rejoins some bag because Ravencoin required lots of
                                strong dormant hard fork. Dash generated
                                |  many smart contract, so
                                em EOS cooperated the minimum stablecoin when
                                |  Zilliqa froze lots of trusted chain after lots of hardware wallet. Zcash cost few hot testnet for a dump, yet Zcash
                                a(href='https://example.com') was
                                |  lots of minimum technical analysis during the anarcho-capitalism.
                            br
                            p
                                | Since Mt.
                                strong Gox required a
                                |  trusted REKT, Tether forgot some burned. NFT bought many
                                strong fundamental
                                |  analysis, but someone halving few quick directed acyclic graph during few airdrop when Cardano mining
                                strong some
                                |  lightning fast block! EOS specialises in lots of
                                a(href='https://example.com') burned
                                |  hashrate, therefore, since Waves proves a consensus point,
                                em NFT
                                |  broadcast the
                                strong decentralised
                                |  autonomous organisation. ERC721 token standard serves the algo-traded off-ledger currency!

                a.modal__close
                .modal__actions
                    button.button.alert.hollow.hasicon_left.float-right.up
                        i.c-fmlnet__close
                        span Fermer
                    button.button.hasicon_right.up(type='submit')
                        span Nouvelle Proposition
                        i.c-fmlnet__add-proposal

    .popup-inline
        #popup-share
            .modal.modal--open.modal-form
                div
                    h1 Partager Médical Leasing
                .modal__frm
                    .modal_frm-container
                        form
                            fieldset
                                .row.expanded
                                    .small-12.medium-6.large-6.column
                                        .c-input__holder
                                            label(for='dest')
                                                | Destinataire
                                                span.required *
                                            .c-form__item
                                                input#dest(type='email', placeholder='clientmail@cliendomaine.com')
                                                i.c-fmlnet__email
                                    .small-12.medium-6.large-6.column
                                        .c-input__holder
                                            label(for='destcc')
                                                | Cc
                                                span.required *
                                            .c-form__item
                                                input#destcc(type='email', placeholder='clientmailcc@cliendomaine.com')
                                                i.c-fmlnet__email
                                .row.expanded
                                    .small-12.medium-12
                                        .c-input__holder
                                            label(for='subject')
                                                | Objet
                                                span.required *
                                            .c-form__item
                                                input#subject(type='text', placeholder='Proposition de financement N°P0000014352')
                                    .small-12.medium-12
                                        .c-input__holder
                                            .c-form__item
                                                .c-input__holder.is-tall
                                                    label(for='textarea--01')
                                                        | Messages
                                                        span.required *
                                                    textarea#textarea--01
                                    .large-12
                                        .c-input__holder
                                            a(href='')
                                                span.file-attchement
                                                    span.file-attchement_icon
                                                        svg(xmlns='http://www.w3.org/2000/svg', width='24', height='24')
                                                            path(fill='#8a8a8a', d='M19 8h-1V4c0-1.103-.897-2-2-2H6.707L2 6.707V7H1v-.707L6.293 1H16c1.654 0 3 1.346 3 3v4z')
                                                            path(fill='#8a8a8a', d='M16 23H4c-1.654 0-3-1.346-3-3V6.999h1V20c0 1.103.897 2 2 2h12c1.103 0 2-.897 2-2v-1h1v1c0 1.654-1.346 3-3 3z')
                                                            path(fill='#ff5906', d='M16.14 9.386l-3.165 3.166a3.5 3.5 0 0 0 4.95 4.95l4.242-4.243a2.5 2.5 0 1 0-3.535-3.536l-3.89 3.89a1.5 1.5 0 0 0 2.122 2.12l1.396-1.395-.707-.707-1.396 1.395a.5.5 0 0 1-.707-.707l3.889-3.889a1.5 1.5 0 0 1 2.121 2.122l-4.242 4.242a2.5 2.5 0 0 1-3.536-3.535l3.166-3.166-.707-.707z')
                                                    span.file-attchement_txt proposition-p0000014352.pdf
                a.modal__close
                .modal__actions
                    button.button.alert.hollow.hasicon_left.float-right.up
                        i.c-fmlnet__close
                        span Fermer
                    button.button.hasicon_right.up(type='submit')
                        span Envoyer
                        i.c-fmlnet__email