//- layout
extends layouts/_login

//- settings

append vars
    - var pageTitle = 'Login'
    - var pageClass = 'login __theme_ml'
    - var selectedMenu = ''

append body
            .page-account
                .login-container
                        .div(class="panel page-login_panel")
                            .panel-heading.panel-heading-divider.align-center
                                div.panel-heading_content
                                    | FRONT LEASING
                                    span.panel-subtitle ESPACE PARTENAIRE
                                    .panel-brand_icon
                                        img(src='/assets/media/images/logos/logo-ico-marocleasing.svg', alt="")
                            .panel-body
                                form.page-login_form.j-hasValidation(method='post')
                                    fieldset
                                        .panel-heading.align-center.panel-heading_default.panel-heading_small
                                            div.panel-heading_content
                                                | Réinitialiser votre mot de passe



                                        .ml-alert.alert-box--success( data-close="true")
                                            span.alert-box_title Congratulation
                                            ul.alert-box_content
                                                li You have successefully submited the application
                                            span.alert-box_close.j-close_alert
                                                i.c-fmlnet__close--glyph


                                        .row
                                            .column.large-12.small-12.medium-12
                                                .c-input__holder.floating
                                                    .c-form__item
                                                        input#password(type='password', name="password", placeholder='', required, class="required j-password_field")
                                                        label(for='password')
                                                            | Nouveau Mot de passe
                                                            span.required *
                                                        i.c-fmlnet__visibility-off.j-toggle-password-on
                                            .column.large-12.small-12.medium-12
                                                .c-input__holder.floating
                                                    .c-form__item
                                                        input#c_password(type='password', name="password_confirm", placeholder='', required, class="c_password required j-password_field")
                                                        label(for='c_password')
                                                            | Confirmer le nouveau mot de passe
                                                            span.required *
                                                        i.c-fmlnet__visibility-off.j-toggle-password-on

                                            .column.large-12.small-12.medium-12
                                                .c-action__holder
                                                    button.button.primary.hasicon_right.expanded(href='about.html')
                                                        span Réinitialiser
                                                        i.c-fmlnet__arrow--right







