//- layout
extends layouts/_default-situation-client

//- settings

append vars
    - var pageTitle = 'Situation client au 24/09/2019'
    - var pageClass = 'print'
    - var selectedMenu = ''
    - var currentIndex = 1
append body
    .page-content_side
        .container
            .page-content_inner
                .mlnet-situation_header-intro
                    span <strong>N° client</strong>: CHC0003810
                    span <strong>NOM CLIENT</strong> : RAHMOUNE MOHAMED
                .mlnet-state_body
                    .datatables-content
                        .datatables-content_inner
                            table.table(cellpadding=0 cellspacing=0 border=0)
                                thead
                                    tr
                                        th(width="130") N° contrat
                                        th Nature du matériel
                                        th Montant financé
                                        th Durée
                                        th Date départ
                                        th Date Fin
                                        th Total loyers HT <sub>(1)</sub>
                                        th Valeur résiduelle
                                        th Loyers restant dûs
                                        th Impayés <sub>(2)</sub>
                                tbody
                                    tr
                                        td 75732-CM-0
                                        td 1 FORD KUGA TITANIUM
                                        td 314.000,00
                                        td 60
                                        td 25/08/2017
                                        td 24/08/2022
                                        td 311.011,34
                                        td 2.629,34
                                        td 290.452,54
                                        td 0,00
                                    tr
                                        td 69436-CM-0
                                        td 1 ECHOGRAPHE SONOSCAPE POLYVALENT NUMERIQUE DOPPLER COULEUR + EQUIPEMENTS
                                        td 149.000,00
                                        td 60
                                        td 15/02/2016
                                        td 14/02/2021
                                        td 148.576,47
                                        td 1.241,67
                                        td 94.553,71
                                        td 0,00
                                    tr
                                        td 75732-CM-0
                                        td 1 FORD KUGA TITANIUM
                                        td 314.000,00
                                        td 60
                                        td 25/08/2017
                                        td 24/08/2022
                                        td 311.011,34
                                        td 2.629,34
                                        td 290.452,54
                                        td 0,00
                                    tr
                                        td 69436-CM-0
                                        td 1 ECHOGRAPHE SONOSCAPE POLYVALENT NUMERIQUE DOPPLER COULEUR + EQUIPEMENTS
                                        td 149.000,00
                                        td 60
                                        td 15/02/2016
                                        td 14/02/2021
                                        td 148.576,47
                                        td 1.241,67
                                        td 94.553,71
                                        td 0,00
                            .total-overview
                                span <strong> Total Montant financé :</strong> 463.000,00 MAD
                                span <strong> Total Loyers restant dûs :</strong> 385.006,25 MAD
                                span <strong> Total Impayés <sup>(2)</sup> :</strong> 0,00 MAD
                            .overview-msg
                                p <sup>(1)</sup> majoré de la TVA en vigueur
                                p <sup>(2)</sup> sauf erreur ou omission

                .user-agenet_infos
                    .user-agenet_infos-title  Signature
                    .user-agenet_infos-content
                        div
                            span.user-agenet_name Fouad EL MAHI
                            span.user-agenet_agency Agence Almoustakbal
                            span.user-agenet_group Banque Populaire Régionale Casablanca

                        div
                            span <strong>Tél</strong> 0539 94 10 20
                            span <strong>Fax</strong>  0522 42 95 31 / 0522 42 95 02
                            span <strong>Email</strong> fouadkarouach@marocleasing.ma




