//- layout
extends layouts/_default

//- settings

append vars
    - var pageTitle = 'PORTEFEUILLE CLIENT'
    - var pageClass = ''
    - var selectedMenu = ''
append body
    .page-content_header
        .container
            .page-content_inner
                        +c-breadcrumb(['Accueil','PORTEFEUILLE CLIENT'])

                        .page-content_header__title
                            h1 PORTEFEUILLE CLIENT
    .page-content_side
        .container
            .page-content_inner
                    .dataTable-actions
                        .dataTable-actions_content
                            .dataTable-actions_search
                                form(action="" method="POST")
                                    fieldset
                                        .field.c-input_search
                                            input(type="text" name="search_indata" id="search_indata" placeholder="Nom prénom, CIN, Raison sociale, RC, ICE")
                                            .field.button_search
                                                button.btn-icon(type="button")
                                                    i.c-fmlnet__search
                                            .field.button_reset
                                                button.btn-icon(type="button")
                                                    i.c-fmlnet__close

                    .datatables-content
                        .datatables-content_inner
                            table.table.table-hover.j-datatable
                                thead
                                    tr
                                        each value, indexP in pages.clients.lists[0]
                                             th.sorting=indexP
                                        th.datatable_actions Actions
                                tbody
                                    each value, key in pages.clients.lists
                                        if(key == 0)
                                            tr
                                                each valColorP, indexP in value
                                                    td=valColorP

                                                td.datatable_actions
                                                    a(href="tier-360.html")
                                                        i.c-fmlnet__item-view

                                                    a(href="" class="js-toggle-row")
                                                        i.c-fmlnet__chevron--down
                                        else
                                            tr
                                                each valColorP, indexP in value
                                                    td=valColorP

                                                td.datatable_actions
                                                    a(href="tier-360.html")
                                                        i.c-fmlnet__item-view
                                                    a(href="" class="js-toggle-row")
                                                        i.c-fmlnet__chevron--down

                                        if(key == 0)
                                            tr.toggle-row
                                                td(colspan='10')
                                                    .sub-table-wrap
                                                        .full-sub-table
                                                            .row.expanded
                                                                .large-4.medium-4.small-12.column
                                                                    .info-wrapper
                                                                        div.company-name
                                                                            div
                                                                                img(src="/assets/media/images/__tmp/logo-company-ex.png" alt="")
                                                                            div
                                                                                span.name COMPACT IT
                                                                                span.created-date <strong>Crée le</strong> Jan 08, 2012

                                                                        div.company-contact
                                                                            div.slides
                                                                                span <i class="c-fmlnet__marker"></i> 57 Angle Rue Pinel Bd Abdel moumen  Casablanca
                                                                                span <i class="c-fmlnet__phone"></i> 0661 16 42 76
                                                                                span <i class="c-fmlnet__telephone"></i> 0522 42 95 95
                                                                                span <i class="c-fmlnet__email"></i> contact@compactit.ma
                                                                .large-8.medium-8.small-12.column
                                                                    div.row
                                                                        div.large-4.medium-4.small-12.column
                                                                            span.info-side
                                                                                span.info-label RC
                                                                                span.info-val 54654
                                                                            span.info-side
                                                                                span.info-label ICE
                                                                                span.info-val 0102125564654654
                                                                            span.info-side
                                                                                span.info-label CONTRATS EN LOYER <i>(2)</i>
                                                                                span.info-val.currency-local 352.250,00
                                                                        div.large-4.medium-4.small-12.column
                                                                            span.info-side
                                                                                span.info-label CAPITAL SOCIAL
                                                                                span.info-val.currency-local 1.200.000,00
                                                                            span.info-side
                                                                                span.info-label DERNIER CHIFFRE D’AFFAIRE RENSEIGNÉE
                                                                                span.info-val <span class="currency-local">30.520.000,00</span>
                                                                                    select.inline.small(id="" name="")
                                                                                        option(value="2019") 2019
                                                                                        option(value="2019") 2018
                                                                                        option(value="2019") 2017
                                                                            span.info-side
                                                                                span.info-label TOTAL IMPAYÉS <i>(0)</i>
                                                                                span.info-val.currency-local 00,00
                                                                        div.large-4.medium-4.small-12.column
                                                                            span.info-side
                                                                                span.info-label FORM JURIDIQUE
                                                                                span.info-val SA
                                                                            span.info-side
                                                                                span.info-label ACTIVITE
                                                                                span.info-val —
                                                                        div.large-12.medium-12.small-12.column
                                                                                .row-action.align-right
                                                                                    a(href="tier-360.html" type="button" class="button  hasicon_right up  secondary small")
                                                                                        span Détails
                                                                                        i(class="c-fmlnet__item-view")
                                                                                    button(type="button" class="button  hasicon_right up gray  primary small")
                                                                                        span Initier une proposition
                                                                                        i(class="c-fmlnet__add-proposal")



                    include components/_paginations
