//- layout
extends layouts/_default

//- settings

append vars
    - var pageTitle = 'PORTEFEUILLE CLIENT'
    - var pageClass = ''
    - var selectedMenu = ''
append body
    .page-content_header
        .container
            .page-content_inner
                        +c-breadcrumb(['Accueil','PORTEFEUILLE CLIENT','PCOMPACT IT'])

    .page-content_side
        .container
            .page-content_inner




                .heading-panel.light.panel.sm-mb-30
                    .panel_inner
                        .row.expanded
                            .large-4.medium-12.small-12.column
                                .info-wrapper
                                    .company-name
                                        div
                                            img(src='/assets/media/images/__tmp/logo-company-ex.png', alt='')
                                        div
                                            span.name COMPACT IT
                                            span.created-date
                                                strong Crée le
                                                |  Jan 08, 2012
                                    .company-contact.ml-no-padding
                                        .slides
                                            span
                                                i.c-fmlnet__marker
                                                |  57 Angle Rue Pinel Bd Abdel moumen  Casablanca
                                            span
                                                i.c-fmlnet__phone
                                                |  0661 16 42 76
                                            span
                                                i.c-fmlnet__telephone
                                                |  0522 42 95 95
                                            span
                                                i.c-fmlnet__email
                                                |  contact@compactit.ma
                            .large-8.medium-12.small-12.column.sm-pt-20
                                .row
                                    .large-4.medium-4.small-12.column
                                        span.info-side
                                            span.info-label RC
                                            span.info-val 54654
                                        span.info-side
                                            span.info-label ICE
                                            span.info-val 0102125564654654
                                        span.info-side
                                            span.info-label
                                                | CONTRATS EN LOYER
                                                i (2)
                                            span.info-val.currency-local 352.250,00
                                    .large-4.medium-4.small-12.column
                                        span.info-side
                                            span.info-label CAPITAL SOCIAL
                                            span.info-val.currency-local 1.200.000,00
                                        span.info-side
                                            span.info-label DERNIER CHIFFRE D’AFFAIRE RENSEIGNÉE
                                            span.info-val
                                                span.currency-local 30.520.000,00
                                                select.inline.small(id='', name='')
                                                    option(value='2019') 2019
                                                    option(value='2019') 2018
                                                    option(value='2019') 2017
                                        span.info-side
                                            span.info-label
                                                | TOTAL IMPAYÉS
                                                i (0)
                                            span.info-val.currency-local 00,00
                                    .large-4.medium-4.small-12.column
                                        span.info-side
                                            span.info-label FORM JURIDIQUE
                                            span.info-val SA
                                        span.info-side
                                            span.info-label ACTIVITE
                                            span.info-val —

                .row.expanded
                    .large-8.medium-8.small-12.column.no-gutter_left
                        div(class="panel panel-data")
                            .panel-body
                                .panel-heading.panel-heading_title
                                    | Propositions commerciales
                                .panel-body_inner
                                    .row
                                        .large-3.medium-3.small-12
                                            .panel-widget.panel-widget-tile
                                                .data-info
                                                    .value
                                                        span.number(data-toggle='counter', data-end='10', data-suffix='%') 10
                                                    .desc Remise au Client


                                        .large-3.medium-3.small-12
                                            .panel-widget.panel-widget-tile
                                                .data-info
                                                    .value
                                                        span.number(data-toggle='counter', data-end='10', data-suffix='%') 5
                                                    .desc Etude ML

                                        .large-3.medium-3.small-12
                                            .panel-widget.panel-widget-tile
                                                .data-info
                                                    .value
                                                        span.number(data-toggle='counter', data-end='10', data-suffix='%') 10
                                                    .desc Accpeté ML
                                        .large-3.medium-3.small-12
                                            .panel-widget.panel-widget-tile
                                                .data-info
                                                    .value
                                                        span.number(data-toggle='counter', data-end='10', data-suffix='%') 10
                                                    .desc Refus ML

                    .large-4.medium-4.small-12.column.no-gutter_right
                        div(class="panel panel-data")
                            .panel-body
                                .panel-heading.panel-heading_title
                                    | CONTRATS
                                .panel-body_inner
                                    .row
                                        .large-6.medium-6.small-12
                                            .panel-widget.panel-widget-tile
                                                .data-info
                                                    .value
                                                        span.number(data-toggle='counter', data-end='10', data-suffix='%') 10
                                                    .desc En cours

                                        .large-6.medium-6.small-12
                                            .panel-widget.panel-widget-tile
                                                .data-info
                                                    .value
                                                        span.number(data-toggle='counter', data-end='10', data-suffix='%') 5
                                                    .desc En loyer



                .row.expanded
                    .large-8.medium-12.small-12.column.no-gutter_left

                        .div.panel.panel-default
                            .panel-heading.panel-heading-divider PROPOSITIONS EN COURS DE VALIDATION
                            .panel-body
                                .panel-body_inner
                                    .proposal-data_content
                                        .proposal-item
                                            .proposal-item_title
                                                span Proposition P215154542
                                            .proposal-item_content.row
                                                .column
                                                    span.lab Statut
                                                    span.status-indicator.proe
                                                        i.c-fmlnet__save
                                                        |  Créée
                                                .column
                                                    span.lab Date création
                                                    span.val Jan 08, 2019
                                                .column
                                                    span.lab Montant de financement
                                                    span.val 350.000,00 MAD
                                                div.proposal-item_cta
                                                    i.c-fmlnet__chevron--right

                                        .proposal-item
                                            .proposal-item_title
                                                span Proposition P215154542
                                            .proposal-item_content.row
                                                .column
                                                    span.lab Statut
                                                    span.status-indicator.prod
                                                        i.c-fmlnet__restart
                                                        |  En dérogation
                                                .column
                                                    span.lab Date création
                                                    span.val Jan 08, 2019
                                                .column
                                                    span.lab Montant de financement
                                                    span.val 350.000,00 MAD
                                                div.proposal-item_cta
                                                    i.c-fmlnet__chevron--right
                                        .proposal-item
                                            .proposal-item_title
                                                span Proposition P215154542
                                            .proposal-item_content.row
                                                .column
                                                    span.lab Statut
                                                    span.status-indicator.prop
                                                        i.c-fmlnet__email
                                                        |  Remise au Client
                                                .column
                                                    span.lab Date création
                                                    span.val Jan 08, 2019
                                                .column
                                                    span.lab Montant de financement
                                                    span.val 350.000,00 MAD
                                                div.proposal-item_cta
                                                    i.c-fmlnet__chevron--right
                                        .proposal-item
                                            .proposal-item_title
                                                span Proposition P215154542
                                            .proposal-item_content.row
                                                .column
                                                    span.lab Statut
                                                    span.status-indicator.p025
                                                        i.c-fmlnet__checkmark--outline
                                                        |  Acceptée par le client
                                                .column
                                                    span.lab Date création
                                                    span.val Jan 08, 2019
                                                .column
                                                    span.lab Montant de financement
                                                    span.val 350.000,00 MAD
                                                div.proposal-item_cta
                                                    i.c-fmlnet__chevron--right

                        .div.panel.panel-default
                            .panel-heading.panel-heading-divider CONTRATS
                            .panel-body
                                .panel-body_inner
                                    .datatables-content
                                        .datatables-content_inner
                                            table.table.table-hover.j-datatable
                                                thead
                                                    tr
                                                        th.sorting.id-contrat ID contrat
                                                        th.sorting Statut
                                                        th.sorting Montant HT
                                                        th.sorting(width=280) Biens
                                                        th.sorting Action
                                                tbody
                                                    tr
                                                        td 133
                                                        td
                                                            span.badge signé

                                                        td 120.220,00
                                                        td 5 Échographe Couleur Polyvalent avec Ecran Tactile SonoScape S22
                                                        td.datatable_actions
                                                            a(href='tier-360.html')
                                                                i.c-fmlnet__item-view
                                                    tr
                                                        td 245
                                                        td
                                                            span.badge.warning Rachat anticipé

                                                        td 120.220,00
                                                        td 5 Échographe Couleur Polyvalent avec Ecran Tactile SonoScape S22
                                                        td.datatable_actions
                                                            a(href='tier-360.html')
                                                                i.c-fmlnet__item-view
                                                    tr
                                                        td 1343
                                                        td
                                                            span.badge.success Terminé

                                                        td 120.220,00
                                                        td 5 Échographe Couleur Polyvalent avec Ecran Tactile SonoScape S22
                                                        td.datatable_actions
                                                            a(href='tier-360.html')
                                                                i.c-fmlnet__item-view

                                                    tr
                                                        td 1343
                                                        td
                                                            span.badge.error Avec impayés

                                                        td 120.220,00
                                                        td 5 Échographe Couleur Polyvalent avec Ecran Tactile SonoScape S22
                                                        td.datatable_actions
                                                            a(href='tier-360.html')
                                                                i.c-fmlnet__item-view

                    .large-4.medium-12.small-12.column.no-gutter_right
                        .div.panel.panel-default
                            .panel-heading.panel-heading-divider SITUATION DU CLIENT <span class="panel-heading_subttr">AU 21/05/2019</span>
                            .panel-body
                                .panel-body_inner
                                    div.sm-pt-20.sm-pb-20
                                        canvas(id="donut_chart_1" style="height: 320px")
                                    div.chart-labels.sm-pt-20.sm-pb-20
                                        .flexbox
                                            div
                                                span.badge-point.badge-lrd
                                                span LRD
                                            span.chart-val 48576.47 MAD
                                        .flexbox
                                            div
                                                span.badge-point.badge-paid
                                                span Payés
                                            span.chart-val 94553.71 MAD
                                        .flexbox
                                            div
                                                span.badge-point.badge-unpaid
                                                span Impayés
                                            span.chart-val 18576.4 MAD
                                    .chart-cta.align-center.sm-pt-30.sm-pb-30
                                        a(href="" class="button normal shadow hasicon_right")
                                            span Télécharger la situation du client
                                            i.c-fmlnet__download


                    //.large-6.medium-6.small-12.column
                        div(class="panel panel-trans")
                            .panel-heading.panel-heading_title
                                | ALERTES & NOTES
                            .panel-body
                                .panel-body_inner
                                    .panel-alert
                                        .panel-alert_content
                    //.large-6.medium-6.small-12.column
                        div(class="panel panel-trans")
                            .panel-heading.panel-heading_title
                                | SITUATION DU CLIENT
                            .panel-body
                                .panel-body_inner
                                    .panel-alert
                                        .panel-alert_content

                    //.large-8.medium-8.small-12.column
                        div(class="panel panel-trans")
                            .panel-heading.panel-heading_title
                                | CONTRATS
                            .panel-body
                                .panel-body_inner
                                    .panel-alert
                                        .panel-alert_content
                    //.large-4.medium-4.small-12.column
                        div(class="panel panel-trans")
                            .panel-heading.panel-heading_title
                                | PROPOSITIONS EN COURS DE VALIDATION
                            .panel-body
                                .panel-body_inner
                                    .panel-alert
                                        .panel-alert_content
