block vars
    - var pageTitle = ''
    - var pageClass = ''
    - var selectedSubMenu = ''
    - var cssDir = 'assets/styles/'
    - var cssDirLocal = 'assets/styles/'
    - var cssDirVendor = 'assets/styles/vendor/'
    - var imgDir = 'assets/media/images/'
    - var mediaDir = 'assets/media/'
    - var jsDir = 'assets/scripts/'
    - var jsDirLocal = 'assets/scripts/local/'
    - var jsDirVendor = 'assets/scripts/vendor/'
    - var lang = 'fr'
    - var headLess = false

doctype html
html(lang='fr')
    head
        //- Metas
        include ../assets/_metas
        //- Fonts
        include ../assets/_fonts
        //- Styles
        include ../assets/_styles-print-situation-client
    body(class= pageClass)
        main.app

            .page
                .proposal-header
                    include ../blocks/partials-print/_header-print-situation-client
                .proposal-content
                    .container
                        block body