block vars
    - var pageTitle = ''
    - var pageClass = ''
    - var selectedSubMenu = ''
    - var cssDir = 'assets/styles/'
    - var cssDirLocal = 'assets/styles/'
    - var cssDirVendor = 'assets/styles/vendor/'
    - var imgDir = '/assets/media/images/'
    - var mediaDir = '/assets/media/'
    - var jsDir = '/assets/scripts/'
    - var jsDirLocal = '/assets/scripts/local/'
    - var jsDirVendor = '/assets/scripts/vendor/'
    - var lang = 'fr'
    - var headLess = false

doctype html
html(lang='fr')
    head
        //- Metas
        include ../assets/_metas

        //- Fonts
        include ../assets/_fonts

        //- Html5 Shiv
        //[if lt IE 9]> <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> <![endif]

        //- Styles
        include ../assets/_styles

        //- Favicon
        include ../assets/_favicon

        //- Mixins
        include ../mixins/_config

    body(class= pageClass)
        main.app
            .page
                .page-header
                    include ../blocks/_header
                .page-sidebar.page-sidebar_wide
                    .sidebar
                        include ../blocks/_nav--primary
                .page-content
                    .content
                        block body
                .page-footer
                   include ../blocks/_footer
        a(class="c-action__gototop" href="" title="Haut de page")
        //- Script
        include ../assets/_scripts
        //-- local
        block scripts